Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Refactors inline javascript in active_jobs (#3423)
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

Added POLL_DELAY environment variable to Configuration class
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/widgets/_sessions.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

Added POLL_DELAY environment variable to Configuration class (#3421)
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/widgets/_sessions.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

update edit button
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update Changelog (#3427)
  CHANGELOG.md
Labels: none

Add completed_at attribute to mark job finish.
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

complete project#show redesign
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

add test for setting path_selector favorites
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Add completed_at attribute to mark job finish. (#3424)
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/apps/favorite_path.rb
Labels: component/dashboard

lint a random file (#3431)
  apps/dashboard/app/apps/favorite_path.rb
Labels: component/dashboard

Launchers form w/ basic auto_environment_variable widget - WIP
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/views/launchers/edit.html.erb
Labels: component/dashboard

add test for setting path_selector favorites (#3428)
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

start to redesign the projects#show page (#3419)
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/layouts/projects.html.erb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

change the default value for auto_accounts when copying from template. (#3401)
  apps/dashboard/app/lib/smart_attributes/attributes/auto_accounts.rb
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_alt.txt
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Adds new auto_environment_variable functionality to launchers form
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Comments out unrelated failing test
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

fix this test
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

rm this debug statement
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

use the actual translation
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

fix this test (#3435)
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

update DEVELOPMENT.md to include developing the dashboard
  DEVELOPMENT.md
  apps/dashboard/README.md
Labels: component/dashboard

Adds ability to update environment variables
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

wait 5 seconds for this modal to show
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Update SECURITY.md
  SECURITY.md
Labels: none

wait 5 seconds for this modal to show (#3439)
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Update SECURITY.md
  SECURITY.md
Labels: none

Update SECURITY.md (#3440)
  SECURITY.md
Labels: none

re-enable ActionController::Live
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Additional work on auto_environment_variable
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Small method refactor
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
Labels: component/dashboard

Uncomments out test that has been fixed on master
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

update DEVELOPMENT.md to include developing the dashboard (#3437)
  DEVELOPMENT.md
  apps/dashboard/README.md
Labels: component/dashboard

re-enable ActionController::Live (#3441)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Adds 'searchable: false' to actions column in files app
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

Adds 'searchable: false' to actions column in files app (#3443)
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

lint a random file
  apps/dashboard/config/routes.rb
Labels: component/dashboard

use relative OIDCRedirectURI where applicable
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
Labels: component/ood_portal_generator
