Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

fix rebase error
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

fix rebase error
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

fix account alias collisions
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

add more comments
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

remove redundant conditionals (#5148)
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Make system-status keyboard navigable (#5079)
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

update system status progress bars for accessability
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

fix indentation
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

Enable basic keyboard navigation in job composer (#5060)
  apps/myjobs/app/assets/javascripts/application.js
  apps/myjobs/app/views/workflows/index.html.erb
  apps/myjobs/app/views/workflows/new.html.erb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update changelog
  CHANGELOG.md
Labels: none

fix spelling
  CHANGELOG.md
Labels: none

Update Changelog (#5154)
  CHANGELOG.md
Labels: none

fix minimatch require
  apps/shell/utils/helpers.js
Labels: component/shell

update system status progress bars for accessability (#5153)
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

New versions of KDE use startplasma-x11
  apps/bc_desktop/template/desktops/kde.sh
Labels: component/bc_desktop

refactor dynamic_forms.js
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

add minimatch as a dependency
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

fix account alias collisions
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

Add bash shebang
  apps/bc_desktop/template/desktops/kde.sh
Labels: component/bc_desktop

add title to files actions button
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

Update jest3 (#5147)
  apps/shell/package.json
  apps/shell/utils/helpers.js
  apps/shell/yarn.lock
Labels: component/shell

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

remove aria-live
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

update dependencies (#5159)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

add title to files actions button (#5158)
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

New versions of KDE use startplasma-x11 (#5156)
  apps/bc_desktop/template/desktops/kde.sh
Labels: component/bc_desktop

remove aria-describedby
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

remove extra text
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

restore indentation
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

add regions
  apps/dashboard/app/views/files/_favorites.html.erb
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

fix formatting
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

Update _files_table.html.erb
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

remove erroneous "end" "end"
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

fix types
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

use account_allowed? in blocked_queue?
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

add new cluster for test cases
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_test-cluster.txt
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_test-cluster.txt
  apps/dashboard/test/fixtures/cmd_output/sinfo_nodes_test-cluster.txt
  apps/dashboard/test/fixtures/config/clusters.d/test-cluster.yml
Labels: component/dashboard

enforce queue AllowQos DenyQos
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

add test case
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_owens.txt
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_owens.txt
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
