Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Fixed comment typos
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
Labels: component/ood_portal_generator

Fixed typos
  CONTRIBUTING.md
Labels: none

Fixed typos in ood_portal comments and in contribution guide (#4111)
  CONTRIBUTING.md
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
Labels: component/ood_portal_generator

lint a random file
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/shell/yarn.lock
Labels: component/shell

lint a random file (#4110)
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
Labels: component/dashboard

update dependencies (#4113)
  apps/shell/yarn.lock
Labels: component/shell

update from data-toggle to data-bs-toggle
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/settings/_action_buttons.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add markdown widget for interactive app forms (#3767)
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

add test to ensure sanitize() works here
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

rename this test
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Update Changelog (#4112)
  CHANGELOG.md
Labels: none

lint a random file
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/jobcomposer

Various typo and language fixes
  ACCESSIBILITY.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  VERSIONING_POLICY.md
Labels: none

lint a random file (#4117)
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/jobcomposer

Remove Handlebars from XDMoD widget efficiency template (#4103)
  apps/dashboard/app/javascript/xdmod.js
  apps/dashboard/app/views/widgets/_xdmod_widget_job_efficiency.html.erb
Labels: component/dashboard

add test to ensure sanitize() works here (#4116)
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

ensure filenames are not url encoded (#4107)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

update from data-toggle to data-bs-toggle (#4115)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/settings/_action_buttons.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
Labels: component/dashboard

update from data-toggle to data-bs-toggle (#4115)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/settings/_action_buttons.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
Labels: component/dashboard

add a test for preserving url encoding
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add a test for preserving url encoding
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

add a test for preserving url encoding
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

ensure filenames are not url encoded (#4107)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

account for numeric usernames
  mod_ood_proxy/lib/ood/user_map.lua
Labels: component/mod_ood_proxy

Refactor project model to absorb project_template.
  apps/dashboard/app/apps/project_manifest.rb
  apps/dashboard/app/models/concerns/compressable.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Various typo and language fixes (#4122)
  ACCESSIBILITY.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  VERSIONING_POLICY.md
Labels: none

Updated the project directory permission allowing group and onwers to have read, write and execte permissions
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#4131)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update Changelog (#4130)
  CHANGELOG.md
Labels: none

Permissive constraints on owner segment for apps/show
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Formatting fix
  apps/dashboard/config/routes.rb
Labels: component/dashboard

account for numeric usernames (#4128)
  mod_ood_proxy/lib/ood/user_map.lua
Labels: component/mod_ood_proxy

account for numeric usernames (#4128)
  mod_ood_proxy/lib/ood/user_map.lua
Labels: component/mod_ood_proxy

Remove column sorting.
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/test/helpers/files_helper_test.rb
Labels: component/dashboard
