Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

dynamically prevent overflow
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/javascript/application.js
Labels: component/dashboard

simplify javascript
  apps/dashboard/app/javascript/application.js
Labels: component/dashboard

read form widgets on visibility
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
Labels: component/dashboard

move javascript to apps.js
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/javascript/apps.js
Labels: component/dashboard

remove js and use display:grid
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/javascript/apps.js
Labels: component/dashboard

change to relative URL
  ood-portal-generator/lib/ood_portal_generator/view.rb
Labels: component/ood_portal_generator

Lint a random file (#4573)
  .rubocop.yml
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
Labels: component/dashboard

announce data-hide events
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

remove extra aria-live
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
Labels: component/dashboard

working dynamic announcements for set and hide
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

add aria announcements for option-for
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

escape ariaStream messages
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Add widget popups 2781 (#4515)
  apps/dashboard/app/assets/stylesheets/_variables.scss
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/helpers/app_helper.rb
  apps/dashboard/app/views/widgets/_recently_used_apps.html.erb
Labels: component/dashboard

added data-min/max and data-label
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

reset this header
  CHANGELOG.md
Labels: none

Update Changelog (#4596)
  CHANGELOG.md
Labels: none

add loop for resource widgets (#4559)
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

fix tests and initialization
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
Labels: component/ood_portal_generator

Add packaging instructions for module browser (#4565)
  packaging/rpm/ondemand.spec
Labels: none

correct id composition and sub mb-3 for form-group
  apps/dashboard/app/views/batch_connect/session_contexts/_file_attachments.html.erb
Labels: component/dashboard

use blocks to open files
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add system testing for file attachments
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

lint a random file
  ood-portal-generator/lib/ood_portal_generator.rb
Labels: component/ood_portal_generator

dashboard: noVNC: Handle newline representation mismatch
  apps/dashboard/public/noVNC-1.3.0/app/ui.js
Labels: component/dashboard

merge ariaStream into ariaNotify
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/javascript/utils.js
Labels: component/dashboard

Data-hide hides files attachments (#4599)
  apps/dashboard/app/views/batch_connect/session_contexts/_file_attachments.html.erb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

disable announcement during initial setup
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

remove this esbuild plugin as it causes issues
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

updates after running rake update manually
  apps/dashboard/Gemfile.lock
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

renamed files
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/views/active_jobs/_extended_data_table.html.erb
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
Labels: component/dashboard

Revert "renamed files"
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/views/active_jobs/_extended_data_table.html.erb
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
Labels: component/dashboard

renamed better
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/views/active_jobs/_extended_data_table.html.erb
  apps/dashboard/app/views/active_jobs/_extended_layout.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
Labels: component/dashboard

RSS will no longer parse empty strings
  apps/dashboard/app/models/motd_formatter/rss.rb
Labels: component/dashboard

Fix indentation
  apps/dashboard/app/javascript/active_jobs.js
Labels: component/dashboard

Updated UI for workflows
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Simplify
  apps/dashboard/public/noVNC-1.3.0/app/ui.js
Labels: component/dashboard

lock selenium to 4.33.0 for rails 7.1 support
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
