Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

lint a random file
  apps/dashboard/app/helpers/launchers_helper.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Fix typos in contributor jam guide
  contributor_jam_guide.md
Labels: none

Copy contributor jam guide into main repo (#5128)
  contributor_jam_guide.md
Labels: none

add disclaimer about dynamic action (#5126)
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
Labels: component/dashboard

lint a random file (#5129)
  apps/dashboard/app/helpers/launchers_helper.rb
Labels: component/dashboard

update dependencies (#5131)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update changelog
  CHANGELOG.md
Labels: none

Update Changelog (#5130)
  CHANGELOG.md
Labels: none

Remove new tab links (#5114)
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/views/active_jobs/_extended_data_table.html.erb
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/app/views/batch_connect/sessions/card/_host.html.erb
  apps/dashboard/app/views/batch_connect/sessions/card/_id.html.erb
  apps/dashboard/app/views/batch_connect/sessions/connections/_native_vnc_windows.html.erb
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
  apps/dashboard/app/views/files/_globus.html.erb
  apps/dashboard/app/views/products/_form_icon.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota_resource.html.erb
  apps/dashboard/app/views/shared/_shell_button.html.erb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

add focus-within to hover behavior (#5076)
  apps/dashboard/app/assets/stylesheets/pinned_apps.scss
Labels: component/dashboard

enforce queue AllowQos DenyQos
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

add new cluster for test cases
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_test-cluster.txt
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_test-cluster.txt
  apps/dashboard/test/fixtures/cmd_output/sinfo_nodes_test-cluster.txt
  apps/dashboard/test/fixtures/config/clusters.d/test-cluster.yml
Labels: component/dashboard

remove erroneous "end" "end"
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

lint a random file
  ood-portal-generator/lib/ood_portal_generator/version.rb
Labels: component/ood_portal_generator

dynamic_forms.js: rename idFromToken
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

lint a random file (#5139)
  ood-portal-generator/lib/ood_portal_generator/version.rb
Labels: component/ood_portal_generator

change container default to podman (#4955)
  DEVELOPMENT.md
  Rakefile
  lib/tasks/development.rb
  lib/tasks/rake_helper.rb
Labels: area/build

rename functions
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

rename again, rename argument
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

change variable back
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

correct event variable and formatting
  apps/myjobs/app/assets/javascripts/application.js
Labels: component/jobcomposer

contextStr -> objectForType
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

contextStr -> objectForType (#5143)
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

element -> target
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

avoid uses of the word token
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

use longest match instead of endsWith
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

add documentation to idFromToken
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Bump ood_packaging to version that should fix Amazon builds
  Gemfile
  Gemfile.lock
Labels: none

expand comments
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

element -> target (#5144)
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Depend on ondemand-runtime 4.1.0-3 to fix Amazon 2023 npm dependency (#5127)
  Gemfile
  Gemfile.lock
  packaging/rpm/ondemand.spec
Labels: none

bump jest and blob nodejs packages
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

ensure hosts are sorted
  apps/shell/utils/helpers.js
Labels: component/shell

remove redundant conditionals
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Enhance documentation to idFromToken. (#5145)
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

rename again
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

refactor dynamic_forms.js
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

rename function again
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard
