Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

enable unsafe rendering of html files through a configuration (#4416)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Added skeleton for the launcher workflow class
  apps/dashboard/app/controllers/launcher_workflows_controller.rb
  apps/dashboard/app/models/launcher_workflow.rb
  apps/dashboard/app/views/launcher_workflows/index.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Updated as per review comments
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/workflows/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Converted project_dir as argument instead of class variable
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

Updated workflow path from .workflow to workflows/workflow.yml following convention in PM
  apps/dashboard/app/controllers/launcher_workflows_controller.rb
  apps/dashboard/app/models/launcher_workflow.rb
Labels: component/dashboard

some breadcrumb changes
  apps/dashboard/app/views/batch_connect/shared/_breadcrumb.html.erb
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/products/_breadcrumbs.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

vertically align items breadcrumb
  apps/dashboard/app/views/batch_connect/shared/_breadcrumb.html.erb
Labels: component/dashboard

Use localStorage to track notifications
  apps/dashboard/app/javascript/batch_connect_sessions.js
Labels: component/dashboard

better mobile
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/jobs/application_job.rb
Labels: component/dashboard

Left one bug, fixed now
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

lint a random file (#4446)
  apps/dashboard/app/jobs/application_job.rb
Labels: component/dashboard

Add 'Create ZIP' button to project#show page (#4389)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/helpers/files_helper_test.rb
Labels: component/dashboard

Some file manager style changes + rounded breadcrumbs (#4445)
  apps/dashboard/app/views/batch_connect/shared/_breadcrumb.html.erb
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/products/_breadcrumbs.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

Update Changelog (#4447)
  CHANGELOG.md
Labels: none

relax ondemand-nginx and ondemand-passenger dependencies for debian (#4435)
  packaging/deb/control
Labels: none

lint a random file
  apps/dashboard/config/initializers/permissions_policy.rb
Labels: component/dashboard

lint a random file (#4449)
  apps/dashboard/config/initializers/permissions_policy.rb
Labels: component/dashboard

Refactor to reduce localStorage accesses
  apps/dashboard/app/javascript/batch_connect_sessions.js
Labels: component/dashboard

set this to false and defer the refactor
  apps/dashboard/config/environments/test.rb
Labels: component/dashboard

Added skeleton for the launcher workflow class
  apps/dashboard/app/controllers/launcher_workflows_controller.rb
  apps/dashboard/app/models/launcher_workflow.rb
  apps/dashboard/app/views/launcher_workflows/index.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Converted project_dir as argument instead of class variable
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

Updated workflow path from .workflow to workflows/workflow.yml following convention in PM
  apps/dashboard/app/controllers/launcher_workflows_controller.rb
  apps/dashboard/app/models/launcher_workflow.rb
Labels: component/dashboard

Minor fix
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

Updated as per review comments
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/workflows/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Left one bug, fixed now
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

upgrade myjobs to rails 7.1
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

updates after running bin/rails app:update
  apps/myjobs/config/application.rb
  apps/myjobs/config/environments/development.rb
  apps/myjobs/config/environments/production.rb
  apps/myjobs/config/environments/test.rb
  apps/myjobs/config/initializers/content_security_policy.rb
  apps/myjobs/config/initializers/filter_parameter_logging.rb
  apps/myjobs/config/initializers/new_framework_defaults_7_1.rb
  apps/myjobs/config/initializers/permissions_policy.rb
Labels: component/jobcomposer

Add notification toggle button
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/batch_connect/shared/_breadcrumb.html.erb
Labels: component/dashboard

turn accessibility on for the shell app
  apps/shell/public/javascripts/ood_shell.2.js
Labels: component/shell

Added skeleton for the launcher workflow class
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/workflows/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Moved workflows from new page to project page
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/workflows/_workflow.html.erb
  apps/dashboard/app/views/workflows/index.html.erb
  apps/dashboard/app/views/workflows/new.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

fixup product modals
  apps/dashboard/app/javascript/products_show.js
Labels: component/dashboard

add id to button
  apps/dashboard/app/javascript/products_show.js
Labels: component/dashboard

Cleaned the PR, remove lookup workflow.yml and no need to save project_id in <workflow-id>.yml file and few typos
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/_workflow.html.erb
  apps/dashboard/app/views/workflows/new.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
