Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

refactor and rename
  apps/dashboard/app/views/workflows/_form.html.erb
Labels: component/dashboard

internationalize invalid message
  apps/dashboard/app/views/workflows/_form.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

reload launchers for both new and edit
  apps/dashboard/app/controllers/workflows_controller.rb
Labels: component/dashboard

update tests
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

add project-title class
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

A widget that displays how much of thier quota a user has used
  apps/dashboard/app/views/widgets/_quota_status.html.erb
Labels: component/dashboard

replace h5 with div
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

use match? method
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

remove unused lines
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

ood-portal-generator/templates/ood-portal.conf.erb template fix Cross Site Request Proxy OIDC authentication headers vulnerability
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Add xz to dev container
  Dockerfile.dev
Labels: none

Install NodeJS 22 in dev container
  Dockerfile.dev
Labels: none

Add xz to dev container (#4785)
  Dockerfile.dev
Labels: none

Format project dashboard (#4761)
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

Install NodeJS 22 in dev container (#4786)
  Dockerfile.dev
Labels: none

upgrade to rails 7.1.6
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

use correct yml api
  apps/shell/utils/helpers.js
Labels: component/shell

Update dashboard app manifest with full name, description
  apps/dashboard/manifest.yml
Labels: component/dashboard

Update ondemand-selinux.te allowing configless Slurm
  packaging/rpm/ondemand-selinux.te
Labels: none

allow group change in edit
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
Labels: component/dashboard

remove log
  apps/dashboard/app/views/projects/_form.html.erb
Labels: component/dashboard

remove unused directive
  apps/dashboard/app/views/projects/_form.html.erb
Labels: component/dashboard

handle errors
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Use multiline yaml instead
  apps/dashboard/manifest.yml
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update dashboard app manifest with full name, description (#4790)
  apps/dashboard/manifest.yml
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#4795)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

upgrade to rails 7.1.6 (#4788)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

RPMs to create ondemand.d directory and add a spec test for the same
  packaging/rpm/ondemand.spec
  spec/e2e/00_package_spec.rb
Labels: none

use mkdir_p to create directory
  packaging/rpm/ondemand.spec
Labels: none

do not cache maintanence pages
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/fixtures/output/custom_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_location_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_vhost_directives.conf
  ood-portal-generator/spec/fixtures/output/http_redirect_host.conf
  ood-portal-generator/spec/fixtures/output/no_logs.conf
  ood-portal-generator/spec/fixtures/output/piped_logs.conf
  ood-portal-generator/spec/fixtures/output/register-defaults.conf
  ood-portal-generator/spec/fixtures/output/register-scriptalias.conf
  ood-portal-generator/spec/fixtures/output/register-wsgiscriptalias.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

disable cache for no-auth.html as well
  ood-portal-generator/spec/fixtures/ood-portal.conf.default
  ood-portal-generator/spec/fixtures/sum.default
  ood-portal-generator/templates/no-auth.conf.erb
Labels: component/ood_portal_generator

Update ondemand-selinux.te allowing configless Slurm (#4791)
  packaging/rpm/ondemand-selinux.te
Labels: none

Update ondemand-selinux.te allowing configless Slurm (#4791)
  packaging/rpm/ondemand-selinux.te
Labels: none

Update ondemand-selinux.te allowing configless Slurm (#4791)
  packaging/rpm/ondemand-selinux.te
Labels: none

Update spec/e2e/00_package_spec.rb
  spec/e2e/00_package_spec.rb
Labels: none

Update packaging/rpm/ondemand.spec
  packaging/rpm/ondemand.spec
Labels: none

need %dir too
  packaging/rpm/ondemand.spec
Labels: none
