Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update minimist dependency
  apps/shell/package.json
Labels: component/shell

Implemented Constants
  apps/dashboard/app/javascript/packs/files/ClipBoard.js
  apps/dashboard/app/javascript/packs/files/DataTable.js
  apps/dashboard/app/javascript/packs/files/FileOps.js
  apps/dashboard/app/javascript/packs/files/SweetAlert.js
Labels: component/dashboard

Fixing systems tests and adding title method for model.
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/edit.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

add a smart attribute for automatically loading modules
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/lib/smart_attributes/attributes/auto_modules.rb
Labels: component/dashboard

simple fixups and some tests
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/fixtures/modules/oakley.json
  apps/dashboard/test/fixtures/modules/owens.json
  apps/dashboard/test/fixtures/modules/simple.json
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

rm simple unit test
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

add a system test
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Moved 'Data Validation' to receiver.
  apps/dashboard/app/javascript/packs/files/ClipBoard.js
  apps/dashboard/app/javascript/packs/files/DataTable.js
  apps/dashboard/app/javascript/packs/files/FileOps.js
  apps/dashboard/app/javascript/packs/files/UppyOps.js
Labels: component/dashboard

Better error handling and updated models tests.
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Fixing the save model method to take hash.
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Updating create model test to check manifest contents at create.
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Fixed formatting
  apps/dashboard/app/javascript/packs/files/DataTable.js
Labels: component/dashboard

ensure auto module id is unique
  apps/dashboard/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

rm == redefinition
  apps/dashboard/app/models/hpc_module.rb
Labels: component/dashboard

fixup regex
  apps/dashboard/lib/smart_attributes/attribute_factory.rb
Labels: component/dashboard

Rename js files
  .gitignore
  apps/dashboard/app/javascript/packs/files/ClipBoard.js
  apps/dashboard/app/javascript/packs/files/DataTable.js
  apps/dashboard/app/javascript/packs/files/FileOps.js
  apps/dashboard/app/javascript/packs/files/SweetAlert.js
  apps/dashboard/app/javascript/packs/files/UppyOps.js
  apps/dashboard/app/javascript/packs/files/index.js
Labels: component/dashboard

Rename js files
  apps/dashboard/app/javascript/packs/files/clip_board.js
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/javascript/packs/files/sweet_alert.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
Labels: component/dashboard

add a smart attribute for automatically loading modules (#1930)
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/fixtures/modules/oakley.json
  apps/dashboard/test/fixtures/modules/owens.json
  apps/dashboard/test/fixtures/modules/simple.json
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/models/hpc_module_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

lots of updates, some of which work
  apps/dashboard/app/apps/app_router.rb
  apps/dashboard/app/apps/dev_router.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/apps/sys_router.rb
  apps/dashboard/app/apps/usr_router.rb
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/environments/development.rb
Labels: component/dashboard

big router refactor. sys apps may not work, but dev and sys do.
  apps/dashboard/app/apps/app_router.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/controllers/application_controller.rb
Labels: component/dashboard

Split Transfer class for file transfers on the local filesystem
  apps/dashboard/app/models/local_transfer.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/test/jobs/transfer_local_job_test.rb
  apps/dashboard/test/models/transfer_test.rb
Labels: component/dashboard

some small changes
  apps/dashboard/app/apps/app_router.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
Labels: component/dashboard

allow for manifests to override the caption
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/test/fixtures/files/manifest_valid
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/manifest.yml
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

add a newline to fixture
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/manifest.yml
Labels: component/dashboard

Refactored EventName to be defined in appropriate JS Class
  apps/dashboard/app/javascript/packs/files/clip_board.js
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/javascript/packs/files/sweet_alert.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies, forcing minimist 1.2.6
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/package.json
Labels: component/dashboard, component/jobcomposer, component/shell

this doesnt add yarnlock?
  apps/shell/yarn.lock
Labels: component/shell

rm duplicate minimist
  apps/shell/yarn.lock
Labels: component/shell

using . in the file names here is deprecated. Instead specify the formats
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

Fixed page reload issue
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
Labels: component/dashboard

added newline at eof
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
Labels: component/dashboard

added newline at eof
  apps/dashboard/app/views/layouts/files.html.erb
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#1951)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update Changelog (#1942)
  CHANGELOG.md
Labels: none

update minimist
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
