Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Revert "add data-show option"
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

add hide_by_default form attribute
  apps/dashboard/app/assets/stylesheets/batch_connect/session_contexts.scss
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/lib/smart_attributes/attribute.rb
Labels: component/dashboard

fix some activejobs bugs (#4576)
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

default :wrapper to {}
  apps/dashboard/app/assets/stylesheets/batch_connect/session_contexts.scss
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

add config, forcing the default to use soft tabs
  apps/dashboard/app/javascript/editor.js
  apps/dashboard/app/views/files/edit.html.erb
Labels: component/dashboard

Add special s3 handling
  apps/dashboard/lib/rclone_util.rb
Labels: component/dashboard

add more descriptive label to select path button
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Remove some debug text
  apps/dashboard/lib/rclone_util.rb
Labels: component/dashboard

rework helpElement creation
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

add semicolons
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Set default values for min and max
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

safe access metadata.title
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

Shell app: log via ws.logger and add username, hostname and pty-term PID in front
  apps/shell/app.js
Labels: component/shell

Simplify to only starting/stopping polling
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/views/batch_connect/sessions/index.turbo_stream.erb
Labels: component/dashboard

use switch and internationalize the text
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

use switch on wrap as well
  apps/dashboard/app/views/files/edit.html.erb
Labels: component/dashboard

add option for soft tabs in file editor (#4508)
  apps/dashboard/app/javascript/editor.js
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

add tests and fix bugs
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/concerns/support_ticket_service.rb
Labels: component/dashboard

Shell app: Remove the need for setpid() on the logger
  apps/shell/app.js
Labels: component/shell

label dropdown with terminal button
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
Labels: component/dashboard

fix indentation again
  apps/dashboard/app/javascript/active_jobs.js
Labels: component/dashboard

redirect from invalid file url
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

fix typo
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

fix this integration test
  apps/dashboard/test/integration/files_app_test.rb
Labels: component/dashboard

first pass at nsf access events widget
  apps/dashboard/app/javascript/nsf_access_events.js
  apps/dashboard/app/javascript/nsf_access_events_data.js
  apps/dashboard/app/views/widgets/_nsf_access_events.html.erb
Labels: component/dashboard

fix this string
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

System Status Dashboard Widget (#4532)
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
  apps/dashboard/app/views/widgets/_system_status.html.erb
Labels: component/dashboard

send private no-store headers
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
Labels: component/dashboard

add test for importing
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

trigger error alert
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

change alert color to danger
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

more descriptive error message
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update LICENSE.txt
  LICENSE.txt
Labels: none

Update LICENSE.txt
  LICENSE.txt
Labels: none

Updated UI for workflows
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Added grid logic, each launcher will have fixed spot and no one can take anyone else's place. Plus scrolling logic improved
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/views/workflows/show.html.erb
Labels: component/dashboard
