Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Used project.errors instead of InvalidProject subclass
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Show empty message in case no shared projects
  apps/dashboard/app/views/projects/shared.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

Added new page for shared projects under /projects/imports
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/projects/shared.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

support setting bc_ attributes globally
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/global_attribute.rb
Labels: component/dashboard

Updated as per review comments
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

A small typo(essentially bug
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Add config bool option to key off
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

adjust env var names
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Add boolean from config singleton to key memory on and off
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

Add a test case for memory widget display
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

Add aria live region to layout and set message appropriately
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

lint a random file (#4285)
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Another bug
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

pass errors back to controller through models (#4266)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

add test cases for this feature
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

rename this function so it doesn't collide with window.alert
  apps/dashboard/app/javascript/alert.js
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/turbo_shim.js
Labels: component/dashboard

Fixed review comments except one
  apps/dashboard/app/javascript/projects_import.js
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

Added a drop down menu in import directory form
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/javascript/projects_import.js
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

allow local more specific attributes to override global settings
  apps/dashboard/app/lib/smart_attributes/attributes/global_attribute.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

add one more test
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Improve accessibility for interactive session cards (#4061)
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

small refactor to reuse notifying this aria live region
  apps/dashboard/app/javascript/aria_live_notify.js
  apps/dashboard/app/javascript/batch_connect_sessions.js
Labels: component/dashboard

Fixed rendering shared apps left hand menu when custom navigation is configured
  apps/dashboard/app/views/batch_connect/shared/_app_menu.html.erb
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

don't update bundler (yet)
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

need to reset back to 2.6.2
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

Update Dependencies (#4293)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update Changelog (#4292)
  CHANGELOG.md
Labels: none

Change name of defaltable concern to compressable.
  apps/dashboard/app/models/concerns/compressable.rb
  apps/dashboard/app/models/project_template.rb
Labels: component/dashboard

remove handlebars
  apps/dashboard/app/javascript/files/clip_board.js
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

add missing tests for hrefs and escaping filename text
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

correct these tests
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

correct this test too
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

support setting bc_ attributes globally (#4282)
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/global_attribute.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

rename this function so it doesn't collide with window.alert (#4288)
  apps/dashboard/app/javascript/alert.js
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/turbo_shim.js
Labels: component/dashboard

small refactor to reuse notifying this aria live region (#4290)
  apps/dashboard/app/javascript/aria_live_notify.js
  apps/dashboard/app/javascript/batch_connect_sessions.js
Labels: component/dashboard

upgrade job composer's nokogiri
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer
