Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Removes NavConfig & associated tests
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
Labels: component/dashboard

Small refactor
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
Labels: component/dashboard

Fixes UserConfigurationTest failures
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

try again to fix flaky tests (#3490)
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Let's watch the world blow up
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/package-lock.json
  apps/dashboard/package.json
Labels: component/dashboard

Changes deprecated popper library to @popperjs/core
  apps/dashboard/package-lock.json
  apps/dashboard/package.json
Labels: component/dashboard

Let's watch the world blow up
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/package-lock.json
  apps/dashboard/package.json
Labels: component/dashboard

Adds new popperjs/core library to yarn.lock
  apps/dashboard/yarn.lock
Labels: component/dashboard

Updates Popperjs import & x- selector renaming
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
Labels: component/dashboard

update dependencies (#3497)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

use relative OIDCRedirectURI where applicable (#3448)
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Removes NavConfig class `
  apps/dashboard/app/apps/nav_config.rb
Labels: component/dashboard

lint a random file
  nginx_stage/lib/nginx_stage/generators/app_list_generator.rb
Labels: component/nginx_stage

support fields with numbers in dynamic bc
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

redirect to HTTP_HOST to support aliases
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

correct fixture files
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
Labels: component/ood_portal_generator

Added debug statement for flaky favorites test
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Added module support for custom javascript files
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/custom_css_js_files_test.rb
Labels: component/dashboard

lint a random file (#3505)
  nginx_stage/lib/nginx_stage/generators/app_list_generator.rb
Labels: component/nginx_stage

Added module support for custom javascript files (#3499)
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/custom_css_js_files_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Removes NavConfig class & Replaces its use (#3475)
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

first pass at enable turbo-rails
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/views/batch_connect/sessions/_panels.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.turbo_stream.erb
  apps/dashboard/app/views/layouts/_config.html.erb
Labels: component/dashboard

add some error handling
  apps/dashboard/app/javascript/batch_connect_sessions.js
Labels: component/dashboard

have to call this function
  apps/dashboard/app/javascript/batch_connect_sessions.js
Labels: component/dashboard

add newlines to these files
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/views/batch_connect/sessions/index.turbo_stream.erb
Labels: component/dashboard

rm unused files
  apps/dashboard/app/views/batch_connect/sessions/index.js.erb
  apps/dashboard/app/views/batch_connect/sessions/index.json.jbuilder
Labels: component/dashboard

redirect to HTTP_HOST to support aliases (#3508)
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

just want to see if ci is broken
  apps/dashboard/README.md
Labels: component/dashboard

add secret_key_base to build step
  lib/tasks/build.rb
Labels: area/build

do not test directories with symlinks
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

use ps to count sessions instead of lsof
  nginx_stage/lib/nginx_stage.rb
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
  nginx_stage/lib/nginx_stage/session_finder.rb
Labels: component/nginx_stage

lint this file
  nginx_stage/lib/nginx_stage/session_finder.rb
Labels: component/nginx_stage

update changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

use ps to find sessions for nginx_show as well
  nginx_stage/lib/nginx_stage/generators/nginx_show_generator.rb
Labels: component/nginx_stage

remove this space
  nginx_stage/lib/nginx_stage/session_finder.rb
Labels: component/nginx_stage

add entries for 3.1.4 and 3.1.1
  CHANGELOG.md
Labels: none

update dates
  CHANGELOG.md
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
