Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

don't fix height of table
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

fix rename
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

fix #951
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

Re-organize hooks
  .github/workflows/tests.yml
  hooks/k8s-bootstrap/k8s-bootstrap-ondemand.sh
  hooks/k8s-bootstrap/ondemand.yaml
  hooks/k8s-bootstrap/set-k8s-creds.sh
  hooks/k8s-bootstrap/yaml/job-pod-reaper.yaml
  hooks/k8s-bootstrap/yaml/namespace.yaml
  hooks/k8s-bootstrap/yaml/network-policy.yaml
  hooks/k8s-bootstrap/yaml/pod-security-policy.yaml
  hooks/k8s-bootstrap/yaml/rolebinding.yaml
  lib/tasks/test.rb
Labels: area/build

rm unnecessary sdoc gem
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

group pinned apps by a configuration
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

remove popover description for pinned apps cards
  apps/dashboard/app/views/dashboard/pinned_apps/_app.html.erb
Labels: component/dashboard

fix link when going up directory
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

add separate files.scss
  apps/dashboard/app/assets/stylesheets/application.css.scss
  apps/dashboard/app/assets/stylesheets/files.scss
Labels: component/dashboard

fix routing for root dir
  apps/dashboard/config/routes.rb
Labels: component/dashboard

handle mv, cp, rm using Transfers#create
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

use csrf token with files app requests
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

use csrf token with new file/dir
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

offer both file download_url and url
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

refactor routes
  apps/dashboard/config/routes.rb
Labels: component/dashboard

refactor FilesController#fs
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

add deps & doc f dashboard system tests
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/README.md
Labels: component/dashboard

default ActiveJob to AsyncAdapter with 1 worker
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
Labels: component/dashboard

gitignore clusters.d test dirs
  .gitignore
Labels: none

files app in ruby impl with bootstrap 3
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/files.scss
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/jobs/application_job.rb
  apps/dashboard/app/jobs/transfer_local_job.rb
  apps/dashboard/app/models/files.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/app/views/files/_breadcrumb.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/transfers/_transfer.html.erb
  apps/dashboard/app/views/transfers/index.html.erb
  apps/dashboard/app/views/transfers/index.js.erb
  apps/dashboard/config/initializers/ood_appkit.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/jobs/transfer_local_job_test.rb
  apps/dashboard/test/models/transfer_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

update files app for bootstrap 4
  apps/dashboard/app/views/files/_breadcrumb.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Add client side file mode conversion in Files App
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Return ISO 8601 formatted date for file stat
  apps/dashboard/app/models/files.rb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Convert file size to human readable string
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

make transfer status more prominent
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

use fluid container for files app
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

error handling for FilesController#fs
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/files.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

Revert "Convert file size to human readable string"
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

Add "human_size" to File stat and use human size in DataTable
  apps/dashboard/app/models/files.rb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

error handling for FilesController#update
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

add error messages to Transfer obj
  apps/dashboard/app/models/transfer.rb
Labels: component/dashboard

refactor files js
  apps/dashboard/app/assets/javascripts/files.js
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

add Transfer#show for json
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/app/views/transfers/show.json.jbuilder
Labels: component/dashboard

address jquery migration deprecation warnings
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

files: refactor transfers to poll per transfer
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/transfers/show.json.jbuilder
Labels: component/dashboard

fix confusion by using clipboard icon
  apps/dashboard/app/views/files/_breadcrumb.html.erb
Labels: component/dashboard

files: fix error reporting
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/transfers/show.json.jbuilder
  apps/dashboard/test/jobs/transfer_local_job_test.rb
Labels: component/dashboard

Add "human_size" to jbuilder and return human size for "size" in DataTable
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

improve styles of transfer error
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

remove testing code that raised exception
  apps/dashboard/app/models/transfer.rb
Labels: component/dashboard
