Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

supressed migration error. SHORT TERM FIX
  apps/dashboard/app/javascript/packs/application.js
Labels: component/dashboard

Remove browser warning banner in Dashboard
  apps/dashboard/app/views/layouts/_browser_warning.html.erb
Labels: component/dashboard

enable staged_root to be present in submit.yml.erb fixing #864
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_jupyter/submit.yml.erb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

Checking for a filesize of 0 for issue 1120
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

only make the staged_root when session#stage is called
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

Ensuring Files.username(uid) returns a string
  apps/dashboard/app/models/files.rb
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

fix #1164 by creating parent directory, not path
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Fixing activjobs buttons to have dropdown-menu open right instead of left for issue 1109
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

add back files system tests for mv/cp/rm
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

update a few dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

update changelog for v2.0.9
  CHANGELOG.md
Labels: none

Changing variable name for better readability for issue #1052
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Fixing multiple file and directory download.
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Cleaning up a merge issue.
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

Currently still trying to get the exitstatus to receive correctly, sending to nil at the moment.
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

Adding helper methods for stubbing and test cases for inputs to du.
  apps/dashboard/test/models/files_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Checking for a filesize of 0 for issue 1120 (#1194)
  apps/dashboard/app/models/files.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/files_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Added support to read launcher buttons configuration from config files + basic widget to display information
  apps/dashboard/app/apps/launcher_button.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/widgets/_launchers.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/apps/launcher_button_reader_test.rb
  apps/dashboard/test/apps/launcher_button_test.rb
  apps/dashboard/test/fixtures/launchers/config01/rstudio.yml
  apps/dashboard/test/fixtures/launchers/config02/nested.yml
  apps/dashboard/test/fixtures/launchers/ondemand.d/config.yml
Labels: component/dashboard

Allow ondemand serviceaccount to cleanup ondemand namespaces
  hooks/k8s-bootstrap/ondemand.yaml
  hooks/k8s-bootstrap/yaml/rolebinding.yaml
Labels: none

A serviceaccount can't grant permissions it doesn't already have, rework how delete is authorized
  hooks/k8s-bootstrap/ondemand.yaml
  hooks/k8s-bootstrap/yaml/rolebinding.yaml
Labels: none

fix formatting
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/spec/nginx_stage_config_spec.rb
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
Labels: component/nginx_stage, component/ood_portal_generator

Added support for custom images to improve custom widgets look and feel
  apps/dashboard/app/controllers/widgets_controller.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/controllers/widgets_controller_test.rb
Labels: component/dashboard

Add annotation to K8 namespace of when hook was last used
  hooks/k8s-bootstrap/k8s-bootstrap-ondemand.sh
  hooks/k8s-bootstrap/yaml/namespace.yaml
Labels: none

Don't need to check return status of date command
  hooks/k8s-bootstrap/k8s-bootstrap-ondemand.sh
Labels: none

Namespace the annotation
  hooks/k8s-bootstrap/yaml/namespace.yaml
Labels: none

Support setting passenger_pool_idle_time
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

Add example for passenger_pool_idle_time
  nginx_stage/share/nginx_stage_example.yml
Labels: component/nginx_stage

Ensure passenger_pool_idle_time is accessible to the view
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
Labels: component/nginx_stage

Fix NGINX config syntax
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

create automation tickets based on labels
  .github/workflows/document-merge.yml
Labels: none

Removed external launchers configuration feature
  apps/dashboard/app/apps/launcher_button.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/apps/launcher_button_reader_test.rb
Labels: component/dashboard

Support custom passenger options for NGINX PUN Fixes #1210
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

Only allow passenger_options that begin with passenger_
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

Removed the panels classes since they were deprecated in bootstrap 4 and adjusted the css classes to handle the colors.
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/batch_connect/shared/_app_list.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_menu.html.erb
Labels: component/dashboard

Changing the class naming for consistency to snake case with hyphens.
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/batch_connect/shared/_app_list.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_menu.html.erb
Labels: component/dashboard

force utf-8 encoding when updating files
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/test/fixtures/files/upload/funny_characters.sh
  apps/dashboard/test/fixtures/files/upload/hello-world-c
  apps/dashboard/test/fixtures/files/upload/hello-world.c
  apps/dashboard/test/fixtures/files/upload/lots_of_utf8.txt
  apps/dashboard/test/fixtures/files/upload/osc-logo.png
  apps/dashboard/test/integration/files_test.rb
Labels: component/dashboard

Added new namespace for web services and first API controller to implement CRUD operations to interactive sessions
  apps/dashboard/app/controllers/api_controller.rb
  apps/dashboard/app/controllers/ws/ws_sessions_controller.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/controllers/ws/ws_sessions_controller_test.rb
Labels: component/dashboard

Adding shared apps to default to ood blue and added spacing between cards for better UX.
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/batch_connect/shared/_app_list.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_menu.html.erb
Labels: component/dashboard

Added applications API to get the list of sys installed applications
  apps/dashboard/app/controllers/ws/ws_applications_controller.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/controllers/ws/ws_applications_controller_test.rb
Labels: component/dashboard

update changelog for v2.0.10
  CHANGELOG.md
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
