Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Added a form to projects to import a shared-project using directory path (#4178)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

set the PATH so that dbus-launch comes from the OS (#4160)
  apps/bc_desktop/template/script.sh.erb
Labels: component/bc_desktop

Do not provide href links to files when download is disabled. (#4167)
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

add this to other locales
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

set the PATH so that dbus-launch comes from the OS (#4160)
  apps/bc_desktop/template/script.sh.erb
Labels: component/bc_desktop

drop support for Ubuntu 20.04 and Ruby 2.7
  .github/workflows/tests.yml
Labels: none

Saved imported directory into lookup_file for shared projects
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Refactored Files controller to use strong parameters.
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Refactored Files controller to use strong parameters.
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

add a test case for a populated RUA widget
  apps/dashboard/test/integration/dashboard_layout_test.rb
Labels: component/dashboard

this should be 3
  apps/dashboard/test/integration/dashboard_layout_test.rb
Labels: component/dashboard

rescue here in case of any errors
  apps/dashboard/app/helpers/recently_used_apps_helper.rb
Labels: component/dashboard

ensure titles dont overflow
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/layouts/nav/_logo.html.erb
Labels: component/dashboard

rm this assertion
  apps/dashboard/test/integration/dashboard_layout_test.rb
Labels: component/dashboard

add motd and shell
  lib/files/demo/config/dashboard/env
  lib/files/demo/config/shell/env
  lib/files/demo/motd.md
Labels: none

copy files into container
  Dockerfile.demo
Labels: none

Re-add download? method to files_controller.rb
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Refactored Files controller to use strong parameters. (#4192)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

get the shell to work with MOTD updates too
  lib/files/demo/clusters.d/localhost.yml
  lib/files/demo/config/dashboard/env
  lib/files/demo/config/shell/env
  lib/files/demo/config/shell/wrapper
  lib/files/demo/motd.md
Labels: none

cast to string for safety
  apps/dashboard/app/helpers/system_status_helper.rb
Labels: component/dashboard

fix system status app
  lib/files/demo/clusters.d/localhost.yml
  lib/files/demo/config/dashboard/initializers/localhost.rb
Labels: none

use asset_nil here for fix deprecation warngins
  apps/dashboard/test/lib/smart_attributes/auto_log_location_test.rb
Labels: component/dashboard

use asset_nil here for fix deprecation warngins (#4197)
  apps/dashboard/test/lib/smart_attributes/auto_log_location_test.rb
Labels: component/dashboard

Removed user_config from Jobs request handler as it is no longer needed
  apps/dashboard/app/controllers/active_jobs_controller.rb
  apps/dashboard/app/models/active_jobs/jobs_json_request_handler.rb
Labels: component/dashboard

Added support ticket to active jobs page (#4102)
  apps/dashboard/app/apps/request_tracker_service.rb
  apps/dashboard/app/apps/support_ticket_email_service.rb
  apps/dashboard/app/apps/support_ticket_rt_service.rb
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/models/concerns/support_ticket_service.rb
  apps/dashboard/app/models/support_ticket.rb
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/app/views/support_ticket/email/_email.text.erb
  apps/dashboard/app/views/support_ticket/rt/rt_ticket_content.text.erb
  apps/dashboard/app/views/support_ticket/servicenow/servicenow_content.text.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/apps/request_tracker_service_test.rb
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/apps/support_ticket_rt_service_test.rb
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
  apps/dashboard/test/integration/support_ticket_integration_test.rb
  apps/dashboard/test/models/concerns/support_ticket_service_test.rb
  apps/dashboard/test/models/support_ticket_test.rb
Labels: component/dashboard

internationalize "Select Path" (#4176)
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

internationalize "Select Path" (#4176)
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

cast to string for safety (#4196)
  apps/dashboard/app/helpers/system_status_helper.rb
Labels: component/dashboard

cast to string for safety (#4196)
  apps/dashboard/app/helpers/system_status_helper.rb
Labels: component/dashboard

Bump ood_packaging to also remove Ubuntu 20.04 and E2E helper
  Gemfile
  Gemfile.lock
  spec/e2e/e2e_helper.rb
Labels: none

ensure titles dont overflow (#4194)
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/layouts/nav/_logo.html.erb
Labels: component/dashboard

Backport files_controller refactor.
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

PR cleanup
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/project_manager_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

bin/setup
  apps/dashboard/yarn.lock
Labels: component/dashboard

drop support for Ubuntu 20.04 and Ruby 2.7 (#4188)
  .github/workflows/tests.yml
  Gemfile
  Gemfile.lock
  spec/e2e/e2e_helper.rb
Labels: none

Remove bad test.
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Added from_directory function call and edited as per the review comments
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none
