Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

update ood_core in myjobs
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

lint a random file
  apps/dashboard/config/initializers/permissions_policy.rb
Labels: component/dashboard

render xdmod jobs in plain js
  apps/dashboard/app/javascript/xdmod.js
  apps/dashboard/app/javascript/xdmod/jobs.js
Labels: component/dashboard

lint a random file (#3705)
  apps/dashboard/config/initializers/permissions_policy.rb
Labels: component/dashboard

Update ood core (#3704)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

update to lock ffi
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

add skeleton of auto_cores
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_cores.rb
  apps/dashboard/app/views/launchers/edit.html.erb
Labels: component/dashboard

PM job state management (#3702)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

slurm native cpus
  apps/dashboard/app/lib/smart_attributes/attributes/auto_cores.rb
Labels: component/dashboard

only permit certain fields
  apps/myjobs/app/controllers/workflows_controller.rb
Labels: component/jobcomposer

add more job details
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

change presentation of information
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/batch_connect/vnc_view_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

lint a random file (#3711)
  apps/dashboard/test/models/batch_connect/vnc_view_test.rb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

attempt to update ruby libs (#3701)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Update Changelog (#3712)
  CHANGELOG.md
Labels: none

reset uppy back to master
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

use File.read here instead of open (#3699)
  apps/dashboard/app/models/balance.rb
  apps/dashboard/app/models/concerns/uri_reader.rb
  apps/dashboard/app/models/quota.rb
  apps/dashboard/test/models/balance_test.rb
  apps/dashboard/test/models/quota_test.rb
Labels: component/dashboard

add an esbuild plugin for minified dependencies (#3693)
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

fix some JS dependencies (#3695)
  apps/dashboard/app/javascript/application.js
  apps/dashboard/esbuild.config.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

render xdmod jobs in plain js (#3706)
  apps/dashboard/app/javascript/xdmod.js
  apps/dashboard/app/javascript/xdmod/jobs.js
Labels: component/dashboard

upgrade uppy to 4.0
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

fix downloadable? to account for other file types
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/app/controllers/pages_controller.rb
Labels: component/jobcomposer

save auto_cores attribute
  apps/dashboard/app/controllers/launchers_controller.rb
Labels: component/dashboard

need to account for directories
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

use correct api
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

mv to a second line and remove pipe? delegatiion
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

lint a random file (#3719)
  apps/myjobs/app/controllers/pages_controller.rb
Labels: component/jobcomposer

dynamic bc also respond to hide: false
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

attempt to fix flaky test
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

fix adding to errors after rails upgrade
  apps/myjobs/app/models/workflow.rb
Labels: component/jobcomposer

let Rails set content-type and content-disposition headers
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

just supply zipname and have rails format it (#3694)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

convert data to human sizes on the client
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
Labels: component/dashboard

rm this un-needed property
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

convert data to human sizes on the client (#3723)
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
Labels: component/dashboard

fix adding to errors after rails upgrade (#3722)
  apps/myjobs/app/models/workflow.rb
Labels: component/jobcomposer
