Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Add the ability to track job state in projects
  apps/dashboard/app/controllers/jobs_controller.rb
  apps/dashboard/app/javascript/packs/config.js
  apps/dashboard/app/javascript/packs/projects.js
  apps/dashboard/app/javascript/packs/utils.js
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

cleaning up
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/scripts/show.html.erb
Labels: component/dashboard

Need to get this create_widget helper to handle the cached case still
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

More updates
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/scripts/show.html.erb
Labels: component/dashboard

Create VERSIONING_POLICY.md
  VERSIONING_POLICY.md
Labels: none

Fixed bug where path selector wasn't showing
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
Labels: component/dashboard

refactor this a bit
  apps/dashboard/app/controllers/jobs_controller.rb
Labels: component/dashboard

correct test and lint file
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

stub slurm adapter info call
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Cleanup
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
Labels: component/dashboard

widen this column to take the entire space (#2707)
  apps/dashboard/app/views/projects/_form.html.erb
Labels: component/dashboard

add the ability search icons
  apps/dashboard/app/javascript/packs/icon_picker.js
  apps/dashboard/app/javascript/stylesheets/icon_picker.scss
Labels: component/dashboard

Removed redundant method=get for pinned apps (#2708)
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
Labels: component/dashboard

revert changes to session_contexts_heler.rb file
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

revert changes correctly
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

Add cached values to script initializer, adjust build method, revert show changes
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/show.html.erb
Labels: component/dashboard

lint a random file
  apps/myjobs/db/migrate/20160316200439_add_script_path_to_osc_job.rb
Labels: component/jobcomposer

lint a random file (#2714)
  apps/myjobs/db/migrate/20160316200439_add_script_path_to_osc_job.rb
Labels: component/jobcomposer

Add the ability to track job state in projects (#2710)
  apps/dashboard/app/controllers/jobs_controller.rb
  apps/dashboard/app/javascript/packs/config.js
  apps/dashboard/app/javascript/packs/projects.js
  apps/dashboard/app/javascript/packs/utils.js
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

dont log error, instead defer and html update
  apps/dashboard/app/javascript/packs/projects.js
Labels: component/dashboard

dont log error, instead defer and html update (#2717)
  apps/dashboard/app/javascript/packs/projects.js
Labels: component/dashboard

add the ability search icons (#2713)
  apps/dashboard/app/javascript/packs/icon_picker.js
  apps/dashboard/app/javascript/stylesheets/icon_picker.scss
Labels: component/dashboard

have activejobs js use utils for css badges
  apps/dashboard/app/javascript/packs/active_jobs.js
Labels: component/dashboard

add helper func for uppercase first letter and account for hold
  apps/dashboard/app/javascript/packs/active_jobs.js
  apps/dashboard/app/javascript/packs/utils.js
Labels: component/dashboard

start support for project templates
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

fix tests
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

lint a random file
  lib/tasks/packaging.rb
Labels: area/build

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

lint a random file (#2722)
  lib/tasks/packaging.rb
Labels: area/build

start support for project templates (#2721)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Activejobs refactor utils (#2719)
  apps/dashboard/app/javascript/packs/active_jobs.js
  apps/dashboard/app/javascript/packs/utils.js
Labels: component/dashboard

upgrade rails 6.1.7.3 with other depdencies
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Removed duplicated applications from interactive apps menu
  apps/dashboard/app/controllers/concerns/batch_connect_concern.rb
  apps/dashboard/test/controllers/concerns/batch_connect_concern_test.rb
Labels: component/dashboard

mv this partial to shared so many controllers can use
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/shared/_widget_error.html.erb
Labels: component/dashboard

mv this partial to shared so many controllers can use (#2731)
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/shared/_widget_error.html.erb
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

plainjs batch_connect refactor
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

nullish coalescing assignment
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

use double dictionary instead of joint string for nodeType lookup
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
