Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Updated default values for CORS options
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Changing method call and adding test case for dex issuer.
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/dex.yaml.full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
Labels: component/ood_portal_generator

refactor some usr stubbing helpers
  apps/dashboard/test/integration/apps_test.rb
  apps/dashboard/test/models/router_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Separating SSL and SSL with proxy test and fixtures.
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/dex.full.proxy.yaml
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
Labels: component/ood_portal_generator

Forgot to actually remove my commented line.
  ood-portal-generator/spec/application_spec.rb
Labels: component/ood_portal_generator

show shared apps on the dashboard
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

Added support to read launcher buttons configuration (#1196)
  apps/dashboard/app/apps/launcher_button.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/widgets/_launchers.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/apps/launcher_button_reader_test.rb
  apps/dashboard/test/apps/launcher_button_test.rb
  apps/dashboard/test/fixtures/launchers/config01/rstudio.yml
  apps/dashboard/test/fixtures/launchers/config02/nested.yml
  apps/dashboard/test/fixtures/launchers/ondemand.d/config.yml
Labels: component/dashboard

Adding configuration option for dex to set issuer if using reverse pr… (#1233)
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/dex.full.proxy.yaml
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
Labels: component/ood_portal_generator

rm semi-compatability for apps sharing
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

Strip shell_app_title when cluster_title is nil
  apps/dashboard/app/apps/ood_app.rb
Labels: component/dashboard

Internationalize "#{cluster.title} Shell Access"
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

should prefix dashboard to this I18n config
  apps/dashboard/app/apps/ood_app.rb
Labels: component/dashboard

Internationalize "#{cluster.title} Shell Access" (#916)
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Update autoprefixer
  apps/dashboard/Gemfile
Labels: component/dashboard

Fix files preview. Set charset=utf-8 in Content-Type header
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

Added lauchers widget to display launcher buttons and submit interactive apps request to the cluster
  apps/dashboard/app/apps/launcher_button.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/widgets/_launchers.html.erb
  apps/dashboard/app/views/widgets/launchers/_launcher_button.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/apps/launcher_button_test.rb
  apps/dashboard/test/fixtures/launchers/config01/rstudio.yml
  apps/dashboard/test/fixtures/launchers/config02/nested.yml
  apps/dashboard/test/fixtures/launchers/ondemand.d/config.yml
Labels: component/dashboard

Update Dependencies (#1134)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Added support for CORS to the Apache configuration (#1225)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Updated variable name to snake_case and comments to lowercase after feedback
  apps/dashboard/app/controllers/api/api_sessions_controller.rb
Labels: component/dashboard

Added support for API key and secret to Apache for API clients
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Added Utility class, modified example ood.rb initializer, and added gem dependency to read YAML
  apps/dashboard/Gemfile
  apps/dashboard/app/apps/usr_pref.rb
  apps/dashboard/config/examples/osc/initializers/ood.rb
Labels: component/dashboard

Updated root path to api client auth configuration under /etc
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
Labels: component/ood_portal_generator

update dependencies
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Updated API response code to 403 when sending invalid credentials
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

update changelog for version 2.0.11
  CHANGELOG.md
Labels: none

Added support for API key and secret to Apache for API clients (#1257)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Ensure /etc/ood/api is packaged with secure permissions
  packaging/ondemand.spec
Labels: none

Ensure /etc/ood/api is packaged with secure permissions (#1264)
  packaging/ondemand.spec
Labels: none

Render text formats as text/plain
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

Also handle merges to feature branches for Github Action Fixes #1266
  .github/workflows/document-merge.yml
Labels: none

Also handle merges to feature branches for Github Action (#1267)
  .github/workflows/document-merge.yml
Labels: none

Fix files preview. Set charset=utf-8 in Content-Type header (#1254)
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

update dependencies (#1259)
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Fix ssh_to_compute_node? to not error on non-existant cluster Fixes #1273
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

Fix ssh_to_compute_node? to not error on non-existant cluster (#1274)
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

update changelog for v2.0.12
  CHANGELOG.md
Labels: none

update changelog for v2.0.12 (#1276)
  CHANGELOG.md
Labels: none

Add option to disable terminal in files app.
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

Created files app test and tested both booleans.
  apps/dashboard/test/integration/files_app_test.rb
Labels: component/dashboard
