Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

fix a mass assignment issue so we can use brakeman
  apps/dashboard/app/controllers/support_ticket_controller.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/db/migrate/20160414201203_change_osc_job_attr_to_text.rb
Labels: component/jobcomposer

lint a random file (#3470)
  apps/myjobs/db/migrate/20160414201203_change_osc_job_attr_to_text.rb
Labels: component/jobcomposer

Rsolves the problem where if the user chooses their own label, they can't see the name of the variable in the form.
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
Labels: component/dashboard

3081 - auto_environment_variables (#3432)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

enhance the projects#show page with list of active jobs
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

re-enable ActionController::Live (#3441)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Add completed_at attribute to mark job finish. (#3424)
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

Bumps ood_core
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Adds helper method to files_controller
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

enhance the projects#show page with list of active jobs (#3473)
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

Removes NavConfig class & Replaces its use
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

update ood_core (#3466)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

update regular expression
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

update regular expression (#3476)
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

Removes more of NavConfig
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
Labels: component/dashboard

Removes tests about removed method
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

Fixes pathfinger_select widget with data-hide option (#3460)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Fix Amazon 2023 e2e tests (#3412)
  spec/e2e/e2e_helper.rb
Labels: none

serialize more job info
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

no need for this method
  apps/dashboard/app/models/hpc_job.rb
Labels: component/dashboard

correct the views for updates
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/controllers/application_controller.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#3481)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update Changelog (#3480)
  CHANGELOG.md
Labels: none

update regular expression (#3476)
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

refactor this partial to be shared with other components
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

allow for projects#new to use the path_selector
  apps/dashboard/app/javascript/projects_new.js
  apps/dashboard/app/views/projects/_form.html.erb
Labels: component/dashboard

changes the HTTP link to the SSN. (#3485)
  DEVELOPMENT.md
Labels: none

projects#new support for path_selector (#3483)
  apps/dashboard/app/javascript/projects_new.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

launchers to serialize more job info (#3478)
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

add the ability to define default launcher fields
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Fix paths for some partials
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
  apps/dashboard/app/views/batch_connect/sessions/connections/_native_vnc.html.erb
Labels: component/dashboard

Fix paths for some partials (#3489)
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
  apps/dashboard/app/views/batch_connect/sessions/connections/_native_vnc.html.erb
Labels: component/dashboard

try again to fix flaky tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Fix file browser error on copy/move
  apps/dashboard/app/javascript/files/clip_board.js
Labels: component/dashboard

Fix file browser error on copy/move (#3495)
  apps/dashboard/app/javascript/files/clip_board.js
Labels: component/dashboard
