Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

add config check before render
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

More modern look for the interactive apps list (#4456)
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/views/batch_connect/shared/_app_list.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
  apps/dashboard/app/views/batch_connect/shared/_saved_settings_menu.html.erb
Labels: component/dashboard

Added unit testing for directed acyclic graph
  apps/dashboard/test/models/dag_test.rb
Labels: component/dashboard

set panel id in error case
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
Labels: component/dashboard

lint a random file
  nginx_stage/lib/nginx_stage/views/app_config_view.rb
Labels: component/nginx_stage

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

added tests for buttons
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

fix setNewLineMode command, reword related comment
  apps/dashboard/app/javascript/editor.js
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

lint a random file (#4579)
  nginx_stage/lib/nginx_stage/views/app_config_view.rb
Labels: component/nginx_stage

add `newLineMode("unix")` option to editor (#4561)
  apps/dashboard/app/javascript/editor.js
Labels: component/dashboard

Update Changelog (#4580)
  CHANGELOG.md
Labels: none

Added unit testing for directed acyclic graph (#4562)
  apps/dashboard/test/models/dag_test.rb
Labels: component/dashboard

use OOD_FILE_DOWNLOAD_MAX variable
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

adds oidc_redirect_uri variable
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Added unit test for workflow class
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

finished tests
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md (#4584)
  CHANGELOG.md
Labels: none

remove slash between segments and query
  apps/dashboard/app/helpers/active_jobs_helper.rb
Labels: component/dashboard

allow lowercasing usernames via user_map_match
  mod_ood_proxy/lib/ood/user_map.lua
Labels: component/mod_ood_proxy

lint a random file
  apps/myjobs/config/routes.rb
Labels: component/jobcomposer

adjust tests
  apps/dashboard/test/helpers/active_jobs_helper_test.rb
Labels: component/dashboard

lint a random file (#4587)
  apps/myjobs/config/routes.rb
Labels: component/jobcomposer

Fix grafana urls (#4585)
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/test/helpers/active_jobs_helper_test.rb
Labels: component/dashboard

just a test on the ci
  DEVELOPMENT.md
Labels: none

Dynamic forms detect radio buttons (#4540)
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Added unit test for workflow class (#4577)
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

Added skeleton for the launcher workflow class
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/test/models/workflows_test.rb
Labels: component/dashboard

Added update functionality to workflow class with unittests added
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/_form.html.erb
  apps/dashboard/app/views/workflows/_workflow.html.erb
  apps/dashboard/app/views/workflows/edit.html.erb
  apps/dashboard/app/views/workflows/new.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/models/workflows_test.rb
Labels: component/dashboard

Removed duplicate file and edit the earlier created test file
  apps/dashboard/test/models/workflow_test.rb
  apps/dashboard/test/models/workflows_test.rb
Labels: component/dashboard

change FirstHashElementIndentation to 'consistent'
  .rubocop.yml
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
Labels: component/dashboard

Manifest test for indifferent access
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

Update tests.yml
  .github/workflows/tests.yml
Labels: none

allow lowercasing usernames via user_map_match (#4586)
  mod_ood_proxy/lib/ood/user_map.lua
Labels: component/mod_ood_proxy

Manifest test for indifferent access (#4590)
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

remove custon -breakpoints definitions
  apps/dashboard/app/assets/stylesheets/_variables.scss
Labels: component/dashboard

clean up can_download_file?
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

clean up can_download_file?
  apps/dashboard/app/models/remote_file.rb
Labels: component/dashboard
