Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Move posix only methods in files controller update route to PosixFile
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

Move posix only methods in files controller upload route to PosixFile
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

Add feature flag for remote files
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/controllers/files_controller_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
Labels: component/dashboard

Move FilesController posix file methods out from update and upload routes (#2116)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Add Rclone to dev container
  Dockerfile.dev
Labels: none

Add basic tests for remote file functionality
  apps/dashboard/test/integration/remote_files_test.rb
  apps/dashboard/test/models/remote_file_test.rb
  apps/dashboard/test/rclone_helper.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

Fit editor neatly onto one page
  apps/dashboard/app/javascript/stylesheets/editor.scss
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

upgrade to rails 5.2.8.1
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Center align all items in nav
  apps/dashboard/app/javascript/stylesheets/editor.scss
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

Fix broken file editor background color
  apps/dashboard/app/javascript/stylesheets/application.scss
Labels: component/dashboard

Add editor filename
  apps/dashboard/app/javascript/stylesheets/editor.scss
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

Use bootstrap for editor filename
  apps/dashboard/app/javascript/stylesheets/editor.scss
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

Add not editor to pre instead of removing
  apps/dashboard/app/javascript/stylesheets/application.scss
Labels: component/dashboard

Add overflow hidden to editor-filename
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

Add fs parameter to files app routes
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/app/views/files/_breadcrumb.html.erb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/config/routes.rb
  apps/dashboard/test/controllers/files_controller_test.rb
  apps/dashboard/test/integration/remote_files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
  nginx_stage/templates/pun.conf.erb
  spec/e2e/browser_spec.rb
Labels: component/dashboard, component/nginx_stage

Add rclone to test workflow
  .github/workflows/tests.yml
Labels: none

Convert px to em in editor.scss
  apps/dashboard/app/javascript/stylesheets/editor.scss
Labels: component/dashboard

Move some css styles to bootstrap
  apps/dashboard/app/javascript/stylesheets/editor.scss
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

Change save button appearance in editor
  apps/dashboard/app/javascript/stylesheets/editor.scss
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

Support Ruby 3.0
  .github/workflows/tests.yml
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  nginx_stage/lib/nginx_stage/secret_key_base_file.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/nginx_stage.gemspec
Labels: component/dashboard, component/jobcomposer, component/nginx_stage

fix permissions on mounted folders for podman (#2054)
  Dockerfile.dev
  lib/tasks/development.rb
Labels: area/build

Add initial support for remote files in files app (#2119)
  .github/workflows/tests.yml
  Dockerfile.dev
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/app/views/files/_breadcrumb.html.erb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/lib/rclone_util.rb
  apps/dashboard/test/controllers/files_controller_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/integration/remote_files_test.rb
  apps/dashboard/test/models/remote_file_test.rb
  apps/dashboard/test/rclone_helper.rb
  apps/dashboard/test/system/remote_files_test.rb
  nginx_stage/templates/pun.conf.erb
  spec/e2e/browser_spec.rb
Labels: component/dashboard, component/nginx_stage

enable dev mode in dev container
  Dockerfile.dev
Labels: none

Add support for multiple Homepage layouts and widgets configurations (#2117)
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/apps/user_configuration.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/controllers/settings_controller.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/models/current_user.rb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/app/views/widgets/_pinned_apps.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/profile.yml
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/fixtures/config/user_settings/.invalid
  apps/dashboard/test/fixtures/config/user_settings/.valid
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/dashboard_layout_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/integration/settings_controller_test.rb
  apps/dashboard/test/models/current_user_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
  apps/dashboard/test/system/preset_apps_pinned_test.rb
Labels: component/dashboard

Add support for multiple Homepage layouts and widgets configurations (#2117) (#2118)
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/apps/user_configuration.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/controllers/settings_controller.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/models/current_user.rb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/app/views/widgets/_pinned_apps.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/profile.yml
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/fixtures/config/user_settings/.invalid
  apps/dashboard/test/fixtures/config/user_settings/.valid
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/dashboard_layout_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/integration/settings_controller_test.rb
  apps/dashboard/test/models/current_user_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
  apps/dashboard/test/system/preset_apps_pinned_test.rb
Labels: component/dashboard

Enhance file editor navigation bar (#2124)
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/editor.scss
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

Support Ruby 3.0
  .github/workflows/tests.yml
  Gemfile
  Gemfile.lock
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  nginx_stage/lib/nginx_stage/secret_key_base_file.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/nginx_stage.gemspec
Labels: component/dashboard, component/jobcomposer, component/nginx_stage

Avoid minitest errors maybe
  ood-portal-generator/Gemfile.lock
Labels: component/ood_portal_generator

fix #2133 so that test:jobs does not invoke asset building
  apps/dashboard/lib/tasks/test.rake
Labels: component/dashboard

upgrade to rails 6 (#1474)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/application.rb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/initializers/content_security_policy.rb
  apps/dashboard/config/initializers/new_framework_defaults_6_0.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

upgrade rails for bugfixes (#1824)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Update dashboard to Rails 6.0.5
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Upgrade myjobs (#2032)
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/myjobs/app/assets/javascripts/workflows.js.coffee
  apps/myjobs/config/application.rb
  apps/myjobs/config/environments/development.rb
  apps/myjobs/config/environments/production.rb
  apps/myjobs/config/environments/test.rb
  apps/myjobs/config/initializers/content_security_policy.rb
  apps/myjobs/config/initializers/new_framework_defaults_5_2.rb
  apps/myjobs/config/initializers/new_framework_defaults_6_0.rb
  apps/myjobs/config/locales/en.yml
  apps/myjobs/db/schema.rb
Labels: component/jobcomposer

Fix issue with cherry-pick
  apps/dashboard/yarn.lock
Labels: component/dashboard

Fix usage of current_page? to work with Ruby 3.0
  apps/dashboard/app/views/layouts/nav/_all_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_sessions.html.erb
  apps/dashboard/app/views/products/_breadcrumbs.html.erb
Labels: component/dashboard

Commit changed yard.lock, yes?
  apps/dashboard/yarn.lock
Labels: component/dashboard

Revert "Commit changed yard.lock, yes?"
  apps/dashboard/yarn.lock
Labels: component/dashboard

Use ood_packaging gem to build 2.0 packages
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  lib/tasks/build_utils.rb
  lib/tasks/packaging.rb
  packaging/rpm/favicon.ico
  packaging/rpm/logo.png
  packaging/rpm/ondemand-selinux.fc
  packaging/rpm/ondemand-selinux.te
  packaging/rpm/ondemand.spec
Labels: area/build

Do not fail e2e fast
  .github/workflows/tests.yml
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
