Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Bump Rails to 7.2 (#5168)
  .github/workflows/tests.yml
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/javascript/editor.js
  apps/dashboard/bin/setup
  apps/dashboard/config/application.rb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/initializers/assets.rb
  apps/dashboard/config/initializers/content_security_policy.rb
  apps/dashboard/config/initializers/filter_parameter_logging.rb
  apps/dashboard/config/initializers/new_framework_defaults_7_2.rb
  apps/dashboard/config/puma.rb
  apps/dashboard/public/406-unsupported-browser.html
  apps/dashboard/public/422.html
  apps/dashboard/public/500.html
  apps/dashboard/public/robots.txt
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/dashboard_layout_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

fix datatables headers on files table
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/config/puma.rb
Labels: component/dashboard

customize headers on all tables
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

test to show
  apps/dashboard/app/views/active_jobs/_extended_data_table.html.erb
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

Remove console log from utils.js
  apps/dashboard/app/javascript/utils.js
Labels: component/dashboard

turn table into list and stick the list
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/views/active_jobs/_extended_data_table.html.erb
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

Add invalid announcements error widget and add related test (#2568)
  apps/dashboard/app/models/announcement.rb
  apps/dashboard/app/views/layouts/_announcements.html.erb
  apps/dashboard/app/views/shared/_announcement_error.html.erb
  apps/dashboard/test/integration/announcement_parse_error_test.rb
Labels: component/dashboard

fix tests
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

add regions to files table view
  apps/dashboard/app/views/files/_favorites.html.erb
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

need to commit this id
  apps/dashboard/app/views/active_jobs/_extended_data_table.html.erb
Labels: component/dashboard

remove edit links when downloads disabled
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

update gemfile.lock
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

fix flaky tests by commenting out this test
  apps/dashboard/test/system/products_dev_test.rb
Labels: component/dashboard

fix flaky tests by commenting out this test (#5258)
  apps/dashboard/test/system/products_dev_test.rb
Labels: component/dashboard

Update expected links in files_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

add comma to comment
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Support Debian 13 and drop Ubuntu 22.04 Fixes #5196
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  packaging/deb/rules
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/debian-13-aarch64.yml
  spec/e2e/nodesets/debian-13.yml
Labels: none

Modify expected links in files_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

remove role=button
  apps/dashboard/app/javascript/icon_picker.js
Labels: component/dashboard

make project index accessible
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

update Gemfile.lock (#5254)
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

upgrade bootstrap-form to 5.6
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/initializers/bootstrap_form.rb
Labels: component/dashboard

fix styles to account for div.form-label
  apps/dashboard/app/assets/stylesheets/support_ticket.scss
Labels: component/dashboard

updated no changes log
  ood-portal-generator/lib/ood_portal_generator/application.rb
Labels: component/ood_portal_generator

added message to apache config not changed
  ood-portal-generator/lib/ood_portal_generator/application.rb
Labels: component/ood_portal_generator

Support Debian 13 and drop Ubuntu 22.04 (#5243)
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  packaging/deb/rules
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/debian-13-aarch64.yml
  spec/e2e/nodesets/debian-13.yml
Labels: none

update test on radio button html
  apps/dashboard/test/integration/batch_connect_test.rb
Labels: component/dashboard

Don't serve edit links when downloads disabled (#5253)
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
