Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

lint a random file
  apps/myjobs/app/controllers/application_controller.rb
Labels: component/jobcomposer

lint a random file (#2603)
  apps/myjobs/app/controllers/application_controller.rb
Labels: component/jobcomposer

add smart attributes to model, access in controller, and rough view to display
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/show.html.erb
Labels: component/dashboard

projects to use numeric ids instead of directories (#2601)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/fixtures/projects/projects/.project_lookup
  apps/dashboard/test/integration/projects_controller_test.rb
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

remove test value
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

rework projects#index view to use icons instead of table
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/projects.scss
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

enable scripts
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/show.html.erb
Labels: component/dashboard

fix system tests
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

adjustments
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/show.html.erb
Labels: component/dashboard

use form or return empty array
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

touch up these buttons
  apps/dashboard/app/javascript/stylesheets/pinned_apps.scss
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

Fixed linting
  apps/dashboard/app/javascript/stylesheets/projects.scss
Labels: component/dashboard

update gh automation for deprecations (#2597)
  .github/workflows/changelog.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/update.yml
Labels: none

rework projects#index view to use icons instead of table (#2605)
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/pinned_apps.scss
  apps/dashboard/app/javascript/stylesheets/projects.scss
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

optimize auto_accounts so it doesnt show duplicates (#2594)
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Migrated announcements_path property to UserConfiguration object
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/announcement_views_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

Updated sessions widget to not render if there are no active sessions
  apps/dashboard/app/views/widgets/_sessions.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/active_sessions_widget_test.rb
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Migrated announcements_path property to UserConfiguration object (#2608)
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/announcement_views_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

Updated sessions widget to not render if there are no active sessions (#2610)
  apps/dashboard/app/views/widgets/_sessions.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/active_sessions_widget_test.rb
Labels: component/dashboard

update dependencies (#2611)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

lint a random file
  apps/dashboard/app/models/user_configuration.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#2614)
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

lint a random file (#2612)
  apps/dashboard/app/models/user_configuration.rb
Labels: component/dashboard

preload stylesheets
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

Update Changelog (#2613)
  CHANGELOG.md
Labels: none

use inline style with a nonce
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/javascript/packs/config.js
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

add style to this layout too
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

rm this import
  apps/dashboard/app/javascript/packs/application.js
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

lint a random file (#2621)
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

remove inline styles
  apps/dashboard/app/views/apps/_app.html.erb
  apps/dashboard/app/views/files/_breadcrumb.html.erb
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group_items.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/widgets/pinned_apps/_app_content.html.erb
Labels: component/dashboard

WIP File Navigator. Have file/directories showing up properly. Need to work on actual navigation next
  apps/dashboard/app/javascript/packs/navigator/clip_board.js
  apps/dashboard/app/javascript/packs/navigator/data_table.js
  apps/dashboard/app/javascript/packs/navigator/file_ops.js
  apps/dashboard/app/javascript/packs/navigator/index.js
  apps/dashboard/app/javascript/packs/navigator/sweet_alert.js
  apps/dashboard/app/javascript/packs/navigator/uppy_ops.js
  apps/dashboard/app/javascript/packs/navigator/utils.js
  apps/dashboard/app/views/batch_connect/session_contexts/_file_navigator.html.erb
Labels: component/dashboard

Completed Initial Navigation
  apps/dashboard/app/javascript/packs/navigator/data_table.js
  apps/dashboard/app/javascript/packs/navigator/index.js
  apps/dashboard/app/views/batch_connect/session_contexts/_file_navigator.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/current_user_test.rb
Labels: component/dashboard

lint a random file (#2623)
  apps/dashboard/test/models/current_user_test.rb
Labels: component/dashboard

Updates
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/javascript/packs/navigator/clip_board.js
  apps/dashboard/app/javascript/packs/navigator/data_table.js
  apps/dashboard/app/javascript/packs/navigator/file_ops.js
  apps/dashboard/app/javascript/packs/navigator/index.js
  apps/dashboard/app/javascript/packs/navigator/uppy_ops.js
  apps/dashboard/app/javascript/packs/navigator/utils.js
  apps/dashboard/app/views/batch_connect/session_contexts/_file_attachments.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_file_navigator.html.erb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
