Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

update date for 2.1.0
  CHANGELOG.md
Labels: none

add entries for 2.0.29-2.0.31
  CHANGELOG.md
Labels: none

use YYYY format.
  CHANGELOG.md
Labels: none

Update Changelog (#2643)
  CHANGELOG.md
Labels: none

enable scripts (#2607)
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/show.html.erb
Labels: component/dashboard

allow spaces in regex for project name
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Update system test
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Update localization
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

rescue SyntaxErrors in announcements
  apps/dashboard/app/models/announcement.rb
  apps/dashboard/test/models/announcements_test.rb
Labels: component/dashboard

reset this back to {}
  apps/dashboard/app/models/announcement.rb
Labels: component/dashboard

lint a random file
  spec/spec_helper_e2e.rb
Labels: none

lint a random file (#2648)
  spec/spec_helper_e2e.rb
Labels: none

Fix failing system test
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

show smart attributes in a form and start a #submit API
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

lint a random file
  ood-portal-generator/lib/ood_portal_generator/application.rb
Labels: component/ood_portal_generator

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

also catch Exception
  ood-portal-generator/lib/ood_portal_generator/application.rb
Labels: component/ood_portal_generator

Update Changelog (#2655)
  CHANGELOG.md
Labels: none

put e.message instead of $ERROR_INFO
  ood-portal-generator/lib/ood_portal_generator/application.rb
Labels: component/ood_portal_generator

ok - only rescue StandardError
  ood-portal-generator/lib/ood_portal_generator/application.rb
Labels: component/ood_portal_generator

Lint a random file (#2654)
  ood-portal-generator/lib/ood_portal_generator/application.rb
Labels: component/ood_portal_generator

add file to deb dependencies
  packaging/deb/control
Labels: none

needs another comma
  packaging/deb/control
Labels: none

Fix failing test
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

rescue SyntaxErrors in announcements (#2647)
  apps/dashboard/app/models/announcement.rb
  apps/dashboard/test/models/announcements_test.rb
Labels: component/dashboard

add file to deb dependencies (#2657)
  packaging/deb/control
Labels: none

actually disable security checks
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

add the auto_scripts smart attribute
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

go ahead and add cluster config too
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

add ability to launch script
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

Have things working again.
  apps/dashboard/app/views/batch_connect/session_contexts/_file_navigator.html.erb
  apps/dashboard/app/views/files/_navigate_breadcrumb.html.erb
  apps/dashboard/app/views/files/navigate.json.jbuilder
  apps/dashboard/config/routes.rb
Labels: component/dashboard

show smart attributes in a form and start a #submit API (#2649)
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

add the auto_scripts smart attribute
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

go ahead and add cluster config too
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/config/initializers/cookies_serializer.rb
Labels: component/dashboard

Fix Rails session store using wrong username
  apps/dashboard/config/initializers/session_store.rb
Labels: component/dashboard

Fix Rails session store using wrong username (#2663)
  apps/dashboard/config/initializers/session_store.rb
Labels: component/dashboard

Updated navigate to not require a new route
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/javascript/packs/navigator/data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_file_navigator.html.erb
  apps/dashboard/app/views/files/_navigate_breadcrumb.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/app/views/files/navigate.json.jbuilder
  apps/dashboard/config/routes.rb
Labels: component/dashboard
