Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

change authentication default behaviour (#1982)
  ood-portal-generator/lib/ood_portal_generator/application.rb
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/need_auth.html
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/allowlist.yml
  ood-portal-generator/spec/fixtures/input/auth.yml
  ood-portal-generator/spec/fixtures/input/both_lists.yml
  ood-portal-generator/spec/fixtures/input/whitelist.yml
  ood-portal-generator/spec/fixtures/ood_portal.yaml.port
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/fixtures/output/dex/insecure_default_dex.yml
  ood-portal-generator/spec/fixtures/sum.default
  ood-portal-generator/spec/update_ood_portal_spec.rb
  ood-portal-generator/templates/no-auth.conf.erb
  packaging/deb/rules
  packaging/rpm/ondemand.spec
  spec/e2e/default_install_spec.rb
  spec/e2e/e2e_helper.rb
  spec/fixtures/config/ood_portal/empty.yml
  spec/fixtures/config/ood_portal/portal.yml
  spec/fixtures/config/ood_portal/portal_with_prehook.yml
  spec/fixtures/config/ood_portal/portal_with_proxies.yml
Labels: component/ood_portal_generator

correct the location of this file
  DEVELOPMENT.md
Labels: none

Update DEVELOPMENT.md
  DEVELOPMENT.md
Labels: none

Update DEVELOPMENT.md
  DEVELOPMENT.md
Labels: none

Update lib/tasks/rake_helper.rb
  lib/tasks/rake_helper.rb
Labels: area/build

Update ood-portal-generator/lib/ood_portal_generator.rb
  ood-portal-generator/lib/ood_portal_generator.rb
Labels: component/ood_portal_generator

Issue#1990 Use Etc.getpwn.name instead of Etc.getlogin #1990 (#1992)
  lib/tasks/rake_helper.rb
  ood-portal-generator/lib/ood_portal_generator.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/update_ood_portal_spec.rb
Labels: component/ood_portal_generator, area/build

add css style guide
  CONTRIBUTING.md
Labels: none

specify variable naming convention
  CONTRIBUTING.md
Labels: none

Issue#1945 Bundler.with_clean_env has been replaced with Bundler.with_unbundled_env
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/controllers/products_controller.rb
  apps/dashboard/app/models/product.rb
  apps/myjobs/test/models/configuration_singleton_test.rb
Labels: component/dashboard, component/jobcomposer

Issue#1945 Bundler.with_clean_env has been replaced with Bundler.with_unbundled_env (#1998)
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/controllers/products_controller.rb
  apps/dashboard/app/models/product.rb
  apps/myjobs/test/models/configuration_singleton_test.rb
Labels: component/dashboard, component/jobcomposer

Issue#1902 added alt attributr to the img tag
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

Issue#1902 updated alt attribute of the img tag
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Issue#1902 added alt text to the navbar img tag (#1999)
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

correct the location of this file (#1995)
  DEVELOPMENT.md
Labels: none

add css style guide (#1997)
  CONTRIBUTING.md
Labels: none

only apply Rspec lint when rspec has been loaded (#1991)
  .rubocop.yml
  lib/tasks/lint.rb
Labels: area/build

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update apps and fix shell apps yarn lock
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

rm old resolutions to fit new package deps
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

add production yarn lock
  apps/shell/yarn.lock
Labels: component/shell

Update Changelog (#2001)
  CHANGELOG.md
Labels: none

specify cluster in the form so it's got the right order
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
Labels: component/dashboard

currently needs that single hash to write a correct manifest
  apps/dashboard/app/apps/manifest.rb
Labels: component/dashboard

Adding validation around allowed manifest options to write
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

Moving removing sanitize method and moving logic to initializer
  apps/dashboard/app/apps/manifest.rb
Labels: component/dashboard

Update maintainer in Debian packaging to be correct format
  packaging/deb/control
Labels: none

Update maintainer in Debian packaging to be correct format (#2010)
  packaging/deb/control
Labels: none

Updating to use select! for easier to read logic
  apps/dashboard/app/apps/manifest.rb
Labels: component/dashboard

Use python3 for Ubuntu/Debian packages
  packaging/deb/control
Labels: none

Depend on python3 for EL builds
  packaging/rpm/ondemand.spec
Labels: none

Use python3 for Ubuntu/Debian packages (#2011)
  packaging/deb/control
  packaging/rpm/ondemand.spec
Labels: none

Adjusting method chain and cleaning up code
  apps/dashboard/app/apps/manifest.rb
Labels: component/dashboard

specify cluster in the form so it's got the right order (#2005)
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
Labels: component/dashboard

update apps and fix shell apps yarn lock (#2003)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

backport #1955 to 2.0
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Switch format for deb packaging to make Ubuntu 22.04 builds work
  packaging/deb/source/format
Labels: none

Switch format for deb packaging to make Ubuntu 22.04 builds work (#2015)
  packaging/deb/source/format
Labels: none

added try catch on yaml.safeload in shell (#1988)
  apps/shell/app.js
Labels: component/shell

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
