Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

add the ability to define default launcher fields (#3488)
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Refactored common labels for saved settins show form
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Removed JSON response from SessionContext.SaveSettings controller method
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
Labels: component/dashboard

Added support to edit saved settings from the details view (#3498)
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/javascript/full_page_spinner.js
  apps/dashboard/app/javascript/prefill_templates/prefill_submit.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/fixtures/file_output/user_settings/saved_settings_edit.yml
  apps/dashboard/test/fixtures/file_output/user_settings/saved_settings_menu.yml
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/integration/saved_settings_controller_test.rb
  apps/dashboard/test/integration/saved_settings_navigation_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

casts pinned app configuration into an array
  apps/dashboard/app/apps/router.rb
Labels: component/dashboard

Removes unnecessary variables in announcement.rb
  apps/dashboard/app/models/announcement.rb
Labels: component/dashboard

WIP - more test fixes
  apps/dashboard/app/javascript/products_show.js
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

fix tests
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

rework projects#show page (#3527)
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

fix this error message
  apps/dashboard/app/javascript/turbo_shim.js
Labels: component/dashboard

manually create a token for this workflow
  .github/workflows/tests.yml
Labels: none

initial pass to make projects#show dynamic
  apps/dashboard/app/controllers/jobs_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/jobs/_pm_job_panel.turbo_stream.erb
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/app/views/projects/_job_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

manually create a token for this workflow (#3533)
  .github/workflows/tests.yml
Labels: none

Added support to disable the project size feature
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/projects/show.json.jbuilder
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/fixtures/projects/json_response/.ondemand/manifest.yml
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

Update Passenger and NGINX dependencies
  packaging/deb/control
  packaging/rpm/ondemand.spec
Labels: none

lint a random file
  apps/myjobs/app/models/application_record.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

Update Passenger and NGINX dependencies (#3535)
  packaging/deb/control
  packaging/rpm/ondemand.spec
Labels: none

update changelog
  CHANGELOG.md
Labels: none

lint a random file (#3536)
  apps/myjobs/app/models/application_record.rb
Labels: component/jobcomposer

Update Changelog (#3537)
  CHANGELOG.md
Labels: none

move job details into the projects controller
  apps/dashboard/app/controllers/jobs_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

sanitize the root path if needed
  apps/dashboard/app/javascript/config.js
Labels: component/dashboard

lint a random file
  apps/dashboard/app/helpers/errors_helper.rb
Labels: component/dashboard

lint a random file (#3540)
  apps/dashboard/app/helpers/errors_helper.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

security: ghsa-5q6q-9pp2-4jv8
  .github/workflows/document-merge.yml
Labels: none

security: ghsa-5q6q-9pp2-4jv8 (#3544)
  .github/workflows/document-merge.yml
Labels: none

Added support to disable the project size feature (#3531)
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/projects/show.json.jbuilder
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/fixtures/projects/json_response/.ondemand/manifest.yml
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

Update Changelog (#3543)
  CHANGELOG.md
Labels: none

create basic hello world page with turbo
  apps/dashboard/app/controllers/system_status_controller.rb
  apps/dashboard/app/helpers/system_status_helper.rb
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/system_status.js
  apps/dashboard/app/views/system_status/index.html.erb
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/controllers/system_status_controller_test.rb
Labels: component/dashboard

basic layout for system status
  apps/dashboard/app/controllers/system_status_controller.rb
  apps/dashboard/app/views/system_status/index.html.erb
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

Trying to fix integrations test.
  apps/dashboard/test/integration/dashboard_controller_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

lint a random file (#3547)
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

support fields with numbers in dynamic bc (#3507)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

redirect to HTTP_HOST to support aliases (#3508)
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

support for configurable redirect host (#3515)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/http_redirect_host.yml
  ood-portal-generator/spec/fixtures/output/http_redirect_host.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

use ps to count sessions instead of lsof (#3511)
  nginx_stage/lib/nginx_stage.rb
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
  nginx_stage/lib/nginx_stage/generators/nginx_show_generator.rb
  nginx_stage/lib/nginx_stage/session_finder.rb
  nginx_stage/lib/nginx_stage/socket_file.rb
Labels: component/nginx_stage
