Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Renaming API method and fixing some tests.
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/integration/files_app_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

Adding tests for the configuration singleton.
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

Ability to read and write to yaml file to get user preferences
  apps/dashboard/app/apps/user_preferences.rb
Labels: component/dashboard

Changed instance variable name, simplified nesting of yaml and changed directory where preferences could exist
  apps/dashboard/app/apps/user_preferences.rb
Labels: component/dashboard

add a rubocop
  .rubocop.yml
Labels: none

remove unessecary stubs in tests
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

add_cluster_widget should check for clusters not configured_clusters
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

Fix OOD_NAVBAR_TYPE=light not working
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Add tests for navbar_type
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

Add test for missing navbar_type env variable
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

Fix OOD_NAVBAR_TYPE=light not working (#1283)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

Fix for locale fallback bug and changed location of locale settings to config/application.rb
  apps/dashboard/config/application.rb
  apps/dashboard/config/environments/production.rb
Labels: component/dashboard

Setting RAILS_ENV to ignore .env.local type files for testing.
  apps/dashboard/Rakefile
Labels: component/dashboard

Setting RAILS_ENV to ignore .env.local type files for testing. (#1285)
  apps/dashboard/Rakefile
Labels: component/dashboard

Updated logging statements for API errors to make them consistent with Dashboard application
  apps/dashboard/app/controllers/api/api_sessions_controller.rb
Labels: component/dashboard

Do not log kubectl sudo commands
  packaging/ondemand.spec
Labels: none

Do not log kubectl sudo commands (#1290)
  packaging/ondemand.spec
Labels: none

Add option to disable terminal in files app. (#1277)
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/files_app_test.rb
Labels: component/dashboard

update changelog for v2.0.13
  CHANGELOG.md
Labels: none

add a link for 2.0.13
  CHANGELOG.md
Labels: none

add entry for ood_core
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

update dependencies (#1278)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

fix 2.0.13's release date
  CHANGELOG.md
Labels: none

add 'yarn upgrade' to the update rake task
  Rakefile
Labels: none

Add GitPod configuration
  .gitpod.Dockerfile
  .gitpod.yml
Labels: none

Build Dev Container on GitPod
  .gitpod.yml
Labels: none

update dependencies
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

update dependencies (#1295)
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Add retry attempt counter to 404 loop to fix client side loop
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Use more ambiguous error message
  apps/dashboard/app/controllers/transfers_controller.rb
Labels: component/dashboard

Adding descriptions for some rake tasks.
  lib/tasks/packaging.rb
Labels: area/build

Fix typo in file delete operation
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

move rubocop file to the dashboard and fix 1 file's warnings
  apps/dashboard/.rubocop.yml
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

improve dev container experience
  DEVELOPMENT.md
  Gemfile
  Rakefile
  docker/dev-entrypoint.sh
  lib/.rubocop.yml
  lib/tasks/build_utils.rb
  lib/tasks/development.rb
  lib/tasks/packaging.rb
Labels: area/build

have to install top level gems
  Dockerfile
Labels: none

tests have to bundle install
  .github/workflows/tests.yml
Labels: none

update gemfile lock
  Gemfile.lock
Labels: none

fix e2e caching
  .github/workflows/tests.yml
Labels: none

lets see what the env is
  .github/workflows/tests.yml
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
