Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

delete bad or old styles
  apps/dashboard/app/assets/stylesheets/file_editor.scss
Labels: component/dashboard

change file editor routes to use files prefix
  apps/dashboard/app/controllers/file_editor_controller.rb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

display warning if attempt edit dir
  apps/dashboard/app/controllers/file_editor_controller.rb
  apps/dashboard/app/views/file_editor/index.html.erb
Labels: component/dashboard

upgrade rails to 5.2.5 to avoid mimemagic dependency
  apps/activejobs/Gemfile
  apps/activejobs/Gemfile.lock
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/file-editor/Gemfile
  apps/file-editor/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/activejobs, component/dashboard, component/file_editor, component/jobcomposer

use File#readable? instead of File#file? to disable the activejobs route
  apps/dashboard/config/routes.rb
Labels: component/dashboard

add lightbox js dependency back to activejobs
  apps/dashboard/app/assets/javascripts/active_jobs.js
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

Render shell dropdown partial in Files API
  apps/dashboard/app/views/files/_shell.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

Use dynamic shell URLs to open in terminal button
  apps/dashboard/app/assets/javascripts/files.js
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Remove unused locals from partials
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

don't allow overwriting files during mv/cp
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/models/transfer.rb
Labels: component/dashboard

Add login_clusters to Configuration Singleton
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Use login_clusters in shell dropdown
  apps/dashboard/app/views/files/_shell.html.erb
Labels: component/dashboard

Create shell_links helper in Files app
  apps/dashboard/app/helpers/files_helper.rb
Labels: component/dashboard

Use shell links helper for Shell dropdown
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/views/files/_shell.html.erb
Labels: component/dashboard

simplify the ganglia css classes
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

use the lowest version of lightbox possible
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

remove superfluous comments
  apps/dashboard/app/assets/javascripts/files.js
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

remove transfers index action
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/views/transfers/index.html.erb
  apps/dashboard/app/views/transfers/index.js.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

remove superfluous comments
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/transfer.rb
Labels: component/dashboard

remove unused code from Files
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

update activejos manifest to be a part of the dashboard
  apps/activejobs/manifest.yml
Labels: component/activejobs

rm activejobs from rake:test task
  lib/tasks/test.rb
Labels: area/build

remove certian activejob steps from the RPM spec
  packaging/ondemand.spec
Labels: none

refactor switching to fluid container layout
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/files.html.erb
Labels: component/dashboard

copy over files from activejobs without modification
  apps/dashboard/app/assets/javascripts/active_jobs.js
  apps/dashboard/app/controllers/active_jobs_controller.rb
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/models/active_jobs/filter.rb
  apps/dashboard/app/models/active_jobs/jobs_json_request_handler.rb
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

initial updates to get activejobs to work in the dashboard
  apps/dashboard/app/assets/javascripts/active_jobs.js
  apps/dashboard/app/controllers/active_jobs_controller.rb
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/models/active_jobs/filter.rb
  apps/dashboard/app/models/active_jobs/jobs_json_request_handler.rb
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/activejobs.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

activejobs bootstrap 4 updates
  apps/dashboard/app/assets/javascripts/active_jobs.js
  apps/dashboard/app/assets/stylesheets/_buttons.scss
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

port tests from rspec
  apps/dashboard/test/fixtures/config/clusters.d/owens.yml
  apps/dashboard/test/helpers/active_jobs_helper_test.rb
Labels: component/dashboard

add if block in the activejobs routes to provide authorization to the app
  apps/dashboard/config/routes.rb
Labels: component/dashboard

update activejobs manifest to be a part of the dashboard
  apps/activejobs/manifest.yml
Labels: component/activejobs

rm activejobs from rake:test task
  lib/tasks/test.rb
Labels: area/build

remove certian activejob steps from the RPM spec
  packaging/ondemand.spec
Labels: none

load file-editor from files#edit action
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/app/assets/javascripts/editor.js
  apps/dashboard/app/assets/stylesheets/editor.scss
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/config/initializers/assets.rb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

fix content type for file editor save request
  apps/dashboard/app/assets/javascripts/editor.js
Labels: component/dashboard

Allow for configurable landing page widgets.
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/dashboard/_motd.html.erb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/app/views/dashboard/_widget_error.html.erb
  apps/dashboard/app/views/dashboard/_xdmod_widget_job_efficiency.html.erb
  apps/dashboard/app/views/dashboard/_xdmod_widget_jobs.html.erb
  apps/dashboard/app/views/dashboard/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

add test cases for configurable landing page
  apps/dashboard/config/application.rb
  apps/dashboard/test/fixtures/config/views/dashboard/_syntax_error.html.erb
  apps/dashboard/test/fixtures/config/views/dashboard/_test_partial.html.erb
  apps/dashboard/test/html_helper.rb
  apps/dashboard/test/integration/landing_page_test.rb
Labels: component/dashboard

Remove shell_links helper
  apps/dashboard/app/helpers/files_helper.rb
Labels: component/dashboard

Update shell partial to use login_clusters from config singleton
  apps/dashboard/app/views/files/_shell.html.erb
Labels: component/dashboard

filter login_clusters to not include hidden clusters
  apps/dashboard/app/helpers/application_helper.rb
Labels: component/dashboard

reset config/application to mainline and add fixture views in test_helper
  apps/dashboard/config/application.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
