Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

replace dropright with dropend
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
Labels: component/dashboard

replace dropright with dropend (#3601)
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
Labels: component/dashboard

Fixes to the session card header color after Bootstrap5 upgrade
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

Added saved settings widget (#3545)
  apps/dashboard/app/assets/stylesheets/batch_connect/saved_settings.scss
  apps/dashboard/app/helpers/batch_connect/settings_helper.rb
  apps/dashboard/app/models/batch_connect/settings.rb
  apps/dashboard/app/views/batch_connect/settings/_action_buttons.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/app/views/widgets/_saved_settings.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/fixtures/file_output/user_settings/saved_settings_widget.yml
  apps/dashboard/test/fixtures/file_output/user_settings/settings_helper.yml
  apps/dashboard/test/helpers/batch_connect/settings_helper_test.rb
  apps/dashboard/test/integration/saved_settings_controller_test.rb
  apps/dashboard/test/integration/saved_settings_widget_test.rb
Labels: component/dashboard

Fixes to the active sessions widget after the introduction of the Turbo Stream libraries (#3546)
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/views/widgets/_sessions.html.erb
Labels: component/dashboard

add splat operator to args
  apps/dashboard/app/apps/ood_app.rb
Labels: component/dashboard

Verify app is a ruby app before running setup-production script (#3573)
  apps/dashboard/app/apps/ood_app.rb
Labels: component/dashboard

'valid_percent' is now 'valid_percent?'
  apps/dashboard/app/helpers/system_status_helper.rb
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

Fix flash button after upgrade to Bootstrap 5 (#3592)
  apps/dashboard/app/javascript/products_show.js
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/app/views/files/_copy_move_popup.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/layouts/_browser_warning.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Degrade gracefully when scheduler is not Slurm (#3589)
  apps/dashboard/app/helpers/system_status_helper.rb
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

Fixed full page spinner for interactive sessions actions after Turbo Stream update
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/batch_connect_settings.js
  apps/dashboard/app/javascript/full_page_spinner.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/app/views/batch_connect/shared/_full_page_spinner.html.erb
  apps/dashboard/app/views/widgets/_saved_settings.html.erb
Labels: component/dashboard

Adds ability to filter modules w/ string or regex (#3574)
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/lib/smart_attributes/auto_modules_test.rb
Labels: component/dashboard

Replaces dropdown-menu-right with dropdown-menu-end (#3594)
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/test/integration/custom_help_navigation_test.rb
Labels: component/dashboard

Adds dynamic labels to form with data-label-* (#3598)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

correctly reset Capybara before these tests
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

correctly reset Capybara before these tests (#3607)
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

clear logs for remote files tests too
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/config/initializers/new_framework_defaults_7_0.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Improvements to the saved settings menu look and feel after Bootstrap5 upgrade
  apps/dashboard/app/assets/stylesheets/batch_connect/saved_settings.scss
Labels: component/dashboard

Updates changelog
  CHANGELOG.md
Labels: none

lint a random file (#3609)
  apps/dashboard/config/initializers/new_framework_defaults_7_0.rb
Labels: component/dashboard

update job table for bootstrap 5
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

Changelog Update (#3612)
  CHANGELOG.md
Labels: none

update job table for bootstrap 5 (#3613)
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

Improvements to the saved settings menu look and feel after Bootstrap5 upgrade (#3608)
  apps/dashboard/app/assets/stylesheets/batch_connect/saved_settings.scss
Labels: component/dashboard

Fixed full page spinner for interactive sessions actions after Turbo Stream update (#3606)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/batch_connect_settings.js
  apps/dashboard/app/javascript/full_page_spinner.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/app/views/batch_connect/shared/_full_page_spinner.html.erb
  apps/dashboard/app/views/widgets/_saved_settings.html.erb
Labels: component/dashboard

Fixes to the session card header color after Bootstrap5 upgrade (#3602)
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

Navbar logo and padding fixes after Bootstrp5 upgrade
  apps/dashboard/app/assets/stylesheets/application.scss
Labels: component/dashboard

Navbar logo and padding fixes after Bootstrp5 upgrade (#3615)
  apps/dashboard/app/assets/stylesheets/application.scss
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/motd_formatter/osc.rb
Labels: component/dashboard

Add return type comments
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
Labels: component/dashboard

lint a random file (#3617)
  apps/dashboard/app/models/motd_formatter/osc.rb
Labels: component/dashboard

Revise return type comments after review
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
Labels: component/dashboard

Remove analytics.lua
  mod_ood_proxy/lib/analytics.lua
Labels: component/mod_ood_proxy

lint a random file
  apps/myjobs/config/initializers/filter_parameter_logging.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

lint a random file (#3623)
  apps/myjobs/config/initializers/filter_parameter_logging.rb
Labels: component/jobcomposer

sanitize the job environment
  apps/myjobs/app/models/concerns/sanitized_env.rb
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/jobcomposer

sanitize the job environment
  apps/myjobs/app/models/concerns/sanitized_env.rb
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/jobcomposer
