Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Add missing method
  lib/tasks/build_utils.rb
Labels: area/build

Fix package source
  packaging/rpm/ondemand.spec
Labels: none

Simplify runtime dependency
  packaging/rpm/ondemand.spec
Labels: none

Make favorite paths support remote filesystems
  apps/dashboard/app/apps/favorite_path.rb
  apps/dashboard/app/apps/ood_files_app.rb
  apps/dashboard/app/views/files/_favorites.html.erb
Labels: component/dashboard

Use ood_packaging gem to build 2.0 packages (#2139)
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  lib/tasks/build_utils.rb
  lib/tasks/packaging.rb
  packaging/rpm/favicon.ico
  packaging/rpm/logo.png
  packaging/rpm/ondemand-selinux.fc
  packaging/rpm/ondemand-selinux.te
  packaging/rpm/ondemand.spec
Labels: area/build

Support Ubuntu 20.04 packages
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Rakefile
  lib/tasks/build_utils.rb
  packaging/deb/README.Debian
  packaging/deb/changelog
  packaging/deb/compat
  packaging/deb/conffiles
  packaging/deb/control
  packaging/deb/copyright
  packaging/deb/patches/series
  packaging/deb/postinst
  packaging/deb/postrm
  packaging/deb/prerm
  packaging/deb/rules
  packaging/deb/source/format
  packaging/deb/source/local-options
  packaging/deb/watch
  packaging/files/apache-systemd.ood-portal.conf.erb
  packaging/files/apache-systemd.ood.conf
  packaging/files/crontab
  packaging/files/enable.deb
  packaging/files/favicon.ico
  packaging/files/logo.png
  packaging/files/logrotate
  packaging/files/mime.types
  packaging/files/ondemand-nginx-tmpfiles
  packaging/files/sudo.erb
  packaging/rpm/ondemand.spec
  spec/e2e/00_package_spec.rb
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/ubuntu-20.04.yml
  spec/spec_helper_e2e.rb
Labels: area/build

Use 2.0 release package to bootstrap E2E tests
  spec/e2e/e2e_helper.rb
Labels: none

Use 2.1 release package to bootstrap E2E tests
  spec/e2e/e2e_helper.rb
Labels: none

Update ood_packaging dependency
  Gemfile
  Gemfile.lock
Labels: none

Use updated ondemand-nginx and ondemand-passenger versions
  packaging/deb/control
Labels: none

Need dotenv
  Gemfile
  Gemfile.lock
Labels: none

Ubuntu packaging improvements (#2142)
  Gemfile
  Gemfile.lock
  packaging/deb/control
  spec/e2e/e2e_helper.rb
Labels: none

Fix missing require
  lib/tasks/build_utils.rb
Labels: area/build

Add missing task
  lib/tasks/packaging.rb
Labels: area/build

Use DESTDIR for RPM package install
  packaging/rpm/ondemand.spec
Labels: none

Remove item not part of 2.0
  packaging/deb/rules
Labels: none

Backport Ubuntu support into ood-portal-generator
  ood-portal-generator/lib/ood_portal_generator.rb
  ood-portal-generator/lib/ood_portal_generator/application.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/update_ood_portal_spec.rb
Labels: component/ood_portal_generator

Backport htcacheclean restart removal
  ood-portal-generator/lib/ood_portal_generator/application.rb
  packaging/rpm/ondemand.spec
Labels: component/ood_portal_generator

Backport dependency
  packaging/rpm/ondemand.spec
Labels: none

Fix ood-portal-generator unit tests
  ood-portal-generator/spec/application_spec.rb
Labels: component/ood_portal_generator

Remove file not actually used
  packaging/files/mime.types
Labels: none

Remove mime.types file no longer installed by this repo
  packaging/files/mime.types
Labels: none

Ensure /opt/ood/ondemand/enable is loaded by Ubuntu packaged OnDemand
  ood-portal-generator/bin/generate
  ood-portal-generator/etc/profile
  ood-portal-generator/sbin/update_ood_portal
Labels: component/ood_portal_generator

Remove mime.types file no longer installed by this repo (#2143)
  packaging/files/mime.types
Labels: none

Also handle doc labels for release branches
  .github/workflows/document-merge.yml
Labels: none

Also handle doc labels for release branches
  .github/workflows/document-merge.yml
Labels: none

Bump ood_packaging dependency
  Gemfile
  Gemfile.lock
Labels: none

Run update_ood_portal during postinst to avoid changing config files during postinst that are also part of package
  packaging/deb/postinst
  packaging/deb/rules
Labels: none

Update beaker-docker dependency
  Gemfile
  Gemfile.lock
Labels: none

Do not install package or test gems
  ood-portal-generator/lib/ood_portal_generator/view.rb
  packaging/rpm/ondemand.spec
Labels: component/ood_portal_generator

Fix logic to avoid issues when re-running tests
  spec/e2e/e2e_helper.rb
Labels: none

Fix e2e repo logic to avoid issues when tests are re-run
  spec/e2e/e2e_helper.rb
Labels: none

Fix adding ood-portal.conf to sites-enabled
  packaging/deb/postinst
Labels: none

Support Ubuntu with nginx_stage
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/nginx_stage.gemspec
Labels: component/nginx_stage

Fix ood-portal-generator unit tests
  ood-portal-generator/spec/application_spec.rb
Labels: component/ood_portal_generator

Also handle doc labels for release branches (#2144)
  .github/workflows/document-merge.yml
Labels: none

Fix e2e repo logic to avoid issues when tests are re-run (#2145)
  spec/e2e/e2e_helper.rb
Labels: none

Ensure necessary python items installed for Ubuntu e2e tests
  spec/e2e/e2e_helper.rb
Labels: none

More fixes for ood-portal-generator unit tests
  ood-portal-generator/spec/update_ood_portal_spec.rb
Labels: component/ood_portal_generator

rnode location edits account for relative paths (#1934)
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
