Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

fix missing superclass issue
  apps/dashboard/app/apps/manifest.rb
Labels: component/dashboard

reset manifest
  apps/dashboard/app/apps/manifest.rb
Labels: component/dashboard

reset sprockets back to 3.7
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

enable a memory store cache and cache apps
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
Labels: component/dashboard

fix Manifest superclass issue (#1914)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

fix ERB errors in the dashboard (#1908)
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/broken/form.yml.erb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/broken/manifest.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/broken/submit.yml
  apps/dashboard/test/models/ood_app_group_test.rb
  apps/dashboard/test/system/products_dev_test.rb
Labels: component/dashboard

enable nonces on js and css assets (#1912)
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/config/initializers/content_security_policy.rb
Labels: component/dashboard

stop inlining style and instead use a bootstrap class (#1913)
  apps/dashboard/app/helpers/dashboard_helper.rb
Labels: component/dashboard

Revert "fix Manifest superclass issue (#1914)"
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Revert "fix Manifest superclass issue (#1914)" (#1917)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

subclass manifests within the class to avoid superclass mismatches
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

use in memory cache in production too
  apps/dashboard/config/environments/production.rb
Labels: component/dashboard

add nonces to inline js and change this elements tag
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/widgets/_xdmod_widget_job_efficiency.html.erb
  apps/dashboard/app/views/widgets/_xdmod_widget_jobs.html.erb
Labels: component/dashboard

proxy_server when creating frame-ancestors header
  ood-portal-generator/lib/ood_portal_generator/view.rb
Labels: component/ood_portal_generator

Adding ability to edit manifest.yml for title and description fields and added basic model tests.
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/_form_manifest.html.erb
  apps/dashboard/app/views/projects/edit.html.erb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Adjusting edit test for project name
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

add nonces to inline js and change this elements tag (#1919)
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/widgets/_xdmod_widget_job_efficiency.html.erb
  apps/dashboard/app/views/widgets/_xdmod_widget_jobs.html.erb
Labels: component/dashboard

add support for reading modules and dynamic string configs
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/fixtures/modules/simple.json
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

subclass manifests within the class to avoid superclass mismatches (#1918)
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

add comment
  apps/dashboard/app/models/hpc_module.rb
Labels: component/dashboard

add test for string comparison
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

remove == and eql? methods
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

Delegating manifest attributes to manifest class, meaningful naming added, and adjusted projects test until manifest.ttile is figured out.
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/_form_manifest.html.erb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

add support for reading modules and dynamic string configs (#1925)
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/fixtures/modules/simple.json
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#1927)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

enumerate over activemodel#errors as an array, not hash
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/preset_apps_navbar_test.rb
  apps/dashboard/test/system/preset_apps_pinned_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Fixing controllere logic, using Manifest.rb for manifest object, and updated views.
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_project_edit_form.html.erb
  apps/dashboard/app/views/projects/edit.html.erb
Labels: component/dashboard

removed redundant make_manifest method, introduced first try at error handling for project#save
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Removing commented out code.
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Removing <br> and using bootstrap pb-3 instead.
  apps/dashboard/app/views/projects/edit.html.erb
Labels: component/dashboard

Removing methods that are delegated to manifest and adjusting permitted params to fix manifest name.
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_project_edit_form.html.erb
  apps/dashboard/app/views/projects/edit.html.erb
Labels: component/dashboard

Fixing spelling error in error messaging.
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Fixing failing projects models tests.
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Troubleshooting failing integration test.
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

Fixing variable name in dataroot#dataroot.
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

Adjusting regex to start at beginning of line and adjusting wording of message.
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Adding ActiveModel::Validations and fixing create controller to validate parameters.
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Fixing create action to check validation before saving.
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard
