Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

add checks in initialize, some validations and a test
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/test/models/launcher_test.rb
Labels: component/dashboard

Fix large remote file uploads (#3739)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/javascript/files/uppy_ops.js
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/app/models/remote_transfer.rb
Labels: component/dashboard

handle fixed attributes in model
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/launchers/show.html.erb
Labels: component/dashboard

fix formatting
  apps/dashboard/app/models/launcher.rb
Labels: component/dashboard

Hide fixed attributes (#3745)
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/launchers/show.html.erb
Labels: component/dashboard

find chrome version and automatically dl the right driver (#3726)
  lib/tasks/test.rb
Labels: area/build

update to use rails 7 defaults (#3734)
  apps/dashboard/config/application.rb
Labels: component/dashboard

update myjobs to use rails 7.0 defaults (#3735)
  apps/myjobs/config/application.rb
Labels: component/jobcomposer

cast to HpcJob so it has cluster
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

allow auto_job_name to be fixed
  apps/dashboard/app/lib/smart_attributes/attributes/auto_job_name.rb
Labels: component/dashboard

add a TODO note here
  apps/dashboard/app/lib/smart_attributes/attributes/auto_job_name.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/controllers/concerns/batch_connect_concern_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

lint a random file (#3751)
  apps/dashboard/test/controllers/concerns/batch_connect_concern_test.rb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add the param to the controller allowlist
  apps/dashboard/app/controllers/launchers_controller.rb
Labels: component/dashboard

account for more than just \w for usernames
  ood_auth_map/lib/ood_auth_map/helpers.rb
Labels: component/ood_auth_map

escape this .
  ood_auth_map/lib/ood_auth_map/helpers.rb
Labels: component/ood_auth_map

Update Changelog (#3752)
  CHANGELOG.md
Labels: none

fix test
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

add minitest to nginx_stage and refactor one test suite
  lib/tasks/test.rb
  nginx_stage/Rakefile
  nginx_stage/nginx_stage.gemspec
  nginx_stage/spec/user_spec.rb
  nginx_stage/test/test_helper.rb
  nginx_stage/test/user_test.rb
Labels: component/nginx_stage, area/build

rm unused comments
  nginx_stage/test/test_helper.rb
Labels: component/nginx_stage

refactor how jobs are logged in the project manager (#3740)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/concerns/job_logger.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

allow arguments to submit function
  apps/dashboard/app/lib/smart_attributes/attributes/auto_cores.rb
Labels: component/dashboard

update a test
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Auto cores (#3727)
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_cores.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

small fixups for job details panel (#3744)
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

update the update workflow
  .github/workflows/update.yml
Labels: none

dont requery for completed jobs
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

separate sections for completed and active jobs
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

render completed jobs on first page load
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
  apps/dashboard/app/views/projects/_job_details_content.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

rm _inline_js.html.erb and mv functionality to pure js
  apps/dashboard/app/javascript/files/index.js
  apps/dashboard/app/javascript/files/page_load.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/_page_load_config.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

add a newline here
  apps/dashboard/app/javascript/files/index.js
Labels: component/dashboard

rm this newline
  apps/dashboard/app/javascript/files/page_load.js
Labels: component/dashboard

rm unused alert
  apps/dashboard/app/views/files/_page_load_config.html.erb
Labels: component/dashboard

fix this typo
  apps/dashboard/app/views/files/_page_load_config.html.erb
Labels: component/dashboard

Add support for interactive app form description
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/test/fixtures/apps/bc_with_subapps/form.yml
  apps/dashboard/test/fixtures/apps/bc_with_subapps/local/owens.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

Add markdown widget for interactive app forms
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/app/models/batch_connect/session_context.rb
  apps/dashboard/app/models/batch_connect/settings.rb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
Labels: component/dashboard

update the update workflow (#3757)
  .github/workflows/update.yml
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell
