Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

lint a random file (#4556)
  apps/myjobs/config/initializers/silence_eager_load_warnings.rb
Labels: component/jobcomposer

add loop for resource widgets
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

Update Changelog (#4557)
  CHANGELOG.md
Labels: none

define values in hash
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

add styling
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/helpers/app_helper.rb
Labels: component/dashboard

add unix option to editor
  apps/dashboard/app/javascript/editor.js
Labels: component/dashboard

move lang setting to nginx_stage
  apps/dashboard/config/initializers/encoding.rb
  apps/dashboard/config/locales/en.yml
  nginx_stage/lib/nginx_stage.rb
Labels: component/dashboard, component/nginx_stage

Revert "move lang setting to nginx_stage"
  apps/dashboard/config/initializers/encoding.rb
  apps/dashboard/config/locales/en.yml
  nginx_stage/lib/nginx_stage.rb
Labels: component/dashboard, component/nginx_stage

move lang setting to nginx stage
  apps/dashboard/config/initializers/encoding.rb
  apps/dashboard/config/locales/en.yml
  nginx_stage/lib/nginx_stage.rb
Labels: component/dashboard, component/nginx_stage

add gpu panel to job stats
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

Add packaging instructions for module browser
  packaging/rpm/ondemand.spec
Labels: none

intialized model files
  apps/dashboard/test/models/active_jobs/filter_test.rb
  apps/dashboard/test/models/active_jobs/jobs_json_request_handler_test.rb
  apps/dashboard/test/models/active_jobs/jobstatusdata_test.rb
Labels: component/dashboard

test JobsJsonRequestHandler
  apps/dashboard/test/models/active_jobs/jobs_json_request_handler_test.rb
Labels: component/dashboard

basic unit tests with shared helper
  apps/dashboard/test/models/active_jobs/active_jobs_test_helper.rb
  apps/dashboard/test/models/active_jobs/jobs_json_request_handler_test.rb
  apps/dashboard/test/models/active_jobs/jobstatusdata_test.rb
Labels: component/dashboard

alias OodCore::Job::Status instead of dummy
  apps/dashboard/test/models/active_jobs/active_jobs_test_helper.rb
  apps/dashboard/test/models/active_jobs/jobs_json_request_handler_test.rb
Labels: component/dashboard

alias Node and Job info from OodCore::Job
  apps/dashboard/test/models/active_jobs/active_jobs_test_helper.rb
  apps/dashboard/test/models/active_jobs/jobs_json_request_handler_test.rb
Labels: component/dashboard

Finish Jobstatusdata tests
  apps/dashboard/test/models/active_jobs/active_jobs_test_helper.rb
  apps/dashboard/test/models/active_jobs/jobstatusdata_test.rb
Labels: component/dashboard

remove empty filter test
  apps/dashboard/test/models/active_jobs/filter_test.rb
Labels: component/dashboard

use stubs for OODClusters behavior
  apps/dashboard/test/models/active_jobs/jobstatusdata_test.rb
Labels: component/dashboard

clean up and lint
  apps/dashboard/test/models/active_jobs/jobstatusdata_test.rb
Labels: component/dashboard

add tests for missing or unneeded bc cache cluster entries
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Updated as per review comments and tested again
  apps/dashboard/app/helpers/workflows_helper.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

Updated helper to model, error handling and camel case
  apps/dashboard/app/helpers/workflows_helper.rb
  apps/dashboard/app/models/dag.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

Added skeleton for the launcher workflow class
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

add no jobs case
  apps/dashboard/test/models/active_jobs/jobs_json_request_handler_test.rb
Labels: component/dashboard

Update support_ticket_service_now_service_test.rb
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
Labels: component/dashboard

Updated as per review comments
  apps/dashboard/app/models/dag.rb
  apps/dashboard/app/views/workflows/show.html.erb
Labels: component/dashboard

Update support_ticket_service_now_service_test.rb
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
Labels: component/dashboard

Fixed
  apps/dashboard/app/controllers/workflows_controller.rb
Labels: component/dashboard

test back-button functionality in files
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

test back-button functionality in files (#4574)
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Backend for workflow class with minimalist UI (#4505)
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/dag.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

loop grafana panels
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

remove borders saved settings
  apps/dashboard/app/views/batch_connect/shared/_saved_settings_menu.html.erb
Labels: component/dashboard

basic test
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

apply bug fixes
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard
