Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Do not automate build of Ubuntu 24.04 aarch64
  .gitlab-ci.yml
Labels: none

Do not automate build of Ubuntu 24.04 aarch64 (#3689)
  .gitlab-ci.yml
Labels: none

Add container package
  .github/workflows/tests.yml
  Dockerfile
  packaging/container/Dockerfile
  packaging/container/launch-ood
  packaging/container/ood_portal.yml
Labels: none

Do not automate build of Ubuntu 24.04 aarch64 - release 3.1
  .gitlab-ci.yml
Labels: none

compile exifr source as well
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

update this comment a bit
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

Do not automate build of Ubuntu 24.04 aarch64 - release 3.1 (#3692)
  .gitlab-ci.yml
Labels: none

Provide URI for icons instead of requiring the user to provide them. (#3682)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/javascript/icon_picker.js
  apps/dashboard/app/models/concerns/icon_with_uri.rb
  apps/dashboard/app/models/product.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/products/_form_icon.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

just supply zipname and have rails format it
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

remove unnecessary 'return'
  apps/dashboard/app/helpers/projects_helper.rb
Labels: component/dashboard

fixup some js dependencies
  apps/dashboard/app/javascript/application.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

exit 1 if build fails
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

pm respond to README (#3678)
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

we do need jquery-ujs but not regular uppy
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/javascript/application.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

remove data-confirm-modal as well
  apps/dashboard/app/javascript/application.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

turn job status into clickable badge
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

Update Changelog (#3696)
  CHANGELOG.md
Labels: none

turn dashboard.js into a module
  apps/dashboard/app/javascript/dashboard.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/dashboard/index.html.erb
Labels: component/dashboard

uses File.read here instead of open
  apps/dashboard/app/models/quota.rb
Labels: component/dashboard

add cards with job data
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

toggle on uri scheme to support https quota files
  apps/dashboard/app/models/quota.rb
  apps/dashboard/test/models/quota_test.rb
Labels: component/dashboard

minor changes to current layout
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

use a shared class to read uris for both these classes
  apps/dashboard/app/models/balance.rb
  apps/dashboard/app/models/concerns/uri_reader.rb
  apps/dashboard/app/models/quota.rb
  apps/dashboard/test/models/balance_test.rb
Labels: component/dashboard

attempt to update ruby libs
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

lock public_suffix
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

lock capybara for ruby 2.7
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

rm pbs gem
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

reorganize this dependency
  apps/dashboard/Gemfile
Labels: component/dashboard

move mocha to test group
  apps/dashboard/Gemfile
Labels: component/dashboard

lock public_suffix
  apps/myjobs/Gemfile
Labels: component/jobcomposer

better pm job state management
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

move job search to function
  apps/dashboard/app/models/launcher.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/announcements_test.rb
Labels: component/dashboard

lint a random file (#3703)
  apps/dashboard/test/models/announcements_test.rb
Labels: component/dashboard

markdown_erb needs to sanitize html too (#3675)
  apps/dashboard/app/models/motd_formatter/base_formatter.rb
  apps/dashboard/app/models/motd_formatter/markdown.rb
  apps/dashboard/app/models/motd_formatter/markdown_erb.rb
  apps/dashboard/test/fixtures/files/motd_md_erb_w_html
  apps/dashboard/test/models/motd_formatter/motd_formatter_markdown_erb_test.rb
Labels: component/dashboard

turn dashboard.js into a module (#3698)
  apps/dashboard/app/javascript/dashboard.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/dashboard/index.html.erb
Labels: component/dashboard

use job_details_params
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

update ood_core
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
