Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

RPMs to create ondemand.d directory and add a spec test for the same (#4796)
  packaging/rpm/ondemand.spec
  spec/e2e/00_package_spec.rb
Labels: none

Cache maintanence (#4799)
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.default
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/fixtures/output/custom_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_location_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_vhost_directives.conf
  ood-portal-generator/spec/fixtures/output/http_redirect_host.conf
  ood-portal-generator/spec/fixtures/output/no_logs.conf
  ood-portal-generator/spec/fixtures/output/piped_logs.conf
  ood-portal-generator/spec/fixtures/output/register-defaults.conf
  ood-portal-generator/spec/fixtures/output/register-scriptalias.conf
  ood-portal-generator/spec/fixtures/output/register-wsgiscriptalias.conf
  ood-portal-generator/spec/fixtures/sum.default
  ood-portal-generator/templates/no-auth.conf.erb
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

should be i18n-tasks not tools
  .github/workflows/localizations.yml
Labels: none

only use time limit if it is positive
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

remove localizations from resolution
  apps/dashboard/app/lib/smart_attributes/attributes/bc_vnc_resolution.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

cast time_limit to_i
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

Add help to resolution fields (#4765)
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_vnc_resolution.rb
Labels: component/dashboard

Allow special characters in auto_accounts by adding data-alias (#4673)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_select.html.erb
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts.txt
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_oakley.txt
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Support el10
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  packaging/rpm/ondemand.spec
Labels: none

should be i18n-tasks not tools (#4801)
  .github/workflows/localizations.yml
Labels: none

move workflows into same col as launchers (#4769)
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/workflows/_workflow.html.erb
Labels: component/dashboard

Fix el10 and amazon 2023 builds
  packaging/rpm/ondemand.spec
Labels: none

accept remove-unused so it can progress
  .github/workflows/localizations.yml
Labels: none

accept remove-unused so it can progress (#4805)
  .github/workflows/localizations.yml
Labels: none

should be openai_api_key
  .github/workflows/localizations.yml
Labels: none

should be openai_api_key (#4806)
  .github/workflows/localizations.yml
Labels: none

update localizations
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/fr-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

add 4.0.8 and 3.1.16 to changelog
  CHANGELOG.md
Labels: none

fix typo
  CHANGELOG.md
Labels: none

fix this other typo too.
  CHANGELOG.md
Labels: none

add 4.0.8 and 3.1.16 to changelog (#4808)
  CHANGELOG.md
Labels: none

Remove quiet to see why this fails
  packaging/rpm/ondemand.spec
Labels: none

Try using autosetup to see if that resolves the build errors
  packaging/rpm/ondemand.spec
Labels: none

Override _fixperms
  packaging/rpm/ondemand.spec
Labels: none

Upgrade sqlite3 gem to be able to build on EL10
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

dont run remove-unused
  .github/workflows/localizations.yml
Labels: none

Force system sqlite3 usage
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: none

dont run remove-unused (#4810)
  .github/workflows/localizations.yml
Labels: none

update localizations
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/fr-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

use OODAlertError directly
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/javascript/files/sweet_alert.js
Labels: component/dashboard

make imports a partial
  apps/dashboard/app/views/projects/_import.html.erb
Labels: component/dashboard

Add strip_proxy header/cookie directives to ood-portal-generator to mitigate proxy authentication leaks
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/strip_proxy_cookies_directives.yml
  ood-portal-generator/spec/fixtures/input/strip_proxy_headers_directives.yml
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/output/strip_proxy_cookies_directives.conf
  ood-portal-generator/spec/fixtures/output/strip_proxy_headers_directives.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

HTCondor Adapater also supports account info.
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

Add missing el10 nodesets
  spec/e2e/nodesets/el10-aarch64.yml
  spec/e2e/nodesets/el10.yml
Labels: none

Revert "make imports a partial"
  apps/dashboard/app/views/projects/import.html.erb
Labels: component/dashboard

Force el9 platform for el10 e2e tests to avoid gap in beaker-docker
  spec/e2e/nodesets/el10-aarch64.yml
  spec/e2e/nodesets/el10.yml
Labels: none

initial import modal
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/files/_spinner.html.erb
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

Update to newer beaker-docker that should hopefully work on el10
  Gemfile
  Gemfile.lock
Labels: none

Avoid dnf modules for now on el10
  spec/e2e/e2e_helper.rb
Labels: none

use OODAlertError here too
  apps/dashboard/app/javascript/files/clip_board.js
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
