Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Start walking back changes
  Rakefile
  packaging/deb/rules
Labels: none

Need more bundle exec in bin/setup files
  apps/dashboard/bin/setup
  apps/myjobs/bin/setup
Labels: component/dashboard, component/jobcomposer

Downgrade dalli gem to support Ruby 2.5
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Try and build with python2.7
  packaging/deb/control
Labels: none

Run unit tests against Ruby 2.5.1 which is what Ubuntu 18.04 can install
  .github/workflows/tests.yml
Labels: none

Downgrade capybara and selenium-webdriver to support Ruby 2.5
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Downgrade net-ssh for tests to support Ruby 2.5
  Gemfile
  Gemfile.lock
Labels: none

See if removing psych fixes issues
  .github/workflows/tests.yml
Labels: none

Downgrade minitest to support Ruby 2.5
  Gemfile
  Gemfile.lock
Labels: none

DEBUG
  .github/workflows/tests.yml
Labels: none

Set GEM_HOME and PATH for deb SCL
  packaging/files/enable.deb
Labels: none

See if updating to match myjobs fixes issue
  .github/workflows/tests.yml
Labels: none

Forgot to add Ubuntu 18.04 nodeset
  spec/e2e/nodesets/ubuntu-18.04.yml
Labels: none

Dump Apache service status if fails to restart
  spec/e2e/e2e_helper.rb
Labels: none

Avoid newer dotenv
  nginx_stage/nginx_stage.gemspec
Labels: component/nginx_stage

Update ood_packaging gem to support Ubuntu 18.04 builds
  Gemfile
  Gemfile.lock
Labels: none

Also build ubuntu 18.04 packages during tags
  .gitlab-ci.yml
Labels: none

Run e2e tests for Ubuntu 18.04
  .github/workflows/tests.yml
Labels: none

Need to define codename
  spec/e2e/e2e_helper.rb
Labels: none

Long standing bug with lua-posix on Ubuntu 18.04
  packaging/deb/postinst
Labels: none

Add debug for failures
  .github/workflows/tests.yml
  spec/e2e/e2e_helper.rb
  spec/spec_helper_e2e.rb
Labels: none

OIDCStateMaxNumberOfCookies is not support by mod_auth_openidc on Ubuntu 18.04
  ood-portal-generator/lib/ood_portal_generator.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Write bc session script db files with 600 permission (#2111)
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

remove html_safe where nessecary
  apps/dashboard/app/views/dashboard/_motd_markdown.html.erb
  apps/dashboard/app/views/dashboard/_motd_rss.html.erb
  apps/dashboard/app/views/products/_form_git.html.erb
  apps/dashboard/app/views/products/_form_reset_git.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/show.html.erb
Labels: component/dashboard

remove https from default CSP, as we really just want self
  apps/dashboard/config/initializers/content_security_policy.rb
Labels: component/dashboard

Support Dex behind Apache reverse proxy Fixes #2174
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/dex.yaml.proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-proxy
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

this , causes a syntax error
  apps/dashboard/config/initializers/content_security_policy.rb
Labels: component/dashboard

Add e2e tests for Dex proxied behind Apache
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  spec/e2e/browser_spec.rb
  spec/e2e/dex_proxy_spec.rb
  spec/e2e/proxy_spec.rb
  spec/e2e/pun_pre_hook_spec.rb
Labels: component/ood_portal_generator

Helps to add file
  spec/fixtures/config/ood_portal/portal_dex_proxy.yml
Labels: none

Need iproute2 on Ubuntu in order to check listening ports
  spec/e2e/nodesets/ubuntu-20.04.yml
  spec/e2e/nodesets/ubuntu-22.04.yml
Labels: none

Update ood_core to support Ruby 2.5
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Remove GEM_HOME from PUN to retain old behavior with app development
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage

Support Ubuntu 18.04 for OnDemand 2.0 (#2160)
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  Rakefile
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/bin/setup
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/myjobs/bin/setup
  nginx_stage/nginx_stage.gemspec
  ood-portal-generator/lib/ood_portal_generator.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/templates/ood-portal.conf.erb
  packaging/deb/control
  packaging/deb/postinst
  packaging/deb/rules
  packaging/files/enable.deb
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/ubuntu-18.04.yml
  spec/spec_helper_e2e.rb
Labels: component/dashboard, component/jobcomposer, component/nginx_stage, component/ood_portal_generator

Ensure minimal environment with nginx_stage (#2157)
  nginx_stage/lib/nginx_stage.rb
  nginx_stage/lib/nginx_stage/generators/app_config_generator.rb
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
  nginx_stage/lib/nginx_stage/generators/nginx_process_generator.rb
  nginx_stage/lib/nginx_stage/generators/pun_config_generator.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/templates/pun.conf.erb
  spec/e2e/e2e_helper.rb
Labels: component/nginx_stage

Remove GEM_HOME from PUN to retain old behavior with app development
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage

Revert "Remove GEM_HOME from PUN to retain old behavior with app development"
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage

Added support for profile based custom CSS files
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/custom_css_files_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

Put GEM_HOME back Preserve PYTHON and LANG
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage

Put GEM_HOME back Preserve PYTHON and LANG
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage

Preserve PYTHON and LANG in nginx_stage PUN environment (#2179)
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
