Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

encrypt password fields in saved settings too
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/controllers/batch_connect/settings_controller.rb
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

lint a random file (#4330)
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

remove this test as it only tests have the flow
  apps/dashboard/test/integration/saved_settings_controller_test.rb
Labels: component/dashboard

fix this test and add a helper for creating apps
  apps/dashboard/test/integration/saved_settings_controller_test.rb
  apps/dashboard/test/models/concerns/user_setting_store_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

rm this file again
  apps/dashboard/test/integration/saved_settings_controller_test.rb
Labels: component/dashboard

Use ood_packaging 0.17.1
  Gemfile
  Gemfile.lock
Labels: none

minimal e2e workflow
  .github/workflows/changelog.yml
  .github/workflows/document-merge.yml
  .github/workflows/issue-lifecycle.yml
  .github/workflows/lint.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/update.yml
  spec/e2e/nodesets/amzn2023-aarch64.yml
  spec/e2e/nodesets/amzn2023.yml
  spec/e2e/nodesets/debian-12-aarch64.yml
  spec/e2e/nodesets/debian-12.yml
  spec/e2e/nodesets/default.yml
  spec/e2e/nodesets/el8-aarch64.yml
  spec/e2e/nodesets/el9-aarch64.yml
  spec/e2e/nodesets/el9.yml
  spec/e2e/nodesets/ubuntu-20.04-aarch64.yml
  spec/e2e/nodesets/ubuntu-20.04.yml
  spec/e2e/nodesets/ubuntu-22.04-aarch64.yml
  spec/e2e/nodesets/ubuntu-22.04.yml
  spec/e2e/nodesets/ubuntu-24.04-aarch64.yml
  spec/e2e/nodesets/ubuntu-24.04.yml
Labels: none

Refactor version table
  apps/dashboard/app/assets/stylesheets/module_browser.scss
  apps/dashboard/app/views/module_browser/_module.html.erb
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/app/views/module_browser/_version_cluster_table.html.erb
  apps/dashboard/app/views/module_browser/_versions_table.html.erb
Labels: component/dashboard

Use ood_packaging 0.17.1 (#4331)
  Gemfile
  Gemfile.lock
Labels: none

add a system test for saved settings and a test for this
  apps/dashboard/test/system/batch_connect_widgets_test.rb
  apps/dashboard/test/system/saved_settings_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Scaffold lmod browser (#4319)
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/module_browser.scss
  apps/dashboard/app/controllers/module_browser_controller.rb
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/app/views/module_browser/_versions_table.html.erb
  apps/dashboard/app/views/module_browser/index.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

move Dockerfile to Dockerfile.example (#4328)
  Dockerfile
  Dockerfile.example
  docker/launch-ood
  docker/ood_portal.yml
Labels: none

Implement search and filter by cluster
  apps/dashboard/app/javascript/module_browser.js
  apps/dashboard/app/views/module_browser/_toolbar.html.erb
  apps/dashboard/app/views/module_browser/index.html.erb
Labels: component/dashboard

Wrap filtering logic to ensure DOM is ready
  apps/dashboard/app/javascript/module_browser.js
Labels: component/dashboard

Implement search and filter by cluster
  apps/dashboard/app/javascript/module_browser.js
  apps/dashboard/app/views/module_browser/_toolbar.html.erb
  apps/dashboard/app/views/module_browser/index.html.erb
Labels: component/dashboard

Add data fields to module cards
  apps/dashboard/app/views/module_browser/_module_list.html.erb
Labels: component/dashboard

lint a random file
  apps/myjobs/db/migrate/20160401162942_rename_script_path_column_to_script_name.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

lint a random file (#4335)
  apps/myjobs/db/migrate/20160401162942_rename_script_path_column_to_script_name.rb
Labels: component/jobcomposer

update dependencies (#4337)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update Changelog (#4336)
  CHANGELOG.md
Labels: none

raise an error under certain conditions.
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/application_spec.rb
Labels: component/ood_portal_generator

update manifest usage.
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

raise an error under certain conditions. (#4339)
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/application_spec.rb
Labels: component/ood_portal_generator

Remove unused line.
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

update e2e dependencies
  Gemfile.lock
Labels: none

update nodesets
  spec/e2e/nodesets/amzn2023-aarch64.yml
  spec/e2e/nodesets/amzn2023.yml
  spec/e2e/nodesets/el8-aarch64.yml
  spec/e2e/nodesets/el8.yml
  spec/e2e/nodesets/el9-aarch64.yml
  spec/e2e/nodesets/el9.yml
  spec/e2e/nodesets/ubuntu-20.04-aarch64.yml
  spec/e2e/nodesets/ubuntu-20.04.yml
Labels: none

Feature/3999 zip template from project (#4097)
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

use ruby 3.3 in e2e tests
  .github/workflows/tests.yml
Labels: none

use result.stdout
  spec/e2e/browser_spec.rb
  spec/e2e/dex_no_proxy_spec.rb
  spec/e2e/nginx_stage_spec.rb
Labels: none

update these tests after upgrade
  spec/e2e/browser_spec.rb
  spec/e2e/dex_no_proxy_spec.rb
  spec/e2e/nginx_stage_spec.rb
Labels: none

Refactor from jQuery to pure JS
  apps/dashboard/app/javascript/module_browser.js
Labels: component/dashboard

Use latest passenger/nginx
  packaging/deb/control
  packaging/rpm/ondemand.spec
Labels: none

Use latest passenger/nginx
  packaging/deb/control
  packaging/rpm/ondemand.spec
Labels: none

Use latest passenger/nginx (#4342)
  packaging/deb/control
  packaging/rpm/ondemand.spec
Labels: none

Parse module description
  apps/dashboard/app/models/hpc_module.rb
Labels: component/dashboard

Use latest passenger/nginx (release_3.1)
  packaging/deb/control
  packaging/rpm/ondemand.spec
Labels: none
