Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#3245)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update Changelog (#3244)
  CHANGELOG.md
Labels: none

add testcase for bug
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

correctly set the last visited for files
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

Fixes to SettingsController after CurrentUser settings refactoring
  apps/dashboard/app/controllers/settings_controller.rb
  apps/dashboard/test/integration/settings_controller_test.rb
Labels: component/dashboard

get rid of //
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

Fixes to SettingsController after CurrentUser settings refactoring (#3248)
  apps/dashboard/app/controllers/settings_controller.rb
  apps/dashboard/test/integration/settings_controller_test.rb
Labels: component/dashboard

fix cache key for path selector (#3247)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

lint a random file (#3243)
  apps/myjobs/app/models/workflow_file.rb
Labels: component/jobcomposer

Display errors in projects show page when fetching job information
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/javascript/projects.js
Labels: component/dashboard

lint a random file
  apps/myjobs/config/environments/development.rb
Labels: component/jobcomposer

lint a random file (#3250)
  apps/myjobs/config/environments/development.rb
Labels: component/jobcomposer

Display errors in projects show page when fetching job information (#3249)
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/javascript/projects.js
Labels: component/dashboard

WIP - reads auto_environment_variable values to_yaml correctly
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_key_value_pair.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Allows multiple environment variables
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Fixes failing specs
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

ensure stable browser being used
  apps/dashboard/test/application_system_test_case.rb
Labels: component/dashboard

add a favicon for dev & test environments
  apps/dashboard/app/assets/images/favicon.ico
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

fix file tests
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

fix remote files test
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/quota.rb
Labels: component/dashboard

fix the CI for new chrome version (#3256)
  apps/dashboard/app/assets/images/favicon.ico
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

bc apps rsync with safer args (#3239)
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

Improvements to automatic profile selection
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

Improved check for empty clusters in script validation
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

Added cluster validation to projects.show page to disable script actions
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/script_test.rb
Labels: component/dashboard

Added cluster validation to projects.show page to disable script actions (#3257)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/script_test.rb
Labels: component/dashboard

only test the first 5 so we dont have to update these all the time (#3237)
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

update dependencies (#3261)
  apps/dashboard/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

helper function for method logic for readability and organization
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_session_time.html.erb
Labels: component/dashboard

lint a random file
  apps/myjobs/db/migrate/20160414202656_drop_table_templates.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Added render_completed_view
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

Adding the option to have a custom completed.{md, html}.erb to show up only when the job is completed (e.g. to show a download link with an output file from the job)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

lint a random file (#3265)
  apps/myjobs/db/migrate/20160414202656_drop_table_templates.rb
Labels: component/jobcomposer

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
