Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Check if handle_upload returns a Transfer (#3838)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

correct node_proxy.lua
  mod_ood_proxy/lib/node_proxy.lua
Labels: component/mod_ood_proxy

add support for defining global form attributes
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/global_attribute.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

rename this api
  apps/dashboard/app/lib/smart_attributes/attributes/global_attribute.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

add tests for this feature
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Update Changelog (#3837)
  CHANGELOG.md
Labels: none

allow empty directories to be downloaded
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

fix this test and specify exitstatus for this erorr message
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

Fixed flaky models/Project test
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Improved XDMoD job analytics padding
  apps/dashboard/app/assets/stylesheets/xdmod.scss
Labels: component/dashboard

Moved all XDMoD analytics code into xdmod/jobs.js file
  apps/dashboard/app/assets/stylesheets/xdmod.scss
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/javascript/xdmod.js
  apps/dashboard/app/javascript/xdmod/jobs.js
Labels: component/dashboard

Added XDMoD analytics metrics to jobs widget
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/xdmod.scss
  apps/dashboard/app/javascript/xdmod.js
  apps/dashboard/app/javascript/xdmod/jobs.js
  apps/dashboard/app/views/widgets/_xdmod_widget_jobs.html.erb
Labels: component/dashboard

CSS improvement for job analytic metrics badges
  apps/dashboard/app/assets/stylesheets/xdmod.scss
Labels: component/dashboard

Updated XDMoD analytics rendering to remove nested tables
  apps/dashboard/app/assets/stylesheets/xdmod.scss
  apps/dashboard/app/javascript/xdmod.js
  apps/dashboard/app/javascript/xdmod/jobs.js
Labels: component/dashboard

Fixed XDMoD Javascript login methods and error handling
  apps/dashboard/app/javascript/xdmod.js
Labels: component/dashboard

restructure default_script_value
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
Labels: component/dashboard

Update node_proxy.lua - Fix for interactive apps not working (#3791)
  mod_ood_proxy/lib/node_proxy.lua
Labels: component/mod_ood_proxy

reset node_proxy.lua back to original
  mod_ood_proxy/lib/node_proxy.lua
Labels: component/mod_ood_proxy

Launcher save fixed attributes (#3784)
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_slots.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/test/lib/smart_attributes/auto_scripts_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

allow empty directories to be downloaded (#3841)
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

disable last remove button in erb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard

lint a random file (#3843)
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

enable and disable remove button on last element
  apps/dashboard/app/javascript/launcher_edit.js
Labels: component/dashboard

Revert "disable last remove button in erb"
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard

Revert "Revert "disable last remove button in erb""
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard

disable last option when unfixing attribute
  apps/dashboard/app/javascript/launcher_edit.js
Labels: component/dashboard

add buttons to the top and bottom of job info
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/views/projects/_job_details_content.html.erb
  apps/dashboard/app/views/projects/buttons/_bottom_buttons.html.erb
  apps/dashboard/app/views/projects/buttons/_queued_buttons.html.erb
  apps/dashboard/app/views/projects/buttons/_running_buttons.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/motd_formatter/motd_formatter_plaintext_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Removed the extra rows added for XDMoD job analytics to improve accessibility
  apps/dashboard/app/assets/stylesheets/xdmod.scss
  apps/dashboard/app/javascript/xdmod/jobs.js
Labels: component/dashboard

Removed redundant job analytics method
  apps/dashboard/app/javascript/xdmod.js
Labels: component/dashboard

Fixed Javascript format for XDMoD job analytics
  apps/dashboard/app/javascript/xdmod/jobs.js
Labels: component/dashboard

lint a random file (#3847)
  apps/dashboard/test/models/motd_formatter/motd_formatter_plaintext_test.rb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update node_proxy.lua - Fix for interactive apps not working (#3791)
  mod_ood_proxy/lib/node_proxy.lua
Labels: component/mod_ood_proxy

Check if handle_upload returns a Transfer (#3838)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Add e2e proxy tests for query parameters. (#3827)
  spec/e2e/proxy_spec.rb
  spec/fixtures/extras/simple_origin_server.py
Labels: none

Update Changelog (#3848)
  CHANGELOG.md
Labels: none

fix test ci (#3832)
  .github/workflows/tests.yml
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard
