Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Changed launcher-item to launcher-box to isolate ourselves from scss of projects
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/javascript/workflows.js
Labels: component/dashboard

Changed top/left style to transfrom for smooth transitions
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/javascript/workflows.js
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

update dependencies (#4654)
  apps/dashboard/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add special character account tests
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts.txt
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_oakley.txt
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/motd_formatter/motd_formatter_plaintext_test.rb
Labels: component/dashboard

Added support to integrate thirdparty apps with the OOD Files browser
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/javascript/alert.js
  apps/dashboard/app/javascript/files/index.js
  apps/dashboard/app/javascript/files/send_to_target.js
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/files/_send_to_target_button.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

lint a random file (#4655)
  apps/dashboard/test/models/motd_formatter/motd_formatter_plaintext_test.rb
Labels: component/dashboard

Update Changelog (#4653)
  CHANGELOG.md
Labels: none

Refactored alerts for files app
  apps/dashboard/app/javascript/alert.js
  apps/dashboard/app/javascript/batch_connect/bc_notifications.js
  apps/dashboard/app/javascript/files/send_to_target.js
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/turbo_shim.js
Labels: component/dashboard

Improvements to the send to target messaging
  apps/dashboard/app/javascript/files/send_to_target.js
Labels: component/dashboard

change location that gets redirected to
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Fix ActiveJobs error reporting (#4578)
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/views/active_jobs/_extended_data_table.html.erb
  apps/dashboard/app/views/active_jobs/_extended_layout.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
Labels: component/dashboard

use Pathname#basename
  apps/myjobs/app/models/workflow_file.rb
Labels: component/jobcomposer

Show files under hidden directories in job composer (#4547)
  apps/myjobs/app/models/workflow.rb
  apps/myjobs/app/models/workflow_file.rb
  apps/myjobs/test/models/workflow_file_test.rb
Labels: component/jobcomposer

Update delete app panel to use Bootstrap 5
  apps/dashboard/app/views/products/show.html.erb
Labels: component/dashboard

Added support for transaction token between external app and OOD
  apps/dashboard/app/javascript/files/send_to_target.js
  apps/dashboard/app/views/files/_send_to_target_button.html.erb
Labels: component/dashboard

fixed configuration test
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

pretest data-alias feature
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Updated UI for workflows
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/javascript/dag.js
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Incorporate feedback from @treydock
  packaging/rpm/ondemand-selinux.te
Labels: none

move file download max to int_configs
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Update delete app panel to use Bootstrap 5 (#4661)
  apps/dashboard/app/views/products/show.html.erb
Labels: component/dashboard

remove unused wait time constant
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

fix ? method for int and string cfgs
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

update constants to capital snake case
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

correct DetailsHeaders to capital snake case
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

Fix word break in MAIN_BODY_SELECT
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

Added system test
  apps/dashboard/app/views/files/_send_to_target_button.html.erb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Improved send to target default messaging
  apps/dashboard/app/views/files/_send_to_target_button.html.erb
Labels: component/dashboard

Automatically update localizations
  .github/workflows/localizations.yml
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

update action dependencies
  .github/workflows/localizations.yml
  apps/dashboard/Gemfile
Labels: component/dashboard

fix gemfile
  apps/dashboard/Gemfile
Labels: component/dashboard

added file download limits (#4535)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Make sure translations aren't just a copy of en.yml
  apps/dashboard/config/i18n-tasks.yml.erb
Labels: component/dashboard

System tests for ActiveJobs (#4583)
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

Add github action to codespell master on push and PRs
  .github/workflows/codespell.yml
Labels: none

Add rudimentary codespell config
  .codespellrc
Labels: none
