Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

migrate dashboard coffeescript to plain js in webpack
  apps/dashboard/app/assets/javascripts/dashboard.js.coffee
  apps/dashboard/app/javascript/packs/dashboard.js
Labels: component/dashboard

For new File Navigator, the Field & Button displaying properly along with the onclick alert message when you click the button
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_file_navigator.html.erb
Labels: component/dashboard

Add jobid to detail view link.
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

Add jobid to detail view link. (#1766)
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

Adding systems tests for products.
  apps/dashboard/test/system/products_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Removing screenshot method.
  apps/dashboard/test/system/products_test.rb
Labels: component/dashboard

Implemented feature enable/disable
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Breaking tests into :dev and :usr types.
  apps/dashboard/test/system/products_dev_test.rb
  apps/dashboard/test/system/products_usr_test.rb
Labels: component/dashboard

Removing duplication and tring to fix unit test error.
  apps/dashboard/test/system/products_usr_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Adding path of usr/me when no user given to fix unit test.
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Adjusting to fix failing unit tests.
  apps/dashboard/test/system/products_usr_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Adding helper method for button links to make systems tests easier to maintain.
  apps/dashboard/test/system/products_dev_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Renaming helper method with ruby idiom since boolean returned.
  apps/dashboard/test/system/products_dev_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Adding systems tests for products. (#1767)
  apps/dashboard/test/system/products_dev_test.rb
  apps/dashboard/test/system/products_usr_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#1769)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update Changelog (#1768)
  CHANGELOG.md
Labels: none

correctly initialize the shell app with the right profile
  apps/shell/public/javascripts/ood_shell.2.js
Labels: component/shell

use dataroot and ensure its safe to use & traverse
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

use dataroot and ensure its safe to use & traverse (#1771)
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

Update configuration_singleton.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Added file_navigator to unit tests
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
Labels: component/dashboard

Added file_navigator to unit tests
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/javascript/packs/dashboard.js
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/views/jobs/projects/_form.html.erb
  apps/dashboard/app/views/jobs/projects/create.html.erb
  apps/dashboard/app/views/jobs/projects/destroy.html.erb
  apps/dashboard/app/views/jobs/projects/edit.html.erb
  apps/dashboard/app/views/jobs/projects/index.html.erb
  apps/dashboard/app/views/jobs/projects/new.html.erb
  apps/dashboard/app/views/jobs/projects/show.html.erb
  apps/dashboard/app/views/jobs/projects/submit.html.erb
  apps/dashboard/app/views/jobs/projects/update.html.erb
  apps/dashboard/test/fixtures/jobs/projects/.keep
  apps/dashboard/test/integration/jobs_controller_test.rb
  apps/dashboard/test/system/products_dev_test.rb
  apps/dashboard/test/system/products_usr_test.rb
Labels: component/dashboard

Update booleans.yml
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
Labels: component/dashboard

Update booleans.yml
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
Labels: component/dashboard

Update session_contexts_helper.rb
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

Feature/file picker (#1765)
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_file_navigator.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
Labels: component/dashboard

decouple this test case from the fixture file
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

have to actually use the right env
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

validate the redir on stop requests
  mod_ood_proxy/lib/nginx.lua
Labels: component/mod_ood_proxy

switched, remove commit."
  apps/dashboard/app/models/jobs/project.rb
Labels: component/dashboard

Fix boolean test (#1774)
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

correctly initialize the shell app with the right profile (#1772)
  apps/shell/public/javascripts/ood_shell.2.js
Labels: component/shell

migrate dashboard coffeescript to plain js in webpack (#1764)
  apps/dashboard/app/assets/javascripts/dashboard.js.coffee
  apps/dashboard/app/javascript/packs/dashboard.js
Labels: component/dashboard

Make the batch connect session delete duration configurable.
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
