Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

make type data accessible
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
Labels: component/dashboard

Render markdown properly in popups (#4888)
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
Labels: component/dashboard

Add 'Remove' button to shared projects (#4855)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

disable shared settings when appropriate
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/projects_new.js
  apps/dashboard/app/views/layouts/_config.html.erb
Labels: component/dashboard

disable shared settings when appropriate (#4890)
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/projects_new.js
  apps/dashboard/app/views/layouts/_config.html.erb
Labels: component/dashboard

result of running rake update manually (#4884)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

lint a random file
  apps/dashboard/app/helpers/batch_connect/settings_helper.rb
Labels: component/dashboard

lint a random file (#4891)
  apps/dashboard/app/helpers/batch_connect/settings_helper.rb
Labels: component/dashboard

internatinalize file types
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

lint a random file
  apps/myjobs/app/models/manifest.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

update localizations
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/fr-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update localizations (#4896)
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/fr-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

lint a random file (#4894)
  apps/myjobs/app/models/manifest.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

Update Changelog (#4895)
  CHANGELOG.md
Labels: none

Add SSL reverse proxy paths (#3179) (#4839)
  mod_ood_proxy/lib/ood/proxy.lua
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.conf.ssl-proxy
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/spec/fixtures/ood_portal.yaml.ssl-proxy
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/fixtures/output/custom_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_location_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_vhost_directives.conf
  ood-portal-generator/spec/fixtures/output/http_redirect_host.conf
  ood-portal-generator/spec/fixtures/output/no_logs.conf
  ood-portal-generator/spec/fixtures/output/piped_logs.conf
  ood-portal-generator/spec/fixtures/output/register-defaults.conf
  ood-portal-generator/spec/fixtures/output/register-scriptalias.conf
  ood-portal-generator/spec/fixtures/output/register-wsgiscriptalias.conf
  ood-portal-generator/spec/fixtures/output/strip_proxy_headers_directives.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/mod_ood_proxy, component/ood_portal_generator

simplify locale keys
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

better localizable file error messages
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

rm unused debug line
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

lock turbo rails below 8
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

lock `@hotwired/turbo-rails` below 8 (#4900)
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

only validate existance on a few actions
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

fix editor overflows
  apps/dashboard/app/assets/stylesheets/editor.scss
  apps/dashboard/app/views/files/edit.html.erb
Labels: component/dashboard

better localizable file error messages (#4899)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Fix file editor control bar overflow (#4903)
  apps/dashboard/app/assets/stylesheets/editor.scss
  apps/dashboard/app/views/files/edit.html.erb
Labels: component/dashboard

Update files table in Projects (#4877)
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update localizations
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/fr-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Change reset button into reload and clear
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

lint a random file
  apps/myjobs/config/environments/test.rb
Labels: component/jobcomposer

Added logic for temporary directory for workflows
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update localizations (#4905)
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/fr-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

Update Changelog (#4904)
  CHANGELOG.md
Labels: none

rm preview status from PM
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: component/dashboard

correct test for new behaviour
  spec/e2e/00_package_spec.rb
Labels: none

update changelog
  CHANGELOG.md
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
