Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

bump ood_core to latest version (#4536)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

update ood_core for the 3.1.x series (#4539)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

add detectable wrapper to radio buttons
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

style fix
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

Update workflows (#4499)
  .github/workflows/changelog.yml
  .github/workflows/document-merge.yml
  .github/workflows/issue-lifecycle.yml
  .github/workflows/lint.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  .github/workflows/update.yml
Labels: none

fix pr-labeler.yml (#4500)
  .github/workflows/pr-labeler.yml
Labels: none

Update workflows (#4499)
  .github/workflows/changelog.yml
  .github/workflows/document-merge.yml
  .github/workflows/issue-lifecycle.yml
  .github/workflows/lint.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  .github/workflows/update.yml
Labels: none

fix pr-labeler.yml (#4500)
  .github/workflows/pr-labeler.yml
Labels: none

Remove show_notification_toggle local from breadcrumb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
Labels: component/dashboard

Implement notifications for interactive sessions view (#4405)
  apps/dashboard/app/assets/stylesheets/breadcrumb.scss
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/javascript/aria_live_notify.js
  apps/dashboard/app/javascript/batch_connect/bc_notifications.js
  apps/dashboard/app/javascript/batch_connect_session_contexts.js
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
  apps/dashboard/app/views/batch_connect/shared/_breadcrumb.html.erb
Labels: component/dashboard

Add parentheses to function call
  apps/dashboard/test/models/motd_formatter/motd_formatter_markdown_erb_test.rb
Labels: component/dashboard

refactored existing data hide tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

added data hide tests for different widgets
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

change under_dotfile? to is_dotfile?
  apps/myjobs/app/models/workflow.rb
  apps/myjobs/app/models/workflow_file.rb
  apps/myjobs/test/models/workflow_file_test.rb
Labels: component/jobcomposer

correct syntax error
  apps/myjobs/test/models/workflow_file_test.rb
Labels: component/jobcomposer

fix typo
  apps/dashboard/test/models/motd_formatter/motd_formatter_markdown_erb_test.rb
Labels: component/dashboard

Update Changelog (#4543)
  CHANGELOG.md
Labels: none

correct formatting
  apps/dashboard/app/views/widgets/_recently_used_apps.html.erb
Labels: component/dashboard

Disable compression level 0 as it breaks the clipboard
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

remove style changes
  apps/dashboard/app/assets/stylesheets/_variables.scss
  apps/dashboard/app/assets/stylesheets/pinned_apps.scss
Labels: component/dashboard

correct whitespace
  apps/dashboard/app/views/widgets/_recently_used_apps.html.erb
Labels: component/dashboard

set LANG variable from locale
  apps/dashboard/config/initializers/encoding.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

test the ci
  README.md
Labels: none

Disable compression level 0 as it breaks the clipboard (#4550)
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

refactored motd_formatter tests (#4497)
  apps/dashboard/test/fixtures/files/motd_valid_html
  apps/dashboard/test/models/motd_formatter/motd_formatter_markdown_erb_test.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_markdown_test.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_osc_test.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_plaintext_erb_test.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_plaintext_test.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_rss_test.rb
Labels: component/dashboard

add gpus to session card
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/apps/support_ticket_rt_service.rb
Labels: component/dashboard

lint a random file (#4548)
  apps/dashboard/app/apps/support_ticket_rt_service.rb
Labels: component/dashboard

remove partition from sacctmgr
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts.txt
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_alt.txt
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/project_manager_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

add gpus to session card (#4553)
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

separate accounts by cluster
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts.txt
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_alt.txt
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_alt_oakley.txt
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_alt_owens.txt
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_oakley.txt
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_owens.txt
  apps/dashboard/test/system/project_manager_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Updated as per review comments and tested again
  apps/dashboard/app/helpers/workflows_helper.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

Updated helper to model, error handling and camel case
  apps/dashboard/app/helpers/workflows_helper.rb
  apps/dashboard/app/models/dag.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

Added skeleton for the launcher workflow class
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/config/initializers/silence_eager_load_warnings.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
