Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

hardcode regex in controller
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

remove edit_regex from params
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

use css ellipsis
  apps/dashboard/app/assets/stylesheets/projects.scss
Labels: component/dashboard

add semi
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

remove regex variable
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
Labels: component/dashboard

use helper method as filter
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
Labels: component/dashboard

Reset projects/show
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

reset files_controller
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Fix formatting in files_controller.rb
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

reset files_controller
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

reset files_controller
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/allowlist_policy_test.rb
Labels: component/dashboard

fetch bc apps from routers that have them cached
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

lint a random file (#4766)
  apps/dashboard/test/models/allowlist_policy_test.rb
Labels: component/dashboard

enhanced register options (#4763)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/register-defaults.yml
  ood-portal-generator/spec/fixtures/input/register-scriptalias.yml
  ood-portal-generator/spec/fixtures/input/register-wsgiscriptalias.yml
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/spec/fixtures/output/register-defaults.conf
  ood-portal-generator/spec/fixtures/output/register-scriptalias.conf
  ood-portal-generator/spec/fixtures/output/register-wsgiscriptalias.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

fix tests with new scheme to get apps from routers
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

Get default values before attaching form handlers
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Remove debug log
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

move all logic to helper method
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
Labels: component/dashboard

fix this test with new scheme
  apps/dashboard/test/models/batch_connect/settings_test.rb
Labels: component/dashboard

reset show
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

move workflows into same col as launchers
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/workflows/_workflow.html.erb
Labels: component/dashboard

Taken care of review comments
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/javascript/workflows.js
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/batch_connect/session_context.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Minor improvements
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

lint a random file (#4770)
  apps/dashboard/app/models/batch_connect/session_context.rb
Labels: component/dashboard

update dependencies (#4772)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add progress/error reporting in the workflow UI
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Added support to create new workflow from existing workflow
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/javascript/workflow_new.js
  apps/dashboard/app/views/workflows/_form.html.erb
  apps/dashboard/app/views/workflows/_workflow.html.erb
  apps/dashboard/app/views/workflows/edit.html.erb
  apps/dashboard/app/views/workflows/new.html.erb
Labels: component/dashboard

Minor fixes and copied manifest file internally
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/javascript/workflow_new.js
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/_form.html.erb
Labels: component/dashboard

Minor fix that missed in last commit
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

Fixed workflows_test
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

Fixed the workflow test
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

reload launchers for invalid form
  apps/dashboard/app/controllers/workflows_controller.rb
Labels: component/dashboard

add error reporting to launcher select
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/_form.html.erb
Labels: component/dashboard

Update Changelog (#4771)
  CHANGELOG.md
Labels: none

correct outline and padding
  apps/dashboard/app/views/workflows/_form.html.erb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
