Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Added heartbeat function (#3135)
  apps/shell/app.js
Labels: component/shell

Lint a random file (#3134)
  apps/dashboard/app/models/remote_file.rb
Labels: component/dashboard

#selected api not working here anymore?
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

change style/display after de-selecting
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Set .clickable items to underline on hover
  apps/dashboard/app/assets/stylesheets/common.scss
Labels: component/dashboard

Set .clickable items to underline on hover (#3138)
  apps/dashboard/app/assets/stylesheets/common.scss
Labels: component/dashboard

correctly set auto_modules' label
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/lib/smart_attributes/auto_modules_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/dev_product.rb
Labels: component/dashboard

add config toggle for upload and download buttons
  apps/dashboard/app/views/files/_download_upload.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Adds loading icon to path selector UI on table refresh
  apps/dashboard/app/assets/stylesheets/common.scss
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Removes lastVisted reset, which was a development tool
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

simple refactor of shell's ping/pong
  apps/shell/app.js
Labels: component/shell

add method to return prefill_templates values.
  apps/dashboard/app/models/concerns/user_setting_store.rb
Labels: component/dashboard

add UserSettingStore module, adjust set_prefill_templates to use module call
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
Labels: component/dashboard

adjust logic to simply check if key exists to render
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
Labels: component/dashboard

Hides table on table refresh; uses bootstrap spinner instead of fa
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Ensure table is still navigatable if there's an error on refresh
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

Removes development cruft
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

Removes #loading-icon css specification, adds classes to center loading spinner
  apps/dashboard/app/assets/stylesheets/common.scss
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

refactor id method with partials
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_id.html.erb
Labels: component/dashboard

Adds style to increase size of loading spinner on table refresh
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Update Changelog (#3143)
  CHANGELOG.md
Labels: none

lint a random file (#3141)
  apps/dashboard/app/models/dev_product.rb
Labels: component/dashboard

Removes spinner-grow class & adds .5-rem class
  apps/dashboard/app/assets/stylesheets/common.scss
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Fixes css selector class
  apps/dashboard/app/assets/stylesheets/common.scss
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

refactor id method with partials
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

add usersettingstore method to update settings
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
Labels: component/dashboard

refactor id method with partials
  apps/dashboard/app/views/batch_connect/sessions/card/_id.html.erb
Labels: component/dashboard

fix misspelling of prefill_templates
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

Adds loading icon to path selector UI on table refresh (#3144)
  apps/dashboard/app/assets/stylesheets/common.scss
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Adds warning when a forbidden file/directory is selected in the path selector
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Refactors reloadTable() method
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

refactor id method with partials (#3148)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_id.html.erb
Labels: component/dashboard

Fixes method reference; localizes path selector forbidden error message
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Fixes typo
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

use the real path as the cache key
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

some small fixups after linting
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard
