Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

fully featured min/max
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add comment for lookup
  apps/dashboard/app/javascript/packs/batchConnect.js
Labels: component/dashboard

wrong logic in putting new values
  apps/dashboard/app/javascript/packs/batchConnect.js
Labels: component/dashboard

add logo and imgs
  debian/rules
Labels: none

now postinst is right
  debian/control
  debian/postinst
  debian/rules
Labels: none

fix comment
  apps/dashboard/app/javascript/packs/batchConnect.js
Labels: component/dashboard

add a few more test cases
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add min/max javascript functionality (#1441)
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add a handler to set values for other elements
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
Labels: component/dashboard

fix sethandler and add a test
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Feature/javascript set values (#1449)
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add test case for this bug
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

change the value of the element
  apps/dashboard/app/javascript/packs/batchConnect.js
Labels: component/dashboard

use correct variable name
  apps/dashboard/app/javascript/packs/batchConnect.js
Labels: component/dashboard

Bugfix/js set value (#1450)
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add tests for updating hidden fields
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

support setting 2 fields based off of one field
  apps/dashboard/app/javascript/packs/batchConnect.js
Labels: component/dashboard

add tests for hidden field updates
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

fix env variable for bc_dynamic_js
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Js update hidden fields (#1452)
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

fix env variable for bc_dynamic_js (#1453)
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

rescue in getfacl permissions and enable the sharing in the dev container
  apps/dashboard/app/models/permission.rb
  docker/dev-entrypoint.sh
Labels: component/dashboard

correctly write dev's ood_portal.yml
  lib/tasks/development.rb
Labels: area/build

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

fix changelog update
  CHANGELOG.md
Labels: none

Update Changelog (#1459)
  CHANGELOG.md
Labels: none

update dependencies (#1460)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

rescue in getfacl permissions and enable the sharing in the dev container (#1461)
  apps/dashboard/app/models/permission.rb
  docker/dev-entrypoint.sh
Labels: component/dashboard

correctly write dev's ood_portal.yml (#1462)
  lib/tasks/development.rb
Labels: area/build

Attempting to clean up commits and rebase.
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/lib/smart_attributes/attribute.rb
  apps/dashboard/test/fixtures/sys_with_interactive_apps/broken_app/form.yml
  apps/dashboard/test/fixtures/sys_with_interactive_apps/broken_app/manifest.yml
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

Adding broken options.
  apps/dashboard/test/fixtures/sys_with_interactive_apps/broken_app/form.yml
Labels: component/dashboard

Adjusting validate logic.
  apps/dashboard/lib/smart_attributes/attribute.rb
  apps/dashboard/test/fixtures/sys_with_interactive_apps/broken_app/form.yml
Labels: component/dashboard

Removing commented code.
  apps/dashboard/lib/smart_attributes/attribute.rb
Labels: component/dashboard

Preventing need to deal with nil return values.
  apps/dashboard/lib/smart_attributes/attribute.rb
Labels: component/dashboard

Updating unit tests for broken_app.
  apps/dashboard/test/integration/apps_test.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/router_test.rb
Labels: component/dashboard

Disable shallow clone depth for Gitlab pipelines
  .gitlab-ci.yml
Labels: none

Disable shallow clone depth for Gitlab pipelines (#1464)
  .gitlab-ci.yml
Labels: none

initialize k8s adapters
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/initializers/k8s.rb
Labels: component/dashboard

better error message
  apps/dashboard/config/initializers/k8s.rb
Labels: component/dashboard
