Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Adding index.html fixture to mock for controller tests.
  apps/dashboard/test/fixtures/sys/myjobs/projects/index.html
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

add a test case
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_paraview/submit.yml.erb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

Setting base path for tests.
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/test/fixtures/sys/myjobs/projects/index.html
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

Fixing path.
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

fix 1593
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
Labels: component/dashboard

Trying to stub the path still.
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

update dependencies (#1672)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Fixing base_path for model and tests.
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

More base_path stubbing work.
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

Bugfix/clamp (#1671)
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

fix 1593 (#1673)
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
Labels: component/dashboard

write the submit yml when there are yml errors (#1636)
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_paraview/submit.yml.erb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

backport many javascript bug fixes
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/template/.keep
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Fixed back button take to products page
  apps/dashboard/app/views/products/new_from_git_remote.html.erb
Labels: component/dashboard

Removed unnecessary parameter
  apps/dashboard/app/views/products/new_from_git_remote.html.erb
Labels: component/dashboard

Adding .keep file.
  apps/dashboard/test/fixtures/jobs/projects/.keep
Labels: component/dashboard

Fix backbutton issue on new app page (#1675)
  apps/dashboard/app/views/products/new_from_git_remote.html.erb
Labels: component/dashboard

Initial scaffolding for new jobs app alpha. (#1615)
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/views/jobs/projects/_form.html.erb
  apps/dashboard/app/views/jobs/projects/create.html.erb
  apps/dashboard/app/views/jobs/projects/destroy.html.erb
  apps/dashboard/app/views/jobs/projects/edit.html.erb
  apps/dashboard/app/views/jobs/projects/index.html.erb
  apps/dashboard/app/views/jobs/projects/new.html.erb
  apps/dashboard/app/views/jobs/projects/show.html.erb
  apps/dashboard/app/views/jobs/projects/submit.html.erb
  apps/dashboard/app/views/jobs/projects/update.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/fixtures/jobs/projects/.keep
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

Backport js fixes (#1674)
  CHANGELOG.md
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/template/.keep
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

options with hyphens still dont work right
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

options with hyphens still dont work right (#1676)
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

backport 1676 to 2.0 release
  CHANGELOG.md
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

backport 1676 to 2.0 release (#1677)
  CHANGELOG.md
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Test RC release of ood_packaging
  Gemfile
  Gemfile.lock
Labels: none

Test using another RC release
  Gemfile
  Gemfile.lock
Labels: none

Bump ood_packaging to latest RC Do not include ood_packaging gem into packaged gems
  Gemfile
  Gemfile.lock
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: none

allow for additonal capabilites in the dev container
  DEVELOPMENT.md
  lib/tasks/development.rb
Labels: area/build

simplify additional_caps
  lib/tasks/development.rb
Labels: area/build

Use latest RC to testing
  Gemfile
  Gemfile.lock
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update to stable release of ood_packaging gem, also rename gem group to package
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: none

fix changelog
  CHANGELOG.md
Labels: none

add support for privileged containers
  DEVELOPMENT.md
  lib/tasks/development.rb
Labels: area/build

Update Changelog (#1684)
  CHANGELOG.md
Labels: none

migrate session_contexts.coffee to plain js
  apps/dashboard/app/assets/javascripts/batch_connect/session_contexts.coffee
  apps/dashboard/app/assets/javascripts/batch_connect/sessions.coffee
  apps/dashboard/app/javascript/packs/batch_connect_sessions.js
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
Labels: component/dashboard

add a newline
  apps/dashboard/app/javascript/packs/batch_connect_sessions.js
Labels: component/dashboard

use the hosts id
  spec/e2e/e2e_helper.rb
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
