Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

check for content-dispostion in responses
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

clean up activejobs table
  apps/dashboard/app/javascript/active_jobs.js
Labels: component/dashboard

update activejobs tests with new selectors
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

add div.transfers-status back
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

fix dt-paging selector
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

Standardize date format in CHANGELOG.md
  CHANGELOG.md
Labels: none

check for content-dispostion in responses (#5066)
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

correct next/prev pager selectors
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

use proper character in pager selects
  apps/dashboard/test/system/active_jobs_test.rb
Labels: component/dashboard

update path selector table layout
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

lint a random file
  apps/myjobs/config/initializers/new_framework_defaults_7_1.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

undo internationalization
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/page_load.js
  apps/dashboard/app/views/files/_page_load_config.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

add focus-within to hover behavior
  apps/dashboard/app/assets/stylesheets/pinned_apps.scss
Labels: component/dashboard

Added logic for orthogonal edges
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/javascript/edge.js
  apps/dashboard/app/javascript/workflows.js
Labels: component/dashboard

preserve focus when turbo frames refresh
  apps/dashboard/app/javascript/popovers.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

remove extra file
  apps/dashboard/app/javascript/popovers.js
Labels: component/dashboard

Reduced edges.js with lesser comments
  apps/dashboard/app/javascript/edge.js
Labels: component/dashboard

Update CONTRIBUTING.md (#5048)
  CONTRIBUTING.md
Labels: none

Update ACCESSIBILITY.md (#5047)
  ACCESSIBILITY.md
Labels: none

lint a random file
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

Reduce toggle wait to 0.3 and localize to module browser tests
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/module_browser_test.rb
Labels: component/dashboard

replace TOGGLE_WAIT with assert selectors
  apps/dashboard/test/system/module_browser_test.rb
Labels: component/dashboard

Test cases for module browser (#5032)
  apps/dashboard/test/system/module_browser_test.rb
Labels: component/dashboard

replace sleeps with assert_selectors
  apps/dashboard/test/system/toggle_behavior_test.rb
Labels: component/dashboard

Update assert_selectors
  apps/dashboard/test/system/toggle_behavior_test.rb
Labels: component/dashboard

Edit assert_selectors
  apps/dashboard/test/system/toggle_behavior_test.rb
Labels: component/dashboard

Remove assertion for collapsing state in workflow toggle test
  apps/dashboard/test/system/toggle_behavior_test.rb
Labels: component/dashboard

Add debug output in toggle behavior test
  apps/dashboard/test/system/toggle_behavior_test.rb
Labels: component/dashboard

Clean up toggle_behavior_test by removing debug output
  apps/dashboard/test/system/toggle_behavior_test.rb
Labels: component/dashboard

Added missing _makeHandle function
  apps/dashboard/app/javascript/edge.js
Labels: component/dashboard

Added limit on number of input/output ports
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/balance_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Fix toggle behavior test for workflow list visibility
  apps/dashboard/test/system/toggle_behavior_test.rb
Labels: component/dashboard

Add debug output for workflow list class in tests
  apps/dashboard/test/system/toggle_behavior_test.rb
Labels: component/dashboard

add more workflow test debugs
  apps/dashboard/test/system/toggle_behavior_test.rb
Labels: component/dashboard

Update workflow tests
  apps/dashboard/test/system/toggle_behavior_test.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
