Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Improved form fixed field UI for new Job Composer scripts (#3159)
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_select.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

use the real path as the cache key (#3152)
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

add preview mode to heading (#3172)
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

add preview header to script#show as well (#3178)
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

fix mount point docs (#3170)
  DEVELOPMENT.md
Labels: none

simple refactor of shell's ping/pong (#3146)
  apps/shell/app.js
Labels: component/shell

3032 support favorites in path selector (#3173)
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/path_selector/path_selector.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_favorites.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

lint a random file (#3183)
  apps/dashboard/test/integration/dashboard_layout_test.rb
Labels: component/dashboard

add test cases for hiding through checkboxes
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

update dependencies (#3185)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

change the style of accessing this property
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Added default_profile setting to allow admins to select the default profile for users
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

Added default_profile setting to allow admins to select the default profile for users (#3200)
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

some small fixups for path selector
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_favorites.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

ensure staged_root has is writable by the user
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

use FileUtils for 3.0 and below compatability
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

some small fixups for path selector (#3201)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_favorites.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

lint a random file (#3203)
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

ensure staged_root has is writable by the user (#3202)
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

use a simpler word like positive instead of affirmative.
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

add the ability for data-hide- directives on checkboxes (#3199)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

support for dynamic checkboxes (#3181)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Makes 'ssh_allow' an optional manifest.yml key
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/ood_app_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Uses form config for ssh_allow instead of manifest
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

Fixes logic
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

lint a random file (#3207)
  apps/dashboard/test/models/ood_app_test.rb
Labels: component/dashboard

fix changelog
  CHANGELOG.md
Labels: none

Update Changelog (#3208)
  CHANGELOG.md
Labels: none

update dependencies (#3209)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Fixes failing specs
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

update scripts when copying from templates
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

Refactors ssh_to_compute_node? method
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

Fixes method name calls
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

Fixes integration test
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

working version of icon_picker
  apps/dashboard/app/javascript/icon_picker.js
Labels: component/dashboard

refactor host method with partials
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_host.html.erb
Labels: component/dashboard
