Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Implemented refactored show Owner/Perms/Dotfiles
  apps/dashboard/app/javascript/packs/files/datatable.js
Labels: component/dashboard

Implemented refactored show Owner/Perms/Dotfiles (#1884)
  apps/dashboard/app/javascript/packs/files/datatable.js
Labels: component/dashboard

WIP, just committing to show
  lib/tasks/release.rb
Labels: area/build

Fixed ToolTip issue
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/index.js
  apps/dashboard/app/javascript/packs/files/uppy.js
  apps/dashboard/app/views/files/_inline_js.html.erb
Labels: component/dashboard

this works well
  lib/tasks/release.rb
Labels: area/build

rm unused comment
  lib/tasks/release.rb
Labels: area/build

remove the testing -1 to release
  lib/tasks/release.rb
Labels: area/build

add a CITATION.cff for the citation links
  CITATION.cff
  README.md
Labels: none

add an action to release archives to zenodo
  .github/workflows/release.yml
  .zenodo.json
Labels: none

add a CITATION.cff for the citation links (#1887)
  CITATION.cff
  README.md
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

update dependencies (#1893)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

ensure navbar has default colors
  apps/dashboard/app/javascript/packs/config.js
Labels: component/dashboard

rm newline
  apps/dashboard/app/javascript/packs/config.js
Labels: component/dashboard

copy paste errors
  apps/dashboard/app/javascript/packs/config.js
Labels: component/dashboard

wrong defaults
  apps/dashboard/app/javascript/packs/config.js
Labels: component/dashboard

Update Changelog (#1892)
  CHANGELOG.md
Labels: none

ensure navbar has default colors (#1895)
  apps/dashboard/app/javascript/packs/config.js
Labels: component/dashboard

use doi and update version
  .github/workflows/release.yml
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

bugfix versions for rails
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

upgrade to rails 5.2.6.3
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

upgrade to rails 5.2.6.3 (#1898)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

bugfix versions for rails (#1897)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

add an action to release archives to zenodo (#1888)
  .github/workflows/release.yml
  .zenodo.json
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add broken test fixture
  apps/dashboard/test/fixtures/sys_with_gateway_apps/broken/form.yml.erb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/broken/manifest.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/broken/submit.yml
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

Update Changelog (#1906)
  CHANGELOG.md
Labels: none

catch exceptions, namely syntax errors
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

update test case
  apps/dashboard/test/system/products_dev_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#1911)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

enable nonces on js and css assets
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/config/initializers/content_security_policy.rb
Labels: component/dashboard

add newline
  apps/dashboard/test/fixtures/sys_with_gateway_apps/broken/form.yml.erb
Labels: component/dashboard

stop inlining style and instead use a bootstrap class
  apps/dashboard/app/helpers/dashboard_helper.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
