Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

missed semicolon
  apps/dashboard/app/assets/stylesheets/projects.scss
Labels: component/dashboard

refactor project.rb (#4864)
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

Added clone button for workflows (#4857)
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/_workflow.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

chore: address maintainer feedback on AI assistant PR
  COMMIT_SUMMARY.md
  DOCKER_SETUP.md
  PR_DESCRIPTION.md
  PULL_REQUEST.md
  apps/dashboard/app/controllers/assistant_controller.rb
Labels: component/dashboard

copy attributes to cloned launcher
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/launchers/new.html.erb
Labels: component/dashboard

remove extraneous @launchers var in new action
  apps/dashboard/app/controllers/launchers_controller.rb
Labels: component/dashboard

change attr_accessor back to reader
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/launchers/new.html.erb
Labels: component/dashboard

Revert "block password_fields from app popup"
  apps/dashboard/app/helpers/app_helper.rb
Labels: component/dashboard

filter out passwords inside attribute class
  apps/dashboard/app/lib/smart_attributes/attribute.rb
Labels: component/dashboard

Add clone button to launchers (#4858)
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/launchers/new.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Remove project zip functionality (#4876)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

fix files table
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

use accordion function
  apps/dashboard/app/views/projects/_job_details_content.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

move toHumanSize to utils and use for project dir
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
Labels: component/dashboard

fix merge issues
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/transfer_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update localizations
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/fr-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Add rootCA (#4871)
  ood-portal-generator/share/ood_portal_example.yml
Labels: component/ood_portal_generator

update localizations (#4880)
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/fr-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

lint a random file (#4878)
  apps/dashboard/test/models/transfer_test.rb
Labels: component/dashboard

Fix breakpoints on Projects show page (#4829)
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/views/projects/_job_details.html.erb
  apps/dashboard/app/views/projects/_job_details_content.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

ensure job popup covers files table
  apps/dashboard/app/assets/stylesheets/projects.scss
Labels: component/dashboard

lint a random file
  apps/dashboard/test/lib/smart_attributes/attribute_test.rb
Labels: component/dashboard

lint a random file (#4882)
  apps/dashboard/test/lib/smart_attributes/attribute_test.rb
Labels: component/dashboard

Prevent password_fields from displaying (#4875)
  apps/dashboard/app/lib/smart_attributes/attribute.rb
Labels: component/dashboard

Rework project action buttons (#4819)
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/javascript/projects_index.js
  apps/dashboard/app/views/projects/_import.html.erb
  apps/dashboard/app/views/projects/_possible_imports.html.erb
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Fixed template override lookup for support ticket API content (#4844)
  apps/dashboard/app/apps/request_tracker_service.rb
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
  apps/dashboard/test/apps/request_tracker_service_test.rb
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
  apps/dashboard/test/fixtures/config/views/support_ticket/rt/rt_override.text.erb
  apps/dashboard/test/fixtures/config/views/support_ticket/servicenow/snow_override.text.erb
Labels: component/dashboard

Clean up new launcher form (#4865)
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/assets/stylesheets/scripts.scss
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/launchers/_add_new_field.html.erb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_edit_field_buttons.html.erb
  apps/dashboard/app/views/launchers/new.html.erb
Labels: component/dashboard

add owner name to shared projects
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/projects/_possible_imports.html.erb
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

fix alignment
  apps/dashboard/app/views/projects/_possible_imports.html.erb
Labels: component/dashboard

fix alignment
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

create project#mine? method
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

fix size display
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
Labels: component/dashboard

update workflow delete confirmation (#4874)
  apps/dashboard/app/views/workflows/_workflow.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

simplify remove_from_lookup
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Add owner name to shared projects (#4883)
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_possible_imports.html.erb
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

result of running rake update manually
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

render markdown properly in popups
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
