Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

change good hook to check for OOD_ variables
  spec/fixtures/hooks/good_pre_hook
Labels: none

Add login_clusters to Configuration Singleton
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Add dynamic Open in Terminal dropdown
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

ensure in the node proxies that all requests have a URL
  mod_ood_proxy/lib/node_proxy.lua
Labels: component/mod_ood_proxy

add tests for node and rnode proxies
  Dockerfile.dev
  Dockerfile.test
  spec/e2e/e2e_helper.rb
  spec/e2e/proxy_spec.rb
  spec/fixtures/config/ood_portal/portal_with_proxies.yml
  spec/fixtures/extras/simple_origin_server.py
Labels: none

small typo in the comment
  mod_ood_proxy/lib/node_proxy.lua
Labels: component/mod_ood_proxy

Add dynamic Open in Terminal dropdown
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Add login_clusters to Configuration Singleton
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

add yet another timeout for e2e login helper
  spec/e2e/e2e_helper.rb
Labels: none

stabalize e2e tests by checking for connectivity and the text field
  spec/e2e/e2e_helper.rb
Labels: none

Remove disable class from shell dropdown button
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
Labels: component/dashboard

add shell_dropdown_html to files jbuilder
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

Fix shell dropdown links
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
Labels: component/dashboard

Update shell dropdown HTML every table reload
  apps/dashboard/app/assets/javascripts/files.js
Labels: component/dashboard

Add Shell Dropdown button to Files App
  apps/dashboard/app/assets/javascripts/files.js
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

add server side download dir validation
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

check for nil just to be extra sure
  mod_ood_proxy/lib/node_proxy.lua
Labels: component/mod_ood_proxy

apply a users umask to the uploaded file
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Add file_zip_timeout and max_download_as_zip_size as configurable options
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Use values from configuration in can_download_as_zip?
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

Add comments in can_download_as_zip method
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

Add server side check for directory downloads
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Add client side check with ?can_download query param
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Use better ENV var names
  apps/dashboard/app/models/files.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Add i18n definitions for directory download actions
  apps/dashboard/app/models/files.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

remove rails_12factor gem
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  nginx_stage/lib/nginx_stage.rb
Labels: component/dashboard, component/jobcomposer, component/nginx_stage

log mv, cp, and rm events
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/models/transfer.rb
Labels: component/dashboard

update Rails to 5.2.6
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

add missing logger setup to production env
  apps/myjobs/config/environments/production.rb
Labels: component/jobcomposer

upgrade jest
  apps/shell/yarn.lock
Labels: component/shell

update uppy.js
  apps/dashboard/yarn.lock
Labels: component/dashboard

update shell deps hbs & handlebars
  apps/shell/yarn.lock
Labels: component/shell

manage handlebars & lodash using yarn
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/package.json
  apps/dashboard/vendor/assets/javascripts/handlebars.js/4.4.2/handlebars.min.js
  apps/dashboard/vendor/assets/javascripts/lodash/4.17.15/lodash.min.js
  apps/dashboard/yarn.lock
Labels: component/dashboard

add comment on umasks
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

add missing logger setup to production env
  apps/myjobs/config/environments/production.rb
Labels: component/jobcomposer

update uppy.js
  apps/dashboard/yarn.lock
Labels: component/dashboard

upgrade jest
  apps/shell/yarn.lock
Labels: component/shell

manage handlebars & lodash using yarn
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/package.json
  apps/dashboard/vendor/assets/javascripts/handlebars.js/4.4.2/handlebars.min.js
  apps/dashboard/vendor/assets/javascripts/lodash/4.17.15/lodash.min.js
  apps/dashboard/yarn.lock
Labels: component/dashboard

update shell deps hbs & handlebars
  apps/shell/yarn.lock
Labels: component/shell
