Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

lint a random file (#2832)
  nginx_stage/spec/spec_helper.rb
Labels: component/nginx_stage

update tests now that auto_accounts is ui selectable
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Add method to conf sing, add job composer manifest, add ondemand.spec entry
  apps/dashboard/config/configuration_singleton.rb
  apps/job-composer/manifest.yml
  packaging/rpm/ondemand.spec
Labels: component/dashboard

lint a random file
  lib/tasks/development.rb
Labels: area/build

lint a random file (#2840)
  lib/tasks/development.rb
Labels: area/build

rename to projects and add deb rules
  apps/projects/manifest.yml
  packaging/deb/rules
Labels: none

rename job-composer to projects
  packaging/rpm/ondemand.spec
Labels: none

rename job-composer to projects
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Script#edit support adding/removing accounts (#2836)
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/javascript/packs/script_edit.js
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

check project exists before scripts#new
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

remove hardcoding for script
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

fix typo
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

remove hardcoding for script (#2842)
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

chmod the directory for rpm build
  packaging/rpm/ondemand.spec
Labels: none

Check Projects Exist Before script#new (#2841)
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/integration/errors_controller_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Hide develop custom menu template based on Configuration object
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/test/integration/custom_help_navigation_test.rb
Labels: component/dashboard

Begin packaging OnDemand 3.1
  .github/workflows/tests.yml
  Gemfile
  Gemfile.lock
  spec/e2e/e2e_helper.rb
Labels: none

update dependencies (#2846)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

lint a random file (#2845)
  apps/dashboard/test/integration/errors_controller_test.rb
Labels: component/dashboard

Add user parameter to passenger_log_file (#2835)
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

Test Ruby 3.2 to support Amazon Linux 2023
  .github/workflows/tests.yml
Labels: none

Replace File.exists? with File.exist?
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/application_spec.rb
Labels: component/ood_portal_generator

Fix Zeitwerk check?
  .github/workflows/tests.yml
Labels: none

Begin packaging OnDemand 3.1 (#2849)
  .github/workflows/tests.yml
  Gemfile
  Gemfile.lock
  spec/e2e/e2e_helper.rb
Labels: none

Test Ruby 3.2 to support Amazon Linux 2023 (#2850)
  .github/workflows/tests.yml
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/application_spec.rb
Labels: component/ood_portal_generator

Add check that project directory is in the project dataroot.
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

Move project directory setting to controller
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/db/migrate/20160307212349_create_osc_job_jobs.rb
Labels: component/jobcomposer

Avoid deprecation warnings with ERB.new and Ruby 3.2 Fixes #2851
  apps/dashboard/app/models/announcement.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/batch_connect/sessions/connections/_custom.html.erb
  apps/dashboard/config/configuration_singleton.rb
  lib/tasks/rake_helper.rb
  nginx_stage/lib/nginx_stage/generator.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
Labels: component/dashboard, component/nginx_stage, component/ood_portal_generator, area/build

lint a random file (#2853)
  apps/myjobs/db/migrate/20160307212349_create_osc_job_jobs.rb
Labels: component/jobcomposer

Avoid deprecation warnings with ERB.new and Ruby 3.2 (#2854)
  apps/dashboard/app/models/announcement.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/batch_connect/sessions/connections/_custom.html.erb
  apps/dashboard/config/configuration_singleton.rb
  lib/tasks/rake_helper.rb
  nginx_stage/lib/nginx_stage/generator.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
Labels: component/dashboard, component/nginx_stage, component/ood_portal_generator, area/build

Check In Project Dataroot Before Creating Project Path (#2852)
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

Add active model validation and remove private method
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

refactor this a little to ensure @project is always valid
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

add tests for invalid projects
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

one more test
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

some more tests and fix this bug
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
