Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Ensures auto_environment_variable is picked up in the form correctly
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_key_value_pair.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

WIP - reads auto_environment_variable values to_yaml correctly
  apps/dashboard/Gemfile
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_key_value_pair.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Fixes failing specs
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

WIP
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Allows multiple environment variables
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

WIP - bundle install
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#3286)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

lint a random file (#3284)
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

fix tests for more specific query selector
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

Update Changelog (#3285)
  CHANGELOG.md
Labels: none

change these meta clicks
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

refactor custom_info_view method (#3283)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_custom_info_view.html.erb
Labels: component/dashboard

small fixups for bc templates
  apps/dashboard/app/javascript/prefill_templates/prefill_submit.js
  apps/dashboard/app/javascript/prefill_templates/prefill_templates.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

add disable_logs to disable logs in apache
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/no_logs.yml
  ood-portal-generator/spec/fixtures/input/no_logs_w_log_config.yml
  ood-portal-generator/spec/fixtures/output/no_logs.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Only patch the autostart .desktop files that are installed on the system This prevents invalid 'groupless' files being generated for .desktop files not present on the host
  apps/bc_desktop/template/desktops/mate.sh
Labels: component/bc_desktop

Only patch the autostart .desktop files that are installed on the system (#3291)
  apps/bc_desktop/template/desktops/mate.sh
Labels: component/bc_desktop

lint a random file
  apps/dashboard/app/apps/support_ticket_email_service.rb
Labels: component/dashboard

lint a random file (#3294)
  apps/dashboard/app/apps/support_ticket_email_service.rb
Labels: component/dashboard

Added flash message when default executable script is created
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/script_test.rb
Labels: component/dashboard

Created default executable script on new Script and added validation (#3273)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/script_test.rb
Labels: component/dashboard

Updated projects to serliaze id into projects manifest
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Refactored project id serialization based on review patch
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Updated projects to serliaze id into projects manifest (#3288)
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

add disable_logs to disable logs in apache (#3290)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/no_logs.yml
  ood-portal-generator/spec/fixtures/input/no_logs_w_log_config.yml
  ood-portal-generator/spec/fixtures/output/no_logs.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

change sorting css styles to be more accessible (#3282)
  apps/dashboard/app/assets/stylesheets/data_tables.scss
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

Bc templates (#3280)
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/models/batch_connect/session_context.rb
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
  apps/dashboard/test/fixtures/file_output/user_settings/simple_bc_test.yml
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

small fixups for bc templates (#3289)
  apps/dashboard/app/javascript/prefill_templates/prefill_submit.js
  apps/dashboard/app/javascript/prefill_templates/prefill_templates.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#3297)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

touch up the navbar for accessibility
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
Labels: component/dashboard

touch up the navbar for accessibility (#3299)
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
Labels: component/dashboard

Update Changelog (#3296)
  CHANGELOG.md
Labels: none

use updated rseng/zenodo-release (#3279)
  .github/workflows/release.yml
Labels: none

refactor navbar to be menubar
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_all_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_group_items.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/app/views/layouts/nav/_log_out.html.erb
  apps/dashboard/app/views/layouts/nav/_logo.html.erb
  apps/dashboard/app/views/layouts/nav/_sessions.html.erb
  apps/dashboard/app/views/layouts/nav/_user.html.erb
Labels: component/dashboard

remove tabindex here
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
Labels: component/dashboard

rm this newline because theres another here now
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

add ability to add arbitrary vhost and location directives
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
