Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

re enable these tests
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

break this up into more methods
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

force the default value to be oakley
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

formatted this wrong
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

reset this helper
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

choose oakley in these tests
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

write out the value here
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

rm this again
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

ensure batch clusters are sorted
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

didnt mean to remove this
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Update ROADMAP.md
  ROADMAP.md
Labels: none

fix node proxy location match pattern
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

update test case
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
Labels: component/ood_portal_generator

fix edge case of node proxy pattern
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Update ROADMAP.md
  ROADMAP.md
Labels: none

support actually saving scripts (#2782)
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/editable_form_fields/_edit_field_buttons.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_number.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_generic.html.erb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

refactor the path selector to accomidate variable paths.
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
  apps/dashboard/app/javascript/packs/path_selector/index.js
  apps/dashboard/app/javascript/packs/path_selector/path_selector.js
  apps/dashboard/app/javascript/packs/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/packs/path_selector/sweet_alert.js
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/common.scss
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/files/_path_selector_breadcrumb.html.erb
Labels: component/dashboard

lint a random file
  apps/myjobs/test/helpers/templates_helper_test.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

lint a random file (#2785)
  apps/myjobs/test/helpers/templates_helper_test.rb
Labels: component/jobcomposer

Added support for custom JS feature
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/custom_css_files_test.rb
  apps/dashboard/test/integration/custom_css_js_files_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

first pass of updating google analytics from ua to ga4
  mod_ood_proxy/lib/analytics.lua
Labels: component/mod_ood_proxy

refactor the path selector to accomidate variable paths. (#2787)
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
  apps/dashboard/app/javascript/packs/path_selector/index.js
  apps/dashboard/app/javascript/packs/path_selector/path_selector.js
  apps/dashboard/app/javascript/packs/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/packs/path_selector/sweet_alert.js
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/common.scss
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/files/_path_selector_breadcrumb.html.erb
Labels: component/dashboard

update ood-portal-generator and fix mod_ood_proxy
  mod_ood_proxy/lib/analytics.lua
  mod_ood_proxy/lib/ood/json.lua
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/mod_ood_proxy, component/ood_portal_generator

Added support for custom JS feature (#2791)
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/custom_css_files_test.rb
  apps/dashboard/test/integration/custom_css_js_files_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

update dependencies (#2789)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update ROADMAP.md (#2783)
  ROADMAP.md
Labels: none

add .compact to Script::all to fix #2770
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

embed google analytics inside the dashboard
  apps/dashboard/app/views/layouts/_google_analytics.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/content_security_policy.rb
Labels: component/dashboard

rm this comment
  apps/dashboard/config/initializers/content_security_policy.rb
Labels: component/dashboard

add new config to test fixtures
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
Labels: component/dashboard

work on script initialization and serialization.
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

remove tests
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

remove cache stub
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Move cache_values back to private
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

remove cached_values check in submit
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

add logic to view to quick submit
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

update this test file a bit
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/integration/nav_test.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
