Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/shell/yarn.lock
Labels: component/shell

lint a random file (#2799)
  apps/dashboard/test/integration/nav_test.rb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#2801)
  apps/shell/yarn.lock
Labels: component/shell

Update Changelog (#2800)
  CHANGELOG.md
Labels: none

work on script initialization and serialization. (#2796)
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

add the ability to add accounts to scripts
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/javascript/packs/script_edit.js
  apps/dashboard/app/views/scripts/edit.html.erb
Labels: component/dashboard

add auto clusters and refactor the way clusters are defined
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_batch_clusters.rb
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

fix this bug to correctly write cluster
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

change tests to account for auto_batch_clusters instead of just cluster
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/system/products_usr_test.rb
Labels: component/dashboard

lint a random file (#2803)
  apps/dashboard/test/system/products_usr_test.rb
Labels: component/dashboard

Added support to override title and icon on app navigation items
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/test/apps/nav_bar_test.rb
Labels: component/dashboard

Add /var/tmp/ondemand-nginx to tmpfiles
  packaging/files/ondemand-nginx-tmpfiles
Labels: none

Allow oidc_crypto_passphrase to be set for ood-portal-generator
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
Labels: component/ood_portal_generator

embed google analytics inside the dashboard (#2795)
  apps/dashboard/app/views/layouts/_google_analytics.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/content_security_policy.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
Labels: component/dashboard

add auto clusters (#2802)
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_batch_clusters.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Added support to override title and icon on app navigation items (#2804)
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/test/apps/nav_bar_test.rb
Labels: component/dashboard

remove jquery from batch_connect
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

Remove unused function and var
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

replace jquery loaded function w/ DOMContentLoaded
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

Remove exactlyOneOption and console.logs
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

remove mountainCaseWords
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

Allow oidc_crypto_passphrase to be set for ood-portal-generator (#2807)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
Labels: component/ood_portal_generator

Add /var/tmp/ondemand-nginx to tmpfiles (#2806)
  packaging/files/ondemand-nginx-tmpfiles
Labels: none

(release 3.0) Allow oidc_crypto_passphrase to be set for ood-portal-generator
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
Labels: component/ood_portal_generator

use element.dataset, not element attrs
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

(release 3.0) Allow oidc_crypto_passphrase to be set for ood-portal-generator (#2811)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
Labels: component/ood_portal_generator

lint a random file
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_hours.rb
Labels: component/dashboard

remove jquery from toggleOptionsFor
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

replace jquery text() with .textContent
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

Replace jquery .text() with .textContent
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

Pop HTMLDocument from top of getParents
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

Use mountainCase instead of all snake_case
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#2816)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none
