Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

add semicolon
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

fix launcher javascript
  apps/dashboard/app/javascript/launcher_edit.js
Labels: component/dashboard

Update localizations.yml
  .github/workflows/localizations.yml
Labels: none

Update localizations.yml
  .github/workflows/localizations.yml
Labels: none

Automatically update localizations (#4665)
  .github/workflows/localizations.yml
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/i18n-tasks.yml.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/config/examples/awesim/initializers/ood.rb
Labels: component/dashboard

lint a random file (#4691)
  apps/dashboard/config/examples/awesim/initializers/ood.rb
Labels: component/dashboard

manually correct correction
  apps/myjobs/config/configuration_singleton.rb
Labels: component/jobcomposer

add widget wrapper divs (#4682)
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/javascript/launcher_edit.js
Labels: component/dashboard

Add S3-Specific Directory Check (#4623)
  apps/dashboard/lib/rclone_util.rb
Labels: component/dashboard

fix this fixture file
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
Labels: component/ood_portal_generator

add download button in support section
  apps/dashboard/app/views/batch_connect/sessions/card/_support_ticket.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

add spacing and alignment
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/views/batch_connect/sessions/card/_support_ticket.html.erb
Labels: component/dashboard

add config check
  apps/dashboard/app/views/batch_connect/sessions/card/_support_ticket.html.erb
Labels: component/dashboard

use wrapper div
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/lib/smart_attributes/attribute.rb
Labels: component/dashboard

add resolution field id
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

fix tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

update tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

more test fixes
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

update tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Provide view override for batch connect sub apps
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

distribute the LICENSE.txt in packages
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: none

add LICENSE.txt to %files for RPMs
  packaging/rpm/ondemand.spec
Labels: none

Runtime only requires python3
  packaging/rpm/ondemand.spec
Labels: none

fix: add ood_pun_config_t to fix compatibility with SELinux (#4651)
  packaging/rpm/ondemand-selinux.te
Labels: none

Report allowlist errors in path selector (#4645)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

move license from %files to %license
  packaging/rpm/ondemand.spec
Labels: none

mv %license up a bit
  packaging/rpm/ondemand.spec
Labels: none

some updates to filter and add register link
  apps/dashboard/app/javascript/nsf_access_events.js
Labels: component/dashboard

no need to unique and limit to +1 month in the future
  apps/dashboard/app/javascript/nsf_access_events.js
Labels: component/dashboard

get accounts from all clusters
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

clarify
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

Updated UI for workflows
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/javascript/dag.js
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Patched the UI with backend
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/javascript/dag.js
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

distribute the LICENSE.txt in packages (#4696)
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

lint a random file (#4700)
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
