Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Cleaned up inline style and moved from using ENV
  apps/dashboard/app/javascript/packs/navigator/data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_file_navigator.html.erb
Labels: component/dashboard

Removed unnecessary display:block
  apps/dashboard/app/views/batch_connect/session_contexts/_file_navigator.html.erb
Labels: component/dashboard

Update apps/dashboard/app/javascript/packs/navigator/data_table.js
  apps/dashboard/app/javascript/packs/navigator/data_table.js
Labels: component/dashboard

Renamed navigator to path_selector
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
  apps/dashboard/app/javascript/packs/path_selector/index.js
  apps/dashboard/app/javascript/packs/path_selector/sweet_alert.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/files/_path_selector_breadcrumb.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

Jeff's awesome patch!
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

Removed file_navigator flag from configuration_singleton
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

add some test cases for scripts and fix some bugs
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

add some test cases for scripts and fix some bugs (#2691)
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

update this comment
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

add tests for submitting jobs
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Allow form to have options of showing files and hidden files/directories
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Added check for non-existent options for path_selector so the path_selector will default to show only non-hidden directories
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

add ability to launch script (#2687)
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

fix #1659 by checking for string values (#2684)
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

fix #2626 in 2.0 (#2678)
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/apps/support_ticket_rt_service_test.rb
Labels: component/dashboard

Added new user dropdown menu
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_user_dropdown.html.erb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/nav_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

lint a random file (#2695)
  apps/dashboard/test/apps/support_ticket_rt_service_test.rb
Labels: component/dashboard

update dependencies (#2697)
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

add changelog entries for 3.0.0 and 2.0.32
  CHANGELOG.md
Labels: none

Update Changelog (#2696)
  CHANGELOG.md
Labels: none

correct 3.0.0 changlelog link
  CHANGELOG.md
Labels: none

begin to track jobs that are launched
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

enhance tests for keeping job logs
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

correct 3.0.0 changlelog link (#2698)
  CHANGELOG.md
Labels: none

lint a random file
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

lint a random file (#2701)
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

fix console errors in activejobs
  apps/dashboard/app/javascript/packs/active_jobs.js
Labels: component/dashboard

Update apps/dashboard/app/javascript/packs/path_selector/data_table.js
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
Labels: component/dashboard

Update !'s to be within standards
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
Labels: component/dashboard

Update data_table.js
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
Labels: component/dashboard

fix console errors in activejobs (#2703)
  apps/dashboard/app/javascript/packs/active_jobs.js
Labels: component/dashboard

Initialize tracking jobs (#2699)
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Change some JS Functionality
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

initial commit
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/scripts/show.html.erb
Labels: component/dashboard

widen this column to take the entire space
  apps/dashboard/app/views/projects/_form.html.erb
Labels: component/dashboard

Updated to minimize the amount of calls to the weighted value methods
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
Labels: component/dashboard

Removed redundant method=get for pinned apps
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
Labels: component/dashboard
