Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

add test cases for this feature
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/custom_directives.yml
  ood-portal-generator/spec/fixtures/input/custom_location_directives.yml
  ood-portal-generator/spec/fixtures/input/custom_vhost_directives.yml
  ood-portal-generator/spec/fixtures/output/custom_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_location_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_vhost_directives.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

use arrays of strings instead of multiline strings
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/input/custom_directives.yml
  ood-portal-generator/spec/fixtures/input/custom_location_directives.yml
  ood-portal-generator/spec/fixtures/input/custom_vhost_directives.yml
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/fixtures/output/custom_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_location_directives.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

fix this test
  ood-portal-generator/spec/fixtures/output/no_logs.conf
Labels: component/ood_portal_generator

Arbitrary apache conf (#3293)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/custom_directives.yml
  ood-portal-generator/spec/fixtures/input/custom_location_directives.yml
  ood-portal-generator/spec/fixtures/input/custom_vhost_directives.yml
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/fixtures/output/custom_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_location_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_vhost_directives.conf
  ood-portal-generator/spec/fixtures/output/no_logs.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Adds auto_environment_variable smart attribute
  apps/dashboard/Gemfile
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_key_value_pair.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Removes require pry from scripts controller
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

Removes binding.pry
  apps/dashboard/app/helpers/scripts_helper.rb
Labels: component/dashboard

Removes binding.pry
  apps/dashboard/app/helpers/scripts_helper.rb
Labels: component/dashboard

Comments out irrelevant test assertion
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

add title on the anchor too
  apps/dashboard/app/views/layouts/nav/_group.html.erb
Labels: component/dashboard

check for all true instead of none false.
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

fix margin here
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

logo fixup
  apps/dashboard/app/helpers/dashboard_helper.rb
Labels: component/dashboard

logo fixup (#3304)
  apps/dashboard/app/helpers/dashboard_helper.rb
Labels: component/dashboard

add config for prefill templates
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Fixes to navigation tests after accessibility improvements
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/test/html_helper.rb
  apps/dashboard/test/integration/custom_help_navigation_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
Labels: component/dashboard

Added external lib folder to autoload to allow custom class to be loaded into OnDemand
  apps/dashboard/config/application.rb
Labels: component/dashboard

enable saved settings for this test case
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

this should be a string
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

back to ruby 2.7 debugging
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

ok must be 2
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

mv the user settings file off the dataroot
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/upgrade_to_3.1.rb
Labels: component/dashboard

need to mkdir
  apps/dashboard/config/initializers/upgrade_to_3.1.rb
Labels: component/dashboard

Fixes to user settings store tests
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/test/integration/settings_controller_test.rb
  apps/dashboard/test/models/concerns/user_setting_store_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

fix this test too
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/test/controllers/templates_controller_test.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

lint a random file (#3310)
  apps/myjobs/test/controllers/templates_controller_test.rb
Labels: component/jobcomposer

update dependencies (#3312)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

use basename because stat is nil
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

add a test case for non utf-8 files
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

validate src files exist and validate again just before copying
  apps/dashboard/app/models/posix_transfer.rb
Labels: component/dashboard

correctly account for paths with symlinks that dont exist
  apps/dashboard/app/models/allowlist_policy.rb
  apps/dashboard/test/models/allowlist_policy_test.rb
Labels: component/dashboard

Fix non utf8 file (#3314)
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

add a comment here
  apps/dashboard/app/models/posix_transfer.rb
Labels: component/dashboard

Update Changelog (#3311)
  CHANGELOG.md
Labels: none

log a warning when paths are not allowed
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard
