Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

fix this returned data structure
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
Labels: component/dashboard

account for "default" version
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
Labels: component/dashboard

rm this log line
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
Labels: component/dashboard

Change projects_controller#zip_to_template from GET to POST. Minor clean ups.
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/helpers/files_helper_test.rb
Labels: component/dashboard

remove superfluous comment
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Fix URL what repo to fork for nginx_stage
  nginx_stage/README.md
Labels: component/nginx_stage

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

use ruby 3 for linting
  .github/workflows/lint.yml
Labels: none

Fix URL what repo to fork for nginx_stage (#4410)
  nginx_stage/README.md
Labels: component/nginx_stage

use ruby 3 for linting (#4413)
  .github/workflows/lint.yml
Labels: none

change to a span to fix tests
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

update this message for clarity
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Refactor notifications
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/notify.js
  apps/dashboard/app/javascript/utils.js
Labels: component/dashboard

lint a random file
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

lint a random file (#4415)
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

add ability to skip navigation for screen readers (#4403)
  apps/dashboard/app/assets/stylesheets/navbar.scss
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

update this message for clarity (#4414)
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Add alert for notification permission request
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
Labels: component/dashboard

enable unsafe rendering of html files through a configuration
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

feat(bc_desktop): support gnome3
  apps/bc_desktop/form.yml
  apps/bc_desktop/template/desktops/gnome3.sh
Labels: component/bc_desktop

add tests, even if it fails now
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

rm this puts statement in test
  apps/dashboard/test/system/saved_settings_test.rb
Labels: component/dashboard

upgrade rails for the dashboard
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

mv this file to avoid deprecations
  apps/dashboard/config/credentials.yml
Labels: component/dashboard

use credentials instead
  apps/dashboard/app/models/concerns/encrypted_cache.rb
Labels: component/dashboard

update selenium and capybara
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

lint a random file
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
Labels: component/dashboard

lint a random file (#4421)
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
Labels: component/dashboard

rm this puts statement in test (#4419)
  apps/dashboard/test/system/saved_settings_test.rb
Labels: component/dashboard

correct this call
  apps/dashboard/app/models/concerns/encrypted_cache.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/saved_settings_test.rb
Labels: component/dashboard

Use first link only for files
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

relax appkit dependency version and update
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Add popup_title
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Sets popup title
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

Update Changelog (#4423)
  CHANGELOG.md
Labels: none

Update _path_selector_table.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard
