Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Updated ProjectRequest model name to be project
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project_request.rb
  apps/dashboard/app/views/projects/_form.html.erb
Labels: component/dashboard

lint a random file (#2984)
  apps/dashboard/config/initializers/wrap_parameters.rb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#2979)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

upgrade to rails 6.1.7.5
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Updated icon picker to support form reset
  apps/dashboard/app/javascript/packs/icon_picker.js
Labels: component/dashboard

6.1.7.6 is the latest version
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Update Changelog (#2985)
  CHANGELOG.md
Labels: none

Updated icon picker to support form reset (#2983)
  apps/dashboard/app/javascript/packs/icon_picker.js
Labels: component/dashboard

upgrade to rails 6.1.7.6 (#2986)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

upgrade to rails 6.1.7.6 (#2986)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

change config to a div and put it in a partial
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

fixes #2867 by catching the error and redirecting
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/models/user_configuration.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/integration/custom_help_navigation_test.rb
Labels: component/dashboard

lint a random file (#2993)
  apps/dashboard/test/integration/custom_help_navigation_test.rb
Labels: component/dashboard

Fixed quality and compression variable names in _novnc.html.erb
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

Fixed quality and compression variable names in _novnc.html.erb (#2995)
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

Fixed quality and compression variable names in _novnc.html.erb (#2995)
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

filter hidden modules
  apps/dashboard/app/models/hpc_module.rb
Labels: component/dashboard

add a test case for hidden modules
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

forgot this update
  apps/dashboard/test/application_system_test_case.rb
Labels: component/dashboard

update a test and add another unit test just for extra safety
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

app_jupyter/1.2.16 is hidden so it doesnt show anymore
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add ip addresses to allowed_hosts if servername is nil
  ood-portal-generator/lib/ood_portal_generator/view.rb
Labels: component/ood_portal_generator

update test cases
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/update_ood_portal_spec.rb
Labels: component/ood_portal_generator

lint a random file
  apps/dashboard/app/controllers/transfers_controller.rb
Labels: component/dashboard

Updated project and script model to use random alphanumeric ids
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Improvements to script model after review
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/config/initializers/new_framework_defaults_6_1.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Remove unused kwargs
  apps/dashboard/lib/rclone_util.rb
Labels: component/dashboard

Added support to override category, subcategory, and metadata in subapps
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/fixtures/apps/bc_with_subapps/form.yml
  apps/dashboard/test/fixtures/apps/bc_with_subapps/local/oakley.yml
  apps/dashboard/test/fixtures/apps/bc_with_subapps/local/owens.yml
  apps/dashboard/test/fixtures/apps/bc_with_subapps/manifest.yml
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

didn't mean to commit this
  CHANGELOG.md
Labels: none

Filter hidden modules (#2997)
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/models/hpc_module_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

should be in fixed
  CHANGELOG.md
Labels: none

Add support for an extra Rclone config file (#2956)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/lib/rclone_util.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/fixtures/config/rclone/extra_config.conf
  apps/dashboard/test/rclone_helper.rb
  apps/dashboard/test/system/remote_files_test.rb
  apps/dashboard/test/unit/rclone_util_test.rb
Labels: component/dashboard

allow html to be rendered completely in some MOTD formats
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/models/motd_formatter/markdown.rb
  apps/dashboard/app/views/dashboard/_motd_markdown.html.erb
  apps/dashboard/app/views/dashboard/_motd_rss.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
Labels: component/dashboard

support file editor syntax highlighting for fortran
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
