Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Need to pass the env var into nginx_stage executing environment
  mod_ood_proxy/lib/logger.lua
  mod_ood_proxy/lib/ood/nginx_stage.lua
  mod_ood_proxy/lib/pun_proxy.lua
Labels: component/mod_ood_proxy

Fix file uploads and directory changes (#2195)
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

delete OOD_DATAROOT only on tests where affected
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

Fixed memory leak for NavConfig.category
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

Do not display Open In Terminal button if SSH to compute is turned off (2.1) (#2212)
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Fix files system tests failing sometimes
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Fix files system tests failing sometimes (#2220)
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Enable downloading empty sub-directories with zip (#2197)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Added support for YAML anchors and aliases when reading configuration (#2214)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/anchors_aliases/config.yml
Labels: component/dashboard

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Added support for YAML anchors and aliases when reading configuration (#2214) (#2224)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/anchors_aliases/config.yml
Labels: component/dashboard

misspelled Submission
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
Labels: component/dashboard

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Avoid fork always
  mod_ood_proxy/lib/ood/nginx_stage.lua
Labels: component/mod_ood_proxy

Set env var after declaring env_table
  mod_ood_proxy/lib/ood/nginx_stage.lua
Labels: component/mod_ood_proxy

Updated how OodGroup generates single list of titles to order
  apps/dashboard/app/apps/ood_app_group.rb
Labels: component/dashboard

Fixed memory leak for NavConfig.category (#2218)
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

Set Rails config.hosts in dashboard and myjobs (#2213)
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
  apps/myjobs/config/environments/production.rb
  apps/myjobs/config/environments/test.rb
  mod_ood_proxy/lib/logger.lua
  mod_ood_proxy/lib/ood/nginx_stage.lua
  mod_ood_proxy/lib/pun_proxy.lua
  nginx_stage/lib/nginx_stage.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/dashboard, component/jobcomposer, component/nginx_stage, component/mod_ood_proxy, component/ood_portal_generator

Fix for Fujitsu TCS resource manager (#2194) (#2208)
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/lib/smart_attributes/attributes/bc_num_slots.rb
Labels: component/dashboard

fix misspelled Submission
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update changelog
  CHANGELOG.md
Labels: none

fix misspelled Submission (#2228)
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
Labels: component/dashboard

update ood libraries (#2201)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Ensure host name is getting passed to PUN proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Add rclone dependency
  packaging/deb/control
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: none

Fix token matcher logic for sub apps (#2235)
  apps/dashboard/app/apps/token_matcher.rb
  apps/dashboard/test/apps/token_matcher_test.rb
Labels: component/dashboard

Use new ood_appkit files and editor URLs
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

Add tests for new files and editor URLs
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

Fix files/api/v1 route
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Remove ProxyPassReverse
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Revert "Remove ProxyPassReverse"
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Ensure host name is getting passed to PUN proxy (#2230)
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update Changelog (#2229)
  CHANGELOG.md
Labels: none

Add rclone dependency (#2234)
  packaging/deb/control
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
