Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

fixes #1575
  .github/workflows/changelog.yml
  .github/workflows/update.yml
Labels: none

update changelog
  CHANGELOG.md
Labels: none

fix changlog
  CHANGELOG.md
Labels: none

Update Changelog (#1586)
  CHANGELOG.md
Labels: none

fixes #1575 (#1585)
  .github/workflows/changelog.yml
  .github/workflows/update.yml
Labels: none

add ability to mount infra apps in dev container (#1584)
  lib/tasks/development.rb
Labels: area/build

update dockerfile with all the recent developments
  Dockerfile
Labels: none

scratch
  apps/dashboard/.env
  apps/dashboard/app/assets/stylesheets/jobs_runner.css
  apps/dashboard/app/controllers/jobs_runner_controller.rb
  apps/dashboard/app/views/jobs_runner/index.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

doc updates surrounding styleguides, with some updates to styleguides (#1581)
  .rubocop.yml
  CONTRIBUTING.md
  apps/dashboard/.eslintrc.yml
Labels: component/dashboard

update dockerfile with all the recent developments (#1588)
  Dockerfile
Labels: none

scratch
  apps/dashboard/app/controllers/jobs_runner_controller.rb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Renaming to jobs for namespace and fixed the root landing.
  apps/dashboard/app/assets/javascripts/projects.coffee
  apps/dashboard/app/assets/stylesheets/projects.css
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/controllers/jobs_runner_controller.rb
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/views/jobs/projects/create.html.erb
  apps/dashboard/app/views/jobs/projects/destroy.html.erb
  apps/dashboard/app/views/jobs/projects/edit.html.erb
  apps/dashboard/app/views/jobs/projects/index.html.erb
  apps/dashboard/app/views/jobs/projects/new.html.erb
  apps/dashboard/app/views/jobs/projects/show.html.erb
  apps/dashboard/app/views/jobs/projects/submit.html.erb
  apps/dashboard/app/views/jobs_runner/create.html.erb
  apps/dashboard/app/views/jobs_runner/destroy.html.erb
  apps/dashboard/app/views/jobs_runner/edit.html.erb
  apps/dashboard/app/views/jobs_runner/new.html.erb
  apps/dashboard/app/views/jobs_runner/show.html.erb
  apps/dashboard/app/views/jobs_runner/submit.html.erb
  apps/dashboard/app/views/jobs_runner/update.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/controllers/jobs_runner_controller_test.rb
  apps/dashboard/test/controllers/projects_controller_test.rb
Labels: component/dashboard

Cleaning up jobs_runner removal.
  apps/dashboard/app/helpers/jobs_runner_helper.rb
Labels: component/dashboard

More clena up.
  apps/dashboard/.env
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

more cleanup
  apps/dashboard/app/assets/javascripts/jobs_runner.coffee
  apps/dashboard/app/assets/stylesheets/jobs_runner.css
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update changelog
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update changelog (#1598)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

extend the timeout for uppy uploads
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

WIP Jupyter Lab/Notebook to radio button
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

Use rake task to install infrastructure files Fixes #1547 Also a bit of cleanup of unused rake task code
  Gemfile
  Gemfile.lock
  Rakefile
  lib/tasks/build_utils.rb
  lib/tasks/install.rb
  lib/tasks/install_utils.rb
  packaging/deb/rules
  packaging/files/apache-systemd.ood-portal.conf.erb
  packaging/files/sudo
  packaging/files/sudo.erb
  packaging/rpm/ondemand.spec
Labels: area/build

Update lib/tasks/install_utils.rb
  lib/tasks/install_utils.rb
Labels: area/build

Fix ubuntu builds
  packaging/deb/rules
Labels: none

Move all helper methods to rake_helper.rb
  lib/tasks/build.rb
  lib/tasks/build_utils.rb
  lib/tasks/development.rb
  lib/tasks/install.rb
  lib/tasks/install_utils.rb
  lib/tasks/packaging.rb
  lib/tasks/rake_helper.rb
  lib/tasks/test.rb
Labels: area/build

Function was renamed
  lib/tasks/install.rb
Labels: area/build

Use rake task to install infrastructure files (#1602)
  Gemfile
  Gemfile.lock
  Rakefile
  lib/tasks/build.rb
  lib/tasks/build_utils.rb
  lib/tasks/development.rb
  lib/tasks/install.rb
  lib/tasks/packaging.rb
  lib/tasks/rake_helper.rb
  lib/tasks/test.rb
  packaging/deb/rules
  packaging/files/apache-systemd.ood-portal.conf.erb
  packaging/files/sudo
  packaging/files/sudo.erb
  packaging/rpm/ondemand.spec
Labels: area/build

reset accidental commit to mainline
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

Add some rubocop settings and add rubocop-rspec
  .rubocop.yml
  Gemfile
  Gemfile.lock
  lib/tasks/lint.rb
Labels: area/build

Rubocop changes for main rspec files
  spec/e2e/browser_spec.rb
  spec/e2e/e2e_helper.rb
  spec/e2e/package_spec.rb
  spec/e2e/proxy_spec.rb
  spec/e2e/pun_pre_hook_spec.rb
  spec/spec_helper_e2e.rb
Labels: none

Revert "Rubocop changes for main rspec files"
  spec/e2e/browser_spec.rb
  spec/e2e/e2e_helper.rb
  spec/e2e/package_spec.rb
  spec/e2e/proxy_spec.rb
  spec/e2e/pun_pre_hook_spec.rb
  spec/spec_helper_e2e.rb
Labels: none

Fixed the Radio Button code that got reverted with this pull request
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

Revert "Fixed the Radio Button code that got reverted with this pull request"
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

Added functionality to support Radio Buttons in the forms.
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

Add some rubocop settings and add rubocop-rspec (#1605)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  lib/tasks/lint.rb
Labels: area/build

ensure batch connect clusters options are shown in the order they're defined
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

add comment
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

reset bc app
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

use ruby major version
  .github/workflows/tests.yml
Labels: none

change other ruby version
  .github/workflows/tests.yml
Labels: none

add some log entries
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard
