Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add 4.0.5 and 3.1.13 to the changelog.
  CHANGELOG.md
Labels: none

Update Changelog (#4382)
  CHANGELOG.md
Labels: none

cache apps so they only render once (#4377)
  apps/dashboard/app/apps/dev_router.rb
  apps/dashboard/app/apps/sys_router.rb
  apps/dashboard/app/apps/usr_router.rb
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

update README
  apps/shell/README.md
Labels: component/shell

Firefox fix for #64
  apps/shell/public/javascripts/hterm_all_1.92.1.mod.js
Labels: component/shell

update yarn.lock
  apps/shell/yarn.lock
Labels: component/shell

Fix calls to 'all' function
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

Remove redundant helper and fix modules_last_updated formatting
  apps/dashboard/app/helpers/module_browser_helper.rb
  apps/dashboard/app/views/module_browser/index.html.erb
Labels: component/dashboard

Refactor HpcModule to return all modules across clusters (#4378)
  apps/dashboard/app/controllers/module_browser_controller.rb
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

Add 'Create ZIP' button to project#show page
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Add localization for ZIP error
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

fix tpyo
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

Enhance module browser UI (#4386)
  apps/dashboard/app/assets/stylesheets/module_browser.scss
  apps/dashboard/app/controllers/module_browser_controller.rb
  apps/dashboard/app/helpers/module_browser_helper.rb
  apps/dashboard/app/javascript/module_browser.js
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/app/views/module_browser/_versions_table.html.erb
  apps/dashboard/app/views/module_browser/index.html.erb
Labels: component/dashboard

reset this to master
  apps/shell/yarn.lock
Labels: component/shell

Remove zip download on create. Add strong parameters to zip_to_template.
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
Labels: component/dashboard

Upgrade hterm (#4387)
  apps/shell/README.md
  apps/shell/public/javascripts/hterm_all_1.92.1.mod.js
  apps/shell/views/index.hbs
Labels: component/shell

Created helper function for dependency job id lists
  apps/dashboard/app/models/launcher.rb
Labels: component/dashboard

Launchers now support 'after', 'afterok' etc. job-id lists in submit()
  apps/dashboard/app/models/launcher.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update workflows to ruby 3.3
  .github/workflows/lint.yml
  .github/workflows/release.yml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update workflows to ruby 3.3 (#4396)
  .github/workflows/lint.yml
  .github/workflows/release.yml
Labels: none

update dependencies (#4393)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update Changelog (#4392)
  CHANGELOG.md
Labels: none

Fix SELinux to work with Munge on RHEL9
  packaging/rpm/ondemand-selinux.te
Labels: none

Fix SELinux to work with Munge on RHEL9 (#4397)
  packaging/rpm/ondemand-selinux.te
Labels: none

Fix SELinux to work with Munge on RHEL9 (#4397)
  packaging/rpm/ondemand-selinux.te
Labels: none

Fix SELinux to work with Munge on RHEL9 (#4397)
  packaging/rpm/ondemand-selinux.te
Labels: none

Launchers now support 'after', 'afterok' etc. job-id lists in submit()
  apps/dashboard/app/models/launcher.rb
Labels: component/dashboard

Created helper function for dependency job id lists
  apps/dashboard/app/models/launcher.rb
Labels: component/dashboard

Launchers now support 'after', 'afterok' etc. job-id lists in submit() (#4388)
  apps/dashboard/app/models/launcher.rb
Labels: component/dashboard

Implement notifications for interactive sessions page
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/javascript/aria_live_notify.js
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/notify.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
Labels: component/dashboard

add ability to skip navigation for screen readers
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

add styles to display when focused
  apps/dashboard/app/assets/stylesheets/navbar.scss
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

rm this stuff
  apps/dashboard/app/assets/stylesheets/navbar.scss
Labels: component/dashboard

add newline
  apps/dashboard/app/assets/stylesheets/navbar.scss
Labels: component/dashboard

Display all links for a given app
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
Labels: component/dashboard

sort modules in auto_modules
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
Labels: component/dashboard
