Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#2046)
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Several changes to allow Ubuntu 22.04 builds (#2020)
  .github/workflows/tests.yml
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
  nginx_stage/nginx_stage.gemspec
  packaging/deb/control
Labels: component/dashboard, component/nginx_stage

Nightly dev container (#2041)
  Dockerfile.dev
  Rakefile
  docker/dev-entrypoint.sh
  lib/tasks/development.rb
  lib/tasks/docker.rb
  lib/tasks/packaging.rb
  lib/tasks/rake_helper.rb
Labels: area/build

Update Changelog (#2045)
  CHANGELOG.md
Labels: none

Adjusting for blank icon and updating tests.
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Support Ubuntu 22.04 Fixes #2009
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  spec/e2e/nodesets/ubuntu-22.04.yml
Labels: none

A few fixes to Ubuntu E2E testing and avoid zstd compression
  packaging/deb/rules
  spec/e2e/e2e_helper.rb
Labels: none

Try another way to force noninteractive
  spec/e2e/nodesets/ubuntu-22.04.yml
Labels: none

Adjusting alert, fixing and adding system tests
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Try another way to avoid tzdata install prompts
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/ubuntu-22.04.yml
Labels: none

Another attempt to fix noninteractive on Ubuntu 22.04
  spec/e2e/nodesets/ubuntu-22.04.yml
Labels: none

Remove unnecessary change
  spec/e2e/nodesets/ubuntu-22.04.yml
Labels: none

Remove default Apache configuration on Ubuntu so it's possible to test OnDemand
  spec/e2e/default_install_spec.rb
  spec/e2e/e2e_helper.rb
  spec/spec_helper_e2e.rb
Labels: none

Fix nginx_stage to work with Ruby 3.0 Fixes #2049
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
Labels: component/nginx_stage

Fix nginx_stage secret generation to work on Ruby 3.0 and Ruby 2.7 Fixes #2050
  nginx_stage/lib/nginx_stage/secret_key_base_file.rb
Labels: component/nginx_stage

Removing unused ActiveModel callbacks
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Support Ubuntu 22.04 (#2047)
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  nginx_stage/lib/nginx_stage/secret_key_base_file.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  packaging/deb/rules
  spec/e2e/default_install_spec.rb
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/ubuntu-22.04.yml
  spec/spec_helper_e2e.rb
Labels: component/nginx_stage

Remove deprecated Socket.gethostbyname Fixes #2048
  ood-portal-generator/lib/ood_portal_generator.rb
Labels: component/ood_portal_generator

Update EL builds to Ruby 3.0 Fixes #2044
  Dockerfile
  Dockerfile.dev
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: none

Update ood_packaging
  Gemfile
  Gemfile.lock
Labels: none

Need truly full version with .el7 and .el8
  packaging/rpm/ondemand.spec
Labels: none

fix permissions on mounted folders for podman
  Dockerfile.dev
  lib/tasks/development.rb
Labels: area/build

Initial commit to expand jobs app integration tests
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

Upgrade EL builds to use Ruby 3.0 (#2053)
  Dockerfile
  Dockerfile.dev
  Gemfile
  Gemfile.lock
  ood-portal-generator/lib/ood_portal_generator.rb
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: component/ood_portal_generator

Ensure ondemand-selinux gets updated if only ondemand release bumped
  packaging/rpm/ondemand.spec
Labels: none

Ensure ondemand-selinux gets updated if only ondemand release bumped (#2056)
  packaging/rpm/ondemand.spec
Labels: none

check config before accessing it
  apps/shell/app.js
Labels: component/shell

removing unused validatin
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

updating system tests
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Working on passing parameters back for failed validation
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

Ensure Ubuntu builds can find passenger_native_support.so Disable attemped download of passenger native support binary Fixes #2051
  nginx_stage/etc/profile
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

TEMP
  packaging/deb/rules
Labels: none

Enable Apache proxy_wstunnel for deb packages Fixes #2022
  packaging/deb/postinst
Labels: none

Depend on more specific ondemand-passenger RPM Fixes #2042
  packaging/ondemand.spec
Labels: none

Use enable file for deb packages similar to SCL enable file
  nginx_stage/etc/profile
  ood-portal-generator/etc/profile
  packaging/deb/rules
  packaging/files/profile.deb
Labels: component/nginx_stage, component/ood_portal_generator

Add acceptance test for new file
  spec/e2e/00_package_spec.rb
Labels: none

Enable Apache proxy_wstunnel for deb packages (#2059)
  packaging/deb/postinst
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
