Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

remove unused route
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Update files_controller.rb
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

add check before staging
  apps/myjobs/app/models/workflow.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

use warn instead of Rails.logger.error
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

update dependencies (#4369)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add check before staging (#4367)
  apps/myjobs/app/models/workflow.rb
Labels: component/jobcomposer

fix this test
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

add check before staging (#4367)
  apps/myjobs/app/models/workflow.rb
Labels: component/jobcomposer

add check before staging (#4367)
  apps/myjobs/app/models/workflow.rb
Labels: component/jobcomposer

use $stderr.puts so this is testable
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

Update Changelog (#4368)
  CHANGELOG.md
Labels: none

remove sweetalert
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

use warn instead of Rails.logger.error (#4370)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

remove sweetalert (#4374)
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

use warn instead of Rails.logger.error (#4370)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

use warn instead of Rails.logger.error (#4370)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

Remove file_frame route. Remove shadow styling in projects/show view.
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

fix tpyo
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Feature/3944 add file browser to projects#show (#3981)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/app/views/files/turbo_frames/_file.html.erb
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/files.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/package.json
  apps/dashboard/test/controllers/files_controller_test.rb
  apps/dashboard/test/fixtures/files/README.md
  apps/dashboard/test/fixtures/files/README.txt
  apps/dashboard/test/helpers/files_helper_test.rb
  apps/dashboard/test/helpers/projects_helper_test.rb
  apps/dashboard/test/system/project_manager_test.rb
  apps/dashboard/yarn.lock
Labels: component/dashboard

refactor OodApp and BatchConnect::App (#4170)
  apps/dashboard/app/apps/app_recategorizer.rb
  apps/dashboard/app/apps/dev_router.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/apps/sys_router.rb
  apps/dashboard/app/apps/usr_router.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/product.rb
Labels: component/dashboard

cache apps so they only render once
  apps/dashboard/app/apps/dev_router.rb
  apps/dashboard/app/apps/sys_router.rb
  apps/dashboard/app/apps/usr_router.rb
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

Refactor HpcModule to return all modules across clusters
  apps/dashboard/app/controllers/module_browser_controller.rb
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/app/views/module_browser/_module_list.html.erb
Labels: component/dashboard

rename file to keep git history
  apps/shell/public/javascripts/hterm_all_1.92.1.mod.js
Labels: component/shell

update hterm
  apps/shell/public/javascripts/hterm_all_1.92.1.mod.js
  apps/shell/views/index.hbs
Labels: component/shell

Add metadata info to view and debounce search
  apps/dashboard/app/controllers/module_browser_controller.rb
  apps/dashboard/app/helpers/module_browser_helper.rb
  apps/dashboard/app/javascript/module_browser.js
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/app/views/module_browser/index.html.erb
Labels: component/dashboard

Hardcode selinux-policy dependency for RHEL9 Hardcode to 9.5 version while 9.6 is being released downstream of RHEL
  packaging/rpm/ondemand.spec
Labels: none

Hardcode selinux-policy dependency for RHEL9 (#4379)
  packaging/rpm/ondemand.spec
Labels: none

Hardcode selinux-policy dependency for RHEL9 (release_4.0) Hardcode to 9.5 version while 9.6 is being released downstream of RHEL
  packaging/rpm/ondemand.spec
Labels: none

Hardcode selinux-policy dependency for RHEL9 (release_3.1) Hardcode to 9.5 version while 9.6 is being released downstream of RHEL
  packaging/rpm/ondemand.spec
Labels: none

Hardcode selinux-policy dependency for RHEL9 (release_3.1) (#4381)
  packaging/rpm/ondemand.spec
Labels: none

Hardcode selinux-policy dependency for RHEL9 (release_4.0) (#4380)
  packaging/rpm/ondemand.spec
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Workflow poc successful
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Improve styling and trim search term
  apps/dashboard/app/assets/stylesheets/module_browser.scss
  apps/dashboard/app/javascript/module_browser.js
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/app/views/module_browser/_versions_table.html.erb
Labels: component/dashboard

update dependencies (#4383)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Make cluster a keyword parameter
  apps/dashboard/app/models/hpc_module.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
