Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Fix files/api/v1 route (#2240)
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Added support to select the system applications shown in the UI
  apps/dashboard/app/apps/nav_app.rb
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/models/router_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

Support cloud storage file transfers (#2186)
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/javascript/packs/files/clip_board.js
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/models/posix_transfer.rb
  apps/dashboard/app/models/remote_transfer.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/lib/rclone_util.rb
  apps/dashboard/test/jobs/transfer_local_job_test.rb
  apps/dashboard/test/models/transfer_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

Remove rclone install and bump ondemand up in sequence.
  Dockerfile.dev
Labels: none

Adding ondemand install sequence change.
  Dockerfile.dev
Labels: none

Fixing wrong move.
  Dockerfile.dev
Labels: none

Remove rclone install and bump ondemand up in sequence. (#2246)
  Dockerfile.dev
Labels: none

Updated pinned_apps lookup to search sub_apps regardless of parent (#2235)
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/apps/token_matcher.rb
Labels: component/dashboard

init and access browser logs differently for selenium 4.0+
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

Make creating directories possible on remotes that don't support empty dirs
  apps/dashboard/config/locales/en.yml
  apps/dashboard/lib/rclone_util.rb
Labels: component/dashboard

add .env.overload docs to the README
  apps/dashboard/README.md
Labels: component/dashboard

update docs
  apps/dashboard/README.md
Labels: component/dashboard

add .env.overload docs to the README (#2253)
  apps/dashboard/README.md
Labels: component/dashboard

Moved navigation settings to profile based configuration (#2251)
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Moved navigation settings to profile based configuration (#2251) (#2221)
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Renamed UserConfiguration.categories to nav_categories
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

Show error accessing remote fs when disabled
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/files_app_test.rb
Labels: component/dashboard

Renamed UserConfiguration.categories to nav_categories (#2257)
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

fix changelog
  CHANGELOG.md
Labels: none

rm newline
  CHANGELOG.md
Labels: none

Update Changelog (#2256)
  CHANGELOG.md
Labels: none

Rename uploads with duplicate names (#2200)
  apps/dashboard/app/javascript/packs/files/clip_board.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
  apps/dashboard/app/javascript/packs/files/utils.js
Labels: component/dashboard

Fix token matcher logic for sub apps (#2235) (#2236)
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/apps/token_matcher.rb
  apps/dashboard/test/apps/token_matcher_test.rb
Labels: component/dashboard

Use new ood_appkit files and editor URLs (#2238)
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

add project conventions
  CONTRIBUTING.md
Labels: none

Add method for listing Rclone remotes
  apps/dashboard/config/locales/en.yml
  apps/dashboard/lib/rclone_util.rb
  apps/dashboard/test/fixtures/config/rclone/rclone.conf
  apps/dashboard/test/rclone_helper.rb
  apps/dashboard/test/unit/rclone_util_test.rb
Labels: component/dashboard

init and access browser logs differently for selenium 4.0+ (#2249)
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

fix sentence
  CONTRIBUTING.md
Labels: none

Make creating directories possible on remotes that don't support empty dirs (#2252)
  apps/dashboard/config/locales/en.yml
  apps/dashboard/lib/rclone_util.rb
Labels: component/dashboard

Show error accessing remote fs when disabled
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/files_app_test.rb
Labels: component/dashboard

Show error accessing remote fs when disabled (#2251)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/files_app_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Added full navigation definition in UserConfiguration
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/custom/_nav_app.html.erb
  apps/dashboard/app/views/layouts/nav/custom/_nav_bar.html.erb
  apps/dashboard/app/views/layouts/nav/custom/_nav_divider.html.erb
  apps/dashboard/app/views/layouts/nav/custom/_nav_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/custom/_nav_link.html.erb
  apps/dashboard/app/views/layouts/nav/custom/_nav_menu.html.erb
  apps/dashboard/test/apps/featured_app_test.rb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/apps/nav_item_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/router_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

Added full navigation definition in UserConfiguration
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/apps/ood_app_link.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

update dependencies (#2103)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Full navigation config: refactoring + tests
  apps/dashboard/app/apps/app_recategorizer.rb
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/apps/ood_app_link.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/test/apps/featured_app_test.rb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
Labels: component/dashboard

Renamed OodAppLink wrapper to Categorizer
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/apps/ood_app_link.rb
Labels: component/dashboard

Fixed bugs + improve test coverage
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/test/apps/app_recategorizer_test.rb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/apps/ood_app_link_test.rb
Labels: component/dashboard
