Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

lint a random file (#2812)
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_hours.rb
Labels: component/dashboard

Update Changelog (#2815)
  CHANGELOG.md
Labels: none

lint a random file
  apps/dashboard/app/models/user.rb
Labels: component/dashboard

lint a random file (#2819)
  apps/dashboard/app/models/user.rb
Labels: component/dashboard

Remove jquery from toggleOptionsFor (#2813)
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

Add possibility of using syslog for nginx logs
  nginx_stage/lib/nginx_stage/configuration.rb
Labels: component/nginx_stage

Add project quick script launch button
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

Add centering for buttons
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

Add btn-group div and title for quick launch button
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

Make cached_values public
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

Add logic to ScriptController submit for quick launch
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

Troubleshoot failing auto attrs test
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

remove script interactive script setup
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Add test for quick launch sucess alert and badge
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Add methods for script and cache creation
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

test troubleshooting
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

add .compact to Script::all to fix #2770
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

remove cache stub
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

remove tests
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Move cache_values back to private
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

remove cached_values check in submit
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

add logic to view to quick submit
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

Use script instead of batch_connect_session_context
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

Add quick launch button and quick launch ability
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

Remove data-toggle
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

Use inline flex to round all boxes
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

Add possibility of using syslog for nginx logs (#2821)
  nginx_stage/lib/nginx_stage/configuration.rb
Labels: component/nginx_stage

Add quick launch button and quick launch ability (#2823)
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/helpers/active_jobs_helper_test.rb
Labels: component/dashboard

lint a random file (#2827)
  apps/dashboard/test/helpers/active_jobs_helper_test.rb
Labels: component/dashboard

Add SELinux boolean to allow PUN to send email via SMTP Fixes #2825
  packaging/rpm/ondemand-selinux.te
Labels: none

Add SELinux boolean to allow PUN to send email via SMTP (#2828)
  packaging/rpm/ondemand-selinux.te
Labels: none

(release_3.0) Add SELinux boolean to allow PUN to send email via SMTP
  packaging/rpm/ondemand-selinux.te
Labels: none

sort batch clusters
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

sort batch clusters (#2830)
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

(release_3.0) Add SELinux boolean to allow PUN to send email via SMTP (#2829)
  packaging/rpm/ondemand-selinux.te
Labels: none

lint a random file
  nginx_stage/spec/spec_helper.rb
Labels: component/nginx_stage

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Add user parameter to passenger_log_file
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

update dependencies (#2834)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell
