Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Focuses on alert; hides alert on load; fixes typo
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

update node-pty
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

rm unnessecary npm install
  .github/workflows/tests.yml
Labels: none

Update node pty (#3155)
  .github/workflows/tests.yml
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

3145 path selector error handling (#3150)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

add dev dependencies back to yarn.lock
  apps/shell/yarn.lock
Labels: component/shell

start to expand data- entries for auto_queues (#3123)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_oakley.txt
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_owens.txt
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Adds favorites column to path_selector modal
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Use latest packaging with nodistro nodejs repos
  Gemfile
  Gemfile.lock
  spec/e2e/e2e_helper.rb
Labels: none

Improved form fixed field UI for new Job Composer scripts
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard

Use latest packaging with nodistro nodejs repos (#3158)
  Gemfile
  Gemfile.lock
  spec/e2e/e2e_helper.rb
Labels: none

stop using node-pty's deprecated APIs
  apps/shell/app.js
Labels: component/shell

display modal if prefill_templates not empty
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
Labels: component/dashboard

Fixed script_edit Add/Remove logic
  apps/dashboard/app/javascript/script_edit.js
Labels: component/dashboard

Added basic Script fixed field test to job app suite
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Lists filePickerFavorites in Favorites section of path selector
  apps/dashboard/app/javascript/path_selector/path_selector.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/db/seeds.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

lint a random file (#3163)
  apps/dashboard/db/seeds.rb
Labels: component/dashboard

refactor and render created method
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_created.html.erb
Labels: component/dashboard

correctly set auto_modules' label (#3139)
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/lib/smart_attributes/auto_modules_test.rb
Labels: component/dashboard

Update Changelog (#3164)
  CHANGELOG.md
Labels: none

Update apps/dashboard/app/views/batch_connect/sessions/card/_created.html.erb
  apps/dashboard/app/views/batch_connect/sessions/card/_created.html.erb
Labels: component/dashboard

add slack to README
  README.md
Labels: none

refactor and render created method (#3165)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_created.html.erb
Labels: component/dashboard

refactor and render support_ticket method
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_support_ticket.html.erb
Labels: component/dashboard

refactor and render support_ticket method (#3167)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_support_ticket.html.erb
Labels: component/dashboard

add slack to README (#3166)
  README.md
Labels: none

stop using node-pty's deprecated APIs (#3160)
  apps/shell/app.js
Labels: component/shell

use the real path as the cache key (#3152)
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

simple refactor of shell's ping/pong (#3146)
  apps/shell/app.js
Labels: component/shell

add dev dependencies back to yarn.lock (#3157)
  apps/shell/yarn.lock
Labels: component/shell

first commit
  apps/dashboard/app/javascript/icon_picker.js
Labels: component/dashboard

lint a random file
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
Labels: component/dashboard

fix mount point docs
  DEVELOPMENT.md
Labels: none

refactor and render status method
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_status.html.erb
Labels: component/dashboard

lint a random file (#3169)
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
Labels: component/dashboard

Improved edit script JS disable/enable option function names
  apps/dashboard/app/javascript/script_edit.js
Labels: component/dashboard

Improved form fixed field UI for new Job Composer scripts (#3159)
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_select.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
