Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Only allows DL button to be re-enabled if all non-downloadable files are unchecked
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Adds i18n-tasks gem & associated tests
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/i18n-tasks.yml
  apps/dashboard/test/unit/i18n_test.rb
Labels: component/dashboard

Adds Gems & config necessary to connect i18n-tasks with openai
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/i18n-tasks.yml.erb
Labels: component/dashboard

Catches bad RegExp for path selector path filtering
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Fixes test to match actual alert string
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

update upload-artifact (#4007)
  .github/workflows/tests.yml
Labels: none

Comments out test from i18n-tasks
  apps/dashboard/test/unit/i18n_test.rb
Labels: component/dashboard

Some refactoring & bug fixing
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Fixes bug where icon shows up on 2nd path_selector on page
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

Fixes HTML
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

Fixes bug where icon shows up on 2nd path_selector on page (#4009)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

nginx_stage: clean up invalid users' PID file directories later
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
Labels: component/nginx_stage

more conservative sleep time
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
Labels: component/nginx_stage

Add system apps caption translation
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

reword this messgae
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
Labels: component/nginx_stage

Use I18n for caption
  apps/dashboard/app/apps/sys_router.rb
Labels: component/dashboard

Refactor caption and category instance variables into methods
  apps/dashboard/app/apps/dev_router.rb
Labels: component/dashboard

Uses correct alert for path selector regex error message
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Small refactor
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

fixup this warn message
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
Labels: component/nginx_stage

rm unused group calculation from nginx_stage
  nginx_stage/lib/nginx_stage/user.rb
  nginx_stage/test/test_helper.rb
Labels: component/nginx_stage

rm this stub in spec
  nginx_stage/spec/generators/pun_config_generator_spec.rb
Labels: component/nginx_stage

3666 disable dl btn when non dlable is checked files (#4008)
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

3037 path select filename filter (#3992)
  apps/dashboard/app/javascript/path_selector/path_selector.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/config/puma.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

lint a random file (#4014)
  apps/dashboard/config/puma.rb
Labels: component/dashboard

Removes check on test
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

Tries a different file
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Make minor stylistic adjustments
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

Add test case for unauthorized directory
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

rm unused group calculation from nginx_stage (#4012)
  nginx_stage/lib/nginx_stage/user.rb
  nginx_stage/spec/generators/pun_config_generator_spec.rb
  nginx_stage/test/test_helper.rb
Labels: component/nginx_stage

Update Changelog (#4015)
  CHANGELOG.md
Labels: none

update dependencies (#4016)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Stub file size calculation
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

Rename file_size to dir_size
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

Restore dev_router.rb
  apps/dashboard/app/apps/dev_router.rb
Labels: component/dashboard

Refactor sys_router.rb to match dev_router.rb
  apps/dashboard/app/apps/sys_router.rb
Labels: component/dashboard
