Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

add disabled downloads test
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

backport #5104 to 4.0. can't cherry-pick the same commit as it's been updated in 4.1
  apps/shell/public/javascripts/hterm_all_1.91.mod_1.js
  apps/shell/views/index.hbs
Labels: component/shell

remove target=_blank in views
  apps/dashboard/app/views/active_jobs/_extended_data_table.html.erb
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/app/views/batch_connect/sessions/card/_host.html.erb
  apps/dashboard/app/views/batch_connect/sessions/card/_id.html.erb
  apps/dashboard/app/views/batch_connect/sessions/connections/_native_vnc_windows.html.erb
  apps/dashboard/app/views/products/_form_icon.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota_resource.html.erb
  apps/dashboard/app/views/shared/_shell_button.html.erb
Labels: component/dashboard

remove target=_blank from files table js
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

Add secondary sort by name to PosixFile
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

Add secondary sort by name to RemoteFile
  apps/dashboard/app/models/remote_file.rb
Labels: component/dashboard

fix test indices with ordering
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

correct file edit tests for same-page editing
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

revert modes after permissions test
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Remove form target from novnc view
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

Remove target in globus link
  apps/dashboard/app/views/files/_globus.html.erb
Labels: component/dashboard

revert deleted files
  Dockerfile.demo
  lib/tasks/demo.rb
Labels: area/build

allow navigational directory links when downloads disabled
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

add back sr-only header text
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

fix alignment
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

fix alignment
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

use label instead of span
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

Revise versioning policy details
  VERSIONING_POLICY.md
Labels: none

update cluster expectations
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

update cluster count
  apps/dashboard/test/lib/smart_attributes/auto_batch_clusters_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/user_permission.rb
Labels: component/dashboard

lint a random file (#5118)
  apps/dashboard/app/models/user_permission.rb
Labels: component/dashboard

update changelog for new versions
  CHANGELOG.md
Labels: none

update changelog for new versions (#5119)
  CHANGELOG.md
Labels: none

add additional markdown features and refactor test
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Refine wording in VERSIONING_POLICY.md
  VERSIONING_POLICY.md
Labels: none

Fix quota bar when over 100%. (#5103)
  apps/dashboard/app/views/shared/_variable_progress_bar.html.erb
Labels: component/dashboard

Add tests for dynamic forms with clusters containing dashes or underscores (#5059)
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_x-nextgen_ascend.txt
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_x-nextgen_ascend.txt
  apps/dashboard/test/fixtures/cmd_output/sinfo_nodes_x-nextgen_ascend.txt
  apps/dashboard/test/fixtures/config/clusters.d/x-nextgen_ascend.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/lib/smart_attributes/auto_batch_clusters_test.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Revise versioning policy details (#5117)
  VERSIONING_POLICY.md
Labels: none

Remove outdated comments
  apps/dashboard/app/assets/stylesheets/data_tables.scss
Labels: component/dashboard

Fix select all headers bug in files table (#5043)
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

bump jest and glob
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

combine event listeners and use keyup
  apps/myjobs/app/assets/javascripts/application.js
Labels: component/jobcomposer

Upgrade Datatables to v2.3 (#5046)
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/data_tables.scss
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/products_index.js
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/package.json
  apps/dashboard/test/system/active_jobs_test.rb
  apps/dashboard/yarn.lock
Labels: component/dashboard

ensure hosts are sorted alphabetically
  apps/shell/utils/helpers.js
Labels: component/shell

add disclaimer about dynamic action
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
Labels: component/dashboard

add files table description and skip there on dir links
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

remove tabindex and use assertive
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

Depend on ondemand-runtime 4.1.0-3 to fix Amazon 2023 npm dependency
  Gemfile
  Gemfile.lock
  packaging/rpm/ondemand.spec
Labels: none

Copy contributor jam guide into main repo
  contributor_jam_guide.md
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
