Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Use latest ood_packaging gem (release 3.1)
  Gemfile
  Gemfile.lock
Labels: none

Use latest ood_packaging gem (release 3.1) (#3897)
  Gemfile
  Gemfile.lock
Labels: none

Use latest ood_packaging gem (#3896)
  Gemfile
  Gemfile.lock
Labels: none

Fixed job status HTML for job extended data JSON response
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
Labels: component/dashboard

Fixed ActiveJobsHelper dependency for ActiveJobsController and JobStatusData
  apps/dashboard/app/controllers/active_jobs_controller.rb
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
Labels: component/dashboard

remove hold buttons for now and make stop button functional
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/views/projects/buttons/_queued_buttons.html.erb
  apps/dashboard/app/views/projects/buttons/_running_buttons.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Fixed ActiveJobsHelper dependency on ApplicationHelper (#3892)
  apps/dashboard/app/controllers/active_jobs_controller.rb
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
Labels: component/dashboard

Create auto_output_directory in AttributeFactory
  apps/dashboard/app/lib/smart_attributes/attributes/auto_output_directory.rb
Labels: component/dashboard

Only add prefix to auto_job_name just before submit.
  apps/dashboard/app/lib/smart_attributes/attributes/auto_job_name.rb
Labels: component/dashboard

Add job name prefix just before job submit. (#3887)
  apps/dashboard/app/lib/smart_attributes/attributes/auto_job_name.rb
Labels: component/dashboard

3436 clean-up PM launcher editable_select interface (#3889)
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard

handle case where job is already completed but not updated on page
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

always cast select_options to an array (#3872)
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

change PATCH to POST
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/views/projects/buttons/_queued_buttons.html.erb
  apps/dashboard/app/views/projects/buttons/_running_buttons.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#3886)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

downcase auto modules so they are dynamic as well
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Standardize which gems get installed during packaging Fixes #3821
  lib/tasks/build.rb
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: area/build

lint a random file
  apps/dashboard/app/models/render_manifest_markdown.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/shell/yarn.lock
Labels: component/shell

Standardize which gems get installed during packaging (#3906)
  lib/tasks/build.rb
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: area/build

Add auto_output_directory to edit.js files.
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes/attributes/auto_output_directory.rb
  apps/dashboard/app/views/launchers/edit.html.erb
Labels: component/dashboard

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#3909)
  apps/shell/yarn.lock
Labels: component/shell

lint a random file (#3907)
  apps/dashboard/app/models/render_manifest_markdown.rb
Labels: component/dashboard

Update Changelog (#3908)
  CHANGELOG.md
Labels: none

submit output_path and error_path in auto_output_directory.
  apps/dashboard/app/lib/smart_attributes/attributes/auto_output_directory.rb
Labels: component/dashboard

add flash message and render instead of redirecting
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

pass project instead of using safe navigation
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
  apps/dashboard/app/views/projects/_job_details_content.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

specify workdir when submitting batch jobs
  apps/dashboard/app/models/launcher.rb
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/dashboard, component/jobcomposer

rm debug log message
  apps/dashboard/app/models/launcher.rb
Labels: component/dashboard

Add tests.
  apps/dashboard/app/lib/smart_attributes/attributes/auto_output_directory.rb
  apps/dashboard/test/lib/smart_attributes/auto_output_directory_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

remove broken test.
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

clean up diff.
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Check submitted hash for auto_output_directory.
  apps/dashboard/test/lib/smart_attributes/auto_output_directory_test.rb
Labels: component/dashboard

fix this test for new cli args
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

create an alert div if pollAndReplace fails
  apps/dashboard/app/javascript/turbo_shim.js
Labels: component/dashboard

add some spaces here
  apps/dashboard/app/javascript/turbo_shim.js
Labels: component/dashboard

STDOUT and STDERR are now combined into one output file (<job_id>-output.log)
  apps/dashboard/app/lib/smart_attributes/attributes/auto_output_directory.rb
  apps/dashboard/test/lib/smart_attributes/auto_output_directory_test.rb
Labels: component/dashboard
