Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Use more generic ondemand_use_ssh boolean and will deprecate ondemand_use_shell_app. This will better support LHA and other uses of SSH
  packaging/ondemand-selinux.te
Labels: none

Allow PUN to always execute things in usr_t like /opt. More fixes for interacting with Kubernetes
  packaging/ondemand-selinux.te
Labels: none

Changes necessary during enforcing testing
  packaging/ondemand-selinux.te
Labels: none

Remove boolean that is deprecated in 2.0 release
  packaging/rpm/ondemand-selinux.te
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

fix changelog
  CHANGELOG.md
Labels: none

Update Changelog (#1498)
  CHANGELOG.md
Labels: none

update dependencies (#1499)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Add tmpfiles.d file for ondemand-nginx (Release 2.0)
  packaging/ondemand.spec
Labels: none

Selinux updates (for 2.0) (#1497)
  packaging/ondemand-selinux.te
Labels: none

Add tmpfiles.d file for ondemand-nginx Fixes #1490
  debian/rules
  lib/tasks/files/ondemand-nginx-tmpfiles.debian
  packaging/rpm/ondemand.spec
Labels: area/build

update dashboard developer docs (#1494)
  DEVELOPMENT.md
  apps/dashboard/README.md
Labels: component/dashboard

Init k8s (2.0) (#1493)
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/initializers/k8s.rb
Labels: component/dashboard

Add tmpfiles.d file for ondemand-nginx (Release 2.0) (#1501)
  packaging/ondemand.spec
Labels: none

Add tmpfiles.d file for ondemand-nginx (#1503)
  debian/rules
  lib/tasks/files/ondemand-nginx-tmpfiles.debian
  packaging/rpm/ondemand.spec
Labels: area/build

Selinux updates (#1496)
  packaging/rpm/ondemand-selinux.te
Labels: none

upgrade to rails 6
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/application.rb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/initializers/content_security_policy.rb
  apps/dashboard/config/initializers/new_framework_defaults_6_0.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

update appkit with other updates too
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

flex yarn version requirement
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

Fix default log location for Debian based systems Fixes #1414
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.default.deb
Labels: component/ood_portal_generator

Fix tests? can't replicate failure locally
  ood-portal-generator/spec/update_ood_portal_spec.rb
Labels: component/ood_portal_generator

Fix nginx_stage defaults to work on Debian Add missing lua-posix dependency to deb packages
  debian/control
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/nginx_stage.gemspec
Labels: component/nginx_stage

shift min an max when they change
  apps/dashboard/app/javascript/packs/batchConnect.js
Labels: component/dashboard

Fix typo in path
  debian/postinst
Labels: none

Fix default log location for Debian based systems (#1505)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.default.deb
  ood-portal-generator/spec/update_ood_portal_spec.rb
Labels: component/ood_portal_generator

Put paths back, only change proxy_user
  nginx_stage/lib/nginx_stage/configuration.rb
Labels: component/nginx_stage

Fix nginx_stage defaults to work on Debian (#1507)
  debian/control
  debian/postinst
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/nginx_stage.gemspec
Labels: component/nginx_stage

Fix path to a few deb packaged files
  debian/rules
Labels: none

Fix deb nginx paths to match what nginx_stage expects
  lib/tasks/install.rb
Labels: area/build

Fix container flags to work with Docker
  lib/tasks/build.rb
  lib/tasks/build_utils.rb
Labels: area/build

Attempt to speed up builds similar to what's done with RPMs
  debian/rules
Labels: none

Allow platform arg to be used
  lib/tasks/packaging.rb
Labels: area/build

fix clamping
  apps/dashboard/app/javascript/packs/batchConnect.js
Labels: component/dashboard

add tests for clamping values
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Fix Debian paths and other misc fixes (#1510)
  debian/rules
  lib/tasks/build.rb
  lib/tasks/build_utils.rb
  lib/tasks/install.rb
  lib/tasks/packaging.rb
Labels: area/build

update webpacker and dev server
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

use osc robot instead of osc wiag
  .github/workflows/changelog.yml
  .github/workflows/document-merge.yml
  .github/workflows/issue-lifecycle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/update.yml
Labels: none

safely read connection yml
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

bc apps to use a cache directory
  .rubocop.yml
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
