Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Uses correct function on files table onpopstate
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

Adds onpopstate listener to capture back/forward button changes (#3224)
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

use pr-labler version 4.3.0 (#3225)
  .github/workflows/pr-labeler.yml
Labels: none

Icon picker fix (#3187)
  apps/dashboard/app/javascript/icon_picker.js
Labels: component/dashboard

add a rake task to determine file format
  lib/tasks/test.rb
Labels: area/build

capitalize DOS
  lib/tasks/test.rb
Labels: area/build

add a rake task to determine file format (#3227)
  lib/tasks/test.rb
Labels: area/build

Update Changelog (#3221)
  CHANGELOG.md
Labels: none

add test for DOS encoded files
  .github/workflows/tests.yml
Labels: none

convert these files from DOS to Unix format
  apps/dashboard/app/javascript/files/clip_board.js
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/app/javascript/files/uppy_ops.js
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/files/_copy_move_popup.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/files/_favorites.html.erb
  apps/dashboard/app/views/files/_file_action_menu.html.erb
Labels: component/dashboard

refactor session_time method with partial
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_session_time.html.erb
Labels: component/dashboard

changed time used to time requested
  apps/dashboard/app/views/batch_connect/sessions/card/_session_time.html.erb
Labels: component/dashboard

WIP: Starts auto_environment_variable smart attr for scripts
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_key_value_pair.html.erb
Labels: component/dashboard

remove featured routes and views
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/app/views/apps/_app.html.erb
  apps/dashboard/app/views/apps/_catalog_link.html.erb
  apps/dashboard/app/views/apps/_group.html.erb
  apps/dashboard/app/views/apps/featured.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

remove el7 from the CI
  .github/workflows/tests.yml
  .gitlab-ci.yml
Labels: none

Fixes broken test
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

rm el7 nodesets
  spec/e2e/nodesets/el7-aarch64.yml
  spec/e2e/nodesets/el7.yml
Labels: none

rm el7 logic in e2e spec helper
  spec/e2e/e2e_helper.rb
Labels: none

remove el7 from the CI (#3232)
  .github/workflows/tests.yml
  .gitlab-ci.yml
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/el7-aarch64.yml
  spec/e2e/nodesets/el7.yml
Labels: none

lint a random file
  apps/dashboard/test/helpers/errors_helper_test.rb
Labels: component/dashboard

lint a random file (#3234)
  apps/dashboard/test/helpers/errors_helper_test.rb
Labels: component/dashboard

remove featured routes and views (#3231)
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/app/views/apps/_app.html.erb
  apps/dashboard/app/views/apps/_catalog_link.html.erb
  apps/dashboard/app/views/apps/_group.html.erb
  apps/dashboard/app/views/apps/featured.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

add test for DOS encoded files (#3228)
  .github/workflows/tests.yml
  apps/dashboard/app/javascript/files/clip_board.js
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/app/javascript/files/uppy_ops.js
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/files/_copy_move_popup.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/files/_favorites.html.erb
  apps/dashboard/app/views/files/_file_action_menu.html.erb
Labels: component/dashboard

Ensures auto_environment_variable is picked up in the form correctly
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_key_value_pair.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Changes strategy for auto_environment_variable
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_key_value_pair.html.erb
Labels: component/dashboard

add the config option to disable uploads and downloads
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/files/_download_button.html.erb
  apps/dashboard/app/views/files/_file_action_menu.html.erb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/_upload_button.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

only test the first 5 so we dont have to update these all the time
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

enhance this helper for building test assets
  apps/dashboard/bin/recompile_js
Labels: component/dashboard

add newlines to these files
  apps/dashboard/app/views/files/_download_button.html.erb
  apps/dashboard/app/views/files/_upload_button.html.erb
Labels: component/dashboard

enhance this helper for building test assets (#3238)
  apps/dashboard/bin/recompile_js
Labels: component/dashboard

use safer rsync args
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

rsync args broke ruby 2.7 lol?
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

ok, let's try last
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

not first, not last, try middle.
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

bc apps rsync with safer args
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

correctly handle options that start with numbers
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

shouldn't have had this assertion
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

this test case cannot work yet
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/app/models/workflow_file.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none
