Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

lint a random file (#3583)
  ood-portal-generator/spec/dex_spec.rb
Labels: component/ood_portal_generator

pass array to Open3.capture2e instead of singular string
  apps/dashboard/app/apps/ood_app.rb
Labels: component/dashboard

Update Changelog (#3585)
  CHANGELOG.md
Labels: none

rm package-lock.json (#3579)
  apps/dashboard/package-lock.json
Labels: component/dashboard

refractor systemstatus polling
  apps/dashboard/app/javascript/system_status.js
Labels: component/dashboard

Removes unnecessary variable setting
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
Labels: component/dashboard

refractor systemstatus polling (#3587)
  apps/dashboard/app/javascript/system_status.js
Labels: component/dashboard

degrade gracefully when scheduler is not slurm
  apps/dashboard/app/helpers/system_status_helper.rb
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

Update Bootstrap 5 Buttons (#3586)
  apps/dashboard/app/assets/stylesheets/_variables.scss
  apps/dashboard/app/helpers/products_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/app/views/launchers/show.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/support_ticket/email_service_template.html.erb
Labels: component/dashboard

change data-dismiss to data-bs-dismiss
  apps/dashboard/app/javascript/products_show.js
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/app/views/files/_copy_move_popup.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/layouts/_browser_warning.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

change close to btn-close and remove &times inside close buttons
  apps/dashboard/app/javascript/products_show.js
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/app/views/files/_copy_move_popup.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/layouts/_browser_warning.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

add alert-dismissible class to correctly align flash close buttons
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

update tests to account for updated close buttons
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Catches Regexp error & allows filter to be an array
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/lib/smart_attributes/auto_modules_test.rb
Labels: component/dashboard

update more tests
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

rename system status app
  apps/system-status/manifest.yml
Labels: none

rename system status app in spec
  packaging/rpm/ondemand.spec
Labels: none

Replaces dropdown-menu-right with dropdown-menu-end
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/test/integration/custom_help_navigation_test.rb
Labels: component/dashboard

change system status name in config
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

update system status route
  apps/dashboard/config/routes.rb
  apps/system-status/manifest.yml
Labels: component/dashboard

Update apps/dashboard/config/routes.rb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Update apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Rename system status app (#3593)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/system-status/manifest.yml
  packaging/rpm/ondemand.spec
Labels: component/dashboard

Add system status poll delay configuration
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

fix formatting
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

use configured poll delay in javascript
  apps/dashboard/app/javascript/system_status.js
Labels: component/dashboard

change data-target to data-bs-target
  apps/dashboard/app/views/batch_connect/shared/_saved_settings_menu.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

change data-target to data-bs-target (#3596)
  apps/dashboard/app/views/batch_connect/shared/_saved_settings_menu.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

Systemstatus poll config (#3595)
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/system_status.js
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

fix arguments to capture2e
  apps/dashboard/app/apps/ood_app.rb
Labels: component/dashboard

Updates logger error message for filter failure
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
Labels: component/dashboard

Adds dynamic labels to form with data-label-*
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/transfer.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Added saved settings widget
  apps/dashboard/app/assets/stylesheets/batch_connect/saved_settings.scss
  apps/dashboard/app/helpers/batch_connect/settings_helper.rb
  apps/dashboard/app/models/batch_connect/settings.rb
  apps/dashboard/app/views/batch_connect/settings/_action_buttons.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/app/views/widgets/_saved_settings.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/fixtures/file_output/user_settings/saved_settings_widget.yml
  apps/dashboard/test/fixtures/file_output/user_settings/settings_helper.yml
  apps/dashboard/test/helpers/batch_connect/settings_helper_test.rb
  apps/dashboard/test/integration/saved_settings_controller_test.rb
  apps/dashboard/test/integration/saved_settings_widget_test.rb
Labels: component/dashboard

Fixed saved settings pages after BootStrap5 upgrade
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/app/views/widgets/_saved_settings.html.erb
Labels: component/dashboard

Fixes to the active sessions widget after the introduction of the Turbo Stream libraries
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/views/widgets/_sessions.html.erb
Labels: component/dashboard

update changelog (#3600)
  CHANGELOG.md
Labels: none

lint a random file (#3599)
  apps/dashboard/app/models/transfer.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
