Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Moved some clipboard stuff to clipboard.js
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/views/shared/files/_common.html.erb
Labels: component/dashboard

Moved downloads functionality to fileops.js
  apps/dashboard/app/views/shared/files/_common.html.erb
Labels: component/dashboard

Debugging project issue.
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/views/jobs/projects/_form.html.erb
  apps/dashboard/app/views/jobs/projects/create.html.erb
  apps/dashboard/app/views/jobs/projects/index.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

upgrade dashboard to rails 6.1 (#1830)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/bin/rake
  apps/dashboard/bin/spring
  apps/dashboard/config.ru
  apps/dashboard/config/application.rb
  apps/dashboard/config/boot.rb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/initializers/backtrace_silencers.rb
  apps/dashboard/config/initializers/filter_parameter_logging.rb
  apps/dashboard/config/initializers/new_framework_defaults_6_1.rb
  apps/dashboard/config/initializers/permissions_policy.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#1832)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

add ability to build nightly dev containers
  Dockerfile.nightly
  lib/tasks/packaging.rb
  lib/tasks/rake_helper.rb
Labels: area/build

Update Changelog (#1831)
  CHANGELOG.md
Labels: none

fix dev run commands
  lib/tasks/development.rb
Labels: area/build

Completed Breakout of inline JS
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/common.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/javascript/packs/files/index.js
  apps/dashboard/app/javascript/packs/files/uppy.js
  apps/dashboard/app/views/filenavigator/index.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/shared/files/_common.html.erb
Labels: component/dashboard

All is working in Files App except for Upload
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/views/shared/files/_common.html.erb
  apps/dashboard/config/initializers/session_store.rb
Labels: component/dashboard

Undo accidental commit
  apps/dashboard/config/initializers/session_store.rb
Labels: component/dashboard

Group PosixFile class methods together
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

Fix zip download not working
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

Use member variable in FilesController
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

Refactor parts of FilesController to use a PosixFile model (#1828)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/files.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/test/jobs/transfer_local_job_test.rb
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

All functionality in Files App works. However, need to investigate what appears to be caching issues
  apps/dashboard/app/javascript/packs/files/common.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/javascript/packs/files/index.js
  apps/dashboard/app/javascript/packs/files/uppy.js
  apps/dashboard/app/views/shared/files/_common.html.erb
Labels: component/dashboard

Tested Files App, and all is now good
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/views/files/_breadcrumb.html.erb
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

pushing current work
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/views/jobs/projects/destroy.html.erb
  apps/dashboard/app/views/jobs/projects/index.html.erb
  apps/dashboard/app/views/jobs/projects/new.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Adding CRD ability for projects
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/views/jobs/projects/create.html.erb
  apps/dashboard/app/views/jobs/projects/index.html.erb
  apps/dashboard/app/views/jobs/projects/new.html.erb
  apps/dashboard/app/views/jobs/projects/show.html.erb
Labels: component/dashboard

Stubbing a project directory for edit integration test.
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

Cleaning up code.
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

fix /nginx/stop redirections
  mod_ood_proxy/lib/nginx.lua
  spec/e2e/proxy_spec.rb
Labels: component/mod_ood_proxy

add assertions on url and fix one test
  spec/e2e/proxy_spec.rb
Labels: none

Jobs app/check manifest (#1839)
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/views/jobs/projects/_form.html.erb
  apps/dashboard/app/views/jobs/projects/create.html.erb
  apps/dashboard/app/views/jobs/projects/destroy.html.erb
  apps/dashboard/app/views/jobs/projects/edit.html.erb
  apps/dashboard/app/views/jobs/projects/index.html.erb
  apps/dashboard/app/views/jobs/projects/new.html.erb
  apps/dashboard/app/views/jobs/projects/show.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

fix tests again
  spec/e2e/proxy_spec.rb
Labels: none

fix tests again
  spec/e2e/proxy_spec.rb
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Fix uploaded file umask handling
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

fix /nginx/stop redirections (#1840)
  mod_ood_proxy/lib/nginx.lua
  spec/e2e/proxy_spec.rb
Labels: component/mod_ood_proxy

allow for job composer to copy environment
  apps/myjobs/app/models/resource_mgr_adapter.rb
  apps/myjobs/app/models/workflow.rb
  apps/myjobs/app/views/workflows/_edit_form_job_attrs.html.erb
  apps/myjobs/config/locales/en.yml
Labels: component/jobcomposer

update dependencies (#1842)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update README.md
  README.md
Labels: none

Fix uploaded file umask handling (#1845)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Removing jobs namespace across the new jobs-app project.
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/edit.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/projects/new.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/projects/submit.html.erb
  apps/dashboard/app/views/projects/update.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/fixtures/projects/.keep
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

Removing jobs namespace across the new jobs-app project. (#1850)
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/edit.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/projects/new.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/projects/submit.html.erb
  apps/dashboard/app/views/projects/update.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/fixtures/projects/.keep
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

Update README.md (#1849)
  README.md
Labels: none
