Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Edited as per review comments
  apps/dashboard/app/models/project.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Used brute force to create a list of shared path to a user
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Moved possible_imports under class << self
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

To continue our discussion
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Converted flat_map to map.flatten and tested end-to-end
  apps/dashboard/app/models/project.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

No need to parse URL path so regrex for :// is not required
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

extract min_memory from the session.info to use in view
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

Restructure alerts
  apps/dashboard/app/views/shared/_insufficient_balance.html.erb
  apps/dashboard/app/views/shared/_insufficient_balance_resource.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota_resource.html.erb
Labels: component/dashboard

Replace h4 tags in alert headings
  apps/dashboard/app/views/shared/_insufficient_balance_resource.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota_resource.html.erb
Labels: component/dashboard

Add conversion of the memory value to always display in GB
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

Add display of GB for all memory values.
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

Add conversion for min_memory and use match to handle regex.
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

convert value from string to float
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

Used brute force to create a list of shared path to a user (#4208)
  apps/dashboard/app/models/project.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Add landmarks for menu and active sessions (#4254)
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/integration/files_test.rb
Labels: component/dashboard

Import directory can be null allowing users to only import default projects
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update Changelog (#4260)
  CHANGELOG.md
Labels: none

lock byebug < 12.0.0
  apps/dashboard/Gemfile
Labels: component/dashboard

add libyaml-dev to control file
  packaging/deb/control
Labels: none

Simplify path display on file/directory_frame
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/test/helpers/files_helper_test.rb
Labels: component/dashboard

update all these gems
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Rename env variable and use size from @path
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

try to specify version
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

reset this lockfile
  Gemfile.lock
Labels: none

reset these files
  .github/workflows/tests.yml
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

just start with dashboard
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

update nokogiri
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

use bundler 2.6.6 across the board
  .github/workflows/tests.yml
Labels: none

use bundler 2.5.23 for ruby 3 compatability
  .github/workflows/tests.yml
  Gemfile.lock
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

force all platforms to ruby and use-system-libraries
  packaging/deb/control
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: none

use ruby 3.0 here until we update beaker
  .github/workflows/tests.yml
Labels: none

Fix remote file size retrieval and restructure edit logic in controller
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
Labels: component/dashboard

Remove html_safe from files controller
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Add native[:min_memory] to the info object being stubbed.
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

Add file editor limit (#4256)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

update dependencies for ruby 3.0+ (#4222)
  .github/workflows/tests.yml
  Gemfile.lock
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  packaging/deb/control
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: component/dashboard
