Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

bump bootstrap_form to 5.4
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Truncated into a single message instead of three different fields
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/views/projects/_job_details_content.html.erb
Labels: component/dashboard

Removed empty space from launcher list on show page
  apps/dashboard/app/views/workflows/show.html.erb
Labels: component/dashboard

Fixed template override lookup for support ticket API content
  apps/dashboard/app/apps/request_tracker_service.rb
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
  apps/dashboard/test/apps/request_tracker_service_test.rb
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
  apps/dashboard/test/fixtures/config/views/support_ticket/rt/rt_override.text.erb
  apps/dashboard/test/fixtures/config/views/support_ticket/servicenow/snow_override.text.erb
Labels: component/dashboard

Update to trigger build after CI runnning errors
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
Labels: component/dashboard

Fix template icons (#4838)
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

Announcements respond to 'message' key
  apps/dashboard/app/models/announcement.rb
Labels: component/dashboard

rm bundler version requirement for nginx_stage
  nginx_stage/nginx_stage.gemspec
Labels: component/nginx_stage

use CurrentUser group_names method directly
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/views/projects/_form.html.erb
Labels: component/dashboard

modify project structure
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

specify canadian english
  apps/dashboard/config/i18n-tasks.yml.erb
Labels: component/dashboard

bump ood_core to 0.30.1
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Made the message scheduler agnostic and removed special case
  apps/dashboard/app/helpers/projects_helper.rb
Labels: component/dashboard

replace path selector helper
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

Clean up project editing (#4837)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

add col breakpoints
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

style import shortcut buttons
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/projects/_possible_imports.html.erb
Labels: component/dashboard

rm bundler version requirement for nginx_stage (#4846)
  nginx_stage/nginx_stage.gemspec
Labels: component/nginx_stage

Added select_all for create, clean up workflow submission (#4775)
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/javascript/workflow_new.js
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/_form.html.erb
  apps/dashboard/app/views/workflows/new.html.erb
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

Announcements respond to 'message' key (#4845)
  apps/dashboard/app/models/announcement.rb
Labels: component/dashboard

rm debug delme.html files
  apps/dashboard/test/system/project_manager_test.rb
  apps/dashboard/test/system/saved_settings_test.rb
Labels: component/dashboard

Fix locales (#4836)
  apps/dashboard/config/i18n-tasks.yml.erb
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

use OODAlertError directly (#4813)
  apps/dashboard/app/javascript/files/clip_board.js
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/javascript/files/sweet_alert.js
Labels: component/dashboard

Silence Gemfile and key warnings (#4820)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/views/widgets/_recently_used_apps.html.erb
  apps/dashboard/test/fixtures/widgets/recently_used_apps/sys_bc_desktop.json
Labels: component/dashboard

sub underscores for dashes in ids
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

bump bootstrap to latest
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

add aria-live to jobs panel
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

bump bootstrap_form to 5.4 (#4843)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

rm eval dbus-launch now that we have SAFE_PATH correct
  apps/bc_desktop/template/desktops/xfce.sh
Labels: component/bc_desktop

remove actions from error reports
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

use built in method
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

fix project title buttons overlap
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

add-project-removal
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Add SSL reverse proxy paths (#3179)
  mod_ood_proxy/lib/ood/proxy.lua
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/mod_ood_proxy, component/ood_portal_generator

Replace naive_ssl_proxy with flexible ssl_proxy array
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

run deletable? safely
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

detect deletable? before destroy!
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

Revert "remove deleted projects from lookup"
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

fix overlaps in project show header (#4852)
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

validate existence in lookup table
  apps/dashboard/app/models/project.rb
Labels: component/dashboard
