Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

refactor shell buttons so they can be disabled
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/shared/_shell_button.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

dont duplicate IDs and fix this label
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/shared/_shell_button.html.erb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

add new versions to changelog
  CHANGELOG.md
Labels: none

Add 4.0.3 and 3.1.11 to the changlog. (#4315)
  CHANGELOG.md
Labels: none

fix links in changelog
  CHANGELOG.md
Labels: none

lint a random file
  apps/myjobs/config/initializers/inflections.rb
Labels: component/jobcomposer

Return to original logic in load_external_bc_config?
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

fix links in changelog (#4316)
  CHANGELOG.md
Labels: none

lint a random file (#4317)
  apps/myjobs/config/initializers/inflections.rb
Labels: component/jobcomposer

Refactor zip_to_template.
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Scaffold module browser
  apps/dashboard/app/controllers/module_browser_controller.rb
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/app/views/module_browser/_cluster_tabs.html.erb
  apps/dashboard/app/views/module_browser/_filters.html.erb
  apps/dashboard/app/views/module_browser/_module_row.html.erb
  apps/dashboard/app/views/module_browser/_module_table.html.erb
  apps/dashboard/app/views/module_browser/index.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

update dependencies (#4322)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update Changelog (#4321)
  CHANGELOG.md
Labels: none

lint a random file (#4320)
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

refactor shell buttons so they can be disabled (#4313)
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/shared/_shell_button.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

small refactor regarding these buttons
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
Labels: component/dashboard

Updated as per review comments
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_nodes.rb
Labels: component/dashboard

Removed the required method as it is not needed
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_nodes.rb
Labels: component/dashboard

Added new SmartAttribute bc_num_nodes
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_nodes.rb
Labels: component/dashboard

Restructure as list
  apps/dashboard/app/controllers/module_browser_controller.rb
  apps/dashboard/app/views/module_browser/_cluster_tabs.html.erb
  apps/dashboard/app/views/module_browser/_filters.html.erb
  apps/dashboard/app/views/module_browser/_module.html.erb
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/app/views/module_browser/_module_row.html.erb
  apps/dashboard/app/views/module_browser/_module_table.html.erb
  apps/dashboard/app/views/module_browser/index.html.erb
Labels: component/dashboard

Add version-cluster table
  apps/dashboard/app/views/module_browser/_cluster_tabs.html.erb
  apps/dashboard/app/views/module_browser/_module.html.erb
  apps/dashboard/app/views/module_browser/_version_cluster_table.html.erb
Labels: component/dashboard

encrypt password fields when caching them
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/concerns/encrypted_cache.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Added new SmartAttribute bc_num_nodes to replace bc_num_slots in PM (#4323)
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_nodes.rb
Labels: component/dashboard

small refactor regarding these buttons (#4324)
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
Labels: component/dashboard

Added new Smart Attribute bc_num_nodes to define number of nodes
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Added new Smart Attribute bc_num_nodes to define number of nodes (#4327)
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

get rid of all these log statements
  apps/dashboard/app/models/concerns/encrypted_cache.rb
Labels: component/dashboard

catch this error for backward compatability
  apps/dashboard/app/models/concerns/encrypted_cache.rb
Labels: component/dashboard

rename this file
  Dockerfile.example
Labels: none

simpify this file and rm unused files
  Dockerfile.example
  docker/launch-ood
  docker/ood_portal.yml
Labels: none

Improve accessibility and styling
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/module_browser.scss
  apps/dashboard/app/views/module_browser/_module.html.erb
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/app/views/module_browser/_version_cluster_table.html.erb
  apps/dashboard/app/views/module_browser/index.html.erb
Labels: component/dashboard

correct dockerfile
  Dockerfile.example
Labels: none

Remove toolbar leak
  apps/dashboard/app/views/module_browser/index.html.erb
Labels: component/dashboard

Removed support of bc_num_slots as auto_cores will take its place in PM
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Removed support of bc_num_slots as auto_cores will take its place in PM (#4329)
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard
