Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Moved default send to target button title to translations files
  apps/dashboard/app/views/files/_send_to_target_button.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

expand max/min announcement
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

tuneup config
  .codespellrc
Labels: none

[DATALAD RUNCMD] chore: run codespell throughout fixing a few typos interactively
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/integration/files_app_test.rb
  apps/dashboard/test/integration/projects_controller_test.rb
  apps/myjobs/app/models/workflow.rb
  apps/myjobs/config/configuration_singleton.rb
  apps/myjobs/config/storage.yml
  ood-portal-generator/share/ood_portal_example.yml
Labels: component/dashboard, component/jobcomposer, component/ood_portal_generator

Wrap th in span tags to apply sorting icons
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

Announce dynamic form actions (#4594)
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
Labels: component/dashboard

formatting
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

[DATALAD RUNCMD] TEMP: adding a typo
  README.md
Labels: none

RF workflow to be basic installation/execution of codespell
  .github/workflows/codespell.yml
Labels: none

Hide span from screen readers
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

Fix missing activejobs sorting chevrons (#4670)
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

add data-alias feature to option-for
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

implement data-alias for auto_accounts
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

get it working with actual api
  apps/dashboard/app/javascript/nsf_access_events.js
  apps/dashboard/app/javascript/nsf_access_events_data.js
Labels: component/dashboard

correct tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

remove console logs
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

lint a random file
  apps/dashboard/config/initializers/new_framework_defaults_7_1.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#4679)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

lint a random file (#4677)
  apps/dashboard/config/initializers/new_framework_defaults_7_1.rb
Labels: component/dashboard

Update Changelog (#4678)
  CHANGELOG.md
Labels: none

fix illegal selectors
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

use stand in ids
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard

correct tests
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

remove leftover comment
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

adjust comment position
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

Make "Open in Terminal" button accessible (#4631)
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Remove puts from test
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

refactor data-hide with wrapper
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Shell app: log via ws.logger and add username, hostname and pty-term … (#4628)
  apps/shell/app.js
Labels: component/shell

traverse both local and remote filesystems
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/remote_file.rb
Labels: component/dashboard

Path selector accessibility (#4621)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_favorites.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/files/_path_selector_breadcrumb.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

fix development links
  DEVELOPMENT.md
Labels: none

fix grammar in accessibility
  ACCESSIBILITY.md
Labels: none

Fix links in contributing
  CONTRIBUTING.md
Labels: none

fix links in readme
  README.md
Labels: none

Update broken links in markdown files (#4685)
  ACCESSIBILITY.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
Labels: none

use each_filename instead of regex.
  apps/dashboard/lib/rclone_util.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
