Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Update .zenodo.json
  .zenodo.json
Labels: none

update rdoc & psych
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

lint a random file
  apps/dashboard/app/models/motd_file.rb
Labels: component/dashboard

lint a random file (#4298)
  apps/dashboard/app/models/motd_file.rb
Labels: component/dashboard

Update .zenodo.json (#4297)
  .zenodo.json
Labels: none

only upgrade nokogiri
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

update system gems
  .github/workflows/tests.yml
Labels: none

|| true save this
  .github/workflows/tests.yml
Labels: none

upgrade job composer's nokogiri (#4296)
  .github/workflows/tests.yml
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

bundle with 2.5.23
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

Update Dependencies (#4300)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Minor typo
  apps/dashboard/app/javascript/projects_import.js
Labels: component/dashboard

Added a drop down menu in import directory form
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/javascript/projects_import.js
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

Fixed review comments except one
  apps/dashboard/app/javascript/projects_import.js
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

Added project icon as button instead of list
  apps/dashboard/app/javascript/projects_import.js
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

Minor typo
  apps/dashboard/app/javascript/projects_import.js
Labels: component/dashboard

Updated the controller
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

upgrade to rails 7.0.8.7
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

upgrade to rails 7.0.8.7 (#4301)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Fixed rendering shared apps left hand menu when custom navigation is configured (#4291)
  apps/dashboard/app/views/batch_connect/shared/_app_menu.html.erb
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

Rm handlebars (#4294)
  apps/dashboard/app/javascript/files/clip_board.js
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/package.json
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
  apps/dashboard/yarn.lock
Labels: component/dashboard

Added a drop down menu in import directory form (#4283)
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

fix path selector and broken tests
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

resest these files
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

cache icons (#4277)
  apps/dashboard/app/controllers/apps_controller.rb
Labels: component/dashboard

Fixed rendering shared apps left hand menu when custom navigation is configured (#4291)
  apps/dashboard/app/views/batch_connect/shared/_app_menu.html.erb
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

Fix to_bool logic and make it more predictable
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

fix path selector and broken tests (#4302)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

debug ci (#4279)
  .github/workflows/tests.yml
  spec/e2e/browser_spec.rb
Labels: none

fix path selector and broken tests (#4302)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

fix test. this is a div in 4.0
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

fix path selector and broken tests (#4302)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

update this workflow
  .github/workflows/tests.yml
Labels: none

debug ci (#4279)
  .github/workflows/tests.yml
  spec/e2e/browser_spec.rb
Labels: none

fix CI (#4225)
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/preset_apps_navbar_test.rb
  apps/dashboard/test/system/preset_apps_pinned_test.rb
  apps/dashboard/test/system/products_dev_test.rb
  spec/e2e/proxy_spec.rb
Labels: component/dashboard

sleep a bit to stabilize tests
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

sleep before and after
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Add file editor limit (#4256)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Move Compressable concern into Project model
  apps/dashboard/app/models/concerns/compressable.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/project_template.rb
Labels: component/dashboard
