Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Add yarn upgrade
  Rakefile
Labels: none

use windowsterminal themes for easy import
  apps/shell/README.md
  apps/shell/app.js
  apps/shell/color_schemes/LICENSE
  apps/shell/color_schemes/dark/Cobalt2.json
  apps/shell/color_schemes/dark/Monokai Remastered.json
  apps/shell/color_schemes/dark/Pastel Dark.json
  apps/shell/color_schemes/dark/Red Alert.json
  apps/shell/color_schemes/dark/Tomorrow Night Blue.json
  apps/shell/color_schemes/dark/Tomorrow Night Bright.json
  apps/shell/color_schemes/dark/Tomorrow Night Eighties.json
  apps/shell/color_schemes/dark/Tomorrow Night.json
  apps/shell/color_schemes/dark/idleToes.json
  apps/shell/color_schemes/light/CLRS.json
  apps/shell/color_schemes/light/Github.json
  apps/shell/color_schemes/light/Solarized Light.json
  apps/shell/color_schemes/light/Tomorrow.json
  apps/shell/public/javascripts/themes.js
  apps/shell/public/themes/dark/Cobalt.xresources
  apps/shell/public/themes/dark/IdleFingers.xresources
  apps/shell/public/themes/dark/Monokai.xresources
  apps/shell/public/themes/dark/Pastel Dark.xresources
  apps/shell/public/themes/dark/Solarized Dark.xresources
  apps/shell/public/themes/dark/Tomorrow Night Blue.xresources
  apps/shell/public/themes/dark/Tomorrow Night Bright.xresources
  apps/shell/public/themes/dark/Tomorrow Night Eighties.xresources
  apps/shell/public/themes/dark/Tomorrow Night.xresources
  apps/shell/public/themes/dark/Twilight.xresources
  apps/shell/public/themes/light/CLRS.xresources
  apps/shell/public/themes/light/Github.xresources
  apps/shell/public/themes/light/Solarized Light.xresources
  apps/shell/public/themes/light/Tomorrow.xresources
  apps/shell/views/index.hbs
Labels: component/shell

remove term-schemes
  apps/shell/package.json
  apps/shell/scheme_generator.js
  apps/shell/yarn.lock
Labels: component/shell

rm comment
  apps/shell/public/javascripts/ood_shell.1.js
Labels: component/shell

rename scheme to theme
  apps/shell/README.md
  apps/shell/app.js
  apps/shell/color_themes/LICENSE
  apps/shell/color_themes/dark/Cobalt2.json
  apps/shell/color_themes/dark/Monokai Remastered.json
  apps/shell/color_themes/dark/Pastel Dark.json
  apps/shell/color_themes/dark/Red Alert.json
  apps/shell/color_themes/dark/Tomorrow Night Blue.json
  apps/shell/color_themes/dark/Tomorrow Night Bright.json
  apps/shell/color_themes/dark/Tomorrow Night Eighties.json
  apps/shell/color_themes/dark/Tomorrow Night.json
  apps/shell/color_themes/dark/idleToes.json
  apps/shell/color_themes/light/CLRS.json
  apps/shell/color_themes/light/Github.json
  apps/shell/color_themes/light/Solarized Light.json
  apps/shell/color_themes/light/Tomorrow.json
  apps/shell/views/index.hbs
Labels: component/shell

namespace shell theme local storage key
  apps/shell/views/index.hbs
Labels: component/shell

config through ondemand.d/y*ml(.erb) files (#893)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/bad_erb.yml.erb
  apps/dashboard/test/fixtures/config/ondemand.d/empty.yml
  apps/dashboard/test/fixtures/config/ondemand.d/good_erb.yml.erb
  apps/dashboard/test/fixtures/config/ondemand.d/not_good_yml.yml
  apps/dashboard/test/fixtures/config/ondemand.d/pinned_apps.yml
  apps/dashboard/test/fixtures/config/ondemand.d/should_not_read.yml.bak
  apps/dashboard/test/fixtures/config/ondemand.d/test_keys.yml
  apps/dashboard/test/fixtures/config/ondemand.d/yml_with_a.yaml
Labels: component/dashboard

pinned apps to support wildcard globs (#898)
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/app/views/dashboard/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/fixtures/usr/cant_see/app_one/manifest.yml
  apps/dashboard/test/fixtures/usr/cant_see/app_two/manifest.yml
  apps/dashboard/test/fixtures/usr/me/my_shared_app/manifest.yml
  apps/dashboard/test/fixtures/usr/shared/bc_app/form.yml
  apps/dashboard/test/fixtures/usr/shared/bc_app/manifest.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/form.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/local/oakley.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/local/owens.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/manifest.yml
  apps/dashboard/test/models/router_test.rb
Labels: component/dashboard

add shell themes (#630)
  apps/shell/README.md
  apps/shell/app.js
  apps/shell/color_themes/LICENSE
  apps/shell/color_themes/dark/Cobalt2.json
  apps/shell/color_themes/dark/Monokai Remastered.json
  apps/shell/color_themes/dark/Pastel Dark.json
  apps/shell/color_themes/dark/Red Alert.json
  apps/shell/color_themes/dark/Tomorrow Night Blue.json
  apps/shell/color_themes/dark/Tomorrow Night Bright.json
  apps/shell/color_themes/dark/Tomorrow Night Eighties.json
  apps/shell/color_themes/dark/Tomorrow Night.json
  apps/shell/color_themes/dark/idleToes.json
  apps/shell/color_themes/light/CLRS.json
  apps/shell/color_themes/light/Github.json
  apps/shell/color_themes/light/Solarized Light.json
  apps/shell/color_themes/light/Tomorrow.json
  apps/shell/package.json
  apps/shell/public/javascripts/hterm_all_1.85.js
  apps/shell/public/javascripts/lodash-4.17.21/lodash.min.js
  apps/shell/public/javascripts/ood_shell.1.js
  apps/shell/public/stylesheets/bootstrap-theme.min.css
  apps/shell/public/stylesheets/bootstrap.min.css
  apps/shell/public/stylesheets/style.css
  apps/shell/views/index.hbs
  apps/shell/yarn.lock
Labels: component/shell

cache bust hterm & ood_shell
  apps/shell/public/javascripts/hterm_all_1.85.mod.js
  apps/shell/public/javascripts/ood_shell.2.js
  apps/shell/views/index.hbs
Labels: component/shell

invalidate cached @pinned_apps from Router in tests
  apps/dashboard/test/models/router_test.rb
Labels: component/dashboard

Router#pinned_apps now supports hash tokens
  apps/dashboard/app/apps/token_matcher.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/pinned_apps.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/manifest.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/pseudofun/manifest.yml
  apps/dashboard/test/models/router_test.rb
Labels: component/dashboard

Refactor Router#pinned_apps internals
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/apps/token_matcher.rb
  apps/dashboard/test/models/router_test.rb
Labels: component/dashboard

only create a datatable if the dom has one and save the state
  apps/dashboard/app/assets/javascripts/apps.js.coffee
Labels: component/dashboard

add test cases and ids to table rows to ease testing
  apps/dashboard/app/helpers/app_helper.rb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/apps/index.html.erb
  apps/dashboard/test/controllers/apps_controller_test.rb
  apps/dashboard/test/fixtures/dev/bc_rstudio/form.yml
  apps/dashboard/test/fixtures/dev/bc_rstudio/manifest.yml
  apps/dashboard/test/fixtures/usr/results_manager_v2/manifest.yml
Labels: component/dashboard

files links appears as a dropdown button menu
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
Labels: component/dashboard

add helper for install location lookup that's internationalized
  apps/dashboard/app/helpers/app_helper.rb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/apps/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

initial all apps redesign to a data-table
  apps/dashboard/app/assets/javascripts/apps.js.coffee
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/app/views/apps/_app.html.erb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/apps/_app_list.html.erb
  apps/dashboard/app/views/apps/_link.html.erb
  apps/dashboard/app/views/apps/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

only create datatable when doc ready and not turbolinks:load
  apps/dashboard/app/assets/javascripts/apps.js.coffee
Labels: component/dashboard

simplify all apps page links (#895)
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/apps/_link.html.erb
Labels: component/dashboard

be sure to use nav_[dev|usr] groups
  apps/dashboard/app/controllers/apps_controller.rb
Labels: component/dashboard

use existing usr/ fixtures
  apps/dashboard/test/controllers/apps_controller_test.rb
  apps/dashboard/test/controllers/dashboard_controller_test.rb
  apps/dashboard/test/fixtures/usr/results_manager_v2/manifest.yml
Labels: component/dashboard

Add default MOTD
  apps/dashboard/app/models/motd_file.rb
  apps/dashboard/default_motd
Labels: component/dashboard

add staged_root to submit's rendering context
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/models/batch_connect/session_context.rb
Labels: component/dashboard

add staged_root to submit.yml.erb's rendering context
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/models/batch_connect/session_context.rb
Labels: component/dashboard

update dependencies
  apps/activejobs/Gemfile.lock
  apps/dashboard/Gemfile.lock
  apps/file-editor/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/activejobs, component/dashboard, component/file_editor, component/jobcomposer

add header to pinned apps widget
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
Labels: component/dashboard

Add currentUser Singleton class
  apps/dashboard/config/boot.rb
  apps/dashboard/config/current_user_singleton.rb
Labels: component/dashboard

show metadata columns in the all apps table
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/apps/index.html.erb
  apps/dashboard/test/integration/apps_test.rb
Labels: component/dashboard

Add tests for CurrentUserSingleton
  apps/dashboard/test/config/current_user_singleton_test.rb
  apps/dashboard/test/fixtures/current_user/announcement/groups.yml
  apps/dashboard/test/fixtures/current_user/announcement/user_in_group.yml
  apps/dashboard/test/fixtures/files/motd_current_user
  apps/dashboard/test/models/announcement_test.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/models/motd_formatter_markdown_erb_test.rb
  apps/dashboard/test/models/motd_formatter_plaintext_erb_test.rb
Labels: component/dashboard

move pinned app tests to integration tests and create an html_helper for use in integration tests
  apps/dashboard/test/controllers/dashboard_controller_test.rb
  apps/dashboard/test/html_helper.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

Generalize CurrentUserSingleton#groups
  apps/dashboard/config/current_user_singleton.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/motd_formatter_markdown_erb_test.rb
  apps/dashboard/test/models/motd_formatter_plaintext_erb_test.rb
Labels: component/dashboard

Remove OOD AppKit SCSS import in Sprockets stylesheets
  apps/dashboard/app/assets/stylesheets/application.scss
Labels: component/dashboard

Add markdown styling from OOD AppKit to Dashboard
  apps/dashboard/app/assets/stylesheets/app_kit/_markdown.scss
  apps/dashboard/app/assets/stylesheets/application.scss
Labels: component/dashboard

Remove and replace Bootstrap 3 Gem with Bootstrap 4
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Import Bootstrap 4 into Sprockets application.scss
  apps/dashboard/app/assets/stylesheets/_custom.scss
  apps/dashboard/app/assets/stylesheets/application.scss
Labels: component/dashboard

Upgrade Dashboard base styles to Bootstrap 4
  apps/dashboard/app/views/layouts/_footer.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/app/views/layouts/nav/_sessions.html.erb
Labels: component/dashboard

Fix breadcrumb on Interactive Sessions view
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
Labels: component/dashboard

Load Bootstrap 4 with Yarn instead of Rubygem
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

add more integration tests for pinned apps
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
