Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Fixes variable declaration in js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

Removes unnecessary fs fallback in view
  apps/dashboard/app/views/batch_connect/session_contexts/_favorites.html.erb
Labels: component/dashboard

Accepts 'favorites: false' or undefined favorites
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Moves logic for defining favorites to helper
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Allow for favorites: false to hide favorites entirely
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Changes .fetch to .try so we can differentiate 'false' from 'nil' for favorites
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Fixes try method call
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Fixes logic in helper, fixes styling
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

3032 support favorites in path selector (#3173)
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/path_selector/path_selector.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_favorites.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

add nc to development container (#3192)
  Dockerfile.dev
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Fix gnome desktop (#3188)
  apps/bc_desktop/template/desktops/gnome.sh
  apps/bc_desktop/template/script.sh.erb
Labels: component/bc_desktop

add the ability for data-hide- directives on checkboxes
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

add a ; here
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

lint a random file (#3141)
  apps/dashboard/app/models/dev_product.rb
Labels: component/dashboard

refactor and render support_ticket method (#3167)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_support_ticket.html.erb
Labels: component/dashboard

3145 path selector error handling (#3150)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Update Changelog (#3164)
  CHANGELOG.md
Labels: none

Update node pty (#3155)
  .github/workflows/tests.yml
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

lint a random file (#3163)
  apps/dashboard/db/seeds.rb
Labels: component/dashboard

Use latest packaging with nodistro nodejs repos (#3158)
  Gemfile
  Gemfile.lock
  spec/e2e/e2e_helper.rb
Labels: none

Update Changelog (#3143)
  CHANGELOG.md
Labels: none

refactor and render created method (#3165)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_created.html.erb
Labels: component/dashboard

add slack to README (#3166)
  README.md
Labels: none

start to expand data- entries for auto_queues (#3123)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_oakley.txt
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_owens.txt
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

correctly set auto_modules' label (#3139)
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/lib/smart_attributes/auto_modules_test.rb
Labels: component/dashboard

refactor id method with partials (#3148)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_id.html.erb
Labels: component/dashboard

Adds loading icon to path selector UI on table refresh (#3144)
  apps/dashboard/app/assets/stylesheets/common.scss
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Fix gnome desktop (#3188)
  apps/bc_desktop/template/desktops/gnome.sh
  apps/bc_desktop/template/script.sh.erb
Labels: component/bc_desktop

add a link to project directory in projects#show (#3174)
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

refactor and render display_choices method (#3175)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_display_choices.html.erb
Labels: component/dashboard

add a japanese locale (#3180)
  apps/dashboard/config/locales/ja_JP.yml
Labels: component/dashboard

lint a random file (#3191)
  apps/myjobs/test/models/configuration_singleton_test.rb
Labels: component/jobcomposer

stop using node-pty's deprecated APIs (#3160)
  apps/shell/app.js
Labels: component/shell

lint a random file (#3169)
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
Labels: component/dashboard

add nc to development container (#3192)
  Dockerfile.dev
Labels: none

Lint fixup (#3154)
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

add dev dependencies back to yarn.lock (#3157)
  apps/shell/yarn.lock
Labels: component/shell

Update Changelog (#3184)
  CHANGELOG.md
Labels: none
