Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

fix these tests
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Fixed application class type for exist? method (#4165)
  apps/dashboard/config/application.rb
Labels: component/dashboard

Fixed application class type for exist? method (#4165)
  apps/dashboard/config/application.rb
Labels: component/dashboard

Add returnFocus option to resolve focus issues in file_ops (#4100)
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/javascript/files/sweet_alert.js
Labels: component/dashboard

add referrerpolicy attribute to favicon tags
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/myjobs/app/views/layouts/application.html.erb
Labels: component/dashboard, component/jobcomposer

remove conditional in favicon helper and add a test for link href
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/db/migrate/20160316143140_add_host_to_template.rb
Labels: component/jobcomposer

lint a random file (#4168)
  apps/myjobs/db/migrate/20160316143140_add_host_to_template.rb
Labels: component/jobcomposer

refactor OodApp and BatchConnect::App
  apps/dashboard/app/apps/app_recategorizer.rb
  apps/dashboard/app/apps/dev_router.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/apps/sys_router.rb
  apps/dashboard/app/apps/usr_router.rb
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

this can be super
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

this needs to account for bc apps too
  apps/dashboard/app/models/product.rb
Labels: component/dashboard

revert favicon function change and modify tests to mock the rails environment
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

Added brute force lookup into shared_projects_paths to look for potential shared projects
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Moved the ENV varible to configuration_singleton
  apps/dashboard/app/models/project.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Moved shared_projects_root to public mistakenly set to private earlier
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

internationalize "Select Path"
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Fixed RequestTrackerService test after adding support for Job information
  apps/dashboard/test/apps/request_tracker_service_test.rb
Labels: component/dashboard

Added support ticket to active jobs page
  apps/dashboard/app/apps/request_tracker_service.rb
  apps/dashboard/app/apps/support_ticket_email_service.rb
  apps/dashboard/app/apps/support_ticket_rt_service.rb
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
  apps/dashboard/app/controllers/active_jobs_controller.rb
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/models/active_jobs/jobs_json_request_handler.rb
  apps/dashboard/app/models/concerns/support_ticket_service.rb
  apps/dashboard/app/models/support_ticket.rb
  apps/dashboard/app/views/support_ticket/email/_email.text.erb
  apps/dashboard/app/views/support_ticket/rt/rt_ticket_content.text.erb
  apps/dashboard/app/views/support_ticket/servicenow/servicenow_content.text.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/apps/support_ticket_rt_service_test.rb
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
  apps/dashboard/test/integration/support_ticket_integration_test.rb
  apps/dashboard/test/models/concerns/support_ticket_service_test.rb
Labels: component/dashboard

Fixed SupportTicket model test after adding support for Job information
  apps/dashboard/test/models/support_ticket_test.rb
Labels: component/dashboard

Moved support ticket path logic to config.js
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/models/active_jobs/jobs_json_request_handler.rb
  apps/dashboard/app/views/layouts/_config.html.erb
Labels: component/dashboard

Added skeleton of importing a shared project via form
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Update lookup file in case you import a shared project
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Bug fix/favicon referrerpolicy 2895 (#4166)
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/myjobs/app/views/layouts/application.html.erb
Labels: component/dashboard, component/jobcomposer

add recently used apps to the default layout
  apps/dashboard/app/helpers/dashboard_helper.rb
Labels: component/dashboard

End to end working, from providing a import path till it is saved to .lookup_file
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

update dependencies (#4180)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Refactor files_controller.rb to fix path parser and edit functionality.
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/app/views/files/turbo_frames/_file.html.erb
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/controllers/files_controller_test.rb
Labels: component/dashboard

Added a form to projects to import a shared-project using directory path
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Removed edits from form and added a todo task in import.html
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/import.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/integration/settings_controller_test.rb
Labels: component/dashboard

Fixed CSS selectors for active navigation link color
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

Fix tpyo
  apps/dashboard/app/models/project_template.rb
Labels: component/dashboard

Fixed CSS selectors for active navigation link color
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

Fixed CSS selectors for active navigation link color (#4183)
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

Fixed CSS selectors for active navigation link color (#4183)
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

lint a random file (#4182)
  apps/dashboard/test/integration/settings_controller_test.rb
Labels: component/dashboard

Update Changelog (#4179)
  CHANGELOG.md
Labels: none
