Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

change the default value for auto_accounts when copying from template.
  apps/dashboard/app/lib/smart_attributes/attributes/auto_accounts.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

need this fixture file for the tests
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_alt.txt
Labels: component/dashboard

shouldn't have commited this line
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

upgrade myjobs to rails-7
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/myjobs/config/boot.rb
  apps/myjobs/config/environments/development.rb
  apps/myjobs/config/environments/production.rb
  apps/myjobs/config/environments/test.rb
  apps/myjobs/config/initializers/content_security_policy.rb
  apps/myjobs/config/initializers/filter_parameter_logging.rb
  apps/myjobs/config/initializers/inflections.rb
  apps/myjobs/config/initializers/new_framework_defaults_7_0.rb
  apps/myjobs/db/schema.rb
Labels: component/jobcomposer

adding test for announcement class
  apps/dashboard/test/models/announcements_test.rb
Labels: component/dashboard

add logging for syntax error
  apps/dashboard/app/models/announcement.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/test/controllers/pages_controller_test.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

lint a random file (#3406)
  apps/myjobs/test/controllers/pages_controller_test.rb
Labels: component/jobcomposer

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

use climate control in these tests instead of whatever runner does
  apps/myjobs/test/models/configuration_singleton_test.rb
Labels: component/jobcomposer

Update Changelog (#3407)
  CHANGELOG.md
Labels: none

lock nokogiri and net-imap for ubuntu 20
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

support setting the job name in the launchers
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_job_name.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
Labels: component/dashboard

add a newline here
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
Labels: component/dashboard

update this test case
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Fix Amazon 2023 e2e tests
  spec/e2e/e2e_helper.rb
Labels: none

Fix Amazon 2023 e2e tests (#3412)
  spec/e2e/e2e_helper.rb
Labels: none

add a test case for auto_job_name
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

support setting the job name in the launchers (#3411)
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_job_name.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

update citation materials
  .zenodo.json
  CITATION.cff
Labels: none

remove unused files
  config.json
  tests.sh
Labels: none

Add ToC to Dev Guide
  CONTRIBUTING.md
Labels: none

Add ToC to Dev Guide (#3418)
  CONTRIBUTING.md
Labels: none

remove unused files (#3416)
  config.json
  tests.sh
Labels: none

update citation materials (#3415)
  .zenodo.json
  CITATION.cff
Labels: none

start to redesign the projects#show page
  apps/dashboard/app/views/layouts/projects.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

upgrade myjobs to rails-7 (#3404)
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/myjobs/config/boot.rb
  apps/myjobs/config/environments/development.rb
  apps/myjobs/config/environments/production.rb
  apps/myjobs/config/environments/test.rb
  apps/myjobs/config/initializers/content_security_policy.rb
  apps/myjobs/config/initializers/filter_parameter_logging.rb
  apps/myjobs/config/initializers/inflections.rb
  apps/myjobs/config/initializers/new_framework_defaults_7_0.rb
  apps/myjobs/db/schema.rb
  apps/myjobs/test/models/configuration_singleton_test.rb
Labels: component/jobcomposer

Fix favorites array population
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Cleanup logging
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Fix nil return, add allowlist permitted check
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

Cleanup logging
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

WIP - Refactors inline javascript in active_jobs
  apps/dashboard/app/javascript/active_jobs/active_jobs.js
  apps/dashboard/app/javascript/active_jobs/performance_report.js
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

Fixes two bugs
  apps/dashboard/app/javascript/active_jobs/performance_report.js
  apps/dashboard/app/javascript/application.js
Labels: component/dashboard

Removes redundant plugin require
  apps/dashboard/app/javascript/active_jobs/active_jobs.js
Labels: component/dashboard

Fixes cluster/filter search functionality
  apps/dashboard/app/javascript/active_jobs/performance_report.js
Labels: component/dashboard

Adjusts git string quote marks
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

Makes active_jobs JS code one file
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/javascript/active_jobs/performance_report.js
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

update launcher detail panel
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

Simplifies filter & cluster _id setting
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
