Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Update Changelog (#5031)
  CHANGELOG.md
Labels: none

Add app routes tests for owner names
  apps/dashboard/test/integration/apps_test.rb
Labels: component/dashboard

Added supports for args in Launchers
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_args.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/user_permission.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update localizations
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/fr-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

replace activejobs_path with active_jobs_path
  apps/dashboard/app/controllers/active_jobs_controller.rb
Labels: component/dashboard

update localizations (#5039)
  apps/dashboard/config/locales/en-CA.yml
  apps/dashboard/config/locales/fr-CA.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

fix select all header bug
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

Fix broken ActiveJobs route (#5042)
  apps/dashboard/app/controllers/active_jobs_controller.rb
Labels: component/dashboard

Add app routes tests for owner names (#5034)
  apps/dashboard/test/integration/apps_test.rb
Labels: component/dashboard

Fix margins
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

bump jest in shell dependencies
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

bump lodash too
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

upgrade datatables to 2.3
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/javascript/products_index.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

restore file action buttons
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/page_load.js
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/app/views/files/_page_load_config.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

remove unused code and format checkboxes
  apps/dashboard/app/assets/stylesheets/data_tables.scss
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

trigger popovers on focus
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/widgets/_recently_used_apps.html.erb
Labels: component/dashboard

Update ACCESSIBILITY.md
  ACCESSIBILITY.md
Labels: none

Update accessibility information in ACCESSIBILITY.md
  ACCESSIBILITY.md
Labels: none

Refactor CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Added ports into Environment Variables
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/lib/current_user.rb
Labels: component/dashboard

add buildrequires for ondemand.spec
  packaging/rpm/ondemand.spec
Labels: none

move span outside table
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

check for content-dispostion in responses
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

Add tests for clusters with dashes and underscores
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_x-nextgen_ascend.txt
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_x-nextgen_ascend.txt
  apps/dashboard/test/fixtures/cmd_output/sinfo_nodes_x-nextgen_ascend.txt
  apps/dashboard/test/fixtures/config/clusters.d/x-nextgen_ascend.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Stub nextgen ascend only in batch connect tests
  apps/dashboard/test/fixtures/config/clusters.d/x-nextgen_ascend.yml
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

basic keyboard navigation
  apps/myjobs/app/assets/javascripts/application.js
  apps/myjobs/app/views/workflows/index.html.erb
  apps/myjobs/app/views/workflows/new.html.erb
Labels: component/jobcomposer

lint a random file
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

Use cluster title in modbrowser versions table
  apps/dashboard/app/views/module_browser/_versions_table.html.erb
Labels: component/dashboard

add data and vbscript here
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

need to use location origin for url
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

clean this html from response
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

minor fixes to files table
  apps/dashboard/app/assets/stylesheets/data_tables.scss
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

check for content-dispostion in responses (#5065)
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

Use cluster title in modbrowser versions table (#5064)
  apps/dashboard/app/views/module_browser/_versions_table.html.erb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
