Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Use form_dataroot and form instead of script
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Adjust Script to account for script and forms
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

add open, read, save methods for yaml to form
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

Update script names
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Update apps/dashboard/app/models/script.rb
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

There should only be a one single form in a project.
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

remove typo
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

lint a random file (#2563)
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

update dependencies (#2565)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

mod_ood_proxy needs to use OOD_ALLOWED_HOSTS
  mod_ood_proxy/lib/logger.lua
  mod_ood_proxy/lib/ood/nginx_stage.lua
  mod_ood_proxy/lib/pun_proxy.lua
Labels: component/mod_ood_proxy

change variable name too
  mod_ood_proxy/lib/logger.lua
  mod_ood_proxy/lib/ood/nginx_stage.lua
  mod_ood_proxy/lib/pun_proxy.lua
Labels: component/mod_ood_proxy

mod_ood_proxy needs to use OOD_ALLOWED_HOSTS (#2567)
  mod_ood_proxy/lib/logger.lua
  mod_ood_proxy/lib/ood/nginx_stage.lua
  mod_ood_proxy/lib/pun_proxy.lua
Labels: component/mod_ood_proxy

Update Changelog (#2564)
  CHANGELOG.md
Labels: none

Fixed navbar links sorting for application links
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/test/apps/nav_bar_test.rb
Labels: component/dashboard

hide entire form group to account for help messages
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

default to allow no hosts
  apps/dashboard/config/environments/production.rb
Labels: component/dashboard

wrong logic here
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

Fixed image width and height for custom navigation menu image
  apps/dashboard/app/javascript/stylesheets/apps.scss
  apps/dashboard/app/views/layouts/nav/_group.html.erb
Labels: component/dashboard

bugix in mod_ood_proxy and keep clean_nginx_env impepodent
  mod_ood_proxy/lib/ood/nginx_stage.lua
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage, component/mod_ood_proxy

reset this
  apps/dashboard/config/environments/production.rb
Labels: component/dashboard

Fixed group sorting for empty strings and nulls
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

Fixed navbar links sorting for application links + images (#2568)
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/javascript/stylesheets/apps.scss
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

add a test case
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Initial script model
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

Add class method for id, add id to save
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

initialize project scripts
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/scripts/new.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

add logic fo showing
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/scripts/show.html.erb
Labels: component/dashboard

update test and add redirect logic when it cant find the project
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

Added support for images from /public location
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/javascript/stylesheets/pinned_apps.scss
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

Renamed icon_uri yaml property to icon to make it consistent with app manifest
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/views/widgets/pinned_apps/_app_content.html.erb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_desktop/local/oakley.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/local/owens.yml
  apps/dashboard/test/integration/custom_help_navigation_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

Renamed icon_uri yaml property to icon to make it consistent with app manifest (#2579)
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/views/widgets/pinned_apps/_app_content.html.erb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_desktop/local/oakley.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/local/owens.yml
  apps/dashboard/test/integration/custom_help_navigation_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

Added support for images from /public location (#2577)
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/javascript/stylesheets/pinned_apps.scss
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

hide entire form group to account for help messages (#2569)
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Added support for empty icons for custom navigation items
  apps/dashboard/app/views/layouts/nav/_group_items.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
Labels: component/dashboard

updates from review
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

rm unused helper
  apps/dashboard/app/helpers/scripts_helper.rb
Labels: component/dashboard
