Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Fix Dockerfile (#4068)
  Dockerfile
  Dockerfile.dev
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update Changelog (#4071)
  CHANGELOG.md
Labels: none

update dependencies (#4072)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Move session status updates to batch_connect_sessions.js
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/turbo_shim.js
Labels: component/dashboard

only show nodes if it's positive
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

Remove redundant function and make other minor adjustments
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/javascript/utils.js
Labels: component/dashboard

also hide cores when 0
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

fix tests for these and add tests
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

Create Manifest::Template subclass
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

change navbar title of Project Manager
  apps/projects/manifest.yml
Labels: none

Create ProjectManifest for use in project templating.
  apps/dashboard/app/apps/ProjectManifest.rb
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/test/models/project_manifest_test.rb
Labels: component/dashboard

Format update.
  apps/dashboard/test/models/project_manifest_test.rb
Labels: component/dashboard

Remove duplicate test.
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

Feature/3985 pm manifest support for copied files (#4075)
  apps/dashboard/app/apps/ProjectManifest.rb
  apps/dashboard/test/models/manifest_test.rb
  apps/dashboard/test/models/project_manifest_test.rb
Labels: component/dashboard

Added line space to match fixture/output files to see if it fixes the issue
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

update changelog
  CHANGELOG.md
Labels: none

Removed debugging statement
  apps/dashboard/app/apps/service_now_client.rb
Labels: component/dashboard

Added support ticket CC field into ServiceNow watch list
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
Labels: component/dashboard

Updated ServiceNow client documentation
  apps/dashboard/app/apps/servicenow_client.rb
Labels: component/dashboard

Added support ticket integration with ServiceNow API
  apps/dashboard/app/apps/servicenow_client.rb
  apps/dashboard/app/apps/support_ticket_servicenow_service.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/support_ticket/servicenow/servicenow_content.text.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Improved ServiceNow service configuration
  apps/dashboard/app/apps/service_now_client.rb
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/apps/service_now_client_test.rb
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

Fix querying and move aria region to application
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

Fix modal bug when file transfer fails
  apps/dashboard/app/javascript/files/file_ops.js
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

Added support for using ENV to configure auth token and password
  apps/dashboard/app/apps/service_now_client.rb
  apps/dashboard/test/apps/service_now_client_test.rb
Labels: component/dashboard

lint a random file (#4085)
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

change navbar title of Project Manager (#4076)
  apps/projects/manifest.yml
Labels: none

only show nodes if it's positive (#4074)
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

only show nodes if it's positive (#4074)
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

change navbar title of Project Manager (#4076)
  apps/projects/manifest.yml
Labels: none

Removes Handlebars from file action menu code (#4070)
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/views/files/_file_action_menu.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/layouts/_config.html.erb
Labels: component/dashboard

Removed analytics.lua and resolved code dependencies (#4069)
  mod_ood_proxy/lib/analytics.lua
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/mod_ood_proxy, component/ood_portal_generator

Fix modal bug when file transfer fails (#4084)
  apps/dashboard/app/javascript/files/file_ops.js
Labels: component/dashboard

Require latest ondemand-passenger and ondemand-nginx Fixes #4077
  packaging/deb/control
  packaging/rpm/ondemand.spec
Labels: none

memorize announcements and filter for existing files
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/announcements.rb
Labels: component/dashboard

dont use tmpfiles here
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

escape this
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
