Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Dynamic branding colors
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

Only activate link background on focus state instead of hover
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

lighten font of default navbar-dark
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
Labels: component/dashboard

fix card outline to appear during focus
  apps/dashboard/app/assets/stylesheets/apps.scss
Labels: component/dashboard

remove unused color settings
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
Labels: component/dashboard

update url to variables.scss
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
Labels: component/dashboard

fix light navbar & focus with mobile
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

fix case to fix test
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Update insufficient balance quota partial for Bootstrap 4
  apps/dashboard/app/views/shared/_insufficient_balance_resource.html.erb
Labels: component/dashboard

upgrade balance warnings to bootstrap 4
  apps/dashboard/app/views/shared/_insufficient_balance_resource.html.erb
Labels: component/dashboard

upgrade balance warnings to bootstrap 4 (#989)
  apps/dashboard/app/views/shared/_insufficient_balance_resource.html.erb
Labels: component/dashboard

add bootstrap 4 & datatables deps
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

add bootstrap theme overrides
  apps/dashboard/app/assets/stylesheets/_custom.scss.erb
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/assets/stylesheets/app_kit/_markdown.scss
  apps/dashboard/app/assets/stylesheets/application.scss
Labels: component/dashboard

migrate bootstrap 3 styles to bootstrap 4
  apps/dashboard/app/assets/javascripts/products.coffee
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/apps/_link.html.erb
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_list.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
  apps/dashboard/app/views/dashboard/_motd_osc.html.erb
  apps/dashboard/app/views/dashboard/_xdmod_widget_job_efficiency.html.erb
  apps/dashboard/app/views/dashboard/_xdmod_widget_jobs.html.erb
  apps/dashboard/app/views/layouts/_footer.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_all_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/app/views/layouts/nav/_sessions.html.erb
  apps/dashboard/app/views/products/_form_git.html.erb
  apps/dashboard/app/views/products/_new_choose_method.html.erb
  apps/dashboard/app/views/products/edit.html.erb
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/new.html.erb
  apps/dashboard/app/views/products/new_from_git_remote.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/shared/_insufficient_balance_resource.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota_progress_bar.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota_resource.html.erb
  apps/dashboard/test/controllers/dashboard_controller_test.rb
  apps/dashboard/test/html_helper.rb
Labels: component/dashboard

make breadcrumbs accessible for bootstrap 4
  apps/dashboard/app/assets/stylesheets/_breadcrumb.scss
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/apps/index.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/batch_connect/shared/_breadcrumb.html.erb
  apps/dashboard/app/views/products/_breadcrumbs.html.erb
Labels: component/dashboard

update app card formatting for bootstrap 4
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/views/apps/_app.html.erb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

update dynamic styles for bootstrap 4
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

rm redundant yarn install from bin/setup
  apps/dashboard/bin/setup
Labels: component/dashboard

refactor
  apps/dashboard/app/apps/ood_app_group.rb
Labels: component/dashboard

pass nav_limit as init arg to OodAppGroup
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

internationalize 'Pinned Apps'
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

Initial work at deploying K8 related hooks as part of OnDemand distribution
  hooks/hook.env.example
  hooks/k8s-bootstrap-job-pod-reaper.sh
  hooks/k8s-bootstrap-ondemand.sh
  hooks/k8s-bootstrap-pod-security-policy.sh
  hooks/k8s-bootstrap/namespace.yaml
  hooks/k8s-bootstrap/network-policy.yaml
  hooks/k8s-bootstrap/rolebinding.yaml
  hooks/ondemand.yaml
  hooks/set-k8s-creds.sh
Labels: none

Add hooks to be deployed with RPM
  packaging/ondemand.spec
Labels: none

Prototype github actions for testing K8s bootstrap
  .github/workflows/tests.yml
Labels: none

Fix path used to k8s-bootstrap directory
  hooks/k8s-bootstrap-ondemand.sh
Labels: none

Use kind context for tests
  .github/workflows/tests.yml
Labels: none

Must export things used by envsubst
  hooks/k8s-bootstrap-ondemand.sh
  hooks/k8s-bootstrap/network-policy.yaml
Labels: none

More portable way to get BASEDIR
  hooks/k8s-bootstrap-ondemand.sh
Labels: none

Default to not setup private docker registry
  hooks/hook.env.example
Labels: none

Shellcheck hooks
  hooks/k8s-bootstrap-job-pod-reaper.sh
  hooks/k8s-bootstrap-ondemand.sh
  hooks/k8s-bootstrap-pod-security-policy.sh
  hooks/set-k8s-creds.sh
  lib/tasks/test.rb
Labels: area/build

Use fewer temp files
  hooks/k8s-bootstrap-ondemand.sh
Labels: none

Ensure secret creation won't error out if secret already exists
  hooks/k8s-bootstrap-ondemand.sh
Labels: none

Avoid overly long lines
  hooks/k8s-bootstrap-ondemand.sh
Labels: none

Unified bootstrap script with everything in one script, opt-in portions are handled by hook.env. Reduces duplicate scripting logic and ensures fewer executions of kubectl
  hooks/hook.env.example
  hooks/k8s-bootstrap-job-pod-reaper.sh
  hooks/k8s-bootstrap-ondemand.sh
  hooks/k8s-bootstrap/job-pod-reaper.yaml
  hooks/k8s-bootstrap/pod-security-policy.yaml
Labels: none

files: add goto, copy path, up dir to breadcrumbs
  apps/dashboard/app/views/files/_breadcrumb.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

group pinned apps by their original category and add a heading for each section
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/app/views/dashboard/pinned_apps/_app.html.erb
  apps/dashboard/app/views/dashboard/pinned_apps/_group.html.erb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

files: add per-row button dropdown
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

files: hack to split dt status & transfers status
  apps/dashboard/app/assets/stylesheets/application.css.scss
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

render transfer status in new location
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/transfers/_transfer.html.erb
  apps/dashboard/app/views/transfers/index.js.erb
Labels: component/dashboard

avoid changing dropdown text to white
  apps/dashboard/app/assets/stylesheets/application.css.scss
Labels: component/dashboard
