Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

Adds gems necessary to translate missing keys
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Removes gems that cause build failure
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#4024)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Adds basic test for data-option-for-*
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Adds failing test for data-option-exclusive-for-*
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Refactor directory browser to live in the files scope.
  apps/dashboard/app/controllers/concerns/directory_utils_concern.rb
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/app/views/files/turbo_frames/_file.html.erb
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
  apps/dashboard/app/views/layouts/files.html.erb
  apps/dashboard/app/views/projects/_directory.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/controllers/concerns/directory_utils_concern_test.rb
  apps/dashboard/test/controllers/files_controller_test.rb
  apps/dashboard/test/helpers/files_helper_test.rb
  apps/dashboard/test/helpers/projects_helper_test.rb
Labels: component/dashboard

Clean up after refactor.
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/lib/current_user.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/db/migrate/20160601203013_add_timestamps_to_to_json_stores.rb
Labels: component/jobcomposer

lint a random file (#4026)
  apps/myjobs/db/migrate/20160601203013_add_timestamps_to_to_json_stores.rb
Labels: component/jobcomposer

strengthen checks on plugin directories. (#4020)
  apps/dashboard/config/application.rb
Labels: component/dashboard

Adds code to make the broken test pass
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

Refactoring
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Add missing strong_params
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Small refactor to match code style & additional assertions to test minor details of option-for-* directives
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

657 automate localizations (#4003)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/i18n-tasks.yml.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/unit/i18n_test.rb
Labels: component/dashboard

Moves instiation lines for optionFor handlers to optionForHandler function
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Matches code style to existing tests
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

4013 data exclusive option for (#4025)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#4030)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

fix popovers on this app list
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
Labels: component/dashboard

fix test based on new html structure
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

fix test based on new html structure
  apps/dashboard/test/integration/batch_connect_test.rb
Labels: component/dashboard

lint a random file
  apps/myjobs/db/migrate/20160531150155_add_json_attrs_as_separate_cols_to_workflow.rb
Labels: component/jobcomposer

Update Changelog (#4029)
  CHANGELOG.md
Labels: none

lint a random file (#4035)
  apps/myjobs/db/migrate/20160531150155_add_json_attrs_as_separate_cols_to_workflow.rb
Labels: component/jobcomposer

package updates
  apps/dashboard/yarn.lock
Labels: component/dashboard

package updates
  apps/dashboard/package-lock.json
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Additional test cases for Files#can_download_as_zip (#4019)
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

fix popovers on this app list (#4033)
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

update dependencies (#4038)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update changelog
  CHANGELOG.md
Labels: none

update for 4.0.0 release today
  CHANGELOG.md
Labels: none

Update Changelog (#4039)
  CHANGELOG.md
Labels: none

Only build x86 during nightly builds
  .gitlab-ci.yml
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
