Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

update Rails to 5.2.6
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

Remove extraneous variable in downloadFile
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

use case stmt for mime_type_for_preview
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

handle exception properly in FilesController#show_file
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Rename OOD_DOWNLOAD_DIR_TIMEOUT to OOD_DOWNLOAD_DIR_TIMEOUT_SECONDS
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Files MIME type conversion for preview (#1068)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

apply a users umask to the uploaded file (#1110)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

render dashboard widgets from a views/widgets directory
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/test/fixtures/config/views/widgets/_syntax_error.html.erb
  apps/dashboard/test/fixtures/config/views/widgets/_test_partial.html.erb
  apps/dashboard/test/integration/dashboard_layout_test.rb
Labels: component/dashboard

move all the dashboard widget partials to a views/widgets directory
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/widgets/_motd.html.erb
  apps/dashboard/app/views/widgets/_pinned_apps.html.erb
  apps/dashboard/app/views/widgets/_xdmod_widget_job_efficiency.html.erb
  apps/dashboard/app/views/widgets/_xdmod_widget_jobs.html.erb
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
  apps/dashboard/app/views/widgets/pinned_apps/_group.html.erb
Labels: component/dashboard

Revert "Remove extraneous variable in downloadFile"
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Remove directory download control flow from downloadFile
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Change max_download_as_zip_size to download_directory_size_limit
  apps/dashboard/app/models/files.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Better i18n names
  apps/dashboard/app/models/files.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

use head response for failed zip download
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

flatten if/else for readability
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

disable all animations in Swal
  apps/dashboard/app/javascript/packs/files.js
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

add loading indicator for download dir
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

handle downloadDir triggerd from row dropdown
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

force update postcss & xmlhttprequest-ssl
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

Add error message explanation to download dir function
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Add back ability to download directory as zip (#1108)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/javascript/packs/files.js
  apps/dashboard/app/models/files.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/mime_types.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

fix mimetype handling in files app
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

reject invalid subapps in pinned_apps
  apps/dashboard/app/apps/router.rb
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_desktop/local/bad_sub_app.yml.erb
Labels: component/dashboard

update changelog for v2.0.6
  CHANGELOG.md
Labels: none

properly handle caching of usernames from uids
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

switch back to Hash.new block for readability
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

properly handle caching of usernames from uids (#1125)
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

Fix Hook k8 bootstrap to work with 2.0.6 changes
  hooks/k8s-bootstrap/set-k8s-creds.sh
Labels: none

Fix for K8 bootstrap hooks
  hooks/k8s-bootstrap/k8s-bootstrap-ondemand.sh
Labels: none

update changelog for v2.0.7
  CHANGELOG.md
Labels: none

Fix K8 username prefix to match ood_core behavior
  hooks/k8s-bootstrap/set-k8s-creds.sh
Labels: none

update changelog for v2.0.8
  CHANGELOG.md
Labels: none

Update K8 username prefix to match ood_core behavior
  hooks/k8s-bootstrap/set-k8s-creds.sh
Labels: none

add e2e tests for relative urls
  spec/e2e/proxy_spec.rb
  spec/fixtures/extras/simple_origin_server.py
Labels: none

Support changing Dex storage Fixes #1140
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/fixtures/dex.custom.yaml
  ood-portal-generator/spec/fixtures/ood_portal.dex.yaml
Labels: component/ood_portal_generator

Support changing Dex storage Fixes #1140
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/fixtures/dex.custom.yaml
  ood-portal-generator/spec/fixtures/ood_portal.dex.yaml
Labels: component/ood_portal_generator

Staged_root & partition in submit.yml.erb render
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

Added system dashboard tests to github action
  .github/workflows/tests.yml
Labels: none

Avoid circular references
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

Fix unit tests - still need to create output directory
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard
