Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

add a test case for hyphenated modules
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/template/script.sh.erb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

correct script so it doesnt always raise and fix other test
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/template/script.sh.erb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

updates after running "yarn update" then upgrading mocha for compatability
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

myjobs needs mocha update too
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

rake update + upgrading mocha manually. (#2939)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

add support for module names with hyphens in them (#2938)
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/template/script.sh.erb
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add support for module names with hyphens in them (#2938)
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/template/script.sh.erb
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

save excludable options (#2929)
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/packs/script_edit.js
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard

fix mocha deprecation warnings
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

add test for excluding options and add ids to some elements in the views
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_select.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/apps/request_tracker_client_test.rb
Labels: component/dashboard

lint a random file (#2943)
  apps/dashboard/test/apps/request_tracker_client_test.rb
Labels: component/dashboard

add support for module names with hyphens in them (#2938) (#2940)
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/template/script.sh.erb
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

sort ondemand.d files by name before loading
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

add test for numbers too
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/integration/files_app_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

lint a random file (#2945)
  apps/dashboard/test/integration/files_app_test.rb
Labels: component/dashboard

add gcc to dev container
  Dockerfile.dev
Labels: none

add gcc-c++ and libyaml-devel
  Dockerfile.dev
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#2947)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

sort ondemand.d files by name before loading (#2944)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

fix mocha deprecation warnings (#2941)
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

just 1 test that covers both is fine i think
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

only query the fs api if you navigate select a directory
  apps/dashboard/app/javascript/packs/path_selector/path_selector_data_table.js
Labels: component/dashboard

Update Changelog (#2946)
  CHANGELOG.md
Labels: none

add test for excluding options and add ids to some elements in the views (#2942)
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_select.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Validate Rclone remotes in initializer
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/rclone.rb
  apps/dashboard/lib/rclone_util.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/fixtures/config/rclone/rclone.conf
  apps/dashboard/test/unit/rclone_util_test.rb
Labels: component/dashboard

Container images upgrade to NodeJS 18 and Ruby 3.1
  Dockerfile
  Dockerfile.dev
Labels: none

Container images upgrade to NodeJS 18 and Ruby 3.1 (#2953)
  Dockerfile
  Dockerfile.dev
Labels: none

add gcc to dev container (#2949)
  Dockerfile.dev
Labels: none

lint a random file
  apps/dashboard/config/environments/development.rb
Labels: component/dashboard

Show current filesystem in file browser breadcrumb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/views/files/_breadcrumb.html.erb
  apps/dashboard/app/views/files/_path_selector_breadcrumb.html.erb
Labels: component/dashboard

lint a random file (#2955)
  apps/dashboard/config/environments/development.rb
Labels: component/dashboard

Add delete script functionality for new job composer (#2820)
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Add delete script functionality for new job composer (#2820) (#2959)
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

only query the fs api if you navigate select a directory (#2951)
  apps/dashboard/app/javascript/packs/path_selector/path_selector_data_table.js
Labels: component/dashboard

sort ondemand.d files by name before loading (#2944)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
