Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

filter $HOME out of path
  apps/bc_desktop/template/script.sh.erb
Labels: component/bc_desktop

simplify workflow to get i18n-tools on the PATH
  .github/workflows/localizations.yml
Labels: none

complete merge
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

add test for broken directive
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add empty string test
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

allow empty string values in dynamic forms
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

update dependencies (#4702)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

use cannot instead of hyphen
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

skip prefixing with logroot when using piped "logfile"
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/piped_logs.yml
  ood-portal-generator/spec/fixtures/output/piped_logs.conf
Labels: component/ood_portal_generator

write a file instead of using Tempfile
  lib/tasks/rake_helper.rb
Labels: area/build

fix dynamic forms with empty string values (#4706)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

install dashboards gems
  .github/workflows/localizations.yml
Labels: none

step to dashboard directory
  .github/workflows/localizations.yml
Labels: none

write a file instead of using Tempfile (#4708)
  lib/tasks/rake_helper.rb
Labels: area/build

Force Python 3.12 for EL8 to avoid errors with node-gyp
  packaging/rpm/ondemand.spec
Labels: none

Prep OnDemand 4.1 dependencies * Upgrade NodeJS from 20 to 22 * Upgrade Passenger from 6.0.23 to 6.1.0 * Upgrade NGINX from 1.23.1 to 1.23.3 * Upgrade Dex from 2.41.1 to 2.44.0
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  packaging/deb/control
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: none

Runtime only requires python3
  packaging/rpm/ondemand.spec
Labels: none

Update Changelog (#4701)
  CHANGELOG.md
Labels: none

Prep OnDemand 4.1 dependencies (#4646)
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  packaging/deb/control
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: none

simplify workflow to get i18n-tools on the PATH (#4704)
  .github/workflows/localizations.yml
Labels: none

Allow custom PATHs in SAFE_PATH
  apps/bc_desktop/template/script.sh.erb
Labels: component/bc_desktop

use cannot here
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

initial smart attribute solution
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_hide_resolution.rb
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

use /dev/nonexistent instead of misspelling null
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

redirect bad remote path to home
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

get accounts from all clusters (#4698)
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

full rails update
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/bin/rails
  apps/dashboard/bin/rake
  apps/dashboard/bin/setup
  apps/dashboard/config/application.rb
  apps/dashboard/config/boot.rb
  apps/dashboard/config/environment.rb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/initializers/assets.rb
  apps/dashboard/config/initializers/content_security_policy.rb
  apps/dashboard/config/initializers/filter_parameter_logging.rb
  apps/dashboard/config/initializers/new_framework_defaults_7_2.rb
  apps/dashboard/config/initializers/permissions_policy.rb
  apps/dashboard/config/puma.rb
  apps/dashboard/public/406-unsupported-browser.html
  apps/dashboard/public/422.html
  apps/dashboard/public/500.html
  apps/dashboard/public/icon.png
  apps/dashboard/public/icon.svg
  apps/dashboard/public/robots.txt
Labels: component/dashboard

Dereference symlinks for du check
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

use will not instead of wont
  spec/e2e/proxy_spec.rb
Labels: none

update bin files
  apps/dashboard/bin/rails
  apps/dashboard/bin/rake
  apps/dashboard/bin/setup
Labels: component/dashboard

additional bin change
  apps/dashboard/bin/setup
Labels: component/dashboard

Revert "traverse both local and remote filesystems"
  apps/dashboard/app/models/remote_file.rb
Labels: component/dashboard

add helper method with allowlist check
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

update environments
  apps/dashboard/config/environment.rb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
Labels: component/dashboard

update configs
  apps/dashboard/config/application.rb
  apps/dashboard/config/puma.rb
Labels: component/dashboard

update initializers
  apps/dashboard/config/initializers/assets.rb
  apps/dashboard/config/initializers/content_security_policy.rb
  apps/dashboard/config/initializers/filter_parameter_logging.rb
  apps/dashboard/config/initializers/new_framework_defaults_7_2.rb
  apps/dashboard/config/initializers/permissions_policy.rb
Labels: component/dashboard

update public files
  apps/dashboard/public/406-unsupported-browser.html
  apps/dashboard/public/422.html
  apps/dashboard/public/500.html
  apps/dashboard/public/icon.png
  apps/dashboard/public/icon.svg
  apps/dashboard/public/robots.txt
Labels: component/dashboard

disable missing callback errors
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/test.rb
Labels: component/dashboard

redirect from invalid file url (#4633)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/test/integration/files_app_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard
