Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

some bundler fixups (#2299)
  lib/tasks/build.rb
  ood_auth_map/ood_auth_map.gemspec
Labels: component/ood_auth_map, area/build

enable dev mode in dev container (#2131)
  Dockerfile.dev
Labels: none

refactor FeaturedApp into AppRecategorizer
  apps/dashboard/app/apps/app_recategorizer.rb
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/apps/app_recategorizer_test.rb
  apps/dashboard/test/apps/featured_app_test.rb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#2307)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update Changelog (#2306)
  CHANGELOG.md
Labels: none

Added email based support ticket functionality
  apps/dashboard/app/apps/support_ticket_email_service.rb
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/helpers/support_ticket_helper.rb
  apps/dashboard/app/javascript/packs/support_ticket.js
  apps/dashboard/app/javascript/stylesheets/_variables.scss
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/support_ticket.scss
  apps/dashboard/app/mailers/.keep
  apps/dashboard/app/mailers/support_ticket_mailer.rb
  apps/dashboard/app/models/attachments_validator.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/models/support_ticket.rb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/support_ticket/email/default.text.erb
  apps/dashboard/app/views/support_ticket/email_service_template.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

Code improvements for Support Ticket feature
  apps/dashboard/app/helpers/support_ticket_helper.rb
  apps/dashboard/app/javascript/packs/support_ticket.js
  apps/dashboard/app/mailers/support_ticket_mailer.rb
  apps/dashboard/app/views/support_ticket/email/default.text.erb
  apps/dashboard/app/views/support_ticket/email_service_template.html.erb
  apps/dashboard/test/fixtures/config/views/support_ticket/email/email_template_override.text.erb
  apps/dashboard/test/helpers/support_ticket_helper_test.rb
  apps/dashboard/test/integration/support_ticket_integration_test.rb
Labels: component/dashboard

Added comments and tests for support ticket classes
  apps/dashboard/app/apps/support_ticket_email_service.rb
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/helpers/support_ticket_helper.rb
  apps/dashboard/app/mailers/support_ticket_mailer.rb
  apps/dashboard/app/models/support_ticket.rb
  apps/dashboard/app/views/support_ticket/email/email_template_override.text.erb
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
  apps/dashboard/test/helpers/support_ticket_helper_test.rb
  apps/dashboard/test/mailers/.keep
  apps/dashboard/test/mailers/support_ticket_mailer_test.rb
  apps/dashboard/test/models/support_ticket_test.rb
Labels: component/dashboard

Code improvements for Support Ticket feature
  apps/dashboard/app/mailers/support_ticket_mailer.rb
  apps/dashboard/app/models/attachments_validator.rb
Labels: component/dashboard

Support Ticket - lint files with Rubocop
  apps/dashboard/app/apps/support_ticket_email_service.rb
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/helpers/support_ticket_helper.rb
  apps/dashboard/app/mailers/support_ticket_mailer.rb
  apps/dashboard/app/models/attachments_validator.rb
  apps/dashboard/app/models/support_ticket.rb
Labels: component/dashboard

Support Ticket minor improvements
  apps/dashboard/app/apps/support_ticket_email_service.rb
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#2313)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Added support ticket functionality (#2292)
  apps/dashboard/app/apps/support_ticket_email_service.rb
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/helpers/support_ticket_helper.rb
  apps/dashboard/app/javascript/packs/support_ticket.js
  apps/dashboard/app/javascript/stylesheets/_variables.scss
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/support_ticket.scss
  apps/dashboard/app/mailers/.keep
  apps/dashboard/app/mailers/support_ticket_mailer.rb
  apps/dashboard/app/models/attachments_validator.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/models/support_ticket.rb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/support_ticket/email/default.text.erb
  apps/dashboard/app/views/support_ticket/email_service_template.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
  apps/dashboard/test/fixtures/config/views/support_ticket/email/email_template_override.text.erb
  apps/dashboard/test/helpers/support_ticket_helper_test.rb
  apps/dashboard/test/integration/support_ticket_integration_test.rb
  apps/dashboard/test/mailers/.keep
  apps/dashboard/test/mailers/support_ticket_mailer_test.rb
  apps/dashboard/test/models/support_ticket_test.rb
Labels: component/dashboard

use openstruct so folks can use form items like partition
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session_context.rb
Labels: component/dashboard

add tests for adding staged_root to a submit.yml.erb and for the to_openstruct api
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_jupyter/submit.yml.erb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/batch_connect/session_context_test.rb
Labels: component/dashboard

small fixups
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session_context.rb
  apps/dashboard/test/models/batch_connect/session_context_test.rb
Labels: component/dashboard

Upgrade to NodeJS 14
  Gemfile
  Gemfile.lock
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: none

Added RequestTracker implementation to create support tickets
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/apps/request_tracker_client.rb
  apps/dashboard/app/apps/request_tracker_service.rb
  apps/dashboard/app/apps/support_ticket_rt_service.rb
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/models/support_ticket.rb
  apps/dashboard/app/views/support_ticket/email_service_template.html.erb
  apps/dashboard/app/views/support_ticket/rt/rt_ticket_content.text.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/apps/request_tracker_client_test.rb
  apps/dashboard/test/apps/request_tracker_service_test.rb
  apps/dashboard/test/apps/support_ticket_rt_service_test.rb
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
  apps/dashboard/test/integration/request_tracker_integration_test.rb
Labels: component/dashboard

Bump nodejs dependnecy for deb packages
  packaging/deb/control
Labels: none

Need nodejs 14 module enabled for EL8
  spec/e2e/e2e_helper.rb
Labels: none

Helps to also update runtime dependency
  packaging/deb/control
Labels: none

Safer form rendering (#2314)
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session_context.rb
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_jupyter/submit.yml.erb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/batch_connect/session_context_test.rb
Labels: component/dashboard

change min/max cache key to allow for multiple changes
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

[release_2.0] Upgrade to NodeJS 14 (#2316)
  Gemfile
  Gemfile.lock
  packaging/deb/control
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: none

Improvements to request tracker client
  apps/dashboard/app/apps/request_tracker_client.rb
Labels: component/dashboard

add tests for multiple min/max settings
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

update dependencies (#2321)
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

Add vnc_container option
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
Labels: component/dashboard

Refactor vnc to BatchConnect:Session
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
Labels: component/dashboard

Update apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
Labels: component/dashboard

Add vnc_container option (#2323)
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
Labels: component/dashboard

allow for job composer to copy environment (#1847)
  apps/myjobs/app/models/resource_mgr_adapter.rb
  apps/myjobs/app/models/workflow.rb
  apps/myjobs/app/views/workflows/_edit_form_job_attrs.html.erb
  apps/myjobs/config/locales/en.yml
Labels: component/jobcomposer
