Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

correct merge mistake
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

refactor directory preparation
  apps/dashboard/app/models/concerns/fs_data.rb
  apps/dashboard/app/models/concerns/job_logger.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/workflow.rb
Labels: component/dashboard

Patched the workflow's GUI with backend (#4676)
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/javascript/dag.js
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/apps/support_ticket_rt_service_test.rb
Labels: component/dashboard

Patched the UI with backend
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

Added job details button to show job details on workflow UI, also made job_hash part of the metadata so refresh works
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#4757)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

check the allowlist when zipping
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

better way to check allowlist
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

lint a random file (#4755)
  apps/dashboard/test/apps/support_ticket_rt_service_test.rb
Labels: component/dashboard

Update Changelog (#4756)
  CHANGELOG.md
Labels: none

Zip check allowlist (#4758)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Zip check allowlist (#4758)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Zip check allowlist (#4758)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Fixed one spell error
  apps/dashboard/app/javascript/workflows.js
Labels: component/dashboard

Revert "exclude own projects from import"
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

reject projects on lookup table
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

exclude owned/imported projects from import list (#4751)
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

update ood portal restart instructions (#4747)
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/fixtures/output/custom_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_location_directives.conf
  ood-portal-generator/spec/fixtures/output/custom_vhost_directives.conf
  ood-portal-generator/spec/fixtures/output/http_redirect_host.conf
  ood-portal-generator/spec/fixtures/output/no_logs.conf
  ood-portal-generator/spec/fixtures/output/piped_logs.conf
  ood-portal-generator/spec/ood_portal_generator_spec.rb
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

create necessary files in tests
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

Revert "make import view a partial"
  apps/dashboard/app/views/projects/import.html.erb
Labels: component/dashboard

expand clickable area
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

enhanced register options
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/register-scriptalias.yml
  ood-portal-generator/spec/fixtures/input/register-wsgiscriptalias.yml
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/spec/fixtures/output/register-scriptalias.conf
  ood-portal-generator/spec/fixtures/output/register-wsgiscriptalias.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

update and correct ood-portal-generator README.md (#4740)
  ood-portal-generator/README.md
Labels: component/ood_portal_generator

lint a random file (#4762)
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

deleted extra file
  apps/dashboard/app/models/concerns/fs_data.rb
Labels: component/dashboard

Access events widget (#4726)
  apps/dashboard/app/javascript/nsf_access_events.js
  apps/dashboard/app/views/widgets/_nsf_access_events.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

Fixed launcher size and edges passing on top job info
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

Clean up page spinners on revisit
  apps/dashboard/app/javascript/utils.js
Labels: component/dashboard

determine link via regex
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

add test for default settings
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/register-defaults.yml
  ood-portal-generator/spec/fixtures/output/register-defaults.conf
Labels: component/ood_portal_generator

Revert "Fall back on default min/max values from wrapper"
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

set initial width from icon
  apps/dashboard/app/assets/stylesheets/projects.scss
Labels: component/dashboard

Initialize directory structure with project (#4750)
  apps/dashboard/app/models/concerns/job_logger.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

Internationalize label and add help to resolution
  apps/dashboard/app/lib/smart_attributes/attributes/bc_vnc_resolution.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

refresh resolution field to match bs-form patterns
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
