Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

lock to 4.32 instead
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

lock to 4.26.0
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

dashboard: noVNC: Handle newline representation mismatch (#4601)
  apps/dashboard/public/noVNC-1.3.0/app/ui.js
Labels: component/dashboard

Change navbar classes to match default breakpoints
  apps/dashboard/app/views/layouts/nav/_all_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_log_out.html.erb
  apps/dashboard/app/views/layouts/nav/_sessions.html.erb
  apps/dashboard/app/views/layouts/nav/_user.html.erb
Labels: component/dashboard

fix popup_title for other components like the project manager
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

adds oidc_redirect_uri variable (#4582)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

role as navigation and not list
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

lint a random file (#4600)
  ood-portal-generator/lib/ood_portal_generator.rb
Labels: component/ood_portal_generator

use cluster title or id.titleize
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/apps/manifest.rb
Labels: component/dashboard

lint a random file (#4615)
  apps/dashboard/app/apps/manifest.rb
Labels: component/dashboard

added basic data-hide tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

add data-help option
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

fix data-help tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

fix bugs and remove logs
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

fix tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

clean up tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

update tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Remove custom $grid-breakpoints definitions (#4592)
  apps/dashboard/app/assets/stylesheets/_variables.scss
  apps/dashboard/app/views/layouts/nav/_all_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_log_out.html.erb
  apps/dashboard/app/views/layouts/nav/_sessions.html.erb
  apps/dashboard/app/views/layouts/nav/_user.html.erb
Labels: component/dashboard

add tests for missing or unneeded bc cache cluster entries (#4569)
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Removed duplicate file and edit the earlier created test file
  apps/dashboard/test/models/workflow_test.rb
  apps/dashboard/test/models/workflows_test.rb
Labels: component/dashboard

Added update functionality to workflow class with unittests added
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/_form.html.erb
  apps/dashboard/app/views/workflows/_workflow.html.erb
  apps/dashboard/app/views/workflows/edit.html.erb
  apps/dashboard/app/views/workflows/new.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/models/workflows_test.rb
Labels: component/dashboard

Added skeleton for the launcher workflow class
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/test/models/workflows_test.rb
Labels: component/dashboard

Added dag class in UI to detect any cyclic dependency
  apps/dashboard/app/javascript/dag.js
  apps/dashboard/app/javascript/workflows.js
Labels: component/dashboard

Fixed bidirectional edge issue, and added a way to delete edge
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/views/workflows/show.html.erb
Labels: component/dashboard

Split into css/html/js files and addressed review comments
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/workflows.scss
  apps/dashboard/app/javascript/workflows.js
  apps/dashboard/app/views/workflows/show.html.erb
Labels: component/dashboard

Updated UI for workflows
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Fixed error of not resetting dag when edge or launcher gets deleted at the UI
  apps/dashboard/app/javascript/dag.js
  apps/dashboard/app/javascript/workflows.js
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Manual upgrade (#4603)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/models/motd_formatter/rss.rb
  apps/dashboard/esbuild.config.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

add data-show option
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

Update Changelog (#4617)
  CHANGELOG.md
Labels: none

add gpu panel to job stats (#4564)
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

Added `update` functionality to workflow class with unit-tests (#4589)
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/_form.html.erb
  apps/dashboard/app/views/workflows/_workflow.html.erb
  apps/dashboard/app/views/workflows/edit.html.erb
  apps/dashboard/app/views/workflows/new.html.erb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

reset these files to master
  apps/dashboard/app/controllers/system_status_controller.rb
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
  apps/dashboard/app/views/widgets/_system_status.html.erb
Labels: component/dashboard

just use col here to simplify and render correctly in both
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

Revert "disable announcement during initial setup"
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

use initializing variable
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
