Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

allow for job composer to copy environment (#1847)
  apps/myjobs/app/models/resource_mgr_adapter.rb
  apps/myjobs/app/models/workflow.rb
  apps/myjobs/app/views/workflows/_edit_form_job_attrs.html.erb
  apps/myjobs/config/locales/en.yml
Labels: component/jobcomposer

Fix uploaded file group
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Fix uploaded file group (#1851)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

check to see if user is same from etc (#1816)
  nginx_stage/lib/nginx_stage/user.rb
  nginx_stage/spec/user_spec.rb
Labels: component/nginx_stage

Fix uploaded file umask handling (#1845)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Fix uploaded file group (#1851)
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

Bare Minimum Data Table Functionality - removed Buttons for new File, etc.
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/sweet_alert.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/app/views/layouts/files.html.erb
Labels: component/dashboard

Adding basic systems tests.
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

Adding basic systems tests. (#1855)
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

update dependencies (#1859)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update Changelog (#1858)
  CHANGELOG.md
Labels: none

Use the same 404 error message in app.conf.erb as in pun.conf.erb . (#1854)
  nginx_stage/templates/app.conf.erb
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

Updated code to reflect global instead of window and only where necessary
  apps/dashboard/app/javascript/packs/files/datatable.js
Labels: component/dashboard

stop inlining css and instead add the rules through javascript
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/javascript/packs/config.js
  apps/dashboard/app/javascript/stylesheets/navbar.scss
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

add config to editor and rm style template
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

Completed New File/Folder functionality migration
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/javascript/packs/files/sweet_alert.js
  apps/dashboard/app/views/files/_buttons.html.erb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Bump ood_packaging Gem
  Gemfile
  Gemfile.lock
Labels: none

Bump ood_packaging Gem (#1867)
  Gemfile
  Gemfile.lock
Labels: none

Completed Upload Functionality
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/uppy.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

initial commit for using noVNC from yarn
  apps/dashboard/app/controllers/batch_connect/sessions_controller.rb
  apps/dashboard/app/javascript/packs/vnc.js
  apps/dashboard/app/views/batch_connect/sessions/show.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

stop inlining css and instead add the rules through javascript (#1863)
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/javascript/packs/config.js
  apps/dashboard/app/javascript/stylesheets/navbar.scss
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

correctly append css rules to the end of the list
  apps/dashboard/app/javascript/packs/config.js
Labels: component/dashboard

correctly append css rules to the end of the list (#1872)
  apps/dashboard/app/javascript/packs/config.js
Labels: component/dashboard

Completed Download Functionality
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Completed Copy Path Functionality
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/datatable.js
Labels: component/dashboard

update dependencies (#1875)
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

Completed Copy/Move functionality
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Completed Upload Functionality (#1870)
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/uppy.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Feature/refactor copy path (#1876)
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/javascript/packs/files/sweet_alert.js
  apps/dashboard/app/javascript/packs/files/uppy.js
  apps/dashboard/app/views/files/_buttons.html.erb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Feature/refactor js upload (#1873)
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Feature/refactor copy move (#1879)
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Completed Delete Functionality
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

Completed Delete Functionality (#1881)
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

completed rename
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/javascript/packs/files/index.js
  apps/dashboard/app/views/files/_buttons.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

completed rename (#1882)
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/javascript/packs/files/index.js
  apps/dashboard/app/views/files/_buttons.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

add a rake task to release archives to zenodo
  Rakefile
  lib/tasks/release.rb
Labels: area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
