Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

Update Changelog (#3512)
  CHANGELOG.md
Labels: none

Enable turbo (#3509)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/views/batch_connect/sessions/_panels.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.js.erb
  apps/dashboard/app/views/batch_connect/sessions/index.json.jbuilder
  apps/dashboard/app/views/batch_connect/sessions/index.turbo_stream.erb
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/test/system/remote_files_test.rb
  lib/tasks/build.rb
Labels: component/dashboard, area/build

add timeout to ps command
  nginx_stage/lib/nginx_stage/session_finder.rb
Labels: component/nginx_stage

remove unused socket_file#processes
  nginx_stage/lib/nginx_stage/socket_file.rb
Labels: component/nginx_stage

add comment here
  nginx_stage/lib/nginx_stage/session_finder.rb
Labels: component/nginx_stage

simple refactor to promote reuse
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
Labels: component/dashboard

support for configurable redirect host
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/redirect_host.yml
  ood-portal-generator/spec/fixtures/output/redirect_host.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

rename this config to be more specific
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/input/redirect_host.yml
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

rename this files as appropriate
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/http_redirect_host.yml
  ood-portal-generator/spec/fixtures/output/http_redirect_host.conf
Labels: component/ood_portal_generator

fix flaky file test by resetting the session
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Use latest ood_packaging to address symlink packaging issues
  Gemfile.lock
Labels: none

add a test case
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

update this test
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/app/models/motd_formatter/rss.rb
Labels: component/dashboard

lint a random file (#3520)
  apps/dashboard/app/models/motd_formatter/rss.rb
Labels: component/dashboard

Use latest ood_packaging to address symlink packaging issues (#3519)
  Gemfile.lock
Labels: none

lint a random file
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/jobcomposer

update changelog
  CHANGELOG.md
Labels: none

lint a random file (#3522)
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/jobcomposer

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Added support to edit saved settings from the details view
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/javascript/full_page_spinner.js
  apps/dashboard/app/javascript/prefill_templates/prefill_submit.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/fixtures/file_output/user_settings/saved_settings_edit.yml
  apps/dashboard/test/fixtures/file_output/user_settings/saved_settings_menu.yml
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/integration/saved_settings_controller_test.rb
  apps/dashboard/test/integration/saved_settings_navigation_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

fix this expression
  apps/dashboard/app/javascript/products_show.js
Labels: component/dashboard

Update Changelog (#3523)
  CHANGELOG.md
Labels: none

fix flaky file test by resetting the session (#3517)
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

rm debug logline
  apps/dashboard/app/models/launcher.rb
Labels: component/dashboard

support fields with numbers in dynamic bc (#3507)
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

support for configurable redirect host (#3515)
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/http_redirect_host.yml
  ood-portal-generator/spec/fixtures/output/http_redirect_host.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

use ps to count sessions instead of lsof (#3511)
  nginx_stage/lib/nginx_stage.rb
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
  nginx_stage/lib/nginx_stage/generators/nginx_show_generator.rb
  nginx_stage/lib/nginx_stage/session_finder.rb
  nginx_stage/lib/nginx_stage/socket_file.rb
Labels: component/nginx_stage

Check fav path included in allowlist
  apps/dashboard/app/apps/ood_files_app.rb
Labels: component/dashboard

Add test case
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

Fix formatting
  apps/dashboard/app/apps/ood_files_app.rb
Labels: component/dashboard

Updates Popperjs import & x- selector renaming (#3504)
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
Labels: component/dashboard

Fixes class extension that was breaking the build
  apps/dashboard/app/assets/stylesheets/application.scss
Labels: component/dashboard

Changes deprecated popper library to @popperjs/core
  apps/dashboard/package-lock.json
  apps/dashboard/package.json
Labels: component/dashboard

Let's watch the world blow up
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/package-lock.json
  apps/dashboard/package.json
Labels: component/dashboard

Adds new popperjs/core library to yarn.lock
  apps/dashboard/yarn.lock
Labels: component/dashboard

WIP - working through tests
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/views/batch_connect/session_contexts/_file_attachments.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
Labels: component/dashboard

Updates all data-toggle references to data-bs-toggle
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_file_attachments.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/batch_connect/shared/_saved_settings_menu.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/files/_file_action_menu.html.erb
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_user.html.erb
  apps/dashboard/app/views/products/_form_git.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/widgets/_recently_used_apps.html.erb
  apps/dashboard/app/views/widgets/_sessions.html.erb
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
  apps/dashboard/test/fixtures/projects/projects/.project_lookup
Labels: component/dashboard

rework projects#show page
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

fix this expression (#3525)
  apps/dashboard/app/javascript/products_show.js
Labels: component/dashboard
