Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

update tests cases for this feature
  apps/dashboard/test/integration/batch_connect/session_contexts_controller_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

upgrade to rails 6 (#1474)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/application.rb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/initializers/content_security_policy.rb
  apps/dashboard/config/initializers/new_framework_defaults_6_0.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

use osc robot instead of osc wiag (#1522)
  .github/workflows/changelog.yml
  .github/workflows/document-merge.yml
  .github/workflows/issue-lifecycle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/update.yml
Labels: none

safely read connection yml (#1523)
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

shift min an max when they change (#1509)
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

reset controller back to master
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
Labels: component/dashboard

Try and fix condition
  .github/workflows/tests.yml
Labels: none

Update E2E tests for Ubuntu package testing
  .github/workflows/tests.yml
  ood-portal-generator/lib/ood_portal_generator/application.rb
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/ubuntu-20.04.yml
Labels: component/ood_portal_generator

Do not fail all e2e tests if one fails, since they are highly decoupled
  .github/workflows/tests.yml
Labels: none

Fix how packaging:deb is called in GH Action
  .github/workflows/tests.yml
Labels: none

Fix syntax for rake arguments
  .github/workflows/tests.yml
Labels: none

Ensure proper build and runtime dependencies for debian packages
  debian/control
Labels: none

Use ondemand-packaging for deb builds Includes fixes for #1477
  .github/workflows/tests.yml
  debian/packaging.yaml
  lib/tasks/build_utils.rb
  lib/tasks/packaging.rb
  spec/e2e/e2e_helper.rb
Labels: area/build

Revert upgrade for webpack-dev-server from #1474
  apps/dashboard/package.json
Labels: component/dashboard

Feature/new context location (#1526)
  .rubocop.yml
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/integration/batch_connect/session_contexts_controller_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Update E2E tests for Ubuntu package testing (#1525)
  .github/workflows/tests.yml
  apps/dashboard/package.json
  debian/control
  debian/packaging.yaml
  lib/tasks/build_utils.rb
  lib/tasks/packaging.rb
  ood-portal-generator/lib/ood_portal_generator/application.rb
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/ubuntu-20.04.yml
Labels: component/dashboard, component/ood_portal_generator, area/build

Switch dev container and EL8 e2e tests to use Rocky Linux 8 Fixes #1334
  Dockerfile
  spec/e2e/nodesets/el7.yml
  spec/e2e/nodesets/el8.yml
Labels: none

use the new ood_appkit and coffee-rails to get rid of deprecation warnings
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

Switch dev container and EL8 e2e tests to use Rocky Linux 8 (#1534)
  Dockerfile
  spec/e2e/nodesets/el7.yml
  spec/e2e/nodesets/el8.yml
Labels: none

add functionality for hiding or showing elements
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Fix Gitlab package builds
  lib/tasks/packaging.rb
Labels: area/build

revert simple change
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

Use ondemand-packaging master branch under certain conditions
  .github/workflows/tests.yml
Labels: none

Add some extra information to Gitlab CI describing which ondemand-packaging branch is cloned
  .gitlab-ci.yml
Labels: none

Added custom range class for contrast with range slider.
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

Fix Gitlab package builds (#1533)
  lib/tasks/packaging.rb
Labels: area/build

Use ondemand-packaging master branch under certain conditions (#1536)
  .github/workflows/tests.yml
  .gitlab-ci.yml
Labels: none

Adjusting slider width for cleaner UI.
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
Labels: component/dashboard

enable reporting on CSP and refactor configs a little
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/content_security_policy.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
Labels: component/dashboard

Added custom range class for contrast with range slider. (#1537)
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

fix #1531
  apps/dashboard/config/environments/development.rb
Labels: component/dashboard

Added custom range class for contrast with range slider. (#1537)
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

use the new ood_appkit and coffee-rails to get rid of deprecation warnings (#1535)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

refactor motd formatter classes (#764)
  apps/dashboard/app/models/motd_file.rb
  apps/dashboard/app/models/motd_formatter.rb
  apps/dashboard/app/models/motd_formatter/markdown.rb
  apps/dashboard/app/models/motd_formatter/markdown_erb.rb
  apps/dashboard/app/models/motd_formatter/osc.rb
  apps/dashboard/app/models/motd_formatter/plaintext.rb
  apps/dashboard/app/models/motd_formatter/plaintext_erb.rb
  apps/dashboard/app/models/motd_formatter/rss.rb
  apps/dashboard/app/models/motd_formatter_markdown.rb
  apps/dashboard/app/models/motd_formatter_markdown_erb.rb
  apps/dashboard/app/models/motd_formatter_osc.rb
  apps/dashboard/app/models/motd_formatter_plaintext.rb
  apps/dashboard/app/models/motd_formatter_plaintext_erb.rb
  apps/dashboard/app/models/motd_formatter_rss.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_markdown_erb_test.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_markdown_test.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_osc_test.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_plaintext_erb_test.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_plaintext_test.rb
  apps/dashboard/test/models/motd_formatter/motd_formatter_rss_test.rb
Labels: component/dashboard

add functionality for hiding or showing elements (#1529)
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

enable reporting on CSP and refactor configs a little (#1538)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/content_security_policy.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
Labels: component/dashboard

fix #1531 (#1539)
  apps/dashboard/config/environments/development.rb
Labels: component/dashboard

Add nightly Ubuntu 20.04 builds Support tagged builds for deb packages Fixes #1527
  .gitlab-ci.yml
  lib/tasks/build_utils.rb
  lib/tasks/packaging.rb
Labels: area/build

Build debian package as architecture specific Fixes #1492
  debian/control
Labels: none

Do not strip debug symbols from ondemand deb package Fixes #1489
  debian/rules
Labels: none

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
