Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

actually accept a variable here and complete the path
  apps/dashboard/app/javascript/config.js
Labels: component/dashboard

lint a random file
  nginx_stage/lib/nginx_stage/generators/app_reset_generator.rb
Labels: component/nginx_stage

ensure build dir is clean when building assetss
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

lint a random file (#3355)
  nginx_stage/lib/nginx_stage/generators/app_reset_generator.rb
Labels: component/nginx_stage

try to fix this test
  apps/dashboard/test/integration/active_sessions_widget_test.rb
Labels: component/dashboard

just rm the h5
  apps/dashboard/test/integration/active_sessions_widget_test.rb
Labels: component/dashboard

remove these tests on status_array
  apps/dashboard/test/helpers/batch_connect/sessions_helper_test.rb
Labels: component/dashboard

actually have to rm status_array
  apps/dashboard/test/helpers/batch_connect/sessions_helper_test.rb
Labels: component/dashboard

only render this if enabled
  apps/dashboard/app/views/batch_connect/sessions/card/_card_body.html.erb
Labels: component/dashboard

correct this query
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

Fixed app-icon margin for Pinned Apps after update in #3075 PR
  apps/dashboard/app/assets/stylesheets/pinned_apps.scss
Labels: component/dashboard

Fixed app-icon margin for Pinned Apps after update in #3075 PR (#3357)
  apps/dashboard/app/assets/stylesheets/pinned_apps.scss
Labels: component/dashboard

correct this css query
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

use real ood_appkit
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

require before setting the env
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

Removed setting id in Project.initializer to fix project validation edge case
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Removed setting id in Project.initializer to fix project validation edge case (#3361)
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

Show app card host only for running sessions
  apps/dashboard/app/views/batch_connect/sessions/card/_host.html.erb
Labels: component/dashboard

fix this routing issue
  apps/dashboard/config/routes.rb
  apps/dashboard/lib/file_path_constraint.rb
Labels: component/dashboard

Show app card host only for running sessions (#3363)
  apps/dashboard/app/views/batch_connect/sessions/card/_host.html.erb
Labels: component/dashboard

should call .new and rm fs check bc it defaults
  apps/dashboard/config/routes.rb
  apps/dashboard/lib/file_path_constraint.rb
Labels: component/dashboard

Fixed interactive apps and sessions left hand menu icon margin
  apps/dashboard/app/assets/stylesheets/apps.scss
Labels: component/dashboard

Show app card host only for running sessions (#3363)
  apps/dashboard/app/views/batch_connect/sessions/card/_host.html.erb
Labels: component/dashboard

Fixed interactive apps and sessions left hand menu icon margin (#3364)
  apps/dashboard/app/assets/stylesheets/apps.scss
Labels: component/dashboard

Auto margins to center images
  apps/dashboard/app/assets/stylesheets/pinned_apps.scss
Labels: component/dashboard

Update apps/dashboard/esbuild.config.js
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

fix: configurure -> configure
  ood-portal-generator/share/need_auth.html
Labels: component/ood_portal_generator

lint a random file
  apps/dashboard/test/helpers/scripts_helper_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

expose xdmod and analytics through js config (#3354)
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/views/layouts/_config.html.erb
Labels: component/dashboard

ensure build dir is clean when building assets (#3356)
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

lint a random file (#3366)
  apps/dashboard/test/helpers/scripts_helper_test.rb
Labels: component/dashboard

more batch connect card refactor work (#3352)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
  apps/dashboard/app/views/batch_connect/sessions/card/_card_body.html.erb
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
  apps/dashboard/test/helpers/batch_connect/sessions_helper_test.rb
  apps/dashboard/test/integration/active_sessions_widget_test.rb
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

Fixed app-icon margin for Pinned Apps after update in #3075 PR (#3357)
  apps/dashboard/app/assets/stylesheets/pinned_apps.scss
Labels: component/dashboard

allow the path_selector to redefine the label
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

Extracts novnc connection compression & quality into Configuration variables
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

Fixes class name
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

Casts .to_i on novnc connection option variables
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*
