Repository OSC/ondemand, changes with the labels that .github/labeler.yml gives for each.
All labels: component/activejobs, component/bc_desktop, component/dashboard, component/file_editor, component/file_browser, component/jobcomposer, component/shell, component/nginx_stage, component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator, area/build

.github/labeler.yml:

component/activejobs:
  - apps/activejobs/**/*

component/bc_desktop:
  - apps/bc_desktop/**/*

component/dashboard:
  - apps/dashboard/**/*

component/file_editor:
  - apps/file-editor/**/*

component/file_browser:
  - apps/files/**/*

component/jobcomposer:
  - apps/myjobs/**/*

component/shell:
  - apps/shell/**/*

component/nginx_stage:
  - nginx_stage/**/*

component/mod_ood_proxy:
  - mod_ood_proxy/**/*

component/ood_auth_map:
  - ood_auth_map/**/*

component/ood_portal_generator:
  - ood-portal-generator/**/*

area/build:
  - lib/tasks/**/*

attempt to fix flaky test (#3721)
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

update changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

find chrome version and automatically dl the right driver
  lib/tasks/test.rb
Labels: area/build

create max and use cores instead of native
  apps/dashboard/app/lib/smart_attributes/attributes/auto_cores.rb
Labels: component/dashboard

move data to one table
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

dynamic bc also respond to hide: false (#3720)
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

only permit certain fields (#3710)
  apps/myjobs/app/controllers/workflows_controller.rb
Labels: component/jobcomposer

edit comments slightly
  apps/dashboard/app/lib/smart_attributes/attributes/auto_cores.rb
Labels: component/dashboard

fixes #3728 with solution provided by httpd devs
  mod_ood_proxy/lib/ood/proxy.lua
Labels: component/mod_ood_proxy

use base uri and let httpd set the query parameters
  mod_ood_proxy/lib/pun_proxy.lua
Labels: component/mod_ood_proxy

lint a random file
  apps/dashboard/app/apps/token_matcher.rb
Labels: component/dashboard

lint a random file (#3732)
  apps/dashboard/app/apps/token_matcher.rb
Labels: component/dashboard

update to use rails 7 defaults
  apps/dashboard/config/application.rb
Labels: component/dashboard

update myjobs to use rails 7.0 defaults
  apps/myjobs/config/application.rb
Labels: component/jobcomposer

account for /dex (dex_uri) when enabling maintenance mode
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

Update Changelog (#3725)
  CHANGELOG.md
Labels: none

lint a random file
  lib/tasks/install.rb
Labels: area/build

update changelog
  CHANGELOG.md
Labels: none

lint a random file (#3737)
  lib/tasks/install.rb
Labels: area/build

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Handle remote uploads as file transfers
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/javascript/files/uppy_ops.js
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/app/models/remote_transfer.rb
Labels: component/dashboard

account for /dex (dex_uri) when enabling maintenance mode (#3736)
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

More job details in pm (#3700)
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

refactor how jobs are logged in the project manager
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/concerns/job_logger.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

Explicitly close RemoteTransfer tempfile
  apps/dashboard/app/models/remote_transfer.rb
Labels: component/dashboard

lint a random file
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

lint a random file (#3742)
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

fixes #3728 with solution provided by httpd devs (#3730)
  mod_ood_proxy/lib/ood/proxy.lua
  mod_ood_proxy/lib/pun_proxy.lua
Labels: component/mod_ood_proxy

Update Changelog (#3738)
  CHANGELOG.md
Labels: none

upgrade uppy to 4.0 (#3717)
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

small fixups for job details panel
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

hide fixed attributes
  apps/dashboard/app/views/launchers/show.html.erb
Labels: component/dashboard

remove maximum from auto_cores
  apps/dashboard/app/lib/smart_attributes/attributes/auto_cores.rb
Labels: component/dashboard

fix this test
  apps/dashboard/test/models/announcements_test.rb
Labels: component/dashboard

catch all standanderrors
  apps/dashboard/app/models/announcement.rb
Labels: component/dashboard

adds error messages for syntax errors (#3486)
  apps/dashboard/app/models/announcement.rb
  apps/dashboard/test/models/announcements_test.rb
Labels: component/dashboard

fix tests
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

need to init the file
  apps/dashboard/app/models/concerns/job_logger.rb
Labels: component/dashboard

ensure launcher id matches a regex
  apps/dashboard/app/models/launcher.rb
Labels: component/dashboard
