Repository OSC/ondemand, pull requests merged in 2020-07, with the labels that each got.

#498 Add Turbolinks to Dashboard
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_all_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_sessions.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/assets.rb
Labels: component/dashboard

#603 Add backwards compatibility in Shell app for default SSH host
  apps/shell/app.js
Labels: component/shell, ready

#604 Replace accidental hardcoded OSC XDMoD host
  apps/dashboard/app/views/dashboard/_xdmod_widget_jobs.html.erb
Labels: bug

#610 Update README
  README.md
Labels: ready

#617 Bc regex bug
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: ready
