Repository OSC/ondemand, pull requests merged in 2020-12, with the labels that each got.

#741 Add PR labels automatically with GitHub Labeler Action
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: needs requirements

#695 Initial end to end testing
  Rakefile
  lib/tasks/build_utils.rb
  lib/tasks/container_files/Dockerfile.base
  lib/tasks/container_files/Dockerfile.test
  lib/tasks/container_files/test/entrypoint.sh
  lib/tasks/container_files/test/ood_portal.yml
  lib/tasks/docker.rb
  lib/tasks/packaging.rb
  lib/tasks/test.rb
Labels: area/build, ready

#748 don't always use cached clusters
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/test/controllers/batch_connect/session_contexts_controller_test.rb
Labels: component/dashboard

#746 Update stylesheet extension names
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/file-editor/app/assets/stylesheets/application.scss
  apps/file-editor/app/assets/stylesheets/pages.scss
  apps/myjobs/app/assets/stylesheets/application.scss
Labels: component/dashboard, component/file_editor, component/jobcomposer

#740 Update aria-labels for job details and delete button
  apps/activejobs/app/assets/javascripts/application.js
Labels: component/activejobs, ready

#729 Changes to how user mapping is handled
  mod_ood_proxy/lib/nginx.lua
  mod_ood_proxy/lib/node_proxy.lua
  mod_ood_proxy/lib/ood/user_map.lua
  mod_ood_proxy/lib/pun_proxy.lua
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.default
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/sum.default
  ood-portal-generator/templates/ood-portal.conf.erb
  ood_auth_map/bin/ood_auth_map.mapfile
  ood_auth_map/bin/ood_auth_map.regex
  ood_auth_map/lib/ood_auth_map/mapfile.rb
Labels: component/mod_ood_proxy, component/ood_auth_map, component/ood_portal_generator

#763 removing trailing . from mod_ood_proxy
  mod_ood_proxy/lib/ood/user_map.lua
Labels: component/mod_ood_proxy

#761 (mainline) deleting clusters needs to account for form defined clusters too
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/test/controllers/batch_connect/session_contexts_controller_test.rb
Labels: component/dashboard

#745 Improvements to CI pipeline
  .github/workflows/tests.yml
Labels: ready

#767 Refactor cache logic to batch_connect/app.rb
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

#768 Improve end-to-end tests
  .github/workflows/tests.yml
  .gitignore
  Dockerfile
  Dockerfile.test
  Gemfile
  Gemfile.lock
  docker/launch-ood
  docker/ood_portal.yml
  lib/tasks/container_files/Dockerfile.base
  lib/tasks/container_files/Dockerfile.test
  lib/tasks/container_files/test/entrypoint.sh
  lib/tasks/container_files/test/ood_portal.yml
  lib/tasks/docker.rb
  lib/tasks/packaging.rb
  lib/tasks/test.rb
  spec/e2e/browser_spec.rb
  tests/.keep
Labels: area/build

#772 Test against newer Ruby and Bundler
  .github/workflows/tests.yml
  Dockerfile
  Gemfile.lock
  apps/activejobs/Gemfile.lock
  apps/dashboard/Gemfile.lock
  apps/file-editor/Gemfile.lock
  apps/myjobs/Gemfile.lock
  nginx_stage/nginx_stage.gemspec
  ood-portal-generator/Gemfile.lock
  ood_auth_map/ood_auth_map.gemspec
Labels: component/activejobs, component/dashboard, component/file_editor, component/jobcomposer, component/nginx_stage, component/ood_auth_map, component/ood_portal_generator

#776 Add user_map_match to example ood_portal.yml
  ood-portal-generator/share/ood_portal_example.yml
Labels: component/ood_portal_generator, needs doc
