Repository OSC/ondemand, pull requests merged in 2021-09, with the labels that each got.

#1367 Support nightly RPM builds
  .gitlab-ci.yml
  lib/tasks/lint.rb
  lib/tasks/packaging.rb
Labels: area/build

#1376 Update Dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#583 IPS & ood-portal-generator: Change whitelist to allowlist
  nginx_stage/lib/nginx_stage/configuration.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/allowlist.yml
  ood-portal-generator/spec/fixtures/input/both_lists.yml
  ood-portal-generator/spec/fixtures/input/whitelist.yml
  ood-portal-generator/spec/fixtures/output/allowlist.conf
  ood-portal-generator/spec/spec_helper.rb
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/nginx_stage, component/ood_portal_generator, ready, needs doc, needs automation

#1320 Add Rust Hello World
  .gitignore
  Dockerfile.proxy
  Rakefile
  lib/tasks/ood-proxy.rb
  lib/tasks/packaging.rb
  ood-proxy-rs/.dockerignore
  ood-proxy-rs/Cargo.lock
  ood-proxy-rs/Cargo.toml
  ood-proxy-rs/Dockerfile
  ood-proxy-rs/src/main.rs
Labels: area/build

#1380 batch connect auto add change handlers
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/webpack/environment.js
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#1393 batch connect js needs to be after the form to work for some reason
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
Labels: component/dashboard

#1389 Update Dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

#832 add test cases for example files for both ood_portal and nginx_stage
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/spec/nginx_stage_config_spec.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
Labels: component/nginx_stage, component/ood_portal_generator, ready

#1400 clean up batchConnect.js a little
  apps/dashboard/app/javascript/packs/batchConnect.js
Labels: component/dashboard

#1402 Added helper for field validation, test, and updated other tests whic…
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

#1403 optimize the batch connect js a little
  apps/dashboard/app/javascript/packs/batchConnect.js
Labels: component/dashboard

#1397 Debian files
  lib/tasks/build_utils.rb
  lib/tasks/files/mime.types
  lib/tasks/install.rb
  lib/tasks/templates/locations.ini.erb
Labels: area/build

#1412 Update Dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#1415 Adding tests for AllowlistPolicy class.
  apps/dashboard/app/models/allowlist_policy.rb
  apps/dashboard/test/models/allowlist_policy_test.rb
Labels: component/dashboard

#1418 use strict same site cookies
  apps/dashboard/config/initializers/session_store.rb
  apps/myjobs/config/initializers/session_store.rb
Labels: component/dashboard, component/jobcomposer

#1409 batch connect apps to use a per cluster dataroot
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/template/.keep
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard, needs doc

#1424 add shell app to unit tests
  .rubocop.yml
  lib/tasks/test.rb
Labels: area/build

#1396 set term widths for rake dev:exec
  lib/tasks/development.rb
Labels: area/build

#1420 rm Cache-Control header so we can cache images
  ood-portal-generator/checksum.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.default
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/sum.default
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#1427 mv default & defined hosts to the helper class
  apps/shell/app.js
  apps/shell/test/allowlist.test.js
  apps/shell/test/clusters.d/bad_format.yml
  apps/shell/test/clusters.d/hidden.yml
  apps/shell/test/clusters.d/no_login.yml
  apps/shell/test/clusters.d/owens.yml
  apps/shell/test/clusters.d/pitzer.yml
  apps/shell/test/clusters.d/ruby.yml
  apps/shell/test/helpers.test.js
  apps/shell/test/testing.test.js
  apps/shell/utils/helpers.js
Labels: component/shell
