Repository OSC/ondemand, pull requests merged in 2021-07, with the labels that each got.

#1274 Fix ssh_to_compute_node? to not error on non-existant cluster
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

#1282 short circuit based on clusters not configured_clusters.
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: bug/fix, component/dashboard

#1283 Fix OOD_NAVBAR_TYPE=light not working
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

#1231 initial build:ubuntu task
  .gitignore
  Rakefile
  debian/README.Debian
  debian/changelog
  debian/compat
  debian/control
  debian/copyright
  debian/patches/series
  debian/rules
  debian/source/format
  debian/source/local-options
  debian/watch
  lib/tasks/build.rb
  lib/tasks/build_utils.rb
  lib/tasks/packaging.rb
  lib/tasks/templates/Dockerfile.ubuntu.erb
Labels: area/build

#1285 Setting RAILS_ENV to ignore .env.local type files for testing.
  apps/dashboard/Rakefile
Labels: component/dashboard

#1290 Do not log kubectl sudo commands
  packaging/ondemand.spec
Labels: needs automation

#1277 Add option to disable terminal in files app.
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/files_app_test.rb
Labels: component/dashboard, needs doc

#1278 Update Dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#1295 Update Dependencies
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

#1299 Adding descriptions for some package:* rake tasks.
  lib/tasks/packaging.rb
Labels: area/build

#1301 move rubocop file to the dashboard and fix 1 file's warnings
  apps/dashboard/.rubocop.yml
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard
