Repository OSC/ondemand, pull requests merged in 2021-06, with the labels that each got.

#1181 Fix for multiple file simultaneous upload for issue #1176
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1194 Checking for a filesize of 0 for issue 1120
  apps/dashboard/app/models/files.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/files_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#1209 Support setting passenger_pool_idle_time
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage, needs automation, needs doc

#1211 Support custom passenger options for NGINX PUN
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage, needs automation, needs doc

#1215 force utf-8 encoding when updating files
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/test/fixtures/files/upload/funny_characters.sh
  apps/dashboard/test/fixtures/files/upload/hello-world-c
  apps/dashboard/test/fixtures/files/upload/hello-world.c
  apps/dashboard/test/fixtures/files/upload/lots_of_utf8.txt
  apps/dashboard/test/fixtures/files/upload/osc-logo.png
  apps/dashboard/test/integration/files_test.rb
Labels: component/dashboard

#1213 Removed the panels classes since they were deprecated in bootstrap 4 …
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/batch_connect/shared/_app_list.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_menu.html.erb
Labels: component/dashboard

#1217 Adding shared apps to default to ood blue and added spacing between c…
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/batch_connect/shared/_app_list.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_menu.html.erb
Labels: component/dashboard

#1221 Adjusting Help and Developer menus to drop from right.
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
Labels: component/dashboard

#1223 update ood_core
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#1173 Allow cluster to override OOD_BC_SSH_TO_COMPUTE_NODE
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard, needs doc

#1246 refactor some usr stubbing helpers
  apps/dashboard/test/integration/apps_test.rb
  apps/dashboard/test/models/router_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#1196 Added support to read launcher buttons configuration
  apps/dashboard/app/apps/launcher_button.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/widgets/_launchers.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/apps/launcher_button_reader_test.rb
  apps/dashboard/test/apps/launcher_button_test.rb
  apps/dashboard/test/fixtures/launchers/config01/rstudio.yml
  apps/dashboard/test/fixtures/launchers/config02/nested.yml
  apps/dashboard/test/fixtures/launchers/ondemand.d/config.yml
Labels: component/dashboard

#1233 Adding configuration option for dex to set issuer if using reverse pr…
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/dex.full.proxy.yaml
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
Labels: component/ood_portal_generator

#916 Internationalize "#{cluster.title} Shell Access"
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard, ready

#1253 Update autoprefixer version
  apps/dashboard/Gemfile
Labels: component/dashboard

#1134 Update Dependencies
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#1206 Iqss launcher buttons basic widget
  apps/dashboard/app/apps/launcher_button.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/widgets/_launchers.html.erb
  apps/dashboard/app/views/widgets/launchers/_launcher_button.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/apps/launcher_button_test.rb
  apps/dashboard/test/fixtures/launchers/config01/rstudio.yml
  apps/dashboard/test/fixtures/launchers/config02/nested.yml
  apps/dashboard/test/fixtures/launchers/ondemand.d/config.yml
Labels: component/dashboard

#1225 Added support for CORS to the Apache configuration
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator, needs doc

#1248 show shared apps on the dashboard
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: breaking change, component/dashboard, needs doc

#1257 Added support for API key and secret to Apache for API clients
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#1264 Ensure /etc/ood/api is packaged with secure permissions
  packaging/ondemand.spec
Labels: needs automation

#1254 Fix files preview. Set charset=utf-8 in Content-Type header
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

#1259 Update Dependencies
  apps/dashboard/Gemfile.lock
Labels: component/dashboard
