Repository OSC/ondemand, pull requests merged in 2021-04, with the labels that each got.

#1017 Files application Webpacker pack
  apps/dashboard/app/assets/stylesheets/files.scss
  apps/dashboard/app/javascript/packs/files.js
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

#1018 Files app Tooltip fix
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/javascript/packs/files.js
Labels: component/dashboard

#1020 Uppy Simple
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

#1023 Clear search input in Files app when moving to new directory
  apps/dashboard/app/assets/javascripts/files.js
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#996 group pinned apps
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/app/views/dashboard/pinned_apps/_app.html.erb
  apps/dashboard/app/views/dashboard/pinned_apps/_group.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard, needs doc, ready

#1009 updates to get activejobs to work in the dashboard
  apps/dashboard/app/assets/javascripts/active_jobs.js
  apps/dashboard/app/assets/stylesheets/_buttons.scss
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/controllers/active_jobs_controller.rb
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/models/active_jobs/filter.rb
  apps/dashboard/app/models/active_jobs/jobs_json_request_handler.rb
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/activejobs.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/package.json
  apps/dashboard/test/fixtures/config/clusters.d/owens.yml
  apps/dashboard/test/helpers/active_jobs_helper_test.rb
  apps/dashboard/yarn.lock
Labels: component/dashboard

#1045 Files App – Fix iframe visibility
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1049 Fix ood-portal-generator to work with Oracle Linux
  ood-portal-generator/lib/ood_portal_generator.rb
Labels: component/ood_portal_generator

#1038 Configurable landing page
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/dashboard/_motd.html.erb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/app/views/dashboard/_widget_error.html.erb
  apps/dashboard/app/views/dashboard/_xdmod_widget_job_efficiency.html.erb
  apps/dashboard/app/views/dashboard/_xdmod_widget_jobs.html.erb
  apps/dashboard/app/views/dashboard/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/views/dashboard/_syntax_error.html.erb
  apps/dashboard/test/fixtures/config/views/dashboard/_test_partial.html.erb
  apps/dashboard/test/html_helper.rb
  apps/dashboard/test/integration/landing_page_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#1050 Several minor fixes (mime type for js, sticky top, add missing nav tag)
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  lib/tasks/test.rb
Labels: area/build, component/dashboard

#1053 redirect old activejobs url to new dashboard
  nginx_stage/templates/pun.conf.erb
  spec/e2e/browser_spec.rb
  spec/e2e/e2e_helper.rb
Labels: component/nginx_stage

#1026 configure pinned_apps through metadata fields
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard, needs doc

#1054 default files app to home dir
  apps/dashboard/config/routes.rb
Labels: component/dashboard

#1055 fix activejobs styles for Bootstrap 4
  apps/dashboard/app/assets/javascripts/active_jobs.js
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/app/views/layouts/active_jobs.html.erb
Labels: component/dashboard

#1057 Style fixes for sessions
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
Labels: component/dashboard

#1056 add redirects in the PUN config for the files and file-editor apps
  Dockerfile
  nginx_stage/templates/pun.conf.erb
  spec/e2e/browser_spec.rb
Labels: component/nginx_stage

#1039 fix #692 by using #all instead of #preload
  apps/myjobs/app/controllers/workflows_controller.rb
Labels: component/jobcomposer

#1058 change main file link to view instead of download
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1060 Enforce restrictions in files app
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/allowlist_policy.rb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/myjobs/config/configuration_singleton.rb
Labels: component/dashboard, component/jobcomposer

#1064 Fix env for new locations for files and editor apps
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/myjobs/config/configuration_singleton.rb
  nginx_stage/lib/nginx_stage.rb
Labels: component/dashboard, component/jobcomposer, component/nginx_stage

#1066 update dashboard's node dependencies
  apps/dashboard/yarn.lock
Labels: component/dashboard

#933 Update Dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#1070 Update Dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#1069 Address some obvious performance issues
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

#1074 Fix highlight on nav and open 'internal links' in same window
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1076 Bootstrap 4 fixes for xdmod jobs widget
  apps/dashboard/app/views/dashboard/_xdmod_widget_jobs.html.erb
Labels: component/dashboard

#1081 fix spacing for copy/move box
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1083 open terminal in new window from files app
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1082 fix file editor opening files w ampersand in name
  apps/dashboard/app/views/files/edit.html.erb
Labels: component/dashboard

#1084 don't use UUID as HTML id in session card
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/index.js.erb
Labels: component/dashboard

#1089 Removed Audible Bell by Default in Shell
  apps/shell/views/index.hbs
Labels: component/shell
