Repository OSC/ondemand, pull requests merged in 2021-02, with the labels that each got.

#869 Update Dependencies
  apps/activejobs/Gemfile.lock
  apps/dashboard/Gemfile.lock
  apps/file-editor/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/activejobs, component/dashboard, component/file_editor, component/jobcomposer

#871 test/system is an excluded directory in railties test infrastructure
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

#873 Changed to version of node-notifier to be atleast 8.0.1
  apps/shell/package.json
Labels: component/shell

#683 K8s dashboard
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

#883 webpacker sprockets rebase
  .gitignore
  Dockerfile
  apps/dashboard/.browserslistrc
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/app/assets/javascripts/jquery-migrate-3.1.0.min.js
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/babel.config.js
  apps/dashboard/bin/bundle
  apps/dashboard/bin/setup
  apps/dashboard/bin/webpack
  apps/dashboard/bin/webpack-dev-server
  apps/dashboard/bin/yarn
  apps/dashboard/config/application.rb
  apps/dashboard/config/boot.rb
  apps/dashboard/config/webpack/development.js
  apps/dashboard/config/webpack/environment.js
  apps/dashboard/config/webpack/production.js
  apps/dashboard/config/webpack/test.js
  apps/dashboard/config/webpacker.yml
  apps/dashboard/package.json
  apps/dashboard/postcss.config.js
  apps/dashboard/yarn.lock
  lib/tasks/test.rb
Labels: area/build, component/dashboard

#870 system pinned apps
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/app/views/dashboard/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/controllers/dashboard_controller_test.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_desktop/local/owens.yml
Labels: component/dashboard, needs doc, ready

#879 Update Dependencies
  apps/activejobs/Gemfile.lock
  apps/dashboard/Gemfile.lock
  apps/file-editor/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/activejobs, component/dashboard, component/file_editor, component/jobcomposer

#891 Hide NGINX and Passenger version information
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

#894 Update pinned apps menu rebased
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/controllers/dashboard_controller_test.rb
Labels: component/dashboard, ready

#897 Changed cookies to be secure in production
  apps/activejobs/config/initializers/session_store.rb
  apps/dashboard/config/initializers/session_store.rb
  apps/file-editor/config/initializers/session_store.rb
  apps/files/lib/cloudcmd/lib/client/ood.js
  apps/myjobs/config/initializers/session_store.rb
Labels: component/activejobs, component/dashboard, component/file_browser, component/file_editor, component/jobcomposer

#899 Fix OnDemand logo broken link in Dashboard footer
  apps/dashboard/app/views/layouts/_footer.html.erb
Labels: component/dashboard

#896 Load Webpack CSS in application.html.erb
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/javascript/stylesheets/application.css
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/webpacker.yml
Labels: component/dashboard

#893 add the ability to configure through ondemand.d/y*ml files
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/bad_erb.yml.erb
  apps/dashboard/test/fixtures/config/ondemand.d/empty.yml
  apps/dashboard/test/fixtures/config/ondemand.d/good_erb.yml.erb
  apps/dashboard/test/fixtures/config/ondemand.d/not_good_yml.yml
  apps/dashboard/test/fixtures/config/ondemand.d/pinned_apps.yml
  apps/dashboard/test/fixtures/config/ondemand.d/should_not_read.yml.bak
  apps/dashboard/test/fixtures/config/ondemand.d/test_keys.yml
  apps/dashboard/test/fixtures/config/ondemand.d/yml_with_a.yaml
Labels: component/dashboard, ready

#898 pinned apps to support wildcard globs
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/app/views/dashboard/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/fixtures/usr/cant_see/app_one/manifest.yml
  apps/dashboard/test/fixtures/usr/cant_see/app_two/manifest.yml
  apps/dashboard/test/fixtures/usr/me/my_shared_app/manifest.yml
  apps/dashboard/test/fixtures/usr/shared/bc_app/form.yml
  apps/dashboard/test/fixtures/usr/shared/bc_app/manifest.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/form.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/local/oakley.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/local/owens.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/manifest.yml
  apps/dashboard/test/models/router_test.rb
Labels: component/dashboard, ready

#630 Simple Color Schemes
  apps/shell/README.md
  apps/shell/app.js
  apps/shell/color_themes/LICENSE
  apps/shell/color_themes/dark/Cobalt2.json
  apps/shell/color_themes/dark/Monokai Remastered.json
  apps/shell/color_themes/dark/Pastel Dark.json
  apps/shell/color_themes/dark/Red Alert.json
  apps/shell/color_themes/dark/Tomorrow Night Blue.json
  apps/shell/color_themes/dark/Tomorrow Night Bright.json
  apps/shell/color_themes/dark/Tomorrow Night Eighties.json
  apps/shell/color_themes/dark/Tomorrow Night.json
  apps/shell/color_themes/dark/idleToes.json
  apps/shell/color_themes/light/CLRS.json
  apps/shell/color_themes/light/Github.json
  apps/shell/color_themes/light/Solarized Light.json
  apps/shell/color_themes/light/Tomorrow.json
  apps/shell/package.json
  apps/shell/public/javascripts/hterm_all_1.85.js
  apps/shell/public/javascripts/lodash-4.17.21/lodash.min.js
  apps/shell/public/javascripts/ood_shell.1.js
  apps/shell/public/stylesheets/bootstrap-theme.min.css
  apps/shell/public/stylesheets/bootstrap.min.css
  apps/shell/public/stylesheets/style.css
  apps/shell/views/index.hbs
  apps/shell/yarn.lock
Labels: component/shell, needs doc

#910 cache bust hterm & ood_shell
  apps/shell/public/javascripts/hterm_all_1.85.mod.js
  apps/shell/public/javascripts/ood_shell.2.js
  apps/shell/views/index.hbs
Labels: component/shell

#911 invalidate cached @pinned_apps from Router in tests
  apps/dashboard/test/models/router_test.rb
Labels: component/dashboard
