Repository OSC/ondemand, pull requests merged in 2021-10, with the labels that each got.

#1298 Add retry attempt counter to 404 loop to fix client side loop
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1426 Update hterm to 1.91 (shells)
  apps/shell/README.md
  apps/shell/public/javascripts/hterm_all_1.91.mod.js
  apps/shell/views/index.hbs
Labels: component/shell

#1429 bugfix to define the default ssh host if it is not specified
  apps/shell/test/helpers.test.js
  apps/shell/test/no.defaults.clusters.d/pitzer.yml
  apps/shell/test/no.defaults.clusters.d/ruby.yml
  apps/shell/utils/helpers.js
Labels: component/shell

#1430 Removing controller tests and adding integrations.
  apps/dashboard/test/controllers/apps_controller_test.rb
  apps/dashboard/test/controllers/errors_controller_test.rb
  apps/dashboard/test/controllers/products_controller_test.rb
  apps/dashboard/test/integration/apps_controller_test.rb
  apps/dashboard/test/integration/batch_connect/session_contexts_controller_test.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/integration/errors_controller_test.rb
  apps/dashboard/test/integration/products_controller_test.rb
Labels: component/dashboard

#1434 Update Dependencies
  apps/dashboard/yarn.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/shell

#1428 Move RPM files to packaging/rpm directory
  lib/tasks/packaging.rb
  packaging/rpm/favicon.ico
  packaging/rpm/logo.png
  packaging/rpm/ondemand-selinux.fc
  packaging/rpm/ondemand-selinux.te
  packaging/rpm/ondemand.spec
Labels: area/build

#1435 force SVGs to be downloaded
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#1436 Force SVGs to be downloaded (2.0 backport)
  CHANGELOG.md
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#1543 Deb packaging improvements
  debian/conffiles
  debian/control
  debian/packaging.yaml
  debian/postinst
  debian/postrm
  debian/prerm
  debian/rules
  packaging/rpm/ondemand.spec
Labels: area/build

#1542 Add nightly Ubuntu 20.04 builds
  .gitlab-ci.yml
  lib/tasks/build_utils.rb
  lib/tasks/packaging.rb
Labels: area/build
