Repository OSC/ondemand, pull requests merged in 2021-11, with the labels that each got.

#1551 Packaging improvements
  lib/tasks/build_utils.rb
  lib/tasks/files/sudo.debian
  lib/tasks/install.rb
  lib/tasks/packaging.rb
  packaging/deb/README.Debian
  packaging/deb/changelog
  packaging/deb/compat
  packaging/deb/conffiles
  packaging/deb/control
  packaging/deb/copyright
  packaging/deb/patches/series
  packaging/deb/postinst
  packaging/deb/postrm
  packaging/deb/prerm
  packaging/deb/rules
  packaging/deb/source/format
  packaging/deb/source/local-options
  packaging/deb/watch
  packaging/files/apache-systemd.ood-portal.conf
  packaging/files/apache-systemd.ood.conf
  packaging/files/crontab
  packaging/files/favicon.ico
  packaging/files/logo.png
  packaging/files/logrotate
  packaging/files/mime.types
  packaging/files/ondemand-nginx-tmpfiles
  packaging/files/sudo
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
  spec/e2e/package_spec.rb
Labels: area/build

#1549 reset developer docs bc it got wiped
  DEVELOPMENT.md
  lib/tasks/development.rb
Labels: area/build

#1550 migrate the css pipeline to webpack
  apps/dashboard/Gemfile
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/javascript/stylesheets/_variables.scss
  apps/dashboard/app/javascript/stylesheets/app_kit/_markdown.scss
  apps/dashboard/app/javascript/stylesheets/application.css
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/apps.scss
  apps/dashboard/app/javascript/stylesheets/batch_connect/session_contexts.scss
  apps/dashboard/app/javascript/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/javascript/stylesheets/breadcrumb.scss
  apps/dashboard/app/javascript/stylesheets/buttons.scss
  apps/dashboard/app/javascript/stylesheets/custom.scss
  apps/dashboard/app/javascript/stylesheets/dashboard.scss
  apps/dashboard/app/javascript/stylesheets/editor.scss
  apps/dashboard/app/javascript/stylesheets/errors.scss
  apps/dashboard/app/javascript/stylesheets/fa_shims.css
  apps/dashboard/app/javascript/stylesheets/files.scss
  apps/dashboard/app/javascript/stylesheets/fontawesome-iconpicker.css
  apps/dashboard/app/javascript/stylesheets/insufficient_balance.scss
  apps/dashboard/app/javascript/stylesheets/insufficient_quota.scss
  apps/dashboard/app/javascript/stylesheets/navbar.scss
  apps/dashboard/app/javascript/stylesheets/products.scss
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/webpack/environment.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

#1564 Push ondemand tar.gz to release page on tags
  .github/workflows/release.yml
  lib/tasks/packaging.rb
  packaging/rpm/ondemand.spec
Labels: area/build

#1563 fix yarn lock
  apps/dashboard/yarn.lock
Labels: component/dashboard

#1569 icon provided by font-awesome-sass no longer provided
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

#1570 move apps.js to webpack
  apps/dashboard/app/assets/javascripts/apps.js.coffee
  apps/dashboard/app/javascript/packs/apps.js
  apps/dashboard/app/views/apps/index.html.erb
Labels: component/dashboard

#1574 cant get rid of sass-rails just yet
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

#1572 Remove active support dependency for ood-portal-generator
  ood-portal-generator/Gemfile
  ood-portal-generator/Gemfile.lock
  ood-portal-generator/RAILS-LICENSE
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/hash_extensions.rb
Labels: component/ood_portal_generator

#1576 Numerous fixes for deb package
  ood-portal-generator/lib/ood_portal_generator/application.rb
  ood-portal-generator/spec/application_spec.rb
  packaging/deb/postinst
  packaging/deb/postrm
Labels: component/ood_portal_generator

#1584 add ability to mount infra apps in dev container
  lib/tasks/development.rb
Labels: area/build

#1602 Use rake task to install infrastructure files
  Gemfile
  Gemfile.lock
  Rakefile
  lib/tasks/build.rb
  lib/tasks/build_utils.rb
  lib/tasks/development.rb
  lib/tasks/install.rb
  lib/tasks/packaging.rb
  lib/tasks/rake_helper.rb
  lib/tasks/test.rb
  packaging/deb/rules
  packaging/files/apache-systemd.ood-portal.conf.erb
  packaging/files/sudo
  packaging/files/sudo.erb
  packaging/rpm/ondemand.spec
Labels: area/build

#1604 reset accidental commit to mainline
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
Labels: component/dashboard

#1605 Add some rubocop settings and add rubocop-rspec
  .rubocop.yml
  Gemfile
  Gemfile.lock
  lib/tasks/lint.rb
Labels: area/build

#1608 ensure bc clusters preserve the order
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/fixtures/config/clusters.d/ruby.yml
  apps/dashboard/test/integration/apps_test.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#1600 extend the timeout for uppy uploads
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1618 Removed Index from Public RootOptions as to not allow Directory Index…
  ood-portal-generator/checksum.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.default
  ood-portal-generator/spec/fixtures/ood-portal.conf.default.deb
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/sum.default
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#1624 Use versioned build repo for E2E tests
  .github/workflows/tests.yml
  spec/e2e/e2e_helper.rb
Labels: area/testing

#1623 Use versioned build repo for E2E tests (Release 2.0)
  .github/workflows/tests.yml
  spec/e2e/e2e_helper.rb
Labels: area/testing

#1628 Fix mod_ood_proxy Lua errors with Lua 5.3
  mod_ood_proxy/lib/logger.lua
Labels: component/mod_ood_proxy

#1627 Fix mod_ood_proxy Lua errors with Lua 5.3 (Release 2.0)
  mod_ood_proxy/lib/logger.lua
Labels: component/mod_ood_proxy

#1622 Removed Index from Public RootOptions as to not allow Directory Index
  ood-portal-generator/checksum.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.default
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/sum.default
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#1629 backport #1600 to 2.0
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1611 Jupyter form to radio button selection
  .rubocop.yml
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/integration/batch_connect_test.rb
Labels: component/dashboard

#1579 migrate product assets to webpack
  apps/dashboard/app/assets/javascripts/products.coffee
  apps/dashboard/app/helpers/products_helper.rb
  apps/dashboard/app/javascript/packs/products_index.js
  apps/dashboard/app/javascript/packs/products_show.js
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/show.html.erb
Labels: component/dashboard

#1630 normalize keys in table to account for options with hyphens
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard
