Repository OSC/ondemand, pull requests merged in 2021-08, with the labels that each got.

#1304 Update Dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#1317 fix shell dropdown menu to correctly redirect to the shell app
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
Labels: component/dashboard

#1314 fix locale fallbacks so they actually fallback
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/config/application.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/initializers/locales.rb
Labels: component/dashboard

#1325 safely read yaml
  apps/dashboard/app/apps/manifest.rb
Labels: component/dashboard

#1329 Add RPM packaging tests and RPM packaging rake task
  .github/workflows/tests.yml
  .gitignore
  lib/tasks/packaging.rb
Labels: area/build

#1216 Added new namespace for web services and first API controller
  apps/dashboard/app/controllers/api/api_applications_controller.rb
  apps/dashboard/app/controllers/api/api_sessions_controller.rb
  apps/dashboard/app/controllers/api_controller.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/controllers/api/api_applications_controller_test.rb
  apps/dashboard/test/controllers/api/api_sessions_controller_test.rb
Labels: component/dashboard

#1340 Add acceptance testing using packages built during testing
  .github/workflows/tests.yml
  .gitignore
  Gemfile
  Gemfile.lock
  lib/tasks/packaging.rb
  lib/tasks/test.rb
  packaging/ondemand.spec
  spec/fixtures/config/ood_portal/portal.yml
  spec/package/nodesets/default.yml
  spec/package/nodesets/el7.yml
  spec/package/nodesets/el8.yml
  spec/package/package_helper.rb
  spec/package/package_spec.rb
  spec/spec_helper_package.rb
  spec/support/e2e_examples.rb
Labels: area/build

#1361 Improve E2E testing
  .github/workflows/tests.yml
  Dockerfile.test
  lib/tasks/test.rb
  spec/e2e/browser_spec.rb
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/default.yml
  spec/e2e/nodesets/el7.yml
  spec/e2e/nodesets/el8.yml
  spec/e2e/package_spec.rb
  spec/e2e/proxy_spec.rb
  spec/e2e/pun_pre_hook_spec.rb
  spec/package/package_helper.rb
  spec/package/package_spec.rb
  spec/spec_helper_e2e.rb
  spec/support/e2e_examples.rb
Labels: area/build

#1338 Bugfix/allowlist rm files
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/test/models/transfer_test.rb
Labels: component/dashboard

#1354 Update Dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#1359 bugfix 1312
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1360 bugfix alternate branch
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

#1363 Bugfix/1214
  apps/shell/public/javascripts/hterm_all_1.85.mod.js
Labels: component/shell

#1358 bugfix
  apps/shell/public/javascripts/hterm_all_1.85.mod.js
Labels: component/shell

#1377 refactor fa icon info into a webpack
  apps/dashboard/app/javascript/packs/fa/faIconInfo.js
  apps/dashboard/app/javascript/packs/fa/faIconPicker.js
  apps/dashboard/app/views/products/_form_icon.html.erb
  apps/dashboard/config/webpack/environment.js
Labels: component/dashboard

#1373 Deb build deps
  Rakefile
  debian/rules
  lib/tasks/build.rb
  lib/tasks/build_utils.rb
  lib/tasks/install.rb
Labels: area/build
