Repository OSC/ondemand, pull requests merged in 2021-05, with the labels that each got.

#1096 rename landing_page_layout to dashboard_layout
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/views/dashboard/index.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/integration/dashboard_layout_test.rb
Labels: component/dashboard

#1095 enforce allowlist policy on transfers
  apps/dashboard/app/models/transfer.rb
Labels: component/dashboard

#1094 Control open_apps_in_new_window? using manifest
  apps/activejobs/manifest.yml
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/integration/nav_test.rb
  apps/file-editor/manifest.yml
  apps/files/manifest.yml
  apps/shell/manifest.yml
Labels: component/activejobs, component/dashboard, component/file_browser, component/file_editor, component/shell, needs doc

#1087 only show app.links.first in the feature apps menu
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
Labels: component/dashboard

#1086 add margin between node graphs in activejobs
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

#1097 use the title of the PR to create the document ticket
  .github/workflows/document-merge.yml
Labels: needs doc

#1100 fix document merge GH action
  .github/workflows/document-merge.yml
Labels: needs doc

#1090 add tests for pun pre hook
  lib/tasks/docker.rb
  lib/tasks/packaging.rb
  lib/tasks/test.rb
  spec/e2e/browser_spec.rb
  spec/e2e/e2e_helper.rb
  spec/e2e/pun_pre_hook_spec.rb
  spec/fixtures/config/ood_portal/portal_with_prehook.yml
  spec/fixtures/hooks/bad_pre_hook
  spec/fixtures/hooks/good_pre_hook
Labels: area/build

#1091 use lua-posix to fork and set the environment in the pun_pre_hook
  Dockerfile
  Dockerfile.dev
  mod_ood_proxy/lib/ood/nginx_stage.lua
  nginx_stage/lib/nginx_stage/generators/pun_config_generator.rb
  nginx_stage/spec/generators/pun_config_generator_spec.rb
  packaging/ondemand.spec
  spec/fixtures/hooks/good_pre_hook
Labels: component/mod_ood_proxy, component/nginx_stage, needs doc

#1102 add optional dalli gem for ihpc apps to use
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

#1107 Files App - Open in Terminal Dropdown
  apps/dashboard/app/assets/javascripts/files.js
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

#1105 Ensure urls in proxies
  Dockerfile.dev
  Dockerfile.test
  mod_ood_proxy/lib/node_proxy.lua
  spec/e2e/e2e_helper.rb
  spec/e2e/proxy_spec.rb
  spec/fixtures/config/ood_portal/portal_with_proxies.yml
  spec/fixtures/extras/simple_origin_server.py
Labels: component/mod_ood_proxy

#1093 Update Dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#1112 remove rails_12factor gem
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/models/transfer.rb
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  nginx_stage/lib/nginx_stage.rb
Labels: component/dashboard, component/jobcomposer, component/nginx_stage

#1110 apply a users umask to the uploaded file
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#1115 Upgrade rails and deps
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/package.json
  apps/dashboard/vendor/assets/javascripts/handlebars.js/4.4.2/handlebars.min.js
  apps/dashboard/vendor/assets/javascripts/lodash/4.17.15/lodash.min.js
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/myjobs/config/environments/production.rb
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#1118 force update postcss & xmlhttprequest-ssl
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

#1121 fix mimetype handling in files app
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#1122 reject invalid subapps in pinned_apps
  apps/dashboard/app/apps/router.rb
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_desktop/local/bad_sub_app.yml.erb
Labels: component/dashboard

#1125 properly handle caching of usernames from uids
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

#995 Add distribution of K8s hooks
  .github/workflows/tests.yml
  hooks/hook.env.example
  hooks/k8s-bootstrap/k8s-bootstrap-ondemand.sh
  hooks/k8s-bootstrap/ondemand.yaml
  hooks/k8s-bootstrap/set-k8s-creds.sh
  hooks/k8s-bootstrap/yaml/job-pod-reaper.yaml
  hooks/k8s-bootstrap/yaml/namespace.yaml
  hooks/k8s-bootstrap/yaml/network-policy.yaml
  hooks/k8s-bootstrap/yaml/pod-security-policy.yaml
  hooks/k8s-bootstrap/yaml/rolebinding.yaml
  lib/tasks/test.rb
  packaging/ondemand.spec
Labels: area/build, needs doc

#1143 Support changing Dex storage
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/fixtures/dex.custom.yaml
  ood-portal-generator/spec/fixtures/ood_portal.dex.yaml
Labels: component/ood_portal_generator

#1156 Remove mobile browser warning banner in Dashboard
  apps/dashboard/app/views/layouts/_browser_warning.html.erb
Labels: component/dashboard

#1153 Added system dashboard tests to github action
  .github/workflows/tests.yml
  apps/dashboard/app/javascript/packs/application.js
Labels: component/dashboard

#1160 Ensuring Files.username(uid) returns string
  apps/dashboard/app/models/files.rb
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

#1165 fix #1164 by creating parent directory, not path
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#1168 Add back files system tests for mv/cp/rm
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#1166 Fixing activjobs buttons to have dropdown-menu open right instead of …
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

#1169 update a few dependencies
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#1159 enable staged_root to be present in submit.yml.erb fixing #864
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_jupyter/submit.yml.erb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

#1182 Changing variable name for better readability for issue #1052
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard
