Repository OSC/ondemand, pull requests merged in 2021-03, with the labels that each got.

#912 Pin apps by metadata
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/apps/token_matcher.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/pinned_apps.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/manifest.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/pseudofun/manifest.yml
  apps/dashboard/test/models/router_test.rb
Labels: component/dashboard

#884 initial all apps redesign to a data-table
  apps/dashboard/app/assets/javascripts/apps.js.coffee
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/app/helpers/app_helper.rb
  apps/dashboard/app/views/apps/_app.html.erb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/apps/_app_list.html.erb
  apps/dashboard/app/views/apps/_app_list_item.html.erb
  apps/dashboard/app/views/apps/_link.html.erb
  apps/dashboard/app/views/apps/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/controllers/apps_controller_test.rb
  apps/dashboard/test/controllers/dashboard_controller_test.rb
  apps/dashboard/test/fixtures/dev/bc_rstudio/form.yml
  apps/dashboard/test/fixtures/dev/bc_rstudio/manifest.yml
Labels: component/dashboard, ready

#885 Update Dependencies
  apps/activejobs/Gemfile.lock
  apps/dashboard/Gemfile.lock
  apps/file-editor/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/activejobs, component/dashboard, component/file_editor, component/jobcomposer

#929 fix #888
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/dex.custom.yaml
  ood-portal-generator/spec/fixtures/ood_portal.dex.yaml
Labels: component/ood_portal_generator

#925 remove unnessecary hidden classes from all apps link
  apps/dashboard/app/views/layouts/nav/_featured_apps.erb
Labels: component/dashboard

#924 show metadata columns in the all apps table
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/apps/index.html.erb
  apps/dashboard/test/integration/apps_test.rb
Labels: component/dashboard

#928 Fix 918
  apps/dashboard/app/views/dashboard/index.html.erb
  apps/dashboard/test/controllers/dashboard_controller_test.rb
  apps/dashboard/test/html_helper.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

#934 add _app partial back for shared apps
  apps/dashboard/app/views/apps/_app.html.erb
Labels: bugfix, component/dashboard

#931 Rm install location column
  apps/dashboard/app/apps/dev_router.rb
  apps/dashboard/app/apps/usr_router.rb
  apps/dashboard/app/helpers/app_helper.rb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/apps/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/controllers/apps_controller_test.rb
  apps/dashboard/test/integration/apps_test.rb
Labels: component/dashboard

#921 Add header to pinned apps widget
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

#942 eval dbus-launch
  apps/bc_desktop/template/desktops/xfce.sh
Labels: component/bc_desktop

#939 Glob metadata
  apps/dashboard/app/apps/token_matcher.rb
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/manifest.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/pseudofun/manifest.yml
  apps/dashboard/test/integration/apps_test.rb
  apps/dashboard/test/models/router_test.rb
Labels: component/dashboard

#943 make breadcrumb dividers purely visual for accessability
  apps/dashboard/app/assets/stylesheets/_breadcrumb.scss
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/assets/stylesheets/application.scss
Labels: component/dashboard

#944 parity for the accessability of the current master branch
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
Labels: component/dashboard

#947 Bootstrap 4 – My Interactive Sessions (Running) panel
  apps/dashboard/app/assets/stylesheets/_custom.scss.erb
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota_progress_bar.html.erb
Labels: component/dashboard

#949 Job Composer XSS Prevention
  apps/myjobs/app/assets/javascripts/application.js
  apps/myjobs/app/assets/javascripts/handlebars-4.7.7.min.js
  apps/myjobs/app/assets/javascripts/workflows.js.coffee
Labels: component/jobcomposer

#950 fix tests for bootstrap upgrade
  apps/dashboard/test/controllers/dashboard_controller_test.rb
  apps/dashboard/test/html_helper.rb
Labels: component/dashboard

#956 rm duplicate yarn call in bin/setup
  apps/dashboard/bin/setup
Labels: component/dashboard

#952 add configurable logo back into the navbar
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

#957 fix xdmod bootstrap4 widget style/header
  apps/dashboard/app/assets/stylesheets/_custom.scss.erb
  apps/dashboard/app/views/dashboard/_xdmod_widget_job_efficiency.html.erb
  apps/dashboard/app/views/dashboard/_xdmod_widget_jobs.html.erb
Labels: component/dashboard

#959 Fix insufficient quota banner
  apps/dashboard/app/views/shared/_insufficient_quota_resource.html.erb
Labels: component/dashboard

#968 Fix session panel colors
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

#971 Fix connection tabs in Sessions Panel View
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

#972 Adjust Dashboard branding colors #967
  apps/dashboard/app/assets/stylesheets/_custom.scss.erb
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

#973 Bootstrap 4 – Develop view
  apps/dashboard/app/assets/stylesheets/_custom.scss.erb
  apps/dashboard/app/views/products/_new_choose_method.html.erb
  apps/dashboard/app/views/products/edit.html.erb
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/new.html.erb
  apps/dashboard/app/views/products/new_from_git_remote.html.erb
  apps/dashboard/app/views/products/show.html.erb
Labels: component/dashboard

#974 fix app card styles for bootstrap 4
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/views/apps/_app.html.erb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

#979 Revert Bootstrap 4 font size to 16px
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
Labels: component/dashboard

#981 Bootstrap 4 - Dev panel buttons pull-right to float-right
  apps/dashboard/app/assets/javascripts/products.coffee
  apps/dashboard/app/views/products/_form_git.html.erb
Labels: component/dashboard

#980 inner delete button to also use float-right
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

#983 fix apps dropdown menu that is missing bootstrap 4 classes
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
Labels: component/dashboard

#984 contain the navbar's logo height
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

#987 Fix styles for light navbar
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

#986 Dynamic branding colors (_styles.html.erb)
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

#989 upgrade balance warnings to bootstrap 4
  apps/dashboard/app/views/shared/_insufficient_balance_resource.html.erb
Labels: component/dashboard

#991 UI Sprockets Bootstrap rebase #927
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/assets/javascripts/products.coffee
  apps/dashboard/app/assets/stylesheets/_breadcrumb.scss
  apps/dashboard/app/assets/stylesheets/_custom.scss.erb
  apps/dashboard/app/assets/stylesheets/_variables.scss.erb
  apps/dashboard/app/assets/stylesheets/app_kit/_markdown.scss
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/views/apps/_app.html.erb
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/apps/_link.html.erb
  apps/dashboard/app/views/apps/index.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_list.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
  apps/dashboard/app/views/batch_connect/shared/_breadcrumb.html.erb
  apps/dashboard/app/views/dashboard/_motd_osc.html.erb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/app/views/dashboard/_xdmod_widget_job_efficiency.html.erb
  apps/dashboard/app/views/dashboard/_xdmod_widget_jobs.html.erb
  apps/dashboard/app/views/layouts/_footer.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_all_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/app/views/layouts/nav/_sessions.html.erb
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
  apps/dashboard/app/views/products/_breadcrumbs.html.erb
  apps/dashboard/app/views/products/_form_git.html.erb
  apps/dashboard/app/views/products/_new_choose_method.html.erb
  apps/dashboard/app/views/products/edit.html.erb
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/new.html.erb
  apps/dashboard/app/views/products/new_from_git_remote.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/shared/_insufficient_balance_resource.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota_progress_bar.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota_resource.html.erb
  apps/dashboard/bin/setup
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/package.json
  apps/dashboard/test/controllers/dashboard_controller_test.rb
  apps/dashboard/test/html_helper.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/yarn.lock
Labels: component/dashboard

#992 Internationalize "Pinned Apps" after refactor (no merge conflict)
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/views/dashboard/_pinned_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

#1002 Add client side file mode conversion in Files App
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#954 Fix #951 (Pinned apps crash)
  apps/dashboard/app/views/layouts/application.html.erb
Labels: bug/fix, component/dashboard, ready

#1012 update ood portal tests after #1010 changed the doc link
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.default
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
Labels: component/ood_portal_generator

#1014 update rails to 5.2.5 to fix avoid mimemagic dependency
  apps/activejobs/Gemfile
  apps/activejobs/Gemfile.lock
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/file-editor/Gemfile
  apps/file-editor/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/activejobs, component/dashboard, component/file_editor, component/jobcomposer
