Repository OSC/ondemand, pull requests merged in 2021-12, with the labels that each got.

#1639 backport dynamic javascript to 2.0
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#1638 Added functionality to Select desktop environment
  apps/bc_desktop/form.yml
  apps/bc_desktop/template/desktops/kde.sh
Labels: component/bc_desktop

#1582 migrate our portions of the file editor to webpack
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/app/assets/javascripts/editor.js
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/javascript/packs/editor.js
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/editor.scss
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/config/initializers/assets.rb
Labels: component/dashboard

#1665 Internationalize Apps menu title
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard, needs doc

#1656 account for options with numbers after hyphens & underscores
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard, bug/fix

#1667 add the ability to hide multiple items on a change
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#1672 update dependencies
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#1671 Bugfix/clamp
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#1673 activejobs to use the right icon api
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
Labels: component/dashboard

#1636 write the submit yml when there are yml errors
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_paraview/submit.yml.erb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

#1675 Fix backbutton issue on new app page
  apps/dashboard/app/views/products/new_from_git_remote.html.erb
Labels: component/dashboard

#1615 Initial scaffolding for new jobs app alpha.
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/views/jobs/projects/_form.html.erb
  apps/dashboard/app/views/jobs/projects/create.html.erb
  apps/dashboard/app/views/jobs/projects/destroy.html.erb
  apps/dashboard/app/views/jobs/projects/edit.html.erb
  apps/dashboard/app/views/jobs/projects/index.html.erb
  apps/dashboard/app/views/jobs/projects/new.html.erb
  apps/dashboard/app/views/jobs/projects/show.html.erb
  apps/dashboard/app/views/jobs/projects/submit.html.erb
  apps/dashboard/app/views/jobs/projects/update.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/fixtures/jobs/projects/.keep
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard, needs doc

#1674 Backport js fixes
  CHANGELOG.md
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/template/.keep
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#1676 options with hyphens still dont work right
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#1677 backport 1676 to 2.0 release
  CHANGELOG.md
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#1661 Use packaging gem
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  Rakefile
  lib/tasks/build.rb
  lib/tasks/packaging.rb
  lib/tasks/rake_helper.rb
  lib/tasks/templates/Dockerfile.ubuntu.erb
  lib/tasks/templates/locations.ini.erb
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: area/build
