Repository OSC/ondemand, pull requests merged in 2021-01, with the labels that each got.

#778 add development container and refactor lib/tasks/packaging slightly.
  .github/workflows/tests.yml
  Dockerfile.dev
  docker/dev-entrypoint.sh
  lib/tasks/build_utils.rb
  lib/tasks/docker.rb
  lib/tasks/packaging.rb
Labels: area/build

#779 Add Support for SVG icons
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/views/products/_form_icon.html.erb
  apps/dashboard/test/models/ood_app_test.rb
Labels: component/dashboard, needs doc, ready

#836 Ensure LOGNAME is set to PUN user
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage

#855 Update Dependencies
  apps/activejobs/Gemfile.lock
  apps/dashboard/Gemfile.lock
  apps/file-editor/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/activejobs, component/dashboard, component/file_editor, component/jobcomposer

#858 Update Dependencies
  apps/activejobs/Gemfile.lock
  apps/dashboard/Gemfile.lock
  apps/file-editor/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/activejobs, component/dashboard, component/file_editor, component/jobcomposer

#862 Fix webpacker PR to use app specific yarn install
  apps/dashboard/bin/bundle
  apps/dashboard/bin/setup
  apps/dashboard/bin/webpack
  apps/dashboard/bin/webpack-dev-server
  apps/dashboard/bin/yarn
  apps/dashboard/config/application.rb
  apps/dashboard/config/boot.rb
  lib/tasks/test.rb
Labels: area/build, component/dashboard

#863 Update Dependencies
  apps/activejobs/Gemfile.lock
  apps/dashboard/Gemfile.lock
  apps/file-editor/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/activejobs, component/dashboard, component/file_editor, component/jobcomposer
