Repository OSC/ondemand, pull requests merged in 2022-06, with the labels that each got.

#2063 Update rack for 2.0
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2068 Bump ood_core dependency
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

#2085 Add overflow-auto to batch_connect/sessions card-header
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

#2089 Ensure ood-portal-generator doesn't treat EL9 as SCL
  ood-portal-generator/lib/ood_portal_generator.rb
  ood-portal-generator/spec/ood_portal_generator_spec.rb
Labels: component/ood_portal_generator

#2096 PUN: Set the passenger_temp_path to be under tmp_root with the other …
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

#2106 Backport #1793 passenger_options fix to 2.0
  nginx_stage/lib/nginx_stage/configuration.rb
Labels: component/nginx_stage

#2105 disable apache's insecure trace
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#2084 rescue from errors here and display the error
  apps/dashboard/app/views/batch_connect/sessions/connections/_custom.html.erb
  apps/dashboard/app/views/batch_connect/sessions/connections/_error.html.erb
Labels: component/dashboard

#2072 add an aria-label for these progress bars
  apps/dashboard/app/views/widgets/_xdmod_widget_job_efficiency.html.erb
Labels: component/dashboard

#2019 Adding icon picker and display, scroll bar missing border still and i…
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/edit.html.erb
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard
