Repository OSC/ondemand, pull requests merged in 2022-03, with the labels that each got.

#1863 stop inlining css and instead add the rules through javascript
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/javascript/packs/config.js
  apps/dashboard/app/javascript/stylesheets/navbar.scss
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard

#1872 correctly append css rules to the end of the list
  apps/dashboard/app/javascript/packs/config.js
Labels: component/dashboard

#1870 Completed Upload Functionality
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/uppy.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1876 Feature/refactor copy path
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/javascript/packs/files/sweet_alert.js
  apps/dashboard/app/javascript/packs/files/uppy.js
  apps/dashboard/app/views/files/_buttons.html.erb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1873 Feature/refactor js upload
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1879 Feature/refactor copy move
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/fileops.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#1886 Fixed ToolTip issue
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/index.js
  apps/dashboard/app/javascript/packs/files/uppy.js
  apps/dashboard/app/views/files/_inline_js.html.erb
Labels: component/dashboard

#1895 ensure navbar has default colors
  apps/dashboard/app/javascript/packs/config.js
Labels: component/dashboard

#1897 bugfix versions for rails
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#1914 fix Manifest superclass issue
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

#1908 fix ERB errors in the dashboard
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/broken/form.yml.erb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/broken/manifest.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/broken/submit.yml
  apps/dashboard/test/models/ood_app_group_test.rb
  apps/dashboard/test/system/products_dev_test.rb
Labels: component/dashboard

#1912 enable nonces on js and css assets
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/config/initializers/content_security_policy.rb
Labels: component/dashboard

#1913 stop inlining style and instead use a bootstrap class
  apps/dashboard/app/helpers/dashboard_helper.rb
Labels: component/dashboard

#1917 Revert "fix Manifest superclass issue"
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

#1919 add nonces to inline js and change this elements tag
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/widgets/_xdmod_widget_job_efficiency.html.erb
  apps/dashboard/app/views/widgets/_xdmod_widget_jobs.html.erb
Labels: component/dashboard

#1918 subclass manifests within the class to avoid superclass mismatches
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

#1925 add support for reading modules and dynamic string configs
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/fixtures/modules/simple.json
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

#1934 very simple regex for rnode location edits
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#1928 enumerate over activemodel#errors as an array, not hash
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/preset_apps_navbar_test.rb
  apps/dashboard/test/system/preset_apps_pinned_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard
