Repository OSC/ondemand, pull requests merged in 2022-11, with the labels that each got.

#2348 Update to support ticket feature to use SmartAttributes for form management
  apps/dashboard/app/apps/request_tracker_service.rb
  apps/dashboard/app/apps/support_ticket_email_service.rb
  apps/dashboard/app/apps/support_ticket_rt_service.rb
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/helpers/support_ticket_helper.rb
  apps/dashboard/app/javascript/packs/support_ticket.js
  apps/dashboard/app/mailers/support_ticket_mailer.rb
  apps/dashboard/app/models/attachments_validator.rb
  apps/dashboard/app/models/concerns/support_ticket_validator.rb
  apps/dashboard/app/models/support_ticket.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_file_attachments.html.erb
  apps/dashboard/app/views/support_ticket/email/default.text.erb
  apps/dashboard/app/views/support_ticket/email_service_template.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/lib/smart_attributes/attribute.rb
  apps/dashboard/test/apps/request_tracker_service_test.rb
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/apps/support_ticket_rt_service_test.rb
  apps/dashboard/test/helpers/support_ticket_helper_test.rb
  apps/dashboard/test/integration/request_tracker_integration_test.rb
  apps/dashboard/test/integration/support_ticket_integration_test.rb
  apps/dashboard/test/lib/smart_attributes/attribute_test.rb
  apps/dashboard/test/mailers/support_ticket_mailer_test.rb
  apps/dashboard/test/models/support_ticket_test.rb
Labels: component/dashboard

#2305 refactor FeaturedApp into AppRecategorizer
  apps/dashboard/app/apps/app_recategorizer.rb
  apps/dashboard/app/apps/featured_app.rb
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/apps/app_recategorizer_test.rb
  apps/dashboard/test/apps/featured_app_test.rb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2353 Custom pages feature
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/controllers/custom_pages_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/custom_pages/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/fixtures/config/views/widgets/_custom_pages_test.html.erb
  apps/dashboard/test/integration/custom_pages_integration_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2216 Remove setup/teardown in singleton test
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

#2368 remove /nginx/noop
  mod_ood_proxy/lib/nginx.lua
  mod_ood_proxy/lib/pun_proxy.lua
  spec/e2e/proxy_spec.rb
Labels: component/mod_ood_proxy

#2366 Added support to show form parameters in session card
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/lib/smart_attributes/attribute.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

#2361 move smart attributes out of lib/ into app/lib
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_primary_group.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_account.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_email_on_started.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_hours.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_slots.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_queue.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_vnc_idle.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_vnc_resolution.rb
  apps/dashboard/lib/smart_attributes.rb
Labels: component/dashboard

#2351 Pinned Apps UI improvements
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/apps/ood_app_link.rb
  apps/dashboard/app/javascript/stylesheets/pinned_apps.scss
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/apps/token_matcher_test.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_desktop/local/oakley.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/form.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/local/oakley.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/local/owens.yml
  apps/dashboard/test/integration/custom_navigation_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

#2377 Added active sessions widget
  apps/dashboard/app/controllers/batch_connect/sessions_controller.rb
  apps/dashboard/app/views/widgets/_sessions.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/active_sessions_widget_test.rb
Labels: component/dashboard

#2381 Improvements to logic for displaying form parameters in session cards
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/support_ticket/email/default.text.erb
  apps/dashboard/app/views/support_ticket/rt/rt_ticket_content.text.erb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

#2378 add workflow and rake task to randomly lint a file
  .github/workflows/lint.yml
  lib/tasks/lint.rb
Labels: area/build

#2371 add rlcone initializer to auto populate rclone remotes
  apps/dashboard/config/initializers/rclone.rb
Labels: component/dashboard

#2365 Clamp bugfix
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2387 make nginx_clean safe to run against deleted users
  nginx_stage/lib/nginx_stage.rb
  spec/e2e/nginx_stage_spec.rb
Labels: component/nginx_stage

#2380 navconfig to use allowlist to deprecate whitelist
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/test/apps/nav_config_test.rb
Labels: component/dashboard

#2389 add rake zeitwerk:check to our CI
  .github/workflows/tests.yml
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

#2390 use correct Date api to get the day of the month
  apps/dashboard/app/views/widgets/_xdmod_widget_jobs.html.erb
Labels: component/dashboard

#2391 Fixed spinner for pinned apps opening in a new tab
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
Labels: component/dashboard

#2397 restore defaults when tearing down this test
  apps/dashboard/test/apps/nav_config_test.rb
Labels: component/dashboard

#2384 Improvements to active sessions widget
  apps/dashboard/app/javascript/packs/batch_connect_sessions.js
  apps/dashboard/app/javascript/packs/sessions_poller.js
  apps/dashboard/app/views/widgets/_sessions.html.erb
Labels: component/dashboard

#2396 Fixed token matcher string matching for apps with the same prefix
  apps/dashboard/app/apps/token_matcher.rb
  apps/dashboard/test/apps/token_matcher_test.rb
Labels: component/dashboard
