Repository OSC/ondemand, pull requests merged in 2022-07, with the labels that each got.

#2116 Move FilesController posix file methods out from update and upload routes
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

#2054 fix permissions on mounted folders for podman
  Dockerfile.dev
  lib/tasks/development.rb
Labels: area/build

#2119 Add initial support for remote files in files app
  .github/workflows/tests.yml
  Dockerfile.dev
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/app/views/files/_breadcrumb.html.erb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/lib/rclone_util.rb
  apps/dashboard/test/controllers/files_controller_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/integration/remote_files_test.rb
  apps/dashboard/test/models/remote_file_test.rb
  apps/dashboard/test/rclone_helper.rb
  apps/dashboard/test/system/remote_files_test.rb
  nginx_stage/templates/pun.conf.erb
  spec/e2e/browser_spec.rb
Labels: component/nginx_stage, component/dashboard, needs doc

#2118 Add support for multiple Homepage layouts and widgets configurations (#2117)
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/apps/user_configuration.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/controllers/settings_controller.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/models/current_user.rb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/app/views/widgets/_pinned_apps.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/profile.yml
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/fixtures/config/user_settings/.invalid
  apps/dashboard/test/fixtures/config/user_settings/.valid
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/dashboard_layout_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/integration/settings_controller_test.rb
  apps/dashboard/test/models/current_user_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
  apps/dashboard/test/system/preset_apps_pinned_test.rb
Labels: component/dashboard, needs doc, needs automation

#2139 Use ood_packaging gem to build 2.0 packages
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  lib/tasks/build_utils.rb
  lib/tasks/packaging.rb
  packaging/rpm/favicon.ico
  packaging/rpm/logo.png
  packaging/rpm/ondemand-selinux.fc
  packaging/rpm/ondemand-selinux.te
  packaging/rpm/ondemand.spec
Labels: area/build

#2157 Ensure minimal environment with nginx_stage
  nginx_stage/lib/nginx_stage.rb
  nginx_stage/lib/nginx_stage/generators/app_config_generator.rb
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
  nginx_stage/lib/nginx_stage/generators/nginx_process_generator.rb
  nginx_stage/lib/nginx_stage/generators/pun_config_generator.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/templates/pun.conf.erb
  spec/e2e/e2e_helper.rb
Labels: component/nginx_stage

#2163 Ensure tls_cert and tls_key for Dex can be set
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/fixtures/dex.custom.yaml
  ood-portal-generator/spec/fixtures/ood_portal.dex.yaml
Labels: component/ood_portal_generator

#2164 Ensure tls_cert and tls_key for Dex can be set [release_2.0]
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/fixtures/dex.custom.yaml
  ood-portal-generator/spec/fixtures/ood_portal.dex.yaml
Labels: component/ood_portal_generator

#2095 Added button to refresh files table
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#2151 Moved custom branding configuration to UserConfiguration
  apps/dashboard/app/apps/user_configuration.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/models/configuration_property.rb
  apps/dashboard/app/models/current_user.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/app/views/shared/_welcome.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/dashboard_layout_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/configuration_property_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
  apps/dashboard/test/system/preset_apps_pinned_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#2123 upgrade to rails 5.2.8.1
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2153 update changelog & update ood_core
  CHANGELOG.md
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2137 fix #2133 so that test:jobs does not invoke asset building
  apps/dashboard/lib/tasks/test.rake
Labels: component/dashboard

#2111 Write bc session script db files with 600 permission and add 'writes db file correctly' test
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

#2160 Support Ubuntu 18.04 for OnDemand 2.0
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  Rakefile
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/bin/setup
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/myjobs/bin/setup
  nginx_stage/nginx_stage.gemspec
  ood-portal-generator/lib/ood_portal_generator.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/templates/ood-portal.conf.erb
  packaging/deb/control
  packaging/deb/postinst
  packaging/deb/rules
  packaging/files/enable.deb
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/ubuntu-18.04.yml
  spec/spec_helper_e2e.rb
Labels: component/nginx_stage, component/ood_portal_generator, component/dashboard, component/jobcomposer, needs doc, needs automation

#2179 Remove GEM_HOME from PUN to retain old behavior with app development
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage

#2156 [release_2.0] Ensure minimal environment with nginx_stage
  nginx_stage/lib/nginx_stage.rb
  nginx_stage/lib/nginx_stage/generators/app_config_generator.rb
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
  nginx_stage/lib/nginx_stage/generators/nginx_process_generator.rb
  nginx_stage/lib/nginx_stage/generators/pun_config_generator.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/templates/pun.conf.erb
  spec/e2e/e2e_helper.rb
Labels: component/nginx_stage

#2168 Added support for custom CSS files
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/custom_css_files_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard
