Repository OSC/ondemand, pull requests merged in 2022-01, with the labels that each got.

#1748 migrate activejobs javascript to webpack
  apps/dashboard/app/javascript/packs/active_jobs.js
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

#1743 migrate files js from webpacker
  apps/dashboard/app/assets/javascripts/files.js
  apps/dashboard/app/javascript/packs/files.js
Labels: component/dashboard

#1740 migrate session_contexts.coffee to plain js
  apps/dashboard/app/assets/javascripts/batch_connect/session_contexts.coffee
  apps/dashboard/app/assets/javascripts/batch_connect/sessions.coffee
  apps/dashboard/app/javascript/packs/batch_connect_sessions.js
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
Labels: component/dashboard

#1683 allow for additonal capabilites in the dev container
  DEVELOPMENT.md
  lib/tasks/development.rb
Labels: area/build

#1758 Added functionality to view yaml files inline with browser
  apps/dashboard/app/models/files.rb
Labels: component/dashboard

#1755 move all the js out of application.js to js packs
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/app/assets/javascripts/errors.js.coffee
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/javascript/packs/batch_connect_sessions.js
  apps/dashboard/app/javascript/packs/dashboard.js
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
  apps/dashboard/app/views/dashboard/index.html.erb
Labels: component/dashboard

#1766 Add jobid to Detail Metrics link
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

#1767 Adding systems tests for products.
  apps/dashboard/test/system/products_dev_test.rb
  apps/dashboard/test/system/products_usr_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#1773 Initial scaffolding for new jobs app alpha. (#1615)
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/views/jobs/projects/_form.html.erb
  apps/dashboard/app/views/jobs/projects/create.html.erb
  apps/dashboard/app/views/jobs/projects/destroy.html.erb
  apps/dashboard/app/views/jobs/projects/edit.html.erb
  apps/dashboard/app/views/jobs/projects/index.html.erb
  apps/dashboard/app/views/jobs/projects/new.html.erb
  apps/dashboard/app/views/jobs/projects/show.html.erb
  apps/dashboard/app/views/jobs/projects/submit.html.erb
  apps/dashboard/app/views/jobs/projects/update.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/fixtures/jobs/projects/.keep
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

#1771 use dataroot and ensure its safe to use & traverse
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/test/integration/jobs_controller_test.rb
Labels: component/dashboard

#1765 Feature/file picker
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_file_navigator.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
Labels: component/dashboard

#1775 validate the redir on stop requests
  mod_ood_proxy/lib/nginx.lua
Labels: component/mod_ood_proxy

#1774 Fix boolean test
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

#1772 correctly initialize the shell app with the right profile
  apps/shell/public/javascripts/ood_shell.2.js
Labels: component/shell

#1764 migrate dashboard coffeescript to plain js in webpack
  apps/dashboard/app/assets/javascripts/dashboard.js.coffee
  apps/dashboard/app/javascript/packs/dashboard.js
Labels: component/dashboard

#1786 Initial Refactoring of Code - Step 1 - Move everything out of index.html.erb that makes sense
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/index.js
  apps/dashboard/app/views/files/_buttons.html.erb
  apps/dashboard/app/views/files/_copy_move_popup.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/files/_favorites.html.erb
  apps/dashboard/app/views/files/_file_action_menu.html.erb
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/layouts/files.html.erb
Labels: component/dashboard

#1782 Migrate jquery
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/app/javascript/packs/active_jobs.js
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/javascript/packs/apps.js
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/app/javascript/packs/dashboard.js
  apps/dashboard/app/javascript/packs/files/index.js
  apps/dashboard/app/javascript/packs/products_index.js
  apps/dashboard/app/javascript/packs/products_show.js
  apps/dashboard/config/webpack/environment.js
  apps/dashboard/package.json
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/yarn.lock
Labels: component/dashboard

#1793 Fix passenger_options using wrong method
  nginx_stage/lib/nginx_stage/configuration.rb
Labels: component/nginx_stage

#1796 Redirect proxy tests
  mod_ood_proxy/lib/nginx.lua
  spec/e2e/proxy_spec.rb
Labels: component/mod_ood_proxy

#1795 add test cases for pressing buttons in products show
  apps/dashboard/app/javascript/packs/products_show.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/dashboard/.bundle/config
  apps/dashboard/test/fixtures/sys_with_gateway_apps/dashboard/Gemfile
  apps/dashboard/test/fixtures/sys_with_gateway_apps/dashboard/Gemfile.lock
  apps/dashboard/test/fixtures/sys_with_gateway_apps/dashboard/config.ru
  apps/dashboard/test/fixtures/sys_with_gateway_apps/dashboard/tmp/.keep
  apps/dashboard/test/fixtures/sys_with_gateway_apps/dashboard/tmp/restart.txt
  apps/dashboard/test/system/products_dev_test.rb
Labels: component/dashboard

#1776 Make the batch connect session delete duration configurable.
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard, needs doc

#1803 Migrate/images
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/javascript/images/.keep
  apps/dashboard/app/javascript/images/OpenOnDemand_powered_by_RGB.svg
  apps/dashboard/app/javascript/images/OpenOnDemand_stack_RGB.svg
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/views/layouts/_footer.html.erb
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard
