Repository OSC/ondemand, pull requests merged in 2022-04, with the labels that each got.

#1930 add a smart attribute for automatically loading modules
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/fixtures/modules/oakley.json
  apps/dashboard/test/fixtures/modules/owens.json
  apps/dashboard/test/fixtures/modules/simple.json
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/models/hpc_module_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard, needs doc

#1941 allow for manifests to override the caption
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/test/fixtures/files/manifest_valid
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/manifest.yml
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

#1946 using . in the file names here is deprecated.
  apps/dashboard/app/views/files/index.json.jbuilder
Labels: component/dashboard

#1940 Refactor Transfer class to separate handling of different transfers
  apps/dashboard/app/models/local_transfer.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/test/jobs/transfer_local_job_test.rb
  apps/dashboard/test/models/transfer_test.rb
Labels: component/dashboard

#1952 update minimist
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

#1955 init min & maxes to the right values
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#1883 Feature/refactor js data table
  .gitignore
  apps/dashboard/app/javascript/packs/files/clip_board.js
  apps/dashboard/app/javascript/packs/files/clipboard.js
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/datatable.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/javascript/packs/files/index.js
  apps/dashboard/app/javascript/packs/files/sweet_alert.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
  apps/dashboard/app/views/files/_buttons.html.erb
  apps/dashboard/app/views/files/_file_action_menu.html.erb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#1962 add the ability for sub apps to have their own caption
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/local/owens.yml
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard, needs doc

#1957 Use esbuild instead of webpacker
  .gitignore
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/assets/builds/.keep
  apps/dashboard/app/assets/config/manifest.js
  apps/dashboard/app/assets/images/.keep
  apps/dashboard/app/assets/images/OpenOnDemand_powered_by_RGB.svg
  apps/dashboard/app/assets/images/OpenOnDemand_stack_RGB.svg
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/javascript/packs/application.js
  apps/dashboard/app/javascript/packs/apps.js
  apps/dashboard/app/javascript/packs/dashboard.js
  apps/dashboard/app/javascript/packs/editor.js
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
  apps/dashboard/app/javascript/packs/icon_picker.js
  apps/dashboard/app/javascript/stylesheets/_variables.scss
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/app/views/apps/index.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/dashboard/index.html.erb
  apps/dashboard/app/views/layouts/_footer.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/app/views/layouts/files.html.erb
  apps/dashboard/app/views/products/_form_icon.html.erb
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/babel.config.js
  apps/dashboard/bin/recompile_js
  apps/dashboard/bin/setup
  apps/dashboard/config/application.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/webpack/development.js
  apps/dashboard/config/webpack/environment.js
  apps/dashboard/config/webpack/production.js
  apps/dashboard/config/webpack/test.js
  apps/dashboard/config/webpacker.yml
  apps/dashboard/esbuild.config.js
  apps/dashboard/lib/tasks/test.rake
  apps/dashboard/package.json
  apps/dashboard/postcss.config.js
  apps/dashboard/test/models/files_test.rb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
  apps/dashboard/test/test_helper.rb
  apps/dashboard/yarn.lock
Labels: component/dashboard

#1964 auto populate primary group
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/current_user.rb
  apps/dashboard/lib/smart_attributes/attributes/auto_primary_group.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/current_user_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard, needs doc

#1924 Adding ability to edit manifest.yml for title and description fields …
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/edit.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#1983 increase wait time for tests
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard
