Repository OSC/ondemand, pull requests merged in 2022-08, with the labels that each got.

#2094 Handle copying files to same directory
  apps/dashboard/app/javascript/packs/files/clip_board.js
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/models/local_transfer.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/test/models/transfer_test.rb
Labels: component/dashboard

#2158 Fix snakeCaseWords not working as expected
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

#2147 Enable using enter key for checkboxes in file explorer
  apps/dashboard/app/javascript/packs/files/data_table.js
Labels: component/dashboard

#2177 Support Dex behind Apache reverse proxy
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/dex.yaml.proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-proxy
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
  ood-portal-generator/templates/ood-portal.conf.erb
  spec/e2e/browser_spec.rb
  spec/e2e/dex_proxy_spec.rb
  spec/e2e/nodesets/ubuntu-20.04.yml
  spec/e2e/nodesets/ubuntu-22.04.yml
  spec/e2e/proxy_spec.rb
  spec/e2e/pun_pre_hook_spec.rb
  spec/fixtures/config/ood_portal/portal_dex_proxy.yml
Labels: component/ood_portal_generator, needs doc, needs automation

#2191 prep 2.0.28 release
  CHANGELOG.md
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2175 remove html_safe where necessary
  apps/dashboard/app/views/dashboard/_motd_markdown.html.erb
  apps/dashboard/app/views/dashboard/_motd_rss.html.erb
  apps/dashboard/app/views/products/_form_git.html.erb
  apps/dashboard/app/views/products/_form_reset_git.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/show.html.erb
Labels: component/dashboard

#2187 Enable passenger_preload_bundler for PUN
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

#2192 Put Dex behing Apache reverse proxy by default
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/dex.custom.yaml
  ood-portal-generator/spec/fixtures/dex.full.proxy.yaml
  ood-portal-generator/spec/fixtures/dex.yaml.default
  ood-portal-generator/spec/fixtures/dex.yaml.full
  ood-portal-generator/spec/fixtures/dex.yaml.full-redirect-uris
  ood-portal-generator/spec/fixtures/dex.yaml.ldap
  ood-portal-generator/spec/fixtures/dex.yaml.no-proxy
  ood-portal-generator/spec/fixtures/dex.yaml.secret
  ood-portal-generator/spec/fixtures/dex.yaml.static_passwords
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/dex/insecure_default_dex.yml
  ood-portal-generator/templates/ood-portal.conf.erb
  spec/e2e/browser_spec.rb
  spec/e2e/dex_no_proxy_spec.rb
  spec/fixtures/config/ood_portal/portal_dex_no_proxy.yml
Labels: component/ood_portal_generator, needs doc, needs automation

#2198 Improved maintenance page handling of 503 errors
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#2194 Fix for Fujitsu TCS resource manager
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/lib/smart_attributes/attributes/bc_num_slots.rb
Labels: component/dashboard

#2206 Fix maintenance to allow redirect back to OnDemand
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#2202 Improved maintenance page handling of 503 errors [release_2.0]
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.default
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/sum.default
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#2173 Added support automatic hostname based profiles
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2140 Make favorite paths support remote filesystems
  apps/dashboard/app/apps/favorite_path.rb
  apps/dashboard/app/apps/ood_files_app.rb
  apps/dashboard/app/views/files/_favorites.html.erb
Labels: component/dashboard

#2204 Support defining serveralias in Apache virtual host
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator, needs doc, needs automation

#2195 Fix file uploads and directory changes
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

#2212 Do not display Open In Terminal button if SSH to compute is turned off (2.1)
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
Labels: component/dashboard

#2220 Fix files upload system tests randomly failing
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#2197 Enable downloading empty sub-directories with zip
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#2224 Added support for YAML anchors and aliases when reading configuration
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/fixtures/config/anchors_aliases/config.yml
Labels: component/dashboard

#2218 Fixed memory leak for NavConfig.category
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

#2213 Set Rails config.hosts in dashboard and myjobs
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
  apps/myjobs/config/environments/production.rb
  apps/myjobs/config/environments/test.rb
  mod_ood_proxy/lib/logger.lua
  mod_ood_proxy/lib/ood/nginx_stage.lua
  mod_ood_proxy/lib/pun_proxy.lua
  nginx_stage/lib/nginx_stage.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/mod_ood_proxy, component/nginx_stage, component/ood_portal_generator, component/dashboard, component/jobcomposer

#2208 Fix for Fujitsu TCS resource manager (#2194)
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/lib/smart_attributes/attributes/bc_num_slots.rb
Labels: component/dashboard

#2228 fix misspelled Submission
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
Labels: component/dashboard

#2230 Ensure host name is getting passed to PUN proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#2240 Fix files/api/v1 route not working
  apps/dashboard/config/routes.rb
Labels: component/dashboard

#2186 Support cloud storage file transfers
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/app/javascript/packs/files/clip_board.js
  apps/dashboard/app/javascript/packs/files/data_table.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/models/posix_transfer.rb
  apps/dashboard/app/models/remote_transfer.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/lib/rclone_util.rb
  apps/dashboard/test/jobs/transfer_local_job_test.rb
  apps/dashboard/test/models/transfer_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

#2253 add .env.overload docs to the README
  apps/dashboard/README.md
Labels: component/dashboard

#2221 Moved navigation settings to profile based configuration (#2251)
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#2257 Renamed UserConfiguration.categories to nav_categories
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2200 Rename uploads with duplicate names
  apps/dashboard/app/javascript/packs/files/clip_board.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
  apps/dashboard/app/javascript/packs/files/utils.js
Labels: component/dashboard

#2236 Fix token matcher logic for sub apps (#2235)
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/apps/token_matcher.rb
  apps/dashboard/test/apps/token_matcher_test.rb
Labels: component/dashboard

#2238 Use new ood_appkit files and editor URLs
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

#2249 init and access browser logs differently for selenium 4.0+
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

#2252 Support creating directories on all remote filesystems
  apps/dashboard/config/locales/en.yml
  apps/dashboard/lib/rclone_util.rb
Labels: component/dashboard

#2251 Fix remote FS edge cases
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/files_app_test.rb
Labels: component/dashboard
