Repository OSC/ondemand, pull requests merged in 2022-05, with the labels that each got.

#1984 Adding I18n translations and updating tests
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

#1979 Update old readmes
  README.md
  apps/bc_desktop/README.md
  apps/dashboard/README.md
  apps/files/README.md
  apps/myjobs/README.md
  apps/shell/README.md
Labels: component/file_browser, component/bc_desktop, component/dashboard, component/jobcomposer, component/shell

#1987 Shell: Create test for unreadable yml file
  apps/shell/test/helpers.test.js
Labels: component/shell

#1992 Issue#1990 Use Etc.getpwn.name instead of Etc.getlogin #1990
  lib/tasks/rake_helper.rb
  ood-portal-generator/lib/ood_portal_generator.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/update_ood_portal_spec.rb
Labels: component/ood_portal_generator, area/build

#1998 Issue#1945 Bundler.with_clean_env has been replaced with Bundler.with…
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/controllers/products_controller.rb
  apps/dashboard/app/models/product.rb
  apps/myjobs/test/models/configuration_singleton_test.rb
Labels: component/dashboard, component/jobcomposer

#1999 Issue#1902 added alt text to the navbar img tag
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

#1991 only apply Rspec lint when rspec has been loaded
  .rubocop.yml
  lib/tasks/lint.rb
Labels: area/build

#2011 Use python3 for Ubuntu/Debian packages
  packaging/deb/control
  packaging/rpm/ondemand.spec
Labels: needs doc

#2005 specify cluster in the form so it's got the right order
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
Labels: component/dashboard

#2003 update apps and fix shell apps yarn lock
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#1988 Shell: Backport try catch on yaml.safeload to release_2.0
  apps/shell/app.js
Labels: component/shell

#2008 Bug fix/sanitize manifest
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/test/models/manifest_test.rb
Labels: component/dashboard

#2014 backport #1955 to 2.0
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2021 More Slurm job info in ActiveJobs
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
Labels: component/dashboard

#2012 Avoid trying to read checksum file if not present
  ood-portal-generator/lib/ood_portal_generator.rb
  ood-portal-generator/lib/ood_portal_generator/application.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/update_ood_portal_spec.rb
  packaging/deb/postinst
  packaging/deb/rules
  packaging/rpm/ondemand.spec
  spec/e2e/00_package_spec.rb
  spec/e2e/e2e_helper.rb
Labels: component/ood_portal_generator

#2031 Updated pinned_apps widget look and feel (#1836)
  apps/dashboard/app/javascript/packs/pinned_apps.js
  apps/dashboard/app/javascript/stylesheets/_variables.scss
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/pinned_apps.scss
  apps/dashboard/app/views/widgets/_pinned_apps.html.erb
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
  apps/dashboard/test/html_helper.rb
  apps/dashboard/test/integration/dashboard_layout_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

#2028 rake update & fix shell app (again) for updating
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#2038 fix VNC apps by skipping the pipeline here
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

#2029 update dependencies. Notably rails 5.2.8 up from 5.2.6.x
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2032 Upgrade myjobs
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/myjobs/app/assets/javascripts/workflows.js.coffee
  apps/myjobs/config/application.rb
  apps/myjobs/config/environments/development.rb
  apps/myjobs/config/environments/production.rb
  apps/myjobs/config/environments/test.rb
  apps/myjobs/config/initializers/content_security_policy.rb
  apps/myjobs/config/initializers/new_framework_defaults_5_2.rb
  apps/myjobs/config/initializers/new_framework_defaults_6_0.rb
  apps/myjobs/config/locales/en.yml
  apps/myjobs/db/schema.rb
Labels: component/jobcomposer

#2020 Several changes to allow Ubuntu 22.04 builds
  .github/workflows/tests.yml
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
  nginx_stage/nginx_stage.gemspec
  packaging/deb/control
Labels: component/nginx_stage, component/dashboard, on hold

#2047 Support Ubuntu 22.04
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  nginx_stage/lib/nginx_stage/secret_key_base_file.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  packaging/deb/rules
  spec/e2e/default_install_spec.rb
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/ubuntu-22.04.yml
  spec/spec_helper_e2e.rb
Labels: component/nginx_stage

#2053 Upgrade EL builds to use Ruby 3.0
  Dockerfile
  Dockerfile.dev
  Gemfile
  Gemfile.lock
  ood-portal-generator/lib/ood_portal_generator.rb
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: component/ood_portal_generator, needs doc, needs automation

#2057 check config before accessing it
  apps/shell/app.js
Labels: component/shell

#2058 Ensure Ubuntu builds can find passenger_native_support.so
  nginx_stage/etc/profile
  nginx_stage/templates/pun.conf.erb
  ood-portal-generator/etc/profile
  packaging/deb/rules
  packaging/files/enable.deb
  spec/e2e/00_package_spec.rb
Labels: component/nginx_stage, component/ood_portal_generator
