Repository OSC/ondemand, pull requests merged in 2022-10, with the labels that each got.

#2292 Added support ticket functionality
  apps/dashboard/app/apps/support_ticket_email_service.rb
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/helpers/support_ticket_helper.rb
  apps/dashboard/app/javascript/packs/support_ticket.js
  apps/dashboard/app/javascript/stylesheets/_variables.scss
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/support_ticket.scss
  apps/dashboard/app/mailers/.keep
  apps/dashboard/app/mailers/support_ticket_mailer.rb
  apps/dashboard/app/models/attachments_validator.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/models/support_ticket.rb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/support_ticket/email/default.text.erb
  apps/dashboard/app/views/support_ticket/email_service_template.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
  apps/dashboard/test/fixtures/config/views/support_ticket/email/email_template_override.text.erb
  apps/dashboard/test/helpers/support_ticket_helper_test.rb
  apps/dashboard/test/integration/support_ticket_integration_test.rb
  apps/dashboard/test/mailers/.keep
  apps/dashboard/test/mailers/support_ticket_mailer_test.rb
  apps/dashboard/test/models/support_ticket_test.rb
Labels: component/dashboard

#2314 Safer form rendering
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session_context.rb
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_interactive_apps/bc_jupyter/submit.yml.erb
  apps/dashboard/test/models/batch_connect/app_test.rb
  apps/dashboard/test/models/batch_connect/session_context_test.rb
Labels: component/dashboard

#2323 Add vnc_container option
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
Labels: component/dashboard

#2325 use SHA1 instead of MD5 for FIPs systems
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/batch_connect/sessions/connections/_native_vnc.html.erb
Labels: component/dashboard

#2328 use SHA1 instead of MD5 for FIPs systems (#2325)
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/batch_connect/sessions/connections/_native_vnc.html.erb
Labels: component/dashboard

#2329 Add vnc_container option (#2323)
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
Labels: component/dashboard

#2324 allow for job composer to copy environment (#1847)
  apps/myjobs/app/models/resource_mgr_adapter.rb
  apps/myjobs/app/models/workflow.rb
  apps/myjobs/app/views/workflows/_edit_form_job_attrs.html.erb
  apps/myjobs/config/locales/en.yml
Labels: component/jobcomposer

#2330 Dynanic batch connect with slashes bugfix
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2339 ternary should have a space here
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/jobcomposer

#2338 newline on ternay operator
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/jobcomposer

#2337 backport #2319 - allow for multiple min & max settings
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2340 backport Dynanic batch connect with slashes bugfix (#2330)
  apps/dashboard/app/javascript/packs/batchConnect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2327 Myjobs: Add ENV override for showing job array
  apps/myjobs/app/models/workflow.rb
  apps/myjobs/config/configuration_singleton.rb
Labels: component/jobcomposer

#2343 Add ENV override for showing/hiding job arrays (#2327)
  apps/myjobs/app/models/workflow.rb
  apps/myjobs/config/configuration_singleton.rb
Labels: component/jobcomposer

#2349 bump ood_core to next release
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer
