Repository OSC/ondemand, pull requests merged in 2022-09, with the labels that each got.

#2270 Added full navigation definition in UserConfiguration (Group/Link)
  apps/dashboard/app/apps/app_recategorizer.rb
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/apps/ood_app_link.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/test/apps/app_recategorizer_test.rb
  apps/dashboard/test/apps/featured_app_test.rb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/apps/ood_app_link_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2264 Add method for listing Rclone remotes to RcloneUtil
  apps/dashboard/config/locales/en.yml
  apps/dashboard/lib/rclone_util.rb
  apps/dashboard/test/fixtures/config/rclone/rclone.conf
  apps/dashboard/test/rclone_helper.rb
  apps/dashboard/test/unit/rclone_util_test.rb
Labels: component/dashboard

#2275 Full navigation configuration - improved test coverage
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
Labels: component/dashboard

#2278 add some class level comments to the files in apps/
  apps/dashboard/app/apps/app_recategorizer.rb
  apps/dashboard/app/apps/bundler_helper.rb
  apps/dashboard/app/apps/dev_router.rb
  apps/dashboard/app/apps/favorite_path.rb
  apps/dashboard/app/apps/manifest.rb
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/apps/ood_app_link.rb
  apps/dashboard/app/apps/ood_files_app.rb
  apps/dashboard/app/apps/path_router.rb
  apps/dashboard/app/apps/router.rb
  apps/dashboard/app/apps/sys_router.rb
  apps/dashboard/app/apps/token_matcher.rb
  apps/dashboard/app/apps/usr_router.rb
Labels: component/dashboard

#2282 add module comments for helpers
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/helpers/app_helper.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/helpers/errors_helper.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/helpers/permissions_helper.rb
  apps/dashboard/app/helpers/products_helper.rb
Labels: component/dashboard

#2283 add class comments for jobs
  apps/dashboard/app/jobs/application_job.rb
  apps/dashboard/app/jobs/transfer_local_job.rb
Labels: component/dashboard

#2284 add class level comments for models
  apps/dashboard/app/models/active_jobs/filter.rb
  apps/dashboard/app/models/active_jobs/jobs_json_request_handler.rb
  apps/dashboard/app/models/announcement.rb
  apps/dashboard/app/models/announcements.rb
  apps/dashboard/app/models/balance.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/models/batch_connect/session_context.rb
  apps/dashboard/app/models/configuration_property.rb
  apps/dashboard/app/models/dev_product.rb
  apps/dashboard/app/models/files.rb
  apps/dashboard/app/models/group_permission.rb
  apps/dashboard/app/models/motd_file.rb
  apps/dashboard/app/models/motd_formatter.rb
  apps/dashboard/app/models/motd_formatter/markdown.rb
  apps/dashboard/app/models/motd_formatter/markdown_erb.rb
  apps/dashboard/app/models/motd_formatter/osc.rb
  apps/dashboard/app/models/motd_formatter/plaintext.rb
  apps/dashboard/app/models/motd_formatter/plaintext_erb.rb
  apps/dashboard/app/models/motd_formatter/rss.rb
  apps/dashboard/app/models/permission.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/posix_transfer.rb
  apps/dashboard/app/models/product.rb
  apps/dashboard/app/models/product_readme.rb
  apps/dashboard/app/models/product_readme_markdown_renderer.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/quota.rb
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/app/models/remote_transfer.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/app/models/user.rb
  apps/dashboard/app/models/user_permission.rb
  apps/dashboard/app/models/usr_product.rb
Labels: component/dashboard

#2287 Custom navigation CSS fix for small screen
  apps/dashboard/app/views/layouts/nav/_link.html.erb
Labels: component/dashboard

#2279 add some class documentation for controllers
  apps/dashboard/app/controllers/active_jobs_controller.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/controllers/apps_controller.rb
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/controllers/batch_connect/sessions_controller.rb
  apps/dashboard/app/controllers/concerns/batch_connect_concern.rb
  apps/dashboard/app/controllers/dashboard_controller.rb
  apps/dashboard/app/controllers/errors_controller.rb
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/controllers/permissions_controller.rb
  apps/dashboard/app/controllers/products_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/controllers/settings_controller.rb
  apps/dashboard/app/controllers/transfers_controller.rb
Labels: component/dashboard

#2289 rm js source maps and minify for production builds
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

#2290 upgrade job composer to 6.1 and set dashboard defaults to 6.1
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/application.rb
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/myjobs/bin/yarn
  apps/myjobs/config.ru
  apps/myjobs/config/application.rb
  apps/myjobs/config/environments/development.rb
  apps/myjobs/config/environments/production.rb
  apps/myjobs/config/environments/test.rb
  apps/myjobs/config/initializers/backtrace_silencers.rb
  apps/myjobs/config/initializers/filter_parameter_logging.rb
  apps/myjobs/config/initializers/new_framework_defaults_6_1.rb
  apps/myjobs/config/initializers/permissions_policy.rb
Labels: component/dashboard, component/jobcomposer

#2277 Added help navigation definition in UserConfiguration
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_custom_navigation.html.erb
  apps/dashboard/app/views/layouts/nav/_log_out.html.erb
  apps/dashboard/app/views/layouts/nav/_user.html.erb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2299 some bundler fixups
  lib/tasks/build.rb
  ood_auth_map/ood_auth_map.gemspec
Labels: component/ood_auth_map, area/build
