Repository OSC/ondemand, pull requests merged in 2022-02, with the labels that each got.

#1794 start of a new icon picker.
  apps/dashboard/app/assets/javascripts/fontawesome-iconpicker.js
  apps/dashboard/app/javascript/packs/fa/faIconInfo.js
  apps/dashboard/app/javascript/packs/fa/faIconPicker.js
  apps/dashboard/app/javascript/packs/icon_picker.js
  apps/dashboard/app/javascript/packs/icons.js
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/fontawesome-iconpicker.css
  apps/dashboard/app/javascript/stylesheets/icon_picker.scss
  apps/dashboard/app/javascript/stylesheets/products.scss
  apps/dashboard/app/views/products/_form_icon.html.erb
  apps/dashboard/config/webpack/environment.js
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/products_dev_test.rb
Labels: component/dashboard

#1808 remove sprockets entirely
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/bin/setup
  apps/dashboard/config/application.rb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/initializers/assets.rb
Labels: component/dashboard

#1804 Backport uppy upgrade to 2.0
  apps/dashboard/app/assets/javascripts/application.js
  apps/dashboard/app/assets/javascripts/files.js
  apps/dashboard/app/javascript/packs/files.js
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/babel.config.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

#1813 remove turobolinks
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard, needs doc

#1812 add validation around the form and attributes
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/fixtures/usr/shared/bc_app/form.yml
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

#1814 use nonces for javascript packs
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/files.html.erb
  apps/dashboard/app/views/products/_form_icon.html.erb
Labels: component/dashboard

#1824 upgrade rails for bugfixes
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

#1815 preset apps can just launch
  apps/dashboard/app/apps/ood_app_link.rb
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/fixtures/apps/preset_app/form.yml
  apps/dashboard/test/fixtures/apps/preset_app/local/choice.yml
  apps/dashboard/test/fixtures/apps/preset_app/local/preset.yml
  apps/dashboard/test/fixtures/apps/preset_app/manifest.yml
  apps/dashboard/test/system/preset_apps_navbar_test.rb
  apps/dashboard/test/system/preset_apps_pinned_test.rb
Labels: component/dashboard

#1830 upgrade dashboard to rails 6.1
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/bin/rake
  apps/dashboard/bin/spring
  apps/dashboard/config.ru
  apps/dashboard/config/application.rb
  apps/dashboard/config/boot.rb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/initializers/backtrace_silencers.rb
  apps/dashboard/config/initializers/filter_parameter_logging.rb
  apps/dashboard/config/initializers/new_framework_defaults_6_1.rb
  apps/dashboard/config/initializers/permissions_policy.rb
Labels: component/dashboard

#1828 Refactor parts of FilesController to use a PosixFile model
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/files.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/test/jobs/transfer_local_job_test.rb
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

#1840 fix /nginx/stop redirections
  mod_ood_proxy/lib/nginx.lua
  spec/e2e/proxy_spec.rb
Labels: component/mod_ood_proxy

#1845 Fix incorrect permissions on uploaded file
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#1850 Removing jobs namespace across the new jobs-app project.
  apps/dashboard/app/controllers/jobs/projects_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/jobs/project.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/edit.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/projects/new.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/projects/submit.html.erb
  apps/dashboard/app/views/projects/update.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/fixtures/projects/.keep
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

#1847 allow for job composer to copy environment
  apps/myjobs/app/models/resource_mgr_adapter.rb
  apps/myjobs/app/models/workflow.rb
  apps/myjobs/app/views/workflows/_edit_form_job_attrs.html.erb
  apps/myjobs/config/locales/en.yml
Labels: component/jobcomposer

#1851 Fix uploaded file group owner
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#1852 backport #1816
  nginx_stage/lib/nginx_stage/user.rb
  nginx_stage/spec/user_spec.rb
Labels: component/nginx_stage

#1853 Backport file updates to 2.0
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#1855 Adding basic systems tests.
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#1854 Use the same 404 error message in app.conf.erb as in pun.conf.erb
  nginx_stage/templates/app.conf.erb
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage
