Repository OSC/ondemand, pull requests merged in 2023-05, with the labels that each got.

#2787 refactor the path selector to accomidate variable paths.
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/app/javascript/packs/path_selector/data_table.js
  apps/dashboard/app/javascript/packs/path_selector/index.js
  apps/dashboard/app/javascript/packs/path_selector/path_selector.js
  apps/dashboard/app/javascript/packs/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/packs/path_selector/sweet_alert.js
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/common.scss
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/files/_path_selector_breadcrumb.html.erb
Labels: component/dashboard

#2791 Added support for custom JS feature
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/custom_css_files_test.rb
  apps/dashboard/test/integration/custom_css_js_files_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2796 work on script initialization and serialization.
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2795 embed google analytics inside the dashboard
  apps/dashboard/app/views/layouts/_google_analytics.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/content_security_policy.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
Labels: component/dashboard

#2802 add auto clusters
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_batch_clusters.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2804 Added support to override title and icon on app navigation items
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/test/apps/nav_bar_test.rb
Labels: component/dashboard

#2807 Allow oidc_crypto_passphrase to be set for ood-portal-generator
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
Labels: component/ood_portal_generator

#2811 (release 3.0) Allow oidc_crypto_passphrase to be set for ood-portal-generator
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
Labels: component/ood_portal_generator

#2821 Add possibility of using syslog for nginx logs
  nginx_stage/lib/nginx_stage/configuration.rb
Labels: component/nginx_stage

#2823 Add quick launch button and quick launch ability
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

#2828 Add SELinux boolean to allow PUN to send email via SMTP
  packaging/rpm/ondemand-selinux.te
Labels: needs doc

#2830 sort batch clusters
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

#2836 Script#edit support adding/removing accounts
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/javascript/packs/script_edit.js
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2842 Remove Hard-coded Script Location
  apps/dashboard/app/models/script.rb
Labels: component/dashboard

#2841 Check Projects Exist Before script#new
  apps/dashboard/app/controllers/scripts_controller.rb
Labels: component/dashboard

#2850 Test Ruby 3.2 to support Amazon Linux 2023
  .github/workflows/tests.yml
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/application_spec.rb
Labels: component/ood_portal_generator

#2854 Avoid deprecation warnings with ERB.new and Ruby 3.2
  apps/dashboard/app/models/announcement.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/batch_connect/sessions/connections/_custom.html.erb
  apps/dashboard/config/configuration_singleton.rb
  lib/tasks/rake_helper.rb
  nginx_stage/lib/nginx_stage/generator.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
Labels: component/nginx_stage, component/ood_portal_generator, component/dashboard, area/build

#2848 Hide develop custom menu template based on Configuration object
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/test/integration/custom_help_navigation_test.rb
Labels: component/dashboard
