Repository OSC/ondemand, pull requests merged in 2023-02, with the labels that each got.

#2534 Fixed noVNC url + Improved spinner CSS
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/javascript/stylesheets/support_ticket.scss
Labels: component/dashboard

#2536 better caching for scontrol
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

#2535 give this button a border
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

#2532 use memory store caches
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
Labels: component/dashboard

#2531 upgrade ood_core for apptainer patch (for release 2.0)
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2548 update ood_core for apptainer bugfix
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2559 change OOD_PUN_RAILS_CONFIG_HOSTS to ALLOWED_HOSTS
  apps/dashboard/config/environments/production.rb
  apps/myjobs/config/environments/production.rb
  nginx_stage/lib/nginx_stage.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/nginx_stage, component/ood_portal_generator, component/dashboard, component/jobcomposer

#2567 mod_ood_proxy needs to use OOD_ALLOWED_HOSTS
  mod_ood_proxy/lib/logger.lua
  mod_ood_proxy/lib/ood/nginx_stage.lua
  mod_ood_proxy/lib/pun_proxy.lua
Labels: component/mod_ood_proxy

#2568 Fixed navbar links sorting for application links + images
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/javascript/stylesheets/apps.scss
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

#2579 Renamed icon_uri yaml property to icon
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/views/widgets/pinned_apps/_app_content.html.erb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_desktop/local/oakley.yml
  apps/dashboard/test/fixtures/usr/shared/bc_with_subapps/local/owens.yml
  apps/dashboard/test/integration/custom_help_navigation_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

#2577 Added support for images from /public location
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/javascript/stylesheets/pinned_apps.scss
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

#2581 Added support for empty icons for custom navigation items
  apps/dashboard/app/views/layouts/nav/_group_items.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
Labels: component/dashboard

#2550 Use config.js to handle js setup for configs and csrf_token
  apps/dashboard/app/javascript/packs/config.js
  apps/dashboard/app/javascript/packs/files/clip_board.js
  apps/dashboard/app/javascript/packs/files/file_ops.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

#2570 default to allow no hosts
  mod_ood_proxy/lib/ood/nginx_stage.lua
  nginx_stage/lib/nginx_stage.rb
Labels: component/mod_ood_proxy, component/nginx_stage

#2585 Added configuration to disable the dashboard welcome message
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/dashboard/index.html.erb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2587 fix misspelling in this comment
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage

#2589 only use tranfers_path if its available
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

#2573 Scripts models
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/scripts/new.html.erb
  apps/dashboard/app/views/scripts/show.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

#2590 update docs for developing ood_core
  apps/dashboard/README.md
Labels: component/dashboard

#2591 lock sweetalert2
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

#2595 Job composer/project index display icon
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

#2601 projects to use numeric ids instead of directories
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/fixtures/projects/projects/.project_lookup
  apps/dashboard/test/integration/projects_controller_test.rb
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2605 rework projects#index view to use icons instead of table
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/pinned_apps.scss
  apps/dashboard/app/javascript/stylesheets/projects.scss
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2594 optimize auto_accounts so it doesnt show duplicates
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2608 Migrated announcements_path property to UserConfiguration object
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
  apps/dashboard/test/integration/announcement_views_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2610 Updated sessions widget to not render if there are no active sessions
  apps/dashboard/app/views/widgets/_sessions.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/integration/active_sessions_widget_test.rb
Labels: component/dashboard
