Repository OSC/ondemand, pull requests merged in 2023-01, with the labels that each got.

#2459 disable passengers update check bc they cant update anyhow
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

#2452 Configuration improvements for custom navigation bar
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/app/apps/ood_app_group.rb
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/test/apps/nav_bar_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
  apps/dashboard/test/models/ood_app_group_test.rb
Labels: component/dashboard

#2444 fix activejobs' chevron styles
  apps/dashboard/app/javascript/stylesheets/application.scss
  apps/dashboard/app/javascript/stylesheets/custom.scss
  apps/dashboard/app/javascript/stylesheets/data_tables.scss
Labels: component/dashboard

#2447 use an actual button for saving file editor
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

#2448 rename remote files config to remote_files_enabled
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/controllers/transfers_controller.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/rclone.rb
  apps/dashboard/test/controllers/files_controller_test.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/rclone_helper.rb
Labels: component/dashboard

#2454 add deprecation warnings for NavConfig
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2442 add initializer to sync cache files from 2.0 to 2.1
  apps/dashboard/config/initializers/upgrade_to_2.1.rb
Labels: component/dashboard

#2458 use a button for deleting & canceling instead of link
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/helpers/batch_connect/sessions_helper_test.rb
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

#2470 Profile links configuration made consistent with custom navigation
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/test/helpers/application_helper_test.rb
Labels: component/dashboard

#2411 allow for 2 or more elements to set min/max on 1 element
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2443 Fwd port maint assets
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#2370 Auto groups
  apps/dashboard/app/lib/smart_attributes/attributes/auto_groups.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_primary_group.rb
  apps/dashboard/app/models/current_user.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/models/current_user_test.rb
Labels: component/dashboard, needs doc

#2418 hide things when initializing, but dont show them
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

#2461 recognize that the db file is zero and rectify
  apps/myjobs/bin/setup-production
Labels: component/jobcomposer

#2469 Added aliases to custom navbar links and templates
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/test/apps/nav_bar_test.rb
Labels: component/dashboard

#2481 reset navconfig back to the original 2.0
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/apps/nav_config_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2482 add an initializer to cleanup old bc output directories
  apps/dashboard/app/jobs/clean_directory_job.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/bc_cleanup.rb
  apps/dashboard/config/initializers/upgrade_to_2.1.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
Labels: component/dashboard

#2491 Improvements to the configuration for the support ticket form
  apps/dashboard/app/apps/request_tracker_service.rb
  apps/dashboard/app/helpers/support_ticket_helper.rb
  apps/dashboard/app/mailers/support_ticket_mailer.rb
  apps/dashboard/app/views/support_ticket/email/_email.text.erb
  apps/dashboard/app/views/support_ticket/email/email_layout.text.erb
  apps/dashboard/app/views/support_ticket/email_service_template.html.erb
  apps/dashboard/app/views/support_ticket/rt/rt_ticket_content.text.erb
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/fixtures/config/views/support_ticket/email/email_template_override.text.erb
  apps/dashboard/test/helpers/support_ticket_helper_test.rb
  apps/dashboard/test/integration/request_tracker_integration_test.rb
  apps/dashboard/test/integration/support_ticket_integration_test.rb
  apps/dashboard/test/mailers/support_ticket_mailer_test.rb
Labels: component/dashboard

#2497 allow for duplicate option values
  apps/dashboard/app/javascript/packs/batch_connect.js
Labels: component/dashboard

#2503 Added recently used applications widget
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/helpers/recently_used_apps_helper.rb
  apps/dashboard/app/javascript/packs/pinned_apps.js
  apps/dashboard/app/javascript/stylesheets/pinned_apps.scss
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/views/custom_pages/index.html.erb
  apps/dashboard/app/views/dashboard/index.html.erb
  apps/dashboard/app/views/widgets/_pinned_apps.html.erb
  apps/dashboard/app/views/widgets/_recently_used_apps.html.erb
  apps/dashboard/app/views/widgets/pinned_apps/_app.html.erb
  apps/dashboard/app/views/widgets/pinned_apps/_app_content.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/fixtures/widgets/recently_used_apps/sys/bc_desktop/form.yml
  apps/dashboard/test/fixtures/widgets/recently_used_apps/sys/bc_desktop/manifest.yml
  apps/dashboard/test/fixtures/widgets/recently_used_apps/sys_bc_desktop.json
  apps/dashboard/test/helpers/recently_used_apps_helper_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
  apps/dashboard/test/integration/recently_used_apps_widget_test.rb
Labels: component/dashboard

#2506 Remove Jquery and use dataset for data
  apps/dashboard/app/javascript/packs/config.js
Labels: component/dashboard

#2496 rclone initializer is broken
  apps/dashboard/config/initializers/rclone.rb
Labels: component/dashboard

#2479 start auto_accounts bc option
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_accounts.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts.txt
  apps/dashboard/test/fixtures/config/clusters.d/oakley.yml
  apps/dashboard/test/fixtures/config/clusters.d/owens.yml
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#2511 Auto queues
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_queues.rb
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_oakley.txt
  apps/dashboard/test/fixtures/cmd_output/scontrol_show_partitions_owens.txt
  apps/dashboard/test/fixtures/config/clusters.d/oakley.yml
  apps/dashboard/test/fixtures/config/clusters.d/owens.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2515 Fixed link for restart server on NavBar.STATIC_LINKS
  apps/dashboard/app/apps/nav_bar.rb
Labels: component/dashboard

#2462 added configuration to hide app version for batch connects apps
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
Labels: component/dashboard, needs doc

#2521 Fix for OodApp.version for apps with no version
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/test/apps/ood_app_test.rb
  apps/dashboard/test/fixtures/apps/with_unknown_version/VERSION
  apps/dashboard/test/fixtures/apps/with_unknown_version/manifest.yml
  apps/dashboard/test/fixtures/apps/with_version/VERSION
  apps/dashboard/test/fixtures/apps/with_version/manifest.yml
Labels: component/dashboard

#2514 Added support to add links to the help menu dropdown
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_group_items.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#2516 add auto_qos batch connect option.
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_qos.rb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2524 upgrade to rails 6.1.7.2
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2523 show the default module for auto_modules. and fix the form value.
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2530 Fixed support ticket spinner after Rails upgrade
  apps/dashboard/app/javascript/packs/support_ticket.js
Labels: component/dashboard

#2528 Updated recently_used_apps widget to only select valid applications
  apps/dashboard/app/helpers/recently_used_apps_helper.rb
  apps/dashboard/test/helpers/recently_used_apps_helper_test.rb
Labels: component/dashboard

#2529 Added session relaunch feature
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/javascript/packs/batch_connect_sessions.js
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/helpers/batch_connect/sessions_helper_test.rb
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

#2525 Move max file size from inline to setting in config.js
  apps/dashboard/app/javascript/packs/config.js
  apps/dashboard/app/javascript/packs/files/uppy_ops.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard
