Repository OSC/ondemand, pull requests merged in 2023-07, with the labels that each got.

#2885 Update to NodeJS 18 and Ruby 3.1
  .github/workflows/tests.yml
  Gemfile
  Gemfile.lock
  apps/dashboard/.yarnrc
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
  apps/shell/.yarnrc
  ood-portal-generator/Gemfile.lock
  packaging/deb/control
  packaging/deb/rules
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: component/ood_portal_generator, component/dashboard, component/jobcomposer, needs doc, needs automation

#2870 ood-portal-generator: Use proxy_server in http rewrites
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#2892 add a nonce to the inline globus script tag
  apps/dashboard/app/views/files/_globus.html.erb
Labels: component/dashboard

#2839 Add dropdown entry for new job composer
  apps/dashboard/config/configuration_singleton.rb
  apps/projects/manifest.yml
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: component/dashboard

#2865 Add SmartAttribute defaults for `auto_scripts` and `auto_batch_clusters`
  apps/dashboard/app/lib/smart_attributes/attributes/auto_batch_clusters.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
Labels: component/dashboard

#2912 Lint attribute
  apps/dashboard/app/lib/smart_attributes/attribute.rb
Labels: component/dashboard

#2905 rm unused config flag for new projects app
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2903 add initial scaffolding for disabling select options
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/javascript/packs/script_edit.js
  apps/dashboard/app/javascript/stylesheets/scripts.scss
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard

#2917 upgrade rails to 6.1.7.4
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2916 Send excludeable options
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/javascript/packs/script_edit.js
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard
