Repository OSC/ondemand, pull requests merged in 2023-10, with the labels that each got.

#3091 Stop serializing the connection view.
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

#3094 override sendfile
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/config/initializers/validate_send_files.rb
Labels: component/dashboard

#3093 ensure the table refreshes in this test case
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3096 download hidden paths
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3095 Fixes to edit script javascript
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/javascript/packs/script_edit.js
  apps/dashboard/app/views/scripts/editable_form_fields/_edit_field_buttons.html.erb
Labels: component/dashboard

#3100 Disabled deleting auto_batch_clusters from edit script forms
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/test/helpers/scripts_helper_test.rb
Labels: component/dashboard

#3104 Update 3.0
  .github/workflows/tests.yml
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/config/initializers/upgrade_to_3.0.rb
  apps/dashboard/config/initializers/validate_send_files.rb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/models/files_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3105 move stylesheets to default rails directory
  apps/dashboard/app/assets/stylesheets/_variables.scss
  apps/dashboard/app/assets/stylesheets/app_kit/_markdown.scss
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/apps.scss
  apps/dashboard/app/assets/stylesheets/batch_connect/session_contexts.scss
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/assets/stylesheets/breadcrumb.scss
  apps/dashboard/app/assets/stylesheets/buttons.scss
  apps/dashboard/app/assets/stylesheets/common.scss
  apps/dashboard/app/assets/stylesheets/custom.scss
  apps/dashboard/app/assets/stylesheets/dashboard.scss
  apps/dashboard/app/assets/stylesheets/data_tables.scss
  apps/dashboard/app/assets/stylesheets/editor.scss
  apps/dashboard/app/assets/stylesheets/errors.scss
  apps/dashboard/app/assets/stylesheets/fa_shims.css
  apps/dashboard/app/assets/stylesheets/files.scss
  apps/dashboard/app/assets/stylesheets/icon_picker.scss
  apps/dashboard/app/assets/stylesheets/insufficient_balance.scss
  apps/dashboard/app/assets/stylesheets/insufficient_quota.scss
  apps/dashboard/app/assets/stylesheets/navbar.scss
  apps/dashboard/app/assets/stylesheets/pinned_apps.scss
  apps/dashboard/app/assets/stylesheets/products.scss
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/assets/stylesheets/scripts.scss
  apps/dashboard/app/assets/stylesheets/support_ticket.scss
  apps/dashboard/package.json
Labels: component/dashboard

#3106 mv javascript files out of the packs directory to rm webpacker
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/javascript/apps.js
  apps/dashboard/app/javascript/batch_connect.js
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/dashboard.js
  apps/dashboard/app/javascript/editor.js
  apps/dashboard/app/javascript/files/clip_board.js
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/javascript/files/globus.js
  apps/dashboard/app/javascript/files/index.js
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/app/javascript/files/uppy_ops.js
  apps/dashboard/app/javascript/icon_picker.js
  apps/dashboard/app/javascript/icons.js
  apps/dashboard/app/javascript/path_selector/path_selector.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/pinned_apps.js
  apps/dashboard/app/javascript/prefill_templates/prefill_submit.js
  apps/dashboard/app/javascript/prefill_templates/prefill_templates.js
  apps/dashboard/app/javascript/products_index.js
  apps/dashboard/app/javascript/products_show.js
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/javascript/projects_new.js
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/javascript/support_ticket.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

#3103 Refactor transfer rm
  apps/dashboard/app/models/posix_transfer.rb
  apps/dashboard/app/models/transfer.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3119 upgrade loofah to use html4_fragment
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#3122 refactor mv commands to Ruby libraries
  apps/dashboard/app/models/posix_transfer.rb
  apps/dashboard/app/models/transfer.rb
Labels: component/dashboard

#3113 Refactor dynamic forms
  apps/dashboard/app/javascript/batch_connect_session_contexts.js
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
Labels: component/dashboard

#3121 cache allowlist permitted?
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

#3124 didnt mean to commit this to master branch
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

#3127 Add Debian 12 support
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  packaging/deb/control
  packaging/deb/packaging.yaml
  packaging/deb/rules
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/debian-12-aarch64.yml
  spec/e2e/nodesets/debian-12.yml
Labels: needs doc, needs automation

#3135 Fixed shell app timing out after ~50 secs
  apps/shell/app.js
Labels: component/shell

#3138 Underline .clickable on hover
  apps/dashboard/app/assets/stylesheets/common.scss
Labels: component/dashboard

#3144 Adds loading icon to path selector UI on table refresh
  apps/dashboard/app/assets/stylesheets/common.scss
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard
