Repository OSC/ondemand, pull requests merged in 2023-11, with the labels that each got.

#3155 Update node pty
  .github/workflows/tests.yml
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

#3150 3145 path selector error handling
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

#3158 Use latest packaging with nodistro nodejs repos
  Gemfile
  Gemfile.lock
  spec/e2e/e2e_helper.rb
Labels: needs doc, needs automation

#3139 correctly set auto_modules' label
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/lib/smart_attributes/auto_modules_test.rb
Labels: component/dashboard

#3165 refactor and render created method
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_created.html.erb
Labels: component/dashboard

#3167 refactor and render support_ticket method
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_support_ticket.html.erb
Labels: component/dashboard

#3160 stop using node-pty's deprecated APIs
  apps/shell/app.js
Labels: component/shell

#3152 use the real path as the cache key
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

#3146 simple refactor of shell's ping/pong
  apps/shell/app.js
Labels: component/shell

#3157 add dev dependencies back to shell's yarn.lock
  apps/shell/yarn.lock
Labels: component/shell

#3159 Improved form fixed field UI for new Job Composer scripts
  apps/dashboard/app/javascript/script_edit.js
  apps/dashboard/app/views/scripts/edit.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_select.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#3172 add preview mode to heading
  apps/dashboard/app/views/projects/index.html.erb
Labels: component/dashboard

#3175 refactor and render display_choices method
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_display_choices.html.erb
Labels: component/dashboard

#3174 add a link to project directory in projects#show
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

#3154 Lint fixup
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

#3180 add a japanese locale
  apps/dashboard/config/locales/ja_JP.yml
Labels: component/dashboard

#3178 add preview header to projects#show as well
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

#3173 3032 support favorites in path selector
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/javascript/path_selector/path_selector.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_favorites.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

#3188 Fix gnome desktop
  apps/bc_desktop/template/desktops/gnome.sh
  apps/bc_desktop/template/script.sh.erb
Labels: component/bc_desktop

#3200 Added default_profile setting to allow admins to select the default profile for users
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#3201 some small fixups for path selector
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_favorites.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
Labels: component/dashboard

#3202 ensure staged_root has is writable by the user
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

#3199 add the ability for data-hide- directives on checkboxes
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard, needs doc

#3181 support for dynamic checkboxes
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3212 Adds select all option to files table
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/views/files/_files_table.html.erb
Labels: component/dashboard

#3214 Add some tests
  apps/dashboard/test/system/batch_connect_sessions_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard
