Repository OSC/ondemand, pull requests merged in 2023-09, with the labels that each got.

#3000 Updated project and script model to use random alphanumeric ids
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#3006 Added support to override category, subcategory, and metadata in subapps
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/test/fixtures/apps/bc_with_subapps/form.yml
  apps/dashboard/test/fixtures/apps/bc_with_subapps/local/oakley.yml
  apps/dashboard/test/fixtures/apps/bc_with_subapps/local/owens.yml
  apps/dashboard/test/fixtures/apps/bc_with_subapps/manifest.yml
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

#2997 Filter hidden modules
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/models/hpc_module_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2956 Add support for an extra Rclone config file
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/lib/rclone_util.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/fixtures/config/rclone/extra_config.conf
  apps/dashboard/test/rclone_helper.rb
  apps/dashboard/test/system/remote_files_test.rb
  apps/dashboard/test/unit/rclone_util_test.rb
Labels: component/dashboard

#3008 support file editor syntax highlighting for fortran
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

#3004 Improvements to error handling for support ticket configuration
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
Labels: component/dashboard

#2990 Updated new job composer project validation - Single Project Model
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/edit.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/app/views/projects/new.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#3019 some small tweaks in these test cases
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2998 Allow ips
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.maint_with_ips
  ood-portal-generator/spec/fixtures/ood-portal.conf.nomaint
  ood-portal-generator/spec/fixtures/output/auth.conf
  ood-portal-generator/spec/fixtures/output/auth_deb.conf
  ood-portal-generator/spec/update_ood_portal_spec.rb
Labels: component/ood_portal_generator

#2989 change config to a div and put it in a partial
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

#3018 scripts#edit bug fixes
  apps/dashboard/app/javascript/packs/script_edit.js
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#3031 Added template files sync when creating a project from a template
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

#3042 Tests fixes after CurrentUser refactoring
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/test/lib/current_user_test.rb
  apps/dashboard/test/models/concerns/user_setting_store_test.rb
  apps/dashboard/test/models/current_user_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#3045 render files in situ instead of copy & rewrite
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

#3041 path_selector to support initial directory w/ tests
  apps/dashboard/app/javascript/packs/path_selector/path_selector.js
  apps/dashboard/app/javascript/packs/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3036 backport Filter hidden modules (#2997) to 3.0.
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/test/application_system_test_case.rb
  apps/dashboard/test/models/hpc_module_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3054 Edit script javascript fixes for selected dropdown items
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/javascript/packs/script_edit.js
Labels: component/dashboard

#2965 account for NONE time value
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
Labels: component/dashboard

#3007 allow html to be rendered completely in some MOTD formats
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/models/motd_formatter/markdown.rb
  apps/dashboard/app/views/dashboard/_motd_markdown.html.erb
  apps/dashboard/app/views/dashboard/_motd_rss.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/fixtures/files/motd_md_w_html
  apps/dashboard/test/integration/motd_integration_test.rb
Labels: component/dashboard

#3030 refactor PosixFile to allow for validations
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3047 short circuit this glob if youve already upgraded
  apps/dashboard/config/initializers/upgrade_to_3.0.rb
Labels: component/dashboard

#3058 expose bc_dynamic_js to javascript so we can always load these files
  apps/dashboard/app/javascript/packs/batch_connect.js
  apps/dashboard/app/javascript/packs/config.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3064 remove unused initializers
  apps/dashboard/config/initializers/application_controller_renderer.rb
  apps/dashboard/config/initializers/backtrace_silencers.rb
  apps/dashboard/config/initializers/inflections.rb
  apps/dashboard/config/initializers/new_framework_defaults.rb
  apps/dashboard/config/initializers/new_framework_defaults_5_1.rb
  apps/dashboard/config/initializers/new_framework_defaults_5_2.rb
  apps/dashboard/config/initializers/new_framework_defaults_6_0.rb
  apps/dashboard/config/initializers/new_framework_defaults_6_1.rb
Labels: component/dashboard

#3062 thicken border on hover instead of resizing
  apps/dashboard/app/javascript/stylesheets/projects.scss
  apps/dashboard/app/javascript/stylesheets/scripts.scss
Labels: component/dashboard

#3057 add stronger validations on symlinks
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/test/models/files_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3066 Path selector config hide
  apps/dashboard/app/javascript/packs/path_selector/path_selector.js
  apps/dashboard/app/javascript/packs/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3074 alias in self to correct usage.
  apps/dashboard/lib/current_user.rb
Labels: component/dashboard

#3075 Fix FontAwesome icon width in navbar app icons
  apps/dashboard/app/javascript/stylesheets/apps.scss
Labels: component/dashboard

#3059 Functional prototype for static values in Scripts
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/helpers/scripts_helper.rb
  apps/dashboard/app/javascript/packs/script_edit.js
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_fixed.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_edit_fixed_field.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_number.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_editable_select.html.erb
  apps/dashboard/app/views/scripts/editable_form_fields/_generic.html.erb
  apps/dashboard/app/views/scripts/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/script_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#3079 attempt to fix CI
  apps/shell/yarn.lock
Labels: component/shell

#3076 Add cloud icons for remote favorite paths
  apps/dashboard/app/apps/favorite_path.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/views/files/_favorites.html.erb
Labels: component/dashboard
