Repository OSC/ondemand, pull requests merged in 2023-08, with the labels that each got.

#2937 upgrade rails to 6.1.7.4 (#2917)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2936 Refactor globus inline js
  apps/dashboard/app/javascript/packs/files/globus.js
  apps/dashboard/app/views/files/_globus.html.erb
Labels: component/dashboard

#2939 rake update + upgrading mocha manually.
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#2940 add support for module names with hyphens in them (#2938)
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/template/script.sh.erb
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#2944 sort ondemand.d files by name before loading
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

#2941 fix mocha deprecation warnings
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/controllers/support_ticket_controller_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#2959 Add delete script functionality for new job composer (#2820)
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2951 only query the fs api if you navigate select a directory
  apps/dashboard/app/javascript/packs/path_selector/path_selector_data_table.js
Labels: component/dashboard

#2952 Validate Rclone remotes in initializer
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/rclone.rb
  apps/dashboard/lib/rclone_util.rb
  apps/dashboard/test/fixtures/config/ondemand.d/booleans.yml
  apps/dashboard/test/fixtures/config/rclone/rclone.conf
  apps/dashboard/test/unit/rclone_util_test.rb
Labels: component/dashboard

#2966 Added check to avoid errors when empty options array
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
Labels: component/dashboard

#2960 backport sort ondemand.d files by name before loading (#2944)
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

#2964 Updated script storage for new job composer
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/models/script_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2971 Added implementation for overriding project location path
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2986 upgrade to rails 6.1.7.5
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#2996 Fixed quality and compression variable names in _novnc.html.erb (#2995)
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
Labels: component/dashboard

#2988 upgrade to rails 6.1.7.6 (3.0 backport)
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer
