Repository OSC/ondemand, pull requests merged in 2023-06, with the labels that each got.

#2861 Support Amazon Linux 2023, update Passenger/NGINX dependencies
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  lib/tasks/test.rb
  packaging/deb/control
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/amzn2023.yml
Labels: area/build, needs doc, needs automation

#2856 Refactor find project
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#2882 Support ppc64le builds
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  packaging/deb/control
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: needs doc, needs automation
