Repository OSC/ondemand, pull requests merged in 2024-12, with the labels that each got.

#3995 3994 - fixes remote files test
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

#4005 Adds three basic content-type dl tests
  apps/dashboard/test/fixtures/files/download/osc-logo.png
  apps/dashboard/test/fixtures/files/download/test.yml
  apps/dashboard/test/fixtures/files/download/test_text.txt
  apps/dashboard/test/integration/files_test.rb
Labels: component/dashboard

#4009 Fixes bug where icon shows up on 2nd path_selector on page
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

#4008 3666 disable dl btn when non dlable is checked files
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3992 3037 path select filename filter
  apps/dashboard/app/javascript/path_selector/path_selector.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard, needs doc

#4012 rm unused group calculation from nginx_stage
  nginx_stage/lib/nginx_stage/user.rb
  nginx_stage/spec/generators/pun_config_generator_spec.rb
  nginx_stage/test/test_helper.rb
Labels: component/nginx_stage

#4011 Add i18n configuration for system installed captions
  apps/dashboard/app/apps/sys_router.rb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

#3942 determin inactive users and clean their PUNs too
  nginx_stage/lib/nginx_stage.rb
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
  spec/e2e/nginx_stage_spec.rb
Labels: component/nginx_stage, needs doc

#3991 Added support for multiple directories to deploy OOD extensions/customizations
  apps/dashboard/config/application.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

#4022 3994 - Fixes test
  apps/dashboard/test/system/batch_connect_widgets_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

#4020 strengthen checks on plugin directories.
  apps/dashboard/config/application.rb
Labels: component/dashboard, needs doc

#4003 657 automate localizations
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/i18n-tasks.yml.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/unit/i18n_test.rb
Labels: component/dashboard

#4025 4013 data exclusive option for
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard, needs doc

#4019 Additional test cases for Files#can_download_as_zip
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

#4033 fix popovers on this app list
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard
