Repository OSC/ondemand, pull requests merged in 2024-03, with the labels that each got.

#3362 Added project directory behind a frontend toggle checkbox
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

#3375 allow the path_selector to redefine the label
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3397 rename Script model to Launcher
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/launchers/_add_new_field.html.erb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_edit_field_buttons.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_edit_fixed_field.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_number.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_select.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_generic.html.erb
  apps/dashboard/app/views/launchers/new.html.erb
  apps/dashboard/app/views/launchers/show.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/helpers/launchers_helper.test.rb
  apps/dashboard/test/helpers/scripts_helper_test.rb
  apps/dashboard/test/models/launcher_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3353 first commit to upgrade to rails 7.0
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/environments/development.rb
  apps/dashboard/config/environments/production.rb
  apps/dashboard/config/environments/test.rb
  apps/dashboard/config/initializers/filter_parameter_logging.rb
  apps/dashboard/config/initializers/new_framework_defaults_7_0.rb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#3374 backport #3357 to 3.1.
  apps/dashboard/app/assets/stylesheets/pinned_apps.scss
Labels: component/dashboard

#3399 backport #3375 to 3.1
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3400 Removed edit session button in Session card for preset applications
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

#3386 Xdmod js refactor
  apps/dashboard/app/javascript/dashboard.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/javascript/xdmod.js
  apps/dashboard/app/views/widgets/_xdmod_widget_job_efficiency.html.erb
  apps/dashboard/app/views/widgets/_xdmod_widget_jobs.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

#3404 upgrade myjobs to rails-7
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/myjobs/config/boot.rb
  apps/myjobs/config/environments/development.rb
  apps/myjobs/config/environments/production.rb
  apps/myjobs/config/environments/test.rb
  apps/myjobs/config/initializers/content_security_policy.rb
  apps/myjobs/config/initializers/filter_parameter_logging.rb
  apps/myjobs/config/initializers/inflections.rb
  apps/myjobs/config/initializers/new_framework_defaults_7_0.rb
  apps/myjobs/db/schema.rb
  apps/myjobs/test/models/configuration_singleton_test.rb
Labels: component/jobcomposer

#3423 Refactors inline javascript in active_jobs
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/views/active_jobs/index.html.erb
Labels: component/dashboard

#3421 Added POLL_DELAY environment variable to UserConfiguration class
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/widgets/_sessions.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard, needs doc

#3424 Include completed_at in serialized batch connect card attributes
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
Labels: component/dashboard

#3428 add test for setting path_selector favorites
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3419 start to redesign the projects#show page
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/layouts/projects.html.erb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3401 change the default value for auto_accounts when copying from template.
  apps/dashboard/app/lib/smart_attributes/attributes/auto_accounts.rb
  apps/dashboard/test/fixtures/cmd_output/sacctmgr_show_accts_alt.txt
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3437 update DEVELOPMENT.md to include developing the dashboard
  DEVELOPMENT.md
  apps/dashboard/README.md
Labels: component/dashboard

#3441 re-enable ActionController::Live
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#3443 Adds 'searchable: false' to actions column in files app
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

#3449 try to fix flaky tests again
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3457 fix bug for auto_accounts
  apps/dashboard/app/lib/smart_attributes/attributes/auto_accounts.rb
  apps/dashboard/test/lib/smart_attributes/auto_accounts_test.rb
Labels: component/dashboard

#3460 Fixes pathfinger_select widget with data-hide option
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

#3432 3081 - auto_environment_variables
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_environment_variable.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_text_field.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3473 enhance the projects#show page with list of active jobs
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

#3476 update regular expression
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard, bug/cosmetic, area/security

#3467 R 3.1.3
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/test/models/batch_connect/session_test.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  spec/e2e/e2e_helper.rb
Labels: component/dashboard, component/jobcomposer
