Repository OSC/ondemand, pull requests merged in 2024-04, with the labels that each got.

#3482 update regular expression (#3476)
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

#3483 refactor this partial to be shared with other components
  apps/dashboard/app/javascript/projects_new.js
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

#3478 serialize more job info
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3489 Fix paths for some partials
  apps/dashboard/app/views/active_jobs/_ganglia_graphs_table.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
  apps/dashboard/app/views/batch_connect/sessions/connections/_native_vnc.html.erb
Labels: component/dashboard

#3495 Fix file browser error on copy/move
  apps/dashboard/app/javascript/files/clip_board.js
Labels: component/dashboard

#3490 try again to fix flaky tests
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3448 use relative OIDCRedirectURI where applicable
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/spec/ood_portal_generator_view_spec.rb
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#3499 Added module support for custom javascript files
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/dashboard/test/integration/custom_css_js_files_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3475 Removes NavConfig class & Replaces its use
  apps/dashboard/app/apps/nav_config.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard, needs doc

#3508 redirect to HTTP_HOST to support aliases
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-no-proxy
  ood-portal-generator/spec/fixtures/ood-portal.conf.oidc-ssl
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#3509 Enable turbo
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/views/batch_connect/sessions/_panels.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.js.erb
  apps/dashboard/app/views/batch_connect/sessions/index.json.jbuilder
  apps/dashboard/app/views/batch_connect/sessions/index.turbo_stream.erb
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/test/system/remote_files_test.rb
  lib/tasks/build.rb
Labels: component/dashboard, area/build

#3517 fix flaky file test by resetting the session
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3515 support for configurable redirect host
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/http_redirect_host.yml
  ood-portal-generator/spec/fixtures/output/http_redirect_host.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#3511 use ps to count sessions instead of lsof
  nginx_stage/lib/nginx_stage.rb
  nginx_stage/lib/nginx_stage/generators/nginx_clean_generator.rb
  nginx_stage/lib/nginx_stage/generators/nginx_show_generator.rb
  nginx_stage/lib/nginx_stage/session_finder.rb
  nginx_stage/lib/nginx_stage/socket_file.rb
Labels: component/nginx_stage

#3525 fix this expression
  apps/dashboard/app/javascript/products_show.js
Labels: component/dashboard

#3488 add the ability to define default launcher fields
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard, needs doc

#3498 Added support to edit saved settings from the details view
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/javascript/full_page_spinner.js
  apps/dashboard/app/javascript/prefill_templates/prefill_submit.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/test/fixtures/file_output/user_settings/saved_settings_edit.yml
  apps/dashboard/test/fixtures/file_output/user_settings/saved_settings_menu.yml
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/integration/saved_settings_controller_test.rb
  apps/dashboard/test/integration/saved_settings_navigation_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3527 rework projects#show page
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/projects/_launcher_details.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard
