Repository OSC/ondemand, pull requests merged in 2024-07, with the labels that each got.

#3653 Set 'content-length' header when downloading files
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#3659 Fix dashboard headings
  apps/dashboard/app/views/dashboard/_motd_markdown.html.erb
  apps/dashboard/app/views/dashboard/_motd_osc.html.erb
  apps/dashboard/app/views/dashboard/_motd_plaintext.html.erb
  apps/dashboard/app/views/dashboard/_motd_rss.html.erb
  apps/dashboard/app/views/widgets/_pinned_apps.html.erb
  apps/dashboard/app/views/widgets/pinned_apps/_group.html.erb
  apps/dashboard/test/integration/dashboard_layout_test.rb
  apps/dashboard/test/integration/pinned_apps_test.rb
Labels: component/dashboard

#3655 Disable file and shell buttons when apps are unavailable
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

#3646 Use dashboard navbar in the file editor
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

#3663 Ws packages upgrade
  apps/dashboard/app/javascript/files/uppy_ops.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

#3654 hide download buttons for certain files
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/app/views/files/_file_action_menu.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3534 initial pass to make projects#show dynamic
  apps/dashboard/app/controllers/jobs_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/app/views/projects/_job_details.html.erb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/routes.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

#3619 Add return type comments
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
Labels: component/dashboard

#3526 Fix favorites to consult allowlist
  apps/dashboard/app/apps/ood_files_app.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3674 Added 404 JSON reponse to projects.show method
  apps/dashboard/app/controllers/projects_controller.rb
Labels: component/dashboard

#3677 exclude vim swp files from rsync
  apps/dashboard/app/models/batch_connect/session.rb
Labels: component/dashboard

#3676 Support Ubuntu 24.04
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  packaging/deb/packaging.yaml
  spec/e2e/e2e_helper.rb
  spec/e2e/nodesets/ubuntu-24.04-aarch64.yml
  spec/e2e/nodesets/ubuntu-24.04.yml
Labels: needs doc, needs automation, backport

#3672 Added configurable default number of apps to show in the apps table
  apps/dashboard/app/javascript/apps.js
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard, needs doc

#3682 Provide URI for icons instead of requiring the user to provide them.
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/javascript/icon_picker.js
  apps/dashboard/app/models/concerns/icon_with_uri.rb
  apps/dashboard/app/models/product.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/products/_form_icon.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3678 pm respond to README
  apps/dashboard/app/helpers/projects_helper.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

#3675 markdown_erb needs to sanitize html too
  apps/dashboard/app/models/motd_formatter/base_formatter.rb
  apps/dashboard/app/models/motd_formatter/markdown.rb
  apps/dashboard/app/models/motd_formatter/markdown_erb.rb
  apps/dashboard/test/fixtures/files/motd_md_erb_w_html
  apps/dashboard/test/models/motd_formatter/motd_formatter_markdown_erb_test.rb
Labels: component/dashboard

#3698 turn dashboard.js into a module
  apps/dashboard/app/javascript/dashboard.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/dashboard/index.html.erb
Labels: component/dashboard
