Repository OSC/ondemand, pull requests merged in 2024-09, with the labels that each got.

#3769 Uniform alerts
  apps/dashboard/app/javascript/alert.js
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3776 Fix for apache 2.4.62 - Update node_proxy.lua
  mod_ood_proxy/lib/node_proxy.lua
Labels: component/mod_ood_proxy

#3774 More launcher id checks
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/test/models/launcher_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3780 Project validations
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

#3792 fix this test after last 2 merges
  apps/dashboard/test/models/launcher_test.rb
Labels: component/dashboard

#3781 add test for restart_confirmation
  nginx_stage/test/fixtures/restart_confirmation.html
  nginx_stage/test/views/pun_config_view_test.rb
Labels: component/nginx_stage

#3779 3.1.8
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/javascript/files/uppy_ops.js
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/app/models/remote_transfer.rb
  apps/dashboard/app/views/files/_file_action_menu.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/test/models/files_test.rb
  apps/dashboard/test/system/files_test.rb
  mod_ood_proxy/lib/node_proxy.lua
  mod_ood_proxy/lib/ood/proxy.lua
  mod_ood_proxy/lib/pun_proxy.lua
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/templates/ood-portal.conf.erb
  ood_auth_map/lib/ood_auth_map/helpers.rb
Labels: component/mod_ood_proxy, component/ood_portal_generator, component/ood_auth_map, component/dashboard

#3778 Clusters set auto_cores max
  apps/dashboard/app/javascript/script_show.js
  apps/dashboard/app/lib/cluster_cache.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_batch_clusters.rb
  apps/dashboard/test/fixtures/cmd_output/sinfo_nodes_oakley.txt
  apps/dashboard/test/fixtures/cmd_output/sinfo_nodes_owens.txt
  apps/dashboard/test/lib/smart_attributes/auto_batch_clusters_test.rb
  apps/dashboard/test/models/launcher_test.rb
  apps/dashboard/test/system/project_manager_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#3805 timeout connections after some configurable time
  apps/shell/app.js
Labels: component/shell

#3809 stub sinfo here for test reliability
  apps/dashboard/test/integration/projects_controller_test.rb
Labels: component/dashboard

#3804 Optimize allowlist handling
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

#3810 more shell ping/pong work
  apps/shell/app.js
Labels: component/shell

#3793 restructure a little to get a better layout
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/views/projects/_job_details.html.erb
  apps/dashboard/app/views/projects/_job_details_content.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

#3817 Account for empty datefield
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3815 3.1 shell ping
  apps/shell/app.js
Labels: component/shell

#3816 Optimize allowlist handling (#3804)
  apps/dashboard/app/models/allowlist_policy.rb
Labels: component/dashboard

#3795 Allow UID to be returned by the mapper script.
  mod_ood_proxy/lib/ood/user_map.lua
  nginx_stage/lib/nginx_stage/user.rb
Labels: component/mod_ood_proxy, component/nginx_stage

#3820 update webrick
  apps/dashboard/Gemfile.lock
Labels: component/dashboard

#3822 add lang wrappers to shellcheck
  lib/tasks/test.rb
Labels: area/build

#3826 evaluate script tags when replacing html
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/javascript/utils.js
Labels: component/dashboard

#3829 update express to 4.20.0
  apps/shell/package.json
  apps/shell/yarn.lock
Labels: component/shell

#3819 Enumerable safe cachefile serialization
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3832 fix test ci
  .github/workflows/tests.yml
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard
