Repository OSC/ondemand, pull requests merged in 2024-11, with the labels that each got.

#3925 Files app - apply search to select all
  apps/dashboard/app/javascript/files/data_table.js
Labels: component/dashboard

#3922 Rename scripts_dir to launchers_dir.
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/fixtures/projects/chemistry-5533/.ondemand/launchers/8woi7ghd/form.yml
  apps/dashboard/test/fixtures/projects/chemistry-5533/.ondemand/launchers/gtqxzsek/form.yml
  apps/dashboard/test/fixtures/projects/chemistry-5533/.ondemand/launchers/jxbrz2vm/form.yml
  apps/dashboard/test/models/launcher_test.rb
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3924 better file editor layout
  apps/dashboard/app/views/files/edit.html.erb
Labels: component/dashboard

#3923 check for the closest anchor when trying to open a link
  apps/dashboard/app/javascript/utils.js
Labels: component/dashboard

#3934 account for this error and return nil
  nginx_stage/lib/nginx_stage.rb
Labels: component/nginx_stage

#3931 clusters should be hidden, not fixed.
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

#3941 Fix bc cards
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_card_body.html.erb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_paraview/completed.html.erb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_paraview/info.html.erb
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

#3945 Bootstrap OnDemand 4.0 dependencies
  .github/workflows/tests.yml
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  packaging/deb/control
  packaging/rpm/ondemand.spec
  spec/e2e/e2e_helper.rb
Labels: needs doc, needs automation

#3911 3414 launcher editable log location support
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_log_location.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/lib/smart_attributes/auto_log_location_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3950 Fixed tooltip for edit and re-launch buttons in the session card
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

#3951 Fixed session card relaunch button
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
Labels: component/dashboard

#3952 Remove runtime dependency on SCL
  Gemfile
  Gemfile.lock
  lib/tasks/rake_helper.rb
  nginx_stage/etc/profile
  ood-portal-generator/etc/profile
  ood-portal-generator/lib/ood_portal_generator.rb
  ood-portal-generator/lib/ood_portal_generator/application.rb
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/ood_portal_generator_spec.rb
  packaging/rpm/ondemand.spec
Labels: component/nginx_stage, component/ood_portal_generator, area/build, needs doc, needs automation

#3938 #3902 fix-up launcher buttons list
  apps/dashboard/app/assets/stylesheets/projects.scss
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3955 refactor qos
  apps/dashboard/app/lib/account_cache.rb
Labels: component/dashboard

#3959 import files/index.js as a module to avoid minified collisions
  apps/dashboard/app/views/layouts/files.html.erb
Labels: component/dashboard

#3957 Module active jobs
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

#3970 correct this env variable and the ondemand.d config key
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

#3972 change this key slightly and an env variable
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard, needs doc

#3979 Fixed globus javascript variable declaration
  apps/dashboard/app/javascript/files/globus.js
Labels: component/dashboard

#3976 Change "script" to "launcher" in variables
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/app/views/launchers/editable_form_fields/_edit_fixed_field.html.erb
  apps/dashboard/app/views/launchers/new.html.erb
  apps/dashboard/app/views/launchers/show.html.erb
  apps/dashboard/app/views/projects/_launcher_buttons.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3973 Files busy signal
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/app/views/files/_spinner.html.erb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard
