Repository OSC/ondemand, pull requests merged in 2024-10, with the labels that each got.

#3838 Fix error on file upload to directories with setgid bit
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#3791 Update node_proxy.lua - Fix for interactive apps not working
  mod_ood_proxy/lib/node_proxy.lua
Labels: component/mod_ood_proxy

#3784 Launcher save fixed attributes
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_slots.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/test/lib/smart_attributes/auto_scripts_test.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3841 allow empty directories to be downloaded
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/files_test.rb
Labels: component/dashboard

#3854 fix test ci for 3.1 (#3832)
  .github/workflows/tests.yml
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3852 backport #3791 to release 3.1
  mod_ood_proxy/lib/node_proxy.lua
Labels: component/mod_ood_proxy

#3853 backport #3838 to 3.1
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#3856 rescue chown in case it fails
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

#3861 backport - rescue chown in case it fails (#3856)
  apps/dashboard/app/models/posix_file.rb
Labels: component/dashboard

#3789 Added XDMoD analytics metrics to jobs widget
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/xdmod.scss
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/javascript/xdmod.js
  apps/dashboard/app/javascript/xdmod/jobs.js
  apps/dashboard/app/views/widgets/_xdmod_widget_jobs.html.erb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

#3842 PM - Update fixed checkbox when environment variable changes
  apps/dashboard/app/javascript/launcher_edit.js
Labels: component/dashboard

#3840 Global form items
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/global_attribute.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard, needs doc

#3866 3176 exclude cache and logs from new template based projects
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

#3865 fix the update CI by updating manually
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#3844 script#edit don't allow user to remove last option
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard

#3863 3391 emphasize template select
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/views/projects/_form.html.erb
Labels: component/dashboard

#3867 Normalize bc keys
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard, needs doc

#3890 lock zeitwerk to 2.6.18 for ruby < 3.2 support.
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#3881 greatly simplify snakeCaseWords
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

#3876 markdown_erb needs to sanitize html too (backport #3675)
  apps/dashboard/app/models/motd_formatter/base_formatter.rb
  apps/dashboard/app/models/motd_formatter/markdown.rb
  apps/dashboard/app/models/motd_formatter/markdown_erb.rb
  apps/dashboard/test/fixtures/files/motd_md_erb_w_html
  apps/dashboard/test/models/motd_formatter/motd_formatter_markdown_erb_test.rb
Labels: component/dashboard

#3892 Fixed ActiveJobsHelper dependency on ApplicationHelper
  apps/dashboard/app/controllers/active_jobs_controller.rb
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
  apps/dashboard/app/views/active_jobs/extended_data.json.jbuilder
Labels: component/dashboard

#3887 Add job name prefix just before job submit.
  apps/dashboard/app/lib/smart_attributes/attributes/auto_job_name.rb
Labels: component/dashboard

#3889 3436 clean-up PM launcher editable_select interface
  apps/dashboard/app/views/launchers/editable_form_fields/_editable_select.html.erb
Labels: component/dashboard

#3872 always cast select_options to an array
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

#3906 Standardize which gems get installed during packaging
  lib/tasks/build.rb
  packaging/deb/rules
  packaging/rpm/ondemand.spec
Labels: area/build

#3918 3901 rename project#create_new_scripts to project#create_new_launchers
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

#3905 downcase auto modules so they are dynamic as well
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

#3913 specify workdir when submitting batch jobs
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/test/system/project_manager_test.rb
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/dashboard, component/jobcomposer

#3915 create an alert div if pollAndReplace fails
  apps/dashboard/app/javascript/turbo_shim.js
Labels: component/dashboard
