Repository OSC/ondemand, pull requests merged in 2024-06, with the labels that each got.

#3579 rm package-lock.json
  apps/dashboard/package-lock.json
Labels: component/dashboard

#3587 Refractor systemstatus polling
  apps/dashboard/app/javascript/system_status.js
Labels: component/dashboard

#3586 Update Bootstrap 5 Buttons
  apps/dashboard/app/assets/stylesheets/_variables.scss
  apps/dashboard/app/helpers/products_helper.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/app/views/launchers/show.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/support_ticket/email_service_template.html.erb
Labels: component/dashboard

#3593 Rename system status app
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/routes.rb
  apps/system-status/manifest.yml
  packaging/rpm/ondemand.spec
Labels: component/dashboard

#3596 Update data-target attributes to data-bs-target
  apps/dashboard/app/views/batch_connect/shared/_saved_settings_menu.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
Labels: component/dashboard

#3595 Systemstatus poll config
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/system_status.js
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

#3601 Dropright is now dropend
  apps/dashboard/app/views/apps/_app_group_rows.html.erb
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
Labels: component/dashboard

#3545 Added saved settings widget
  apps/dashboard/app/assets/stylesheets/batch_connect/saved_settings.scss
  apps/dashboard/app/helpers/batch_connect/settings_helper.rb
  apps/dashboard/app/models/batch_connect/settings.rb
  apps/dashboard/app/views/batch_connect/settings/_action_buttons.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/app/views/widgets/_saved_settings.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/fixtures/file_output/user_settings/saved_settings_widget.yml
  apps/dashboard/test/fixtures/file_output/user_settings/settings_helper.yml
  apps/dashboard/test/helpers/batch_connect/settings_helper_test.rb
  apps/dashboard/test/integration/saved_settings_controller_test.rb
  apps/dashboard/test/integration/saved_settings_widget_test.rb
Labels: component/dashboard, needs doc

#3546 Fixes to the active sessions widget after the introduction of the Turbo Stream libraries
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/views/widgets/_sessions.html.erb
Labels: component/dashboard

#3573 Verify app is a ruby app before running setup-production script
  apps/dashboard/app/apps/ood_app.rb
Labels: component/dashboard

#3592 Fix flash button after upgrade to Bootstrap 5
  apps/dashboard/app/javascript/products_show.js
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/new.html.erb
  apps/dashboard/app/views/files/_copy_move_popup.html.erb
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/layouts/_browser_warning.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/editor.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3589 Degrade gracefully when scheduler is not Slurm
  apps/dashboard/app/helpers/system_status_helper.rb
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

#3574 Adds ability to filter modules w/ string or regex
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/lib/smart_attributes/auto_modules_test.rb
Labels: component/dashboard, needs doc

#3594 Replaces dropdown-menu-right with dropdown-menu-end
  apps/dashboard/app/views/active_jobs/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/test/integration/custom_help_navigation_test.rb
Labels: component/dashboard

#3598 Adds dynamic labels to form with data-label-*
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard, needs doc

#3607 correctly reset Capybara before these tests
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3613 Update system-status page for bootstrap 5
  apps/dashboard/app/views/system_status/index.turbo_stream.erb
Labels: component/dashboard

#3608 Improvements to the saved settings menu after Bootstrap upgrade
  apps/dashboard/app/assets/stylesheets/batch_connect/saved_settings.scss
Labels: component/dashboard

#3606 Fixed full page spinner for interactive sessions actions after Turbo update
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/batch_connect_settings.js
  apps/dashboard/app/javascript/full_page_spinner.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/app/views/batch_connect/shared/_full_page_spinner.html.erb
  apps/dashboard/app/views/widgets/_saved_settings.html.erb
Labels: component/dashboard

#3602 Fixes to the session card header color after Bootstrap5 upgrade
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

#3615 Navbar logo and padding fixes after Bootstrp5 upgrade
  apps/dashboard/app/assets/stylesheets/application.scss
Labels: component/dashboard

#3627 cleanup the environment before submitting jobs
  apps/dashboard/Gemfile
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/models/concerns/sanitized_env.rb
  apps/myjobs/app/models/concerns/sanitized_env.rb
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/dashboard, component/jobcomposer

#3628 cleanup the environment before submitting jobs
  apps/dashboard/Gemfile
  apps/dashboard/app/models/batch_connect/session.rb
  apps/dashboard/app/models/concerns/sanitized_env.rb
  apps/myjobs/app/models/concerns/sanitized_env.rb
  apps/myjobs/app/models/resource_mgr_adapter.rb
Labels: component/dashboard, component/jobcomposer

#3640 climate_control needs to be production gem
  apps/myjobs/Gemfile
Labels: component/jobcomposer

#3641 climate_control needs to be production gem
  apps/myjobs/Gemfile
Labels: component/jobcomposer

#3647 Fixed _config partial when system-status app is not enabled
  apps/dashboard/app/views/layouts/_config.html.erb
Labels: component/dashboard
