Repository OSC/ondemand, pull requests merged in 2024-08, with the labels that each got.

#3704 Update ood core
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#3702 PM job state management
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

#3701 attempt to update ruby libs
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#3699 use File.read here instead of open
  apps/dashboard/app/models/balance.rb
  apps/dashboard/app/models/concerns/uri_reader.rb
  apps/dashboard/app/models/quota.rb
  apps/dashboard/test/models/balance_test.rb
  apps/dashboard/test/models/quota_test.rb
Labels: component/dashboard

#3693 add an esbuild plugin for minified dependencies
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

#3695 fix some JS dependencies
  apps/dashboard/app/javascript/application.js
  apps/dashboard/esbuild.config.js
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

#3706 render xdmod jobs in plain js
  apps/dashboard/app/javascript/xdmod.js
  apps/dashboard/app/javascript/xdmod/jobs.js
Labels: component/dashboard

#3694 just supply zipname and have rails format it
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#3723 convert data to human sizes on the client
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
Labels: component/dashboard

#3722 fix adding to errors after rails upgrade
  apps/myjobs/app/models/workflow.rb
Labels: component/jobcomposer

#3721 attempt to fix flaky test
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3720 dynamic bc also respond to hide: false
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard

#3710 only permit certain fields
  apps/myjobs/app/controllers/workflows_controller.rb
Labels: component/jobcomposer

#3736 account for /dex (dex_uri) when enabling maintenance mode
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-full
  ood-portal-generator/spec/fixtures/ood-portal.conf.dex-ldap
  ood-portal-generator/spec/fixtures/ood-portal.dex-full.proxy.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#3730 fixes #3728 with solution provided by httpd devs
  mod_ood_proxy/lib/ood/proxy.lua
  mod_ood_proxy/lib/pun_proxy.lua
Labels: component/mod_ood_proxy

#3717 upgrade uppy to 4.0
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/package.json
  apps/dashboard/yarn.lock
Labels: component/dashboard

#3486 adds error messages for syntax errors
  apps/dashboard/app/models/announcement.rb
  apps/dashboard/test/models/announcements_test.rb
Labels: component/dashboard

#3739 Fix large remote file uploads
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/javascript/files/uppy_ops.js
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/app/models/remote_transfer.rb
Labels: component/dashboard

#3745 Hide fixed attributes
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/app/views/launchers/show.html.erb
Labels: component/dashboard

#3726 find chrome version and automatically dl the right driver
  lib/tasks/test.rb
Labels: area/build

#3734 update to use rails 7 defaults
  apps/dashboard/config/application.rb
Labels: component/dashboard

#3735 update myjobs to use rails 7.0 defaults
  apps/myjobs/config/application.rb
Labels: component/jobcomposer

#3727 Auto cores
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_cores.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3744 small fixups for job details panel
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/models/hpc_job.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
Labels: component/dashboard

#3746 ensure launcher id matches a regex
  apps/dashboard/app/models/launcher.rb
  apps/dashboard/test/models/launcher_test.rb
Labels: component/dashboard

#3762 rm _inline_js.html.erb and mv functionality to pure js
  apps/dashboard/app/javascript/files/index.js
  apps/dashboard/app/javascript/files/page_load.js
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/_page_load_config.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#3753 account for more than just \w for usernames
  ood_auth_map/lib/ood_auth_map/helpers.rb
Labels: component/ood_auth_map

#3760 pm - completed and active jobs
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/_job_details.turbo_stream.erb
  apps/dashboard/app/views/projects/_job_details_content.html.erb
  apps/dashboard/app/views/projects/show.html.erb
Labels: component/dashboard

#3754 add minitest to nginx_stage and refactor one test suite
  lib/tasks/test.rb
  nginx_stage/Rakefile
  nginx_stage/nginx_stage.gemspec
  nginx_stage/spec/user_spec.rb
  nginx_stage/test/test_helper.rb
  nginx_stage/test/user_test.rb
Labels: component/nginx_stage, area/build

#3750 allow auto_job_name to be fixed
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_job_name.rb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#3718 fix downloadable? to account for other file types
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/test/models/files_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3763 Add support for interactive app form descriptions
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/test/fixtures/apps/bc_with_subapps/form.yml
  apps/dashboard/test/fixtures/apps/bc_with_subapps/local/owens.yml
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/models/batch_connect/app_test.rb
Labels: component/dashboard

#3768 allow auto_cores to be fixed
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_cores.rb
Labels: component/dashboard
