Repository OSC/ondemand, pull requests merged in 2024-02, with the labels that each got.

#3330 enable dynamic forms in the scripts#show page
  apps/dashboard/app/javascript/script_show.js
  apps/dashboard/app/lib/account_cache.rb
  apps/dashboard/app/views/scripts/show.html.erb
Labels: component/dashboard

#3328 add close buttons to this modal
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

#3331 Added unit tests for auto_batch_clusters and auto_scripts SmartAttributes
  apps/dashboard/app/lib/smart_attributes/attributes/auto_scripts.rb
  apps/dashboard/test/fixtures/attributes/auto_scripts/script1.sh
  apps/dashboard/test/fixtures/attributes/auto_scripts/script2.bash
  apps/dashboard/test/fixtures/attributes/auto_scripts/script3.csh
  apps/dashboard/test/fixtures/attributes/auto_scripts/script4.slurm
  apps/dashboard/test/fixtures/attributes/auto_scripts/script5.sbatch
  apps/dashboard/test/fixtures/attributes/auto_scripts/script6.qsub
  apps/dashboard/test/lib/smart_attributes/auto_batch_clusters_test.rb
  apps/dashboard/test/lib/smart_attributes/auto_scripts_test.rb
Labels: component/dashboard

#3335 Fix an error at /apps/show/:name?path=x
  apps/dashboard/app/controllers/apps_controller.rb
Labels: component/dashboard

#3334 Add project directory size to project show page via AJAX
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/javascript/projects.js
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/app/views/projects/show.json.jbuilder
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/fixtures/config/ondemand.d/string.yml
  apps/dashboard/test/system/jobs_app_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#3342 Improved testing for Project size feature
  apps/dashboard/app/views/projects/show.json.jbuilder
  apps/dashboard/test/models/projects_test.rb
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#3344 Fixes to the nav_bar group selection subcategory order
  apps/dashboard/app/apps/nav_bar.rb
  apps/dashboard/test/apps/nav_bar_test.rb
Labels: component/dashboard

#3357 Fixed app-icon margin for Pinned Apps after update in #3075 PR
  apps/dashboard/app/assets/stylesheets/pinned_apps.scss
Labels: component/dashboard

#3361 Removed setting id in Project.initializer to fix project validation edge case
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

#3363 Show app card host only for running sessions
  apps/dashboard/app/views/batch_connect/sessions/card/_host.html.erb
Labels: component/dashboard

#3365 Show app card host only for running sessions (#3363)
  apps/dashboard/app/views/batch_connect/sessions/card/_host.html.erb
Labels: component/dashboard

#3371 Fix spelling error in need_auth.html from ood-portal-generator
  ood-portal-generator/share/need_auth.html
Labels: component/ood_portal_generator

#3354 expose xdmod and analytics through js config
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/views/layouts/_config.html.erb
Labels: component/dashboard

#3356 ensure build dir is clean when building assets
  apps/dashboard/esbuild.config.js
Labels: component/dashboard

#3352 more batch connect card refactor work
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
  apps/dashboard/app/views/batch_connect/sessions/card/_card_body.html.erb
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
  apps/dashboard/test/helpers/batch_connect/sessions_helper_test.rb
  apps/dashboard/test/integration/active_sessions_widget_test.rb
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

#3380 Extracts novnc connection compression & quality into Configuration variables
  apps/dashboard/app/views/batch_connect/sessions/connections/_novnc.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard, needs doc

#3358 Added edit session feature to load BatchConnect form with existing session parameters
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard
