Repository OSC/ondemand, pull requests merged in 2024-01, with the labels that each got.

#3252 Profile automatic selection improvements
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#3264 Added support for multiple domains for Apache config in portal generator
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator

#3229 refactor session_time method with partial
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_session_time.html.erb
Labels: component/dashboard

#3241 correctly handle options that start with numbers
  apps/dashboard/app/javascript/dynamic_forms.js
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3236 add the config option to disable uploads and downloads
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/views/files/_download_button.html.erb
  apps/dashboard/app/views/files/_file_action_menu.html.erb
  apps/dashboard/app/views/files/_inline_js.html.erb
  apps/dashboard/app/views/files/_upload_button.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

#3274 path selector bugfix
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

#3277 refactor completed_view method
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_completed_view.html.erb
Labels: component/dashboard

#3283 refactor custom_info_view method
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/sessions/card/_custom_info_view.html.erb
Labels: component/dashboard

#3273 Created default executable script on new Script and added validation
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/controllers/scripts_controller.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/models/script_test.rb
Labels: component/dashboard

#3288 Updated projects to serliaze id into projects manifest
  apps/dashboard/app/models/project.rb
  apps/dashboard/test/models/projects_test.rb
Labels: component/dashboard

#3290 add disable_logs to disable logs in apache
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/application_spec.rb
  ood-portal-generator/spec/fixtures/input/no_logs.yml
  ood-portal-generator/spec/fixtures/input/no_logs_w_log_config.yml
  ood-portal-generator/spec/fixtures/output/no_logs.conf
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/ood_portal_generator, needs doc, needs automation

#3282 change sorting css styles to be more accessible
  apps/dashboard/app/assets/stylesheets/data_tables.scss
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/files/_files_table.html.erb
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

#3280 Bc templates
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/models/batch_connect/session_context.rb
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
  apps/dashboard/test/fixtures/file_output/user_settings/simple_bc_test.yml
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#3289 small fixups for bc templates
  apps/dashboard/app/javascript/prefill_templates/prefill_submit.js
  apps/dashboard/app/javascript/prefill_templates/prefill_templates.js
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/app/views/batch_connect/session_contexts/_prefill_templates.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard

#3304 logo fixup
  apps/dashboard/app/helpers/dashboard_helper.rb
Labels: component/dashboard

#3306 Fixes to navigation tests after accessibility improvements
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/test/html_helper.rb
  apps/dashboard/test/integration/custom_help_navigation_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
Labels: component/dashboard

#3309 Fixes to user settings store tests
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/test/integration/settings_controller_test.rb
  apps/dashboard/test/models/concerns/user_setting_store_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#3314 Fix non utf8 file
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard

#3210 update scripts when copying from templates
  apps/dashboard/app/models/project.rb
  apps/dashboard/app/models/script.rb
  apps/dashboard/test/fixtures/projects/chemistry-5533/.ondemand/manifest.yml
  apps/dashboard/test/fixtures/projects/chemistry-5533/.ondemand/scripts/8woi7ghd/form.yml
  apps/dashboard/test/fixtures/projects/chemistry-5533/.ondemand/scripts/gtqxzsek/form.yml
  apps/dashboard/test/fixtures/projects/chemistry-5533/.ondemand/scripts/jxbrz2vm/form.yml
  apps/dashboard/test/fixtures/projects/chemistry-5533/assignment_1.sh
  apps/dashboard/test/fixtures/projects/chemistry-5533/assignment_2.sh
  apps/dashboard/test/fixtures/projects/chemistry-5533/assignment_3.sh
  apps/dashboard/test/fixtures/projects/chemistry-5533/input_data/assignment_1.inp
  apps/dashboard/test/fixtures/projects/chemistry-5533/output_data/.keep
  apps/dashboard/test/fixtures/projects/projects/.project_lookup
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#3305 add config for prefill templates
  apps/dashboard/app/views/batch_connect/session_contexts/_form.html.erb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3300 refactor navbar to be menubar
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/nav/_all_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group.html.erb
  apps/dashboard/app/views/layouts/nav/_group_items.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_link.html.erb
  apps/dashboard/app/views/layouts/nav/_log_out.html.erb
  apps/dashboard/app/views/layouts/nav/_logo.html.erb
  apps/dashboard/app/views/layouts/nav/_sessions.html.erb
  apps/dashboard/app/views/layouts/nav/_user.html.erb
  apps/dashboard/test/html_helper.rb
  apps/dashboard/test/integration/custom_help_navigation_test.rb
  apps/dashboard/test/integration/custom_navigation_test.rb
  apps/dashboard/test/integration/dashboard_controller_test.rb
Labels: component/dashboard

#3308 mv the user settings file off the dataroot
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/config/initializers/upgrade_to_3.1.rb
  apps/dashboard/test/integration/settings_controller_test.rb
  apps/dashboard/test/models/concerns/user_setting_store_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard

#3307 Added external lib folder to autoload path
  apps/dashboard/config/application.rb
Labels: component/dashboard

#3322 stop globbing and just use the script id
  apps/dashboard/test/system/jobs_app_test.rb
Labels: component/dashboard

#3325 Transfer fix
  apps/dashboard/app/models/allowlist_policy.rb
  apps/dashboard/app/models/posix_transfer.rb
  apps/dashboard/test/jobs/transfer_local_job_test.rb
  apps/dashboard/test/models/allowlist_policy_test.rb
  apps/dashboard/test/models/transfer_test.rb
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard
