Repository OSC/ondemand, pull requests merged in 2025-09, with the labels that each got.

#4505 Backend for workflow class with minimalist UI
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/dag.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard, awaiting discussion

#4456 More modern look for the interactive apps list
  apps/dashboard/app/assets/stylesheets/batch_connect/sessions.scss
  apps/dashboard/app/views/batch_connect/shared/_app_list.html.erb
  apps/dashboard/app/views/batch_connect/shared/_app_list_item.html.erb
  apps/dashboard/app/views/batch_connect/shared/_saved_settings_menu.html.erb
Labels: component/dashboard, awaiting review

#4540 Dynamic forms detect radio buttons
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/test/system/batch_connect_test.rb
Labels: component/dashboard, status/awaiting review

#4601 dashboard: noVNC: Handle newline representation mismatch
  apps/dashboard/public/noVNC-1.3.0/app/ui.js
Labels: component/dashboard

#4592 Remove custom $grid-breakpoints definitions
  apps/dashboard/app/assets/stylesheets/_variables.scss
  apps/dashboard/app/views/layouts/nav/_all_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_develop_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_help_dropdown.html.erb
  apps/dashboard/app/views/layouts/nav/_log_out.html.erb
  apps/dashboard/app/views/layouts/nav/_sessions.html.erb
  apps/dashboard/app/views/layouts/nav/_user.html.erb
Labels: component/dashboard, status/awaiting review

#4564 add gpu panel to job stats
  apps/dashboard/app/helpers/active_jobs_helper.rb
  apps/dashboard/app/models/active_jobs/jobstatusdata.rb
  apps/dashboard/app/views/active_jobs/_job_details_node_view.html.erb
Labels: component/dashboard

#4589 Added `update` functionality to workflow class with unit-tests
  apps/dashboard/app/controllers/workflows_controller.rb
  apps/dashboard/app/models/workflow.rb
  apps/dashboard/app/views/workflows/_form.html.erb
  apps/dashboard/app/views/workflows/_workflow.html.erb
  apps/dashboard/app/views/workflows/edit.html.erb
  apps/dashboard/app/views/workflows/new.html.erb
  apps/dashboard/app/views/workflows/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/test/models/workflow_test.rb
Labels: component/dashboard

#4508 use real tabs in file editor
  apps/dashboard/app/javascript/editor.js
  apps/dashboard/app/views/files/edit.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard, status/needs investigation
