Repository OSC/ondemand, pull requests merged in 2025-03, with the labels that each got.

#4151 support for a demo container
  Dockerfile.demo
  Rakefile
  lib/files/demo/apps/jupyter/form.yml
  lib/files/demo/apps/jupyter/icon.png
  lib/files/demo/apps/jupyter/manifest.yml
  lib/files/demo/apps/jupyter/submit.yml.erb
  lib/files/demo/apps/jupyter/template/after.sh
  lib/files/demo/apps/jupyter/template/before.sh.erb
  lib/files/demo/apps/jupyter/template/script.sh.erb
  lib/files/demo/apps/jupyter/view.html.erb
  lib/files/demo/clusters.d/localhost.yml
  lib/files/demo/config/dashboard/env
  lib/files/demo/config/dashboard/initializers/localhost.rb
  lib/files/demo/config/shell/env
  lib/files/demo/config/shell/wrapper
  lib/files/demo/motd.md
  lib/files/demo/ood_portal.yml
  lib/tasks/demo.rb
  lib/tasks/rake_helper.rb
Labels: area/build

#4189 Saved imported directory into lookup_file for shared projects
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

#4193 Add Recently Used Apps to the default dashboard layout
  apps/dashboard/app/helpers/dashboard_helper.rb
  apps/dashboard/app/helpers/recently_used_apps_helper.rb
  apps/dashboard/test/integration/dashboard_layout_test.rb
Labels: component/dashboard

#4209 Ensure minimum 1000 UIDs/GIDs are mapped for the dev container
  lib/tasks/development.rb
Labels: area/build

#4211 Add an id tag to the version string.
  apps/dashboard/app/views/layouts/_footer.html.erb
Labels: component/dashboard

#4206 add a file quota widget
  apps/dashboard/app/views/shared/_variable_progress_bar.html.erb
  apps/dashboard/app/views/widgets/_balances.html.erb
  apps/dashboard/app/views/widgets/_file_quotas.html.erb
  apps/dashboard/config/locales/en.yml
Labels: component/dashboard, needs doc

#4225 fix CI
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/preset_apps_navbar_test.rb
  apps/dashboard/test/system/preset_apps_pinned_test.rb
  apps/dashboard/test/system/products_dev_test.rb
  apps/dashboard/test/system/project_manager_test.rb
  spec/e2e/proxy_spec.rb
Labels: component/dashboard

#4221 missed this update after upgrading to rail 7
  apps/myjobs/db/schema.rb
Labels: component/jobcomposer

#4204 support nested modules
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/auto_modules.rb
  apps/dashboard/test/fixtures/modules/ascend.json
  apps/dashboard/test/system/batch_connect_widgets_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#4252 backport fix CI (#4225)
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/preset_apps_navbar_test.rb
  apps/dashboard/test/system/preset_apps_pinned_test.rb
  apps/dashboard/test/system/products_dev_test.rb
  apps/dashboard/test/system/project_manager_test.rb
  spec/e2e/proxy_spec.rb
Labels: component/dashboard, backport

#4249 account for clusters with - or _ characters (#4245)
  apps/dashboard/app/javascript/dynamic_forms.js
Labels: component/dashboard, backport

#4229 Add margin after icon and abstract dropdown item into partial
  apps/dashboard/app/views/layouts/nav/_dropdown_item.html.erb
  apps/dashboard/app/views/layouts/nav/_featured_apps.html.erb
  apps/dashboard/app/views/layouts/nav/_group_items.html.erb
Labels: component/dashboard

#4254 Add landmarks for menu and session cards
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
Labels: component/dashboard
