Repository OSC/ondemand, pull requests merged in 2025-02, with the labels that each got.

#3767 Add markdown widget for interactive app forms
  apps/dashboard/app/helpers/batch_connect/session_contexts_helper.rb
  apps/dashboard/app/lib/smart_attributes/attribute.rb
  apps/dashboard/test/fixtures/sys_with_gateway_apps/bc_jupyter/form.yml
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

#4103 Remove Handlebars from XDMoD widget efficiency template
  apps/dashboard/app/javascript/xdmod.js
  apps/dashboard/app/views/widgets/_xdmod_widget_job_efficiency.html.erb
Labels: component/dashboard

#4116 add test to ensure sanitize() works here
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

#4107 ensure filenames are not url encoded
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard, needs backport

#4115 update from data-toggle to data-bs-toggle
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/settings/_action_buttons.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
Labels: component/dashboard, needs backport

#4124 update from data-toggle to data-bs-toggle (#4115)
  apps/dashboard/app/helpers/batch_connect/sessions_helper.rb
  apps/dashboard/app/views/batch_connect/settings/_action_buttons.html.erb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
Labels: component/dashboard, backport

#4126 ensure filenames are not url encoded (#4107)
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard, backport

#4128 account for numeric usernames
  mod_ood_proxy/lib/ood/user_map.lua
Labels: component/mod_ood_proxy, needs backport

#4125 add a test for preserving url encoding
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

#4129 Updated the project directory permission allowing group to read and execute files
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

#4134 account for numeric usernames (#4128)
  mod_ood_proxy/lib/ood/user_map.lua
Labels: component/mod_ood_proxy, backport

#4135 update OOD gems in 4.0
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#4136 Permissive constraints on owner segment for apps/show (#4133)
  apps/dashboard/config/routes.rb
Labels: component/dashboard, backport

#4141 Fix dev container
  Dockerfile.dev
  lib/tasks/rake_helper.rb
Labels: area/build

#4143 Add user_home_t to SELinux tunable (#4142) (release 4.0 backport)
  packaging/rpm/ondemand-selinux.te
Labels: backport

#4149 allow redirect to other host in apps#show (#4140)
  apps/dashboard/app/apps/ood_app.rb
Labels: component/dashboard, backport

#4157 Fixed safe_load_path? method definition to avoid runtime errors
  apps/dashboard/config/application.rb
Labels: component/dashboard, needs backport

#4165 Fixed application class type for exist? method
  apps/dashboard/config/application.rb
Labels: component/dashboard

#4100 Add returnFocus option to resolve focus issues in file_ops
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/javascript/files/sweet_alert.js
Labels: component/dashboard

#4158 Fixed safe_load_path? method definition to avoid runtime errors (#4157)
  apps/dashboard/config/application.rb
Labels: component/dashboard, backport

#4166 Bug fix/favicon referrerpolicy 2895
  apps/dashboard/app/helpers/application_helper.rb
  apps/dashboard/test/helpers/application_helper_test.rb
  apps/myjobs/app/views/layouts/application.html.erb
Labels: component/dashboard, component/jobcomposer

#4183 Fixed CSS selectors for active navigation link color
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard, needs backport

#4184 Fixed CSS selectors for active navigation link color (#4183)
  apps/dashboard/app/views/layouts/nav/_styles.html.erb
Labels: component/dashboard, backport

#4178 Added a form to projects to import a shared-project using directory path
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/app/views/projects/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
Labels: component/dashboard

#4167 Do not provide href links to files when download is disabled.
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/views/files/index.json.jbuilder
  apps/dashboard/test/system/files_test.rb
Labels: component/dashboard, needs backport

#4192 Refactored Files controller to use strong parameters.
  apps/dashboard/app/controllers/files_controller.rb
Labels: component/dashboard

#4197 use asset_nil here for fix deprecation warnings
  apps/dashboard/test/lib/smart_attributes/auto_log_location_test.rb
Labels: component/dashboard

#4102 Added support ticket to active jobs page
  apps/dashboard/app/apps/request_tracker_service.rb
  apps/dashboard/app/apps/support_ticket_email_service.rb
  apps/dashboard/app/apps/support_ticket_rt_service.rb
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
  apps/dashboard/app/controllers/support_ticket_controller.rb
  apps/dashboard/app/javascript/active_jobs.js
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/models/concerns/support_ticket_service.rb
  apps/dashboard/app/models/support_ticket.rb
  apps/dashboard/app/views/layouts/_config.html.erb
  apps/dashboard/app/views/support_ticket/email/_email.text.erb
  apps/dashboard/app/views/support_ticket/rt/rt_ticket_content.text.erb
  apps/dashboard/app/views/support_ticket/servicenow/servicenow_content.text.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/apps/request_tracker_service_test.rb
  apps/dashboard/test/apps/support_ticket_email_service_test.rb
  apps/dashboard/test/apps/support_ticket_rt_service_test.rb
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
  apps/dashboard/test/integration/support_ticket_integration_test.rb
  apps/dashboard/test/models/concerns/support_ticket_service_test.rb
  apps/dashboard/test/models/support_ticket_test.rb
Labels: component/dashboard

#4176 internationalize "Select Path"
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard, needs backport

#4196 cast to string for safety
  apps/dashboard/app/helpers/system_status_helper.rb
Labels: component/dashboard, needs backport

#4199 internationalize "Select Path" (#4176)
  apps/dashboard/app/views/batch_connect/session_contexts/_path_selector.html.erb
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard, backport

#4200 cast to string for safety (#4196)
  apps/dashboard/app/helpers/system_status_helper.rb
Labels: component/dashboard, backport

#4194 ensure titles dont overflow
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/views/layouts/nav/_logo.html.erb
Labels: component/dashboard

#4188 drop support for Ubuntu 20.04 and Ruby 2.7
  .github/workflows/tests.yml
  Gemfile
  Gemfile.lock
  spec/e2e/e2e_helper.rb
Labels: needs doc, needs automation
