Repository OSC/ondemand, pull requests merged in 2025-01, with the labels that each got.

#4054 fix some minified javascript errors
  apps/dashboard/app/javascript/path_selector/path_selector.js
  apps/dashboard/app/views/projects/_form.html.erb
  apps/dashboard/app/views/projects/new.html.erb
Labels: component/dashboard

#4051 hide & show this element by id
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/shared/_path_selector_table.html.erb
Labels: component/dashboard

#4057 correctly display cores
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
Labels: component/dashboard

#4065 fix icon picker
  apps/dashboard/app/javascript/icon_picker.js
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#4066 sleep here to fix this flaky test
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard

#4075 Feature/3985 pm manifest support for copied files
  apps/dashboard/app/apps/ProjectManifest.rb
  apps/dashboard/test/models/manifest_test.rb
  apps/dashboard/test/models/project_manifest_test.rb
Labels: component/dashboard

#4074 only show nodes if it's positive
  apps/dashboard/app/views/batch_connect/sessions/card/_card_header.html.erb
  apps/dashboard/test/system/batch_connect_sessions_test.rb
Labels: component/dashboard

#4070 Removes Handlebars from file action menu code
  apps/dashboard/app/javascript/config.js
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/views/files/_file_action_menu.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/app/views/layouts/_config.html.erb
Labels: component/dashboard

#4069 Removed analytics.lua and resolved code dependencies
  mod_ood_proxy/lib/analytics.lua
  ood-portal-generator/lib/ood_portal_generator/view.rb
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/ood-portal.conf.all
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
  ood-portal-generator/templates/ood-portal.conf.erb
Labels: component/mod_ood_proxy, component/ood_portal_generator, needs doc

#4084 Fix modal bug when file transfer fails
  apps/dashboard/app/javascript/files/file_ops.js
Labels: component/dashboard

#4062 Refactors copy_move_popup to use pure Javascript
  apps/dashboard/app/javascript/files/clip_board.js
  apps/dashboard/app/views/files/_copy_move_popup.html.erb
Labels: component/dashboard

#4093 use backspace here to possibly make this test consistent
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#4081 Support ticket servicenow integration
  apps/dashboard/app/apps/service_now_client.rb
  apps/dashboard/app/apps/support_ticket_service_now_service.rb
  apps/dashboard/app/models/user_configuration.rb
  apps/dashboard/app/views/support_ticket/servicenow/servicenow_content.text.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/apps/service_now_client_test.rb
  apps/dashboard/test/apps/support_ticket_service_now_service_test.rb
  apps/dashboard/test/models/user_configuration_test.rb
Labels: component/dashboard

#4091 memorize announcements and filter for existing files
  apps/dashboard/app/controllers/application_controller.rb
  apps/dashboard/app/models/announcements.rb
  apps/dashboard/test/models/announcements_test.rb
Labels: component/dashboard

#4106 Require latest ondemand-passenger and ondemand-nginx (#4089) - 4.0
  packaging/deb/control
  packaging/rpm/ondemand.spec
Labels: backport

#4108 Manual update
  apps/dashboard/Gemfile.lock
  apps/dashboard/config/boot.rb
  apps/dashboard/yarn.lock
  apps/myjobs/Gemfile.lock
  apps/myjobs/config/boot.rb
  apps/shell/yarn.lock
Labels: component/dashboard, component/jobcomposer, component/shell

#4063 Removes Handlebars from default label error messages
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/app/views/files/_default_label_error_messages.html.erb
  apps/dashboard/app/views/files/index.html.erb
Labels: component/dashboard

#4111 Fixed typos in ood_portal comments and in contribution guide
  CONTRIBUTING.md
  ood-portal-generator/share/ood_portal_example.yml
  ood-portal-generator/spec/fixtures/ood_portal.yaml.all
Labels: component/ood_portal_generator
