Repository OSC/ondemand, pull requests merged in 2025-07, with the labels that each got.

#4461 Shell logging
  apps/shell/app.js
Labels: component/shell

#4450 Upgrade myjobs to rails 7.1
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
  apps/myjobs/config/application.rb
  apps/myjobs/config/environments/development.rb
  apps/myjobs/config/environments/production.rb
  apps/myjobs/config/environments/test.rb
  apps/myjobs/config/initializers/content_security_policy.rb
  apps/myjobs/config/initializers/filter_parameter_logging.rb
  apps/myjobs/config/initializers/new_framework_defaults_7_1.rb
  apps/myjobs/config/initializers/permissions_policy.rb
Labels: component/jobcomposer

#4463 backport - Shell logging (#4461) to 4.0
  apps/shell/app.js
Labels: component/shell, 3.1 backport

#4464 backport - Shell logging (#4461) - to 3.1
  apps/shell/app.js
Labels: component/shell, 3.1 backport

#4459 Respect user-defined cluster attribute from form.yml
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

#4460 Integrate module browser
  apps/dashboard/app/helpers/module_browser_helper.rb
  apps/dashboard/app/views/module_browser/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
  apps/module-browser/manifest.yml
Labels: component/dashboard

#4492 add descriptive messages to setup-production errors
  apps/dashboard/app/apps/ood_app.rb
Labels: component/dashboard
