Repository OSC/ondemand, pull requests merged in 2025-05, with the labels that each got.

#4319 Scaffold lmod browser
  apps/dashboard/app/assets/stylesheets/application.scss
  apps/dashboard/app/assets/stylesheets/module_browser.scss
  apps/dashboard/app/controllers/module_browser_controller.rb
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/app/views/module_browser/_versions_table.html.erb
  apps/dashboard/app/views/module_browser/index.html.erb
  apps/dashboard/config/routes.rb
Labels: component/dashboard

#4339 raise an error under certain conditions.
  ood-portal-generator/lib/ood_portal_generator/dex.rb
  ood-portal-generator/spec/application_spec.rb
Labels: component/ood_portal_generator

#4097 Feature/3999 zip template from project
  apps/dashboard/app/models/project.rb
Labels: component/dashboard

#4326 encrypt password fields when caching them
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/controllers/batch_connect/settings_controller.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/concerns/encrypted_cache.rb
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/test/integration/saved_settings_controller_test.rb
  apps/dashboard/test/models/concerns/user_setting_store_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
  apps/dashboard/test/system/saved_settings_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#4346 start to remove sweetalert
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/app/views/files/_input_modal.html.erb
  apps/dashboard/app/views/files/index.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
Labels: component/dashboard

#4334 Add search and filter by cluster to module browser
  apps/dashboard/app/javascript/module_browser.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/app/views/module_browser/_toolbar.html.erb
  apps/dashboard/app/views/module_browser/index.html.erb
Labels: component/dashboard

#4355 Add option to disable Passenger telemetry
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage

#4361 backport - Add option to disable Passenger telemetry (#4355) - to 4.0
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage, 4.0 backport

#4362 backport - Add option to disable Passenger telemetry (#4355) - to 3.1
  nginx_stage/lib/nginx_stage/configuration.rb
  nginx_stage/lib/nginx_stage/views/pun_config_view.rb
  nginx_stage/share/nginx_stage_example.yml
  nginx_stage/templates/pun.conf.erb
Labels: component/nginx_stage, 3.1 backport

#4363 backport - encrypt password fields when caching them (#4326) - to 4.0
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/controllers/batch_connect/settings_controller.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/concerns/encrypted_cache.rb
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/app/views/batch_connect/settings/show.html.erb
  apps/dashboard/test/integration/saved_settings_controller_test.rb
  apps/dashboard/test/models/concerns/user_setting_store_test.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
  apps/dashboard/test/system/saved_settings_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard

#4364 backport - encrypt password fields when caching them (#4326) - to 3.1
  apps/dashboard/app/controllers/batch_connect/session_contexts_controller.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/concerns/encrypted_cache.rb
  apps/dashboard/app/models/concerns/user_setting_store.rb
  apps/dashboard/test/system/batch_connect_test.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
  apps/dashboard/test/test_helper.rb
Labels: component/dashboard, 3.1 backport

#4348 Display module information for different versions 3402
  apps/dashboard/app/assets/stylesheets/module_browser.scss
  apps/dashboard/app/javascript/module_browser.js
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/app/views/module_browser/_versions_table.html.erb
Labels: component/dashboard

#4353 Spin instead of sweet alert load
  apps/dashboard/app/assets/stylesheets/common.scss
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/app/javascript/utils.js
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

#4367 add check before staging
  apps/myjobs/app/models/workflow.rb
Labels: component/jobcomposer

#4370 use warn instead of Rails.logger.error
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard

#4372 backport - add check before staging (#4367) - to 3.1
  apps/myjobs/app/models/workflow.rb
Labels: component/jobcomposer, 3.1 backport

#4371 backport - add check before staging (#4367) - to 4.0
  apps/myjobs/app/models/workflow.rb
Labels: component/jobcomposer, 4.0 backport

#4375 backport - use warn instead of Rails.logger.error (#4370) - to 4.0
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard, 4.0 backport

#4376 backport - use warn instead of Rails.logger.error (#4370) - to 3.1
  apps/dashboard/config/configuration_singleton.rb
  apps/dashboard/test/config/configuration_singleton_test.rb
Labels: component/dashboard, 3.1 backport

#3981 Feature/3944 add file browser to projects#show
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/helpers/files_helper.rb
  apps/dashboard/app/javascript/application.js
  apps/dashboard/app/views/files/turbo_frames/_directory.html.erb
  apps/dashboard/app/views/files/turbo_frames/_file.html.erb
  apps/dashboard/app/views/files/turbo_frames/_files.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
  apps/dashboard/app/views/layouts/files.html.erb
  apps/dashboard/app/views/projects/show.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
  apps/dashboard/config/routes.rb
  apps/dashboard/package.json
  apps/dashboard/test/controllers/files_controller_test.rb
  apps/dashboard/test/fixtures/files/README.md
  apps/dashboard/test/fixtures/files/README.txt
  apps/dashboard/test/helpers/files_helper_test.rb
  apps/dashboard/test/helpers/projects_helper_test.rb
  apps/dashboard/test/system/project_manager_test.rb
  apps/dashboard/yarn.lock
Labels: component/dashboard

#4170 refactor OodApp and BatchConnect::App
  apps/dashboard/app/apps/app_recategorizer.rb
  apps/dashboard/app/apps/dev_router.rb
  apps/dashboard/app/apps/ood_app.rb
  apps/dashboard/app/apps/sys_router.rb
  apps/dashboard/app/apps/usr_router.rb
  apps/dashboard/app/models/batch_connect/app.rb
  apps/dashboard/app/models/product.rb
Labels: component/dashboard

#4377 cache apps so they only render once
  apps/dashboard/app/apps/dev_router.rb
  apps/dashboard/app/apps/sys_router.rb
  apps/dashboard/app/apps/usr_router.rb
  apps/dashboard/app/models/batch_connect/app.rb
Labels: component/dashboard

#4378 Refactor HpcModule to return all modules across clusters
  apps/dashboard/app/controllers/module_browser_controller.rb
  apps/dashboard/app/models/hpc_module.rb
  apps/dashboard/app/views/module_browser/_module_list.html.erb
  apps/dashboard/test/models/hpc_module_test.rb
Labels: component/dashboard

#4387 Upgrade hterm
  apps/shell/README.md
  apps/shell/public/javascripts/hterm_all_1.92.1.mod.js
  apps/shell/views/index.hbs
Labels: component/shell
