Repository OSC/ondemand, pull requests merged in 2025-04, with the labels that each got.

#4228 Replace headings with list items in balance warnings
  apps/dashboard/app/views/shared/_insufficient_balance.html.erb
  apps/dashboard/app/views/shared/_insufficient_balance_resource.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota.html.erb
  apps/dashboard/app/views/shared/_insufficient_quota_resource.html.erb
Labels: component/dashboard

#4237 Fix Quota bar display when over 100% usage
  apps/dashboard/app/views/shared/_insufficient_quota_progress_bar.html.erb
Labels: component/dashboard, Jam2025

#4258 Created form for importing shared project via directory
  apps/dashboard/app/javascript/projects_import.js
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

#4277 cache icons
  apps/dashboard/app/controllers/apps_controller.rb
Labels: component/dashboard

#4061 Improve accessibility for interactive session cards
  apps/dashboard/app/javascript/batch_connect_sessions.js
  apps/dashboard/app/javascript/turbo_shim.js
  apps/dashboard/app/views/batch_connect/sessions/_panel.html.erb
  apps/dashboard/app/views/batch_connect/sessions/index.html.erb
  apps/dashboard/app/views/layouts/application.html.erb
Labels: component/dashboard

#4282 support setting bc_ attributes globally
  apps/dashboard/app/lib/smart_attributes/attribute_factory.rb
  apps/dashboard/app/lib/smart_attributes/attributes/global_attribute.rb
  apps/dashboard/test/system/batch_connect_widgets_test.rb
Labels: component/dashboard, needs doc

#4288 rename this function so it doesn't collide with window.alert
  apps/dashboard/app/javascript/alert.js
  apps/dashboard/app/javascript/files/sweet_alert.js
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
  apps/dashboard/app/javascript/turbo_shim.js
Labels: component/dashboard

#4290 small refactor to reuse notifying this aria live region
  apps/dashboard/app/javascript/aria_live_notify.js
  apps/dashboard/app/javascript/batch_connect_sessions.js
Labels: component/dashboard

#4296 upgrade job composer's nokogiri
  .github/workflows/tests.yml
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/jobcomposer

#4301 upgrade to rails 7.0.8.7
  apps/dashboard/Gemfile
  apps/dashboard/Gemfile.lock
  apps/myjobs/Gemfile
  apps/myjobs/Gemfile.lock
Labels: component/dashboard, component/jobcomposer

#4291 Fixed rendering shared apps left hand menu
  apps/dashboard/app/views/batch_connect/shared/_app_menu.html.erb
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

#4294 Rm handlebars
  apps/dashboard/app/javascript/files/clip_board.js
  apps/dashboard/app/javascript/files/data_table.js
  apps/dashboard/app/javascript/files/file_ops.js
  apps/dashboard/package.json
  apps/dashboard/test/system/files_test.rb
  apps/dashboard/test/system/remote_files_test.rb
  apps/dashboard/yarn.lock
Labels: component/dashboard

#4283 Added a drop down menu in import directory form
  apps/dashboard/app/controllers/projects_controller.rb
  apps/dashboard/app/views/projects/import.html.erb
  apps/dashboard/config/locales/en.yml
  apps/dashboard/config/locales/ja_JP.yml
  apps/dashboard/config/locales/zh-CN.yml
Labels: component/dashboard

#4302 fix path selector and broken tests
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

#4303 backport cache icons (#4277) to 4.0
  apps/dashboard/app/controllers/apps_controller.rb
Labels: component/dashboard

#4308 backport fix path selector and broken tests (#4302) to 4.0
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

#4304 backport #4291 to 4.0
  apps/dashboard/app/views/batch_connect/shared/_app_menu.html.erb
  apps/dashboard/test/integration/batch_connect_test.rb
  apps/dashboard/test/integration/sessions_controller_test.rb
Labels: component/dashboard

#4309 backport fix path selector and broken tests (#4302) to 3.1
  apps/dashboard/app/javascript/path_selector/path_selector_data_table.js
Labels: component/dashboard

#4312 backport Add file editor limit (#4256) to 4.0
  apps/dashboard/app/controllers/files_controller.rb
  apps/dashboard/app/models/posix_file.rb
  apps/dashboard/app/models/remote_file.rb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

#4313 refactor shell buttons so they can be disabled
  apps/dashboard/app/views/files/_shell_dropdown.html.erb
  apps/dashboard/app/views/products/_product.html.erb
  apps/dashboard/app/views/products/index.html.erb
  apps/dashboard/app/views/products/show.html.erb
  apps/dashboard/app/views/shared/_shell_button.html.erb
  apps/dashboard/config/configuration_singleton.rb
Labels: component/dashboard

#4323 Added new SmartAttribute bc_num_nodes to replace bc_num_slots in PM
  apps/dashboard/app/lib/smart_attributes/attributes/bc_num_nodes.rb
Labels: component/dashboard

#4324 small refactor regarding these buttons
  apps/dashboard/app/views/active_jobs/_extended_panel.html.erb
Labels: component/dashboard

#4327 Use Smart Attribute bc_num_nodes in PM to specify number of nodes to run a job
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/lib/smart_attributes.rb
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard

#4329 Removed support of bc_num_slots as auto_cores will take its place in PM
  apps/dashboard/app/controllers/launchers_controller.rb
  apps/dashboard/app/helpers/launchers_helper.rb
  apps/dashboard/app/javascript/launcher_edit.js
  apps/dashboard/app/views/launchers/edit.html.erb
  apps/dashboard/test/system/project_manager_test.rb
Labels: component/dashboard
